<template>
  <v-dialog
    v-model="show"
    persistent
    width="30vw"
    hide-overlay
    transition="dialog-bottom-transition">

    <v-card min-height="70vh">
      <v-card-title>
        <v-icon
          small
          left
          @click="emitToParent()">mdi-close</v-icon> Discount
      </v-card-title>

      <v-card-text >
        <v-card color="#FAFAFA">
          <v-expansion-panel popout >
            <v-expansion-panel-content
              v-for="(item,i) in Discounts"
              :key="i"
              class="text-xs-left"
            >
              <template
                v-slot:header
                class="" >
                <div class="caption ma-0 pa-0 pl-1">
                  <v-layout
                    row
                    wrap>
                    <v-flex >{{ item.remarks }}</v-flex>
                    <v-flex class="text-right"> <b style="float:right">{{ item.amount }}</b></v-flex>
                  </v-layout>
                </div>
              </template>
              <v-card color="#EEEEEE">
                <v-card-text class="caption ma-0 pa-2">
                  <div class="caption pl-1" >
                    <v-layout
                      row
                      wrap>

                      <v-flex>{{ item.created_by }}</v-flex>
                      <v-flex>{{ item.role }}</v-flex>
                    </v-layout>
                  </div>

                </v-card-text>
              </v-card>
            </v-expansion-panel-content>

          </v-expansion-panel>

          <v-layout
            row
            wrap
            px-3>
            <v-flex class="subtitle font-weight-bold">Total Discount</v-flex>
            <v-flex>
              <b
                class="title font-weight-bold "
                style="float:right">{{ TOTAL }}</b>
            </v-flex>
          </v-layout>
        </v-card>                     <v-layout
          row
          wrap
          px-3
          pt-4>
          <v-flex
            xs12
            class="subtitle font-weight-bold">Add Discount</v-flex>
          <v-flex class="subtitle font-weight-bold">
            <v-text-field
              v-model="discount.remarks"
              label="Remarks"
            />
            <v-text-field
              v-model="discount.amount"
              label="Amount"
              type="number"/>

          </v-flex>
          <v-flex xs12>
            <v-btn
              color="success"
              style="width:100%"
              @click="Save">SAVE</v-btn>
          </v-flex>

        </v-layout>
      </v-card-text>
    </v-card>

  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    so_data: {
      type: Object,
      default: {}
    }

  },
  data: () => ({
    openform: false,
    y: 'top',
    x: null,
    mode: '',
    items: [],
    timeout: 6000,
    Discounts: [],
    discount: {}
  }),
  computed: {
    TOTAL () {
      if (this.Discounts.length != 0) {
        var p = this.Discounts.map(i => i.amount)
        return p.reduce((a, b) => parseInt(a) + parseInt(b), 0)
      } else {
        return 0
      }
    }
  },
  watch: {
    show () {
      if (this.show == true) {
        this.getSoData()
      }
    }
  },
  created () {
  },
  methods: {
    emitToParent (e) {
      this.$emit('DialogEvent', 'sample item response')
    },

    Save () {
      var entry = {}
      this.discount.user_id = this.$session.get('userID')
      this.discount.created_by = this.$session.get('fullname')
      this.discount.role = this.$session.get('role')
      if (this.so_data.discount != null) {
        this.Discounts = this.so_data.Discount
        this.Discounts.push(this.discount)
      } else this.Discounts.push(this.discount)

      entry.id = this.so_data.id
      entry.discount = this.Discounts
      console.log(entry)
      this.$http.post('service_order/update/discounts', entry).then(response => {
        if (response.data.status) {
          this.getSoData()
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getSoData () {
      var req = { id: this.so_data.id }
      console.log(req)
      this.$http.post('service_order/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          if (response.data.data.Discount != null) { this.Discounts = response.data.data.Discount } else { this.Discounts = [] }
        }
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>
