<template>
  <v-container
    id="nomargintoolbar"
    pl-0
    ml-1
    fluid
    grid-list-xl
  >
    <div class="pl-0 ml-0" >
      <v-flex xs12>
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>fas fa-hourglass</v-icon> Status</v-toolbar-title>
          <v-spacer/>
          <a> <v-icon @click="statusFormDialog=true">mdi-plus-box</v-icon></a>
        </v-toolbar>
      </v-flex>
      <v-card
        class="pa-1"
        min-height="40vh">
        <draggable
          class="list-group mr-1"
          draggable=".item"
          group="a"

        >

          <div
            v-for="item in formatStatusList()"
            :key="item.id"
            class="list-group-item ma-1 item"
          >
            <v-card
              outlined
              tile>

              <v-layout
                row
                class="ma-1">
                <a>
                  <v-icon
                    color="#B5B5B5"
                    small
                    style="">
                    mdi-arrow-expand-all
                  </v-icon>
                </a>

                <v-flex
                  xs4
                  class="ma-1">
                  <a>
                    <v-icon
                      color="warning"
                      small
                      @click="edit=true,statusFormDialog=true,selectedStatusId=item.id,loadSelectedtStatus()">
                      mdi-pencil
                    </v-icon>
                  </a>
                  <a>
                    <v-icon
                      color="error"
                      small
                      @click="deleteStatusDialog=true,selectedStatusId=item.id">
                      mdi-delete
                    </v-icon>
                  </a>
                  {{ item.color }}

                </v-flex>
                <v-flex xs4>
                  <v-avatar
                    :color="item.color"
                    size="25">
                    <span class="white--text headline"/>
                  </v-avatar>
                </v-flex>
                <v-flex
                  xs4
                  class="ma-1">

                  {{ item.name }}
                </v-flex>

              </v-layout>
            </v-card>
          </div>

        </draggable>
      </v-card>
    </div>
    <v-dialog
      v-model="statusFormDialog"
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span>Status</span>
          <v-spacer/>
        </v-card-title>
        <v-layout
          row
          wrap>
          <v-flex xs12>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
              class="pa-3"
            >
              <v-text-field
                v-model="statusEntry.name"
                :counter="20"
                :rules="nameRules"
                label="Name"
                required
              />
              <v-text-field
                v-model="statusEntry.color"
                :rules="colorRules"
                label="Color"
                required
              />

            </v-form>
          </v-flex>
        </v-layout>
        <v-card-actions>
          <v-btn
            color="primary"
            text
            small
            @click="statusFormDialog = false"
          >
            Close
          </v-btn>
          <v-btn
            small
            color="info"
            class="mr-4"
            @click="reset"
          >
            Clear
          </v-btn>
          <v-spacer/>
          <v-btn
            small
            color="success"
            @click="validate()"

          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="deleteStatusDialog"
      persistent
      max-width="290">

      <v-card>
        <v-card-title class="headline">Delete Status</v-card-title>
        <v-card-text>Are you sure you want to delete this status</v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            small
            color="error"
            text
            @click="deleteStatusDialog = false">Cancel</v-btn>
          <v-btn
            small
            color="green darken-1"
            text
            @click="DeleteStatus()">Continue</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import draggable from 'vuedraggable'
export default {
  components: {
    draggable
  },
  props: {
    statuses:{
      type: Array,
      default: []
    }
  },
  data: () => ({
    edit: false,
    deleteStatusDialog: false,
    selectedStatusId: 0,
    formattedStatuses: [],
    statusFormDialog: false,
    statusEntry: {},
    valid: true,
    nameRules: [
      v => !!v || 'Name is required',
      v => (v && v.length <= 20) || 'Name must be less than 15 characters'
    ],
    colorRules: [ v => !!v || 'Color is required']
  }),

  computed: {

  },

  watch: {

  },
  mounted () {

  },

  created () {

  },

  methods: {
    formatStatusList () {
      if (this.statuses) {
        return this.statuses.map(status => {
          return JSON.parse(status)
        })
      }
    },
    validate () {
      if (this.$refs.form.validate()) {
        if (this.edit == false) {
          var stringifyStatus = this.statuses
          if (stringifyStatus != null) {
            var entry = {
              'name': this.statusEntry.name,
              'color': this.statusEntry.color,
              'id': this.statuses.length + 1
            }

            stringifyStatus.push(JSON.stringify(entry))
          } else {
            stringifyStatus = []
            var entry = {
              'name': this.statusEntry.name,
              'color': this.statusEntry.color,
              'id': 1
            }
            stringifyStatus.push(JSON.stringify(entry))
          }
          this.statuses = stringifyStatus
          this.SaveStatus(this.statuses)
        } else {
          var statuslist = this.formatStatusList()
          var index = statuslist.findIndex(x => x.id == this.selectedStatusId)
          this.statuses[index] = JSON.stringify(this.statusEntry)
          console.log(this.statuses)
          this.SaveStatus(this.statuses)
        }
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
    DeleteStatus () {
      var settings = this.statuses
      var index = settings.findIndex(x => x.id == this.selectedStatusId)
      settings.splice(settings.indexOf(settings[index]), 1)
      console.log(settings)
      console.log(this.statuses)
      this.SaveStatus(this.statuses)
      this.deleteStatusDialog = false
    },
    loadSelectedtStatus () {
      var statuslist = this.formatStatusList()
      var index = statuslist.findIndex(x => x.id == this.selectedStatusId)
      this.statusEntry = statuslist[index]
      this.statusEntry.id = this.selectedStatusId
    },
    SaveStatus (statusSettings) {
      this.$http.post('service_settings/update', statusSettings).then(response => {
        if (response.data.status) {
          console.log('save settings')
          this.$store.state.alertMessage = 'Status Updated!'
          this.$store.state.snackbarcolor = 'success'
          this.$store.state.snackbar = true
          setTimeout(() => {
            this.$store.state.snackbar = false
          }, 2000)
          this.reset()
          this.statusFormDialog = false
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    }

  }
}
</script>
