<template>
  <v-navigation-drawer
    v-if="title != 'Login'"
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-img
      :src="image"
      :gradient="sidebarOverlayGradiant"
      height="100%"
    >
      <v-layout
        class="fill-height"
        tag="v-list"
        column
      >
        <v-list-tile avatar>
          <v-list-tile-avatar
            color="white"
          >
            <v-img
              :src="logo"
              height="34"
              contain
            />
          </v-list-tile-avatar>
          <v-list-tile-title class="title">
            AMS
          </v-list-tile-title>
        </v-list-tile>
        <v-divider/>
        <v-list-tile
          :active-class="color"
          style="margin:0;"
          to="/dashboard"
          avatar
          class="v-list-item"
        >
          <v-list-tile-action style="margin-right: 30px;">
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Dashboard</v-list-tile-title>
        </v-list-tile>
        <v-list-group
          v-for="(item, c) in navigationMenu"
          id="groupnav"
          :value="false"
          :key="c"
        >
          <template v-slot:activator>
            <v-list-tile class="mainnav">
              <v-list-tile-action style="margin-left: 5px;">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>{{ item.group }}</v-list-tile-title>
            </v-list-tile>
          </template>
          <v-list-tile
            v-for="(link, i) in item.links"
            :key="i"
            :to="link.to"
            :active-class="color"
            avatar
            class="v-list-item"
          >
            <v-list-tile-action style="margin-left: 19px;">
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title
              v-text="link.page"
            />
          </v-list-tile>
        </v-list-group>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  data: () => ({
    logo: '../img/amslogo.png',
    account: {},
    allowedPage: [],
    allowedAction: [],
    title: '',
    responsive: false
  }),
  watch: {
    '$route' (val) {
      this.title = val.name
    }
  },
  mounted () {
    console.log('mounted')
  },
  created: function () {
    console.log('created')
    if (!this.$session.exists()) {
      this.$router.push('/')
    } else {
      let permission = this.$session.get('permissions')
      this.allowedPage = permission.page.split(',')
      this.allowedMenu = permission.menu.split(',')
      if (this.$session.get('role') != 'Administrator') { this.UpdateNav() }
      this.openDrawer()
    }
  },
  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    items () {
      return this.$t('Layout.View.items')
    },
    sidebarOverlayGradiant () {
      return `${this.$store.state.app.sidebarBackgroundColor}, ${this.$store.state.app.sidebarBackgroundColor}`
    },
    navigationMenu: {
      get () {
        return this.$store.state.app.navigationMenu
      },
      set (val) {
        console.log('set')
        this.setNavigationMenu(val)
      }
    }
  },
  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer', 'setNavigationMenu']),
    openDrawer () {
      this.setDrawer(true)
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    },
    UpdateNav () {
      console.log('UpdateNav')
      let nav = this.$store.state.app.navigationMenu
      let newnav = []
      for (var i = 0; i < nav.length; i++) {
        let pagelinks = []
        if (this.permission(nav[i].group, 'menu')) {
          newnav.push(nav[i])
          for (var c = 0; c < nav[i].links.length; c++) {
            if (this.permission(nav[i].links[c].page, 'page')) { pagelinks.push(nav[i].links[c]) }
          }
          newnav[newnav.length - 1].links = pagelinks
        }
      }
      // this.mainlinks = newnav
      this.setNavigationMenu(newnav)
    },
    permission (name, type) {
      if (type == 'page') { return this.allowedPage.includes(name) }

      if (type == 'menu') { return this.allowedMenu.includes(name) }
    }
  }
}
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 0px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }

    .v-image__image--contain {
      top: 9px;
      height: 60%;
    }

    .search-input {
      margin-bottom: 30px !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    div.v-responsive.v-image > div.v-responsive__content {
      overflow-y: auto;
    }

    #groupnav .mainnav .v-list__tile__title {
        font-size:  15px !important;
        font-weight: 300 !important;

    }
     #groupnav .v-list .v-list-item {
      margin: 0 0 0 15px !important;
    }

  }
  .v-navigation-drawer .v-list .v-list-item {
      margin: 0 0 0 0px !important;
    }
</style>
