<template>
  <v-toolbar
    v-if="title != 'Login'"
    id="core-toolbar"
    flat
    prominent
    style="background: #eee;"
  >
    <div class="v-toolbar-title">
      <v-toolbar-title
        class="tertiary--text font-weight-light"
      >
        <v-btn
          class="default v-btn--simple"
          dark
          icon
          @click.stop="onClickBtn"
        >
          <v-icon>mdi-view-list</v-icon>
        </v-btn>
        {{ title }}
      </v-toolbar-title>
    </div>

    <v-spacer />
    <v-toolbar-items>
      <v-flex
        align-center
        layout
        py-2
      >
        <small><v-icon
          small
          class="mr-1"
          color="info">mdi-account</v-icon>{{ loguser }}</small>
        <router-link
          v-ripple
          class="toolbar-items"
          to="/dashboard"
        >
          <v-icon color="tertiary">mdi-view-dashboard</v-icon>
        </router-link>

        <v-menu
          bottom
          left
          content-class="dropdown-menu"
          offset-y
          transition="slide-y-transition">
          <v-badge
            slot="activator"
            color="error"
            class="toolbar-items"
          >
            <template v-slot:badge>{{ notifications.length }}</template>
            <v-icon color="tertiary">mdi-bell</v-icon>
          </v-badge>
          <v-card>
            <v-list dense>
              <v-list-tile
                v-for="notification in notifications"
                :key="notification"
                @click="onClick"
              >
                <v-list-tile-title
                  v-text="notification"
                />
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
        <v-icon
          color="tertiary"
          title="Log Out"
          @click="dialog = true">mdi-logout-variant</v-icon>
      </v-flex>
    </v-toolbar-items>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="290">
      <v-card>
        <v-card-text>Would you like to log out?</v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            flat
            @click="dialog = false">Cancel</v-btn>
          <v-btn
            color="green darken-1"
            flat
            @click="dialog = false, logout()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-toolbar>

</template>

<script>

import {
  mapMutations
} from 'vuex'
import { setTimeout } from 'timers'

export default {
  data: () => ({
    dialog: false,
    notifications: [
      'P.R. 192 need approval',
      'New P.R. created',
      'P.R. 195 need approval',
      'P.R. 193 need approval',
      'P.R. 194 need approval'
    ],
    title: null,
    loguser: '',
    user_role: '',
    responsive: false,
    responsiveInput: false
  }),

  watch: {
    '$route' (val) {
      this.title = val.name
      this.loguser = this.$session.get('username')
      this.user_role = this.$session.get('role')
    }
  },

  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    onClick () {
      //
    },
    logout: function () {
      this.$session.destroy()
      this.$router.push('/')
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
        this.responsiveInput = false
      } else {
        this.responsive = false
        this.responsiveInput = true
      }
    }
  }
}
</script>

<style>
  #core-toolbar a {
    text-decoration: none;
  }
  #core-toolbar .v-badge__badge {
    right: 7px !important;
    top: 7px !important
  }
</style>
