<template>
  <div class="pa-2 mx-2">
    <v-card style="height:40vh; overflow-y:scroll; ">
      <v-layout
        row
        wrap>
        <!-- <v-btn @click="getActionList()">getlist</v-btn> -->
        <v-flex
          v-if="role != 'Service CSR'"
          xs8
          class="pa-1 ml-2" >
          <v-combobox
            :search-input.sync="search"
            :hide-selected="hideselected"
            v-model="action"
            :items="ActionList"
            item-text="name"
            return-object
            label="Action"
            small-chips
          />

        </v-flex >
        <v-flex
          v-if="role != 'Service CSR'"
          xs2
          class="pa-2" >

          <v-btn
            small
            densed
            color="info"
           
            @click="AddActionTake(action)">Add</v-btn>
        </v-flex>
      </v-layout>
      <div class="body-2 ml-2 mt-2">Action Taken</div>

      <v-data-table

        :headers="headers"
        :items="Actions"
        :search="searchTable"
        hide-actions
      >
        <template v-slot:items="props">
          <td>
            <v-icon
              small
              color="error"
              title="Delete"
              @click=" DeleteAction(props.index)">mdi-delete</v-icon>

            {{ props.item.code }}</td>
          <td>{{ props.item.name }}</td>
          <td class="text-xs-center">{{ props.item.price }}</td>
        </template>
        <template slot="footer">
          <tr>
            <td> <b>Total Charges</b></td>
            <td
              colspan="2"
              class="text-xs-right font-weight-black">{{ TOTAL }}</td>
          </tr>
          <!-- <tr>
                    <td><b>Duration</b></td>
                    <td class="text-xs-right font-weight-black" colspan="2"><b v-if="sodata.duration">{{displayDuration(sodata.duration)}}</b></td>
              </tr> -->
          <!-- <tr>
                    <td> <b>Rating</b></td>
                    <td colspan="2" class="text-xs-right font-weight-black">{{props}}</td>
              </tr> -->
        </template>
      </v-data-table>

    </v-card>

  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import momentDurationFormatSetup from 'moment-duration-format'
export default {
  props: {
    sodata: { 
      type: Object,
      default: function () {
        return {}
      }
    },
    viewTask: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    role:"",
    ready: false,
    selectedSoData: null,
    headers: [
      { text: 'Code', value: 'Code' },
      { text: 'Task', value: 'Task' },
      { text: 'Price', value: 'Price' }

    ],
    items: [],
    ActionList: [],
    action: null,
    search: null,
    hideselected: null,
    searchTable: null

  }),

  computed: {
    Actions () {
      if (this.sodata.Action != null) {
        this.items = this.sodata.Action
        return this.sodata.Action
      } else {
        return this.items = []
      }
    },
    TOTAL () {
      if (this.items.length != 0) {
        var p = this.items.map(i => i.price)
        return p.reduce((a, b) => a + b, 0)
      } else {
        return 0
      }
    },
    TOTAL_TIME_EST () {
      if (this.items.length != 0) {
        var p = this.items.map(i => i.estimated_time)
        return p.reduce((a, b) => a + b, 0)
      } else {
        return 0
      }
    }
  },
  watch: {
    viewTask () {
      if (this.viewTask == true) {
        console.log('vietask: ' + this.viewTask)
        //   this.LoadActions()
      } else {
        console.log('vietask: ' + this.viewTask)
        this.ClearActions()
      }

      // if(this.viewTask == true) this.getActionList()
    }
  },
  mounted () {
    this.$nextTick(function () {
       
    if (!this.$session.exists()) {
      console.log('sessiong not exist')
      // this.$router.push('/')
    } else {
      this.role = this.$session.get('role')
      
    }
      this.getItems()
    })
  },

  methods: {

    getItems () {
      this.ActionList = []
      // if(this.$store.state.viewTask) {
      this.$http.post('service_order_tariff/list').then(response => {
        // console.log('get tariff list')
        // console.log(this.ActionList = response.data.data)
        response.data.data != null ? this.ActionList = response.data.data : console.log()
      }).catch(e => {
        console.log(e)
      })
      //  }
    },
    ClearActions () {
      this.items = []
      this.action = null
    },
    getActionList () {
      console.log('getActionList')
      var soid = this.sodata.id
      console.log(soid)
      if (soid) { var id = soid }
      var entry = { 'id': id }
      console.log(entry)
      if (this.viewTask) {
        this.$http.post('service_order/get', entry).then(response => {
          console.log(response)
          var result
          if (response.data.data.Action != null) {
            result = response.data.data
            this.items = response.data.data.Action
          }
        }).catch(e => {
          console.log(e)
        })
      }
    },
    AddActionTake (action) {
      if (action != null) {
        this.items.push(action)
      }
      var soid = this.sodata.id
      var entry = {}
      entry.id = parseInt(soid)
      entry.action = this.items

      this.$http.post('service_order/update_action_taken', entry).then(response => {
        console.log(response)
        var result
        if (response.data.data != null) {
          result = response.data.data
        }

        this.$store.dispatch('GET_TASK')
        this.action = null
      }).catch(e => {
        console.log(e)
      })
    },
    DeleteAction (index) {
      this.items.splice(index, 1)
      this.AddActionTake(null)
    },
    displayDuration (durationInSeconds) {
      if (durationInSeconds != null && durationInSeconds != undefined) {
        return moment.duration(durationInSeconds, 'seconds').format('h [hrs], m [min], s [sec]')
      } else {
        return moment.duration(0, 'seconds').format('HH:mm:ss', {
          trim: false
        })
      }
    }

  }
}
</script>
