<template>
  <div>

    <v-container
      grid-list-sm
      fluid
      class="ma-0 pa-1"
      style="height:43vh; overflow-y:scroll;  ">
      <v-layout
       v-if="view === true"
        row
        wrap>
        <v-flex
          v-for="n in getAttacments()"
          :key="n"
          xs2
          d-flex
        >
          <v-card
            class="mx-auto"
          >

            <v-card-text class="ma-0 pa-0">
              <div class="caption"> {{ JSON.parse(n).label }}</div>
              <v-img
                :src="$fileserver+JSON.parse(n).path"
                :lazy-src="$fileserver+JSON.parse(n).path"
                aspect-ratio="1"
                class="grey lighten-2"
                @click="imageViewer=true,selectedImage=$fileserver+JSON.parse(n).path"
              >
                <template v-slot:placeholder>

                  <v-layout
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"/>
                  </v-layout>
                </template>
              </v-img>
            </v-card-text>

          </v-card>

        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="imageViewer"
      max-width="50vw"
      height="auto">
      <v-card>
        <v-layout
          align-center
          justify-center>
          <v-img
            :src="selectedImage"
            lazy-src="https://picsum.photos/id/11/10/6"
            aspect-ratio="1.7"
            contain
            class="grey lighten-2"
            max-width="50vw"
            heigth="auto"
          />
        </v-layout>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {

  props: {
    view:{
      type:Boolean,
      default: false
    },
    sodata: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data: () => ({
    images: [],
    imageViewer: false,
    selectedImage: ''
  }),
  mounted () {
    this.$nextTick(function () {

    })
  },
  created () {
    this.$nextTick(function () {

    })
  },
  methods: {
    isEmpty(){
      if(this.sodata.Machine.attachment)
      return false
    },
    getAttacments () {
      console.log(this.sodata)
      if(this.sodata != null || this.sodata != undefined){
        this.images = this.sodata.Machine.attachment
        console.log(this.images)
        return this.images
      }
      else return []
      
    }
  }
}
</script>
