<template>
  <div class="pa-2 mx-2">
    <v-card style="height:30vh; overflow-y:scroll; ">
      <div
        v-for="comment in comments"
        :key="comment.created"
        class="pl-1"
      >
        <span
          class="caption"
          style="color:#757575"> <small style="float:right"> {{ comment.created | moment("lll") }} </small></span>
        <v-avatar
          color="teal"
          size="26"
          class="ma-1"
        >
          <!-- ~change to user asignee  -->
          <span class="white--text "> {{ $store.getters.getUser(comment.user_id)[0].fullname.charAt(0) }}</span>
        </v-avatar>

        <span class="caption">{{ $store.getters.getUser(comment.user_id)[0].fullname }} : {{ comment.comment }}</span>
      </div>

    </v-card>
    <v-text-field
      v-model="message"
      append-icon="mdi-attachment"
      append-outer-icon="mdi-send"

      box
      clear-icon="mdi-close-circle"
      clearable
      label="Service Update"
      type="text"
      class="ma-1"
      @keyup.enter="sendMessage"
      @click="clearMessage"
      @click:append="toggleMarker"
      @click:append-outer="sendMessage"
      @click:prepend="changeIcon"
      @click:clear="clearMessage"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    viewTask: {
      type: Boolean,
      default: false
    },
    commentsData: {
      type: Array,
      default: {}
    },
    soid: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    comments: [

    ],
    show: false,
    message: 'S.O. updates here!',
    marker: true,
    iconIndex: 0,
    icons: [
      'mdi-emoticon',
      'mdi-emoticon-cool',
      'mdi-emoticon-dead',
      'mdi-emoticon-excited',
      'mdi-emoticon-happy',
      'mdi-emoticon-neutral',
      'mdi-emoticon-sad',
      'mdi-emoticon-tongue'
    ],
    comments: []
  }),

  computed: {
    icon () {
      return this.icons[this.iconIndex]
    }
  },
  watch: {
    viewTask () {
      if (this.viewTask == true) {
        console.log('vietask: ' + this.viewTask)
        this.getComments()
      } else {
        this.comments = []
        console.log('vietask: ' + this.viewTask)
      }

      // if(this.viewTask == true) this.getActionList()
    }
  },

  methods: {

    toggleMarker () {
      this.marker = !this.marker
    },
    sendMessage () {
      var entry = {
        comment: this.message,
        attachement_id: [],
        user_id: this.$session.get('userID'),
        status: 'active',
        so_id: this.soid
      }

      this.$http.post('service_order_comment/new', entry).then(response => {
        console.log(response)
        if (response.data.status) {
          this.getComments()
          this.resetIcon()
          this.clearMessage()
        }
      }).catch(e => {
        console.log(e)
      })
    },
    clearMessage () {
      this.message = ''
    },
    resetIcon () {
      this.iconIndex = 0
    },
    changeIcon () {
      this.iconIndex === this.icons.length - 1
        ? this.iconIndex = 0
        : this.iconIndex++
    },
    getComments () {
      var req = { so_id: this.soid }
      this.$http.post('service_order_comment/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          response.data.data != null ? this.comments = response.data.data : console.log('null')
        }
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>
