<template>

  <!-- <v-dialog
      v-model="Dialog"
      persistent
      max-width="550"> -->

  <v-card>
    <v-card-text class="text-md-center">

      <v-flex
        xs12
        class="text-xs-center text-sm-center text-md-center text-lg-center">

        <br >
        <v-progress-linear
          v-if="uploadprogress == true"
          :indeterminate="true"/>
        <v-text-field
          v-model="imageNames"
          label="Select Image"
          prepend-icon="mdi-paperclip"
          @click="pickFile" />
        <input
          ref="image"
          type="file"
          style="display: none"
          accept="image/*"
          multiple
          @change="onFilePicked"
        >
        <v-layout
          row
          wrap >
          <v-flex
            v-for="image in imageUrls"
            :key="image">

            <img
              v-if="imageUrls"
              :src="image"
              height="150">
            {{ GroupLabel }}
            <!-- <v-text-field v-if="GroupLabel !='POP'" label="Label" v-model='imagelabel[imageUrls.indexOf(image)]' prepend-icon='mdi-label' ></v-text-field> -->
            <v-combobox
              v-if="GroupLabel !='POP'"
              :search-input.sync="searchLabel[imageUrls.indexOf(image)]"
              :hide-selected="hideSelected[imageUrls.indexOf(image)]"
              v-model="imagelabel[imageUrls.indexOf(image)]"
              :items="['TOP','FRONT','BOTTOM','TOP Keyboard','RIGHT Side','LEFT Side']"
              prepend-icon="mdi-label"
              label="label"
              small-chips
            >
              <!-- <template v-slot:no-data>
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>
                              No results matching "<strong>{{ searchLabel[imageUrls.indexOf(image)] }}</strong>". Press <kbd>enter</kbd> to create a new one
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </template> -->
            </v-combobox>
          </v-flex>
          
        </v-layout>
        <v-btn
            small
            color="green darken-1"
            flat
           v-if="uploadComplete == true">Upload Done! <v-icon>mdi-check</v-icon></v-btn> 

      </v-flex>
    </v-card-text>
    <v-card-actions>
      <!-- <v-btn
            small
            color="warning darken-1"
            flat
            @click="emitToParent('closeUpload')">close</v-btn>
          <v-spacer/> -->

      <!-- <v-btn
            small
            color="green darken-1"
            flat
            v-if="completeupload == false"
            @click="FileUpload()">Upload</v-btn> -->
      <!-- <v-btn
            small
            color="green darken-1"
            flat
           v-if="completeupload == true"
            @click="emitToParent(mediaUrl)">Done</v-btn> -->

    </v-card-actions>
  </v-card>
  <!-- </v-dialog> -->
</template>
<script>
import md5 from 'md5'
export default {
  props: {
    //  Dialog: {
    //   type: Boolean,
    //   default: false
    // },
    Module: {
      type: String,
      default: 'folder'
    },
    GroupLabel: {
      type: String,
      default: 'attachment'
    }
  },
  data: () => ({
    noImage: require('@/assets/no-image-icon.png'),
    snackbar: false,
    alert: '',
    snackbarcolor: '',
    imageName: '',
    imageNames: [],
    imageFiles: [],
    imageFile: '',
    imageUrl: '',
    imageUrls: [],
    imagesJSON: [],
    completeupload: false,
    uploadprogress: false,
    imagelabel: [],
    searchLabel: [],
    hideSelected: [],
    uploadedFiles:0,
    uploadComplete: false

  }),
  computed: {

  },
  watch: {
    uploadedFiles(){
      if(this.uploadedFiles ==this.imageFiles.length){
        this.attachmentDataFormat()
        this.uploadprogress=false
        //this.uploadComplete =true
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.alert = message
      this.snackbarcolor = color
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    pickFile () {
      this.$refs.image.click()
    },
    emitToParent (mediaUrl) {
      console.log('DialogEvent emit to parent')
      console.log(mediaUrl)
      this.$emit('DialogEvent', mediaUrl)
      // this.$emit('clicked', 'someValue')
      // this.resetUpload()
    },
    // emitToParentUpdate(mediaUrl){
    //    this.$emit('UpdateAttachment', mediaUrl)
    // },
    	onFilePicked (e) {
      const files = e.target.files
      console.log(files)
      if (files !== undefined) {
        console.log('!== undefined')

        for (var z = 0; z < files.length; z++) {
          console.log(files.length)
          this.imageNames.push(files[z].name)
          // if(this.imageName.lastIndexOf('.') <= 0) {
          //   return
          // }

          const fr = new FileReader()
          fr.readAsDataURL(files[z])
          fr.addEventListener('load', () => {
            this.imageUrls.push(fr.result)
            //   console.log(files[z])
            //  this.imageFiles.push(files[z])// this is an image file that can be sent to server...
          })
        }
        this.imageFiles = e.target.files
      } else {
        this.imageNames = []
        this.imageFiles = []
        this.imageUrls = []
      }
    },
    resetUpload () {
      this.imagesJSON = []
      this.imageNames = []
      this.imageFiles = []
      this.imageUrls = []
      this.completeupload = false
      this.uploadprogress = false
      this.uploadedFiles= 0
      this.uploadComplete = false

    },
    initFileUpload () {
      this.uploadprogress = true
    },

    FileUpload () {
      this.uploadprogress=true
      for (var i = 0; i < this.imageFiles.length; i++) {
        console.log((this.imageFiles[i]))
        if (this.imageFiles[i].type.search('image') == -1) {
          this.showAlert('Media not supported!', 'warning')
          this.uploadprogress = false
          return
        }
        let ext = this.imageFiles[i].name.split('.')
        ext = ext[ext.length - 1]
        let _filename = md5(this.imageFiles[i].name + this.$moment().format('YYYYMMDDhhmmssa'))
        let data = {
          filename: _filename + '.' + ext,
          data: this.imageUrls[i],
          file_type: this.imageFiles[i].type,
          size: this.imageFiles[i].size.toString(),
          title: this.imageFiles[i].name,
          method: this.Module
        }
        console.log(data)
        var formattedFilepathToSave = {}
        formattedFilepathToSave.path = this.Module + '/' + data.filename
        formattedFilepathToSave.originalName = data.title
        console.log(this.GroupLabel)
        if (this.GroupLabel != 'POP') { formattedFilepathToSave.label = this.imagelabel[i] } else { formattedFilepathToSave.label = this.GroupLabel }
        this.imagesJSON.push(JSON.stringify(formattedFilepathToSave))
        this.$http.post('media/upload', data).then(response => {
          if(response.data.status){
            this.uploadedFiles += 1
            this.uploadprogress = false
            this.showAlert('Image succesfully upload!', 'success')
            this.completeupload = true

            response.data.data != null ? this.media = response.data.data : console.log()
          }
       

          // this.imagesPath.push(this.media.method + "/"+  _filename +"."+ext)
          // console.log(this.imagesPath)
        }).catch(e => {
          console.log(e)
        })
      }
      //  console.log(this.imagesPath)
      //      this.emitToParent(this.imagesPath)
      //       this.resetUpload()
      //this.attachmentDataFormat()
    },
    attachmentDataFormat () {
      // console.log(this.imagesJSON)
      // console.log(this.imagelabel)
      this.emitToParent(this.imagesJSON)
      
    }
  }
}
</script>
