<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="50vw"
    min-height="70vh"
    hide-overlay
    transition="dialog-bottom-transition">

    <v-card >
      <v-card-title color="main">
        <v-icon
          left
          @click="emitToParent()">mdi-close-circle</v-icon>   Payment Checkout

      </v-card-title>
    </v-card>
    <v-card width="100%" >
      <v-layout
        row
        wrap
        class="ml-1">
        <v-flex
          xs12
          md6
          lg6>
          <b class="ma-2 body-2 mt-3 ml-4 ">Service Charges</b>
          <v-flex
            v-for="(item) in items "
            :key="item.name"
            xs12
            class="pa-1 pl-5 ml-3">
            <v-layout wrap>
              <v-flex xs6> {{ item.name }}</v-flex>
              <v-flex xs6 > <p
                class="text-right  mt-1 pr-5 "
                style="float:right" >{{ item.price }}</p> </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            class="pa-1 pl-5 ml-3">
            <v-layout wrap>
              <v-flex
                xs6
                class="font-weight-bold"> Total Service Charge</v-flex>
              <v-flex
                xs6
                class="" > <p
                  class="text-right font-weight-bold mt-1 pr-5 "
                  style="float:right" >{{ TOTAL }}</p> </v-flex>
            </v-layout>
          </v-flex>
          <b class="ma-2 body-2 mt-3 ml-4">Parts Charges</b>

          <v-flex
            v-for="(item,index) in Parts "
            :key="index"
            xs12
            class="pa-1 pl-5 ml-3">

            <v-layout wrap>
              <v-flex xs6> {{ item.code }}</v-flex>
              <v-flex xs6 ><p
                class="text-right  mt-1 pr-5 "
                style="float:right" >{{ item.quantity * item.price }}</p> </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            class="pa-1 pl-5 ml-3">
            <v-layout wrap>
              <v-flex
                xs6
                class="font-weight-bold"> Total Parts Charge</v-flex>
              <v-flex xs6 > <p
                class="text-right font-weight-bold mt-1 pr-5 "
                style="float:right" >{{ TOTAL_PCHARGES }} </p> </v-flex>
            </v-layout>
          </v-flex>
          <b class="ma-2 body-2 mt-3 ml-4">Less:</b><br>
          <b class="ma-2 body-2 mt-3 ml-5">Discounts:</b>
          <v-flex
            xs12
            class="pa-1 pl-5 ml-3">
            <v-layout
              v-for="(d,index) in so_data.Discount"
              :key="index"
              wrap>
              <v-flex
                xs6
                class="" >{{ d.remarks }}</v-flex>

              <v-flex xs6 > <p
                class="text-right mt-1 pr-5 "
                style="float:right" >{{ d.amount }} </p> </v-flex>
                
               
            </v-layout>
            <v-layout>
             <v-flex
                xs6
                class="font-weight-bold">Total Discount</v-flex>

              <v-flex xs6 >
                <p
                class="text-right mt-1 pr-5 "
                style="float:right" >{{ TOTAL_DISCOUNTS }} </p> </v-flex>
            </v-layout>
           
          </v-flex>
          <v-flex
            xs12
            class="px-4">
            <v-text-field
              v-model="warrantyClaims"
              class="pa-2"
              label="Warranty Claims"
              type="number"
            />

          </v-flex>

        </v-flex>
        <v-flex
          xs12
          md6
          lg6>

          <v-layout wrap >
            <v-flex
              xs6
              class="body-2 font-weight-bold "> Fill out:</v-flex>
            <v-flex
              xs12
              class="pr-4">
              <v-text-field
                v-model="or_number"
                class="pa-2"
                label="OR Number"

              />
            </v-flex>
            <v-flex
              xs12
              class="pr-4">
              <v-text-field
                v-model="invoice_number"
                class="pa-2"
                label="Invoice Number"
              />
            </v-flex>
            <v-flex
              xs6
              class="title font-weight-bold subtitle-2" > NET Payable</v-flex>
            <v-flex xs6 > <p
              class="title text-right font-weight-bold mt-1 pr-5  "
              style="float:right" >{{ GRANDTOTAL }} </p> </v-flex>
            <v-flex
              xs12
              class="pr-4">
              <v-text-field
                v-if="isCheckedout == false"
                v-model="payment"
                class="pa-2"
                label="Payment"
              />
            </v-flex>
            <v-flex
              v-if="isCheckedout == false"
              xs6
              class="font-weight-bold">Change</v-flex>
            <v-flex xs6 > <p
              v-if="isCheckedout == false"
              class="text-right font-weight-bold mt-1 pr-5 "
              style="float:right">{{ CHANGE }} </p> </v-flex>
            <v-flex
              v-if="isCheckedout == false"
              xs12
              class="pr-4">

              <v-btn
                v-if="(TOTAL + TOTAL_PCHARGES) != 0"
                color="success"
                style="width:100%"
                large
                @click="savePaymentDetails('pay')"> PAY </v-btn>
              <v-btn
                v-else
                color="success"
                style="width:100%"
                large
                @click="savePaymentDetails('claim')"> CLAIM </v-btn>

            </v-flex>
            <v-flex
              v-if="isCheckedout == true"
              xs12
              class="pr-4">

              <v-btn
                color="success"
                style="width:100%"
                large ><v-icon>mdi-check-all</v-icon> PAID </v-btn>
            </v-flex>
          </v-layout>

        </v-flex>
      </v-layout>
      <v-card-actions/>
    </v-card>
    <v-alert
      v-model="alert"
      dismissible
      color="cyan"
      border="left"
      elevation="2"
      colored-border
      icon="mdi-twitter"
    >
      You've got <strong>5</strong> new updates on your timeline!.
    </v-alert>
  </v-dialog>
</template>

<script>
import { deflate } from 'zlib'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    selectedSoId: {
      type: Number,
      default: 0
    },
    soactions: {
      type: Array,
      default: null
    }

  },
  data: () => ({
    openform: false,
    y: 'top',
    x: null,
    mode: '',
    items: [],
    timeout: 6000,
    productlist: [],
    Parts: [],
    payment: 0,
    change: 0,
    warrantyClaims: 0,
    invoice_number: null,
    or_number: null,
    alert: false,
    isCheckedout: false,
    discounts: [],
    so_data: {}

  }),
  computed: {

    CHANGE () {
      if (this.payment > 0) {
        return this.payment - this.GRANDTOTAL
      }
    },

    GRANDTOTAL () {
      let discounts =parseInt( this.TOTAL_DISCOUNTS)
      return (this.TOTAL + this.TOTAL_PCHARGES) - parseInt(this.warrantyClaims) -parseInt( this.TOTAL_DISCOUNTS)
    },
    TOTAL_DISCOUNTS () {
      console.log(this.so_data.Discount)
      if (this.so_data.Discount != undefined && this.so_data.Discount.length != 0) {
        var p = this.so_data.Discount.map(i => i.amount)
        return p.reduce((a, b) => parseInt(a) + parseInt(b), 0)
      } else {
        return 0
      }
    },
    TOTAL () {
      if (this.items.length != 0) {
        var p = this.items.map(i => i.price)
        return p.reduce((a, b) => a + b, 0)
      } else {
        return 0
      }
    },
    TOTAL_PCHARGES () {
      if (this.Parts.length != 0) {
        var p = this.Parts.map(i => {
          console.log(i.price)
          console.log(i.quantity)
          return parseInt(i.price) * i.quantity
        })
        console.log(p)
        return p.reduce((a, b) => a + b, 0)
      } else {
        return 0
      }
    }

  },
  watch: {
    show () {
      if (this.show == true) {
        this.getSoData()
        this.getPaymentDetails()
        if (this.so_data.Discount != null) { this.discounts = this.so_data.Discount }
        if (this.soactions != null) {
          this.items = this.soactions
        }

        this.getProductList()
      } else {
        this.items = []
      }
    }
    // payment(){
    //   if(this.payment > 0){

    //   alert(this.payment)
    //  this.change = (this.payment )- (this.TOTAL + this.TOTAL_PCHARGES)

    //   }
    // }
  },
  created () {
  },
  methods: {
    isExist () {

    },
    getSoData () {
      var req = { id: this.selectedSoId }
      console.log(req)
      this.$http.post('service_order/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          this.so_data = response.data.data
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getTotalDiscounts () {
      console.log('getTotalDiscounts')
      if (this.so_data.Discounts != null || this.so_data.Discounts.length != 0) {
        alert(this.so_data.Discounts)
        console.log(this.so_data.Discounts)
        var p = this.so_data.Discounts.map(i => i.amount)
        return p.reduce((a, b) => parseInt(a) + parseInt(b), 0)
      } else {
        alert(this.so_data.Discounts)
        return 0
      }
    },
    getPaymentDetails () {
      let entry = { 'id': this.selectedSoId }
      this.$http.post('service_order/get', entry).then(response => {
        if (response.data.status) {
          let result = response.data.data
          console.log(result)
          this.invoice_number = result.payment_detail.invoice_number
          this.or_number = result.payment_detail.or_number
          this.warrantyClaims = result.payment_detail.warranty_claim
          if (result.status == 'done') {
            this.isCheckedout = true
          }
        }
      }).catch(e => {
        console.log(e)
      })
    },
    snackbar (msg, color) {
      this.$store.state.alertMessage = msg
      this.$store.state.snackbarcolor = color
      this.$store.state.snackbar = true
      setTimeout(() => {
        this.$store.state.snackbar = false
      }, 2000)
    },
    emitToParent (e) {
      this.or_number = ''
      this.invoice_number = ''
      this.warrantyClaims = 0
      this.isCheckedout = false
      this.payment = 0
      this.Parts = []
      this.$emit('DialogEvent', 'sample item response')
    },
    savePaymentDetails (action) {
      if (this.payment >= this.GRANDTOTAL) {
        let entry = {}
        entry.id = this.selectedSoId
        entry.payment_detail = {
          'invoice_number': this.invoice_number,
          'or_number': this.or_number,
          'total_amount': this.GRANDTOTAL,
          'warranty_claim': parseInt(this.warrantyClaims)
        }
        if (action == 'pay') {
          entry.status = 'done'
          entry.payment_status = 'payed'
        } else {
          entry.status = 'done'
        }
        this.$http.post('service_order/update/payment', entry).then(response => {
          if (response.data.status) {
            this.snackbar('Save', 'success')
            //  this.alert=true
            this.$store.dispatch('GET_TASK')
            this.emitToParent()
          }
          this.action = null
        }).catch(e => {
          console.log(e)
        })
      } else this.snackbar('Incorrect Payment', 'error')
    },
    getProductInfo (id) {
      console.log('get prod info of :' + id)
      console.log(this.productlist.filter(product => product.id == id)[0])
      return this.productlist.filter(product => product.id == id)[0]
    },
    getProductList () {
      console.log('get product list')
      this.productlist = []
      this.$http.post('service_order_products/list').then(response => {
        console.log(response)
        response.data.data != null ? this.productlist = response.data.data : console.log()
        this.formatPartsCharges()
      }).catch(e => {
        console.log(e)
      })
    },
    formatPartsCharges () {
      var req = { so_id: this.selectedSoId }
      this.$http.post('service_order_purchase/get', req).then(response => {
        if (response.data.status) {
          if (response.data.data != null) {
            console.log(response.data.data)
            let purchases = response.data.data
            for (var i = 0; i < purchases.length; i++) {
              console.log(this.getProductInfo(purchases[i]))
              var pcode = purchases[i].product_id
              var pdetails = this.getProductInfo(pcode)
              var item = {}
              item.quantity = purchases[i].quantity
              item.price = pdetails.price
              item.code = pdetails.product_code
              console.log(item)
              this.Parts.push(item)
              console.log(this.Parts)
            }
          }
        }
      }).catch(e => {
        console.log(e)
      })
    }

  }
}
</script>
