<template>
  <v-dialog
    v-model="show"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition">
    <v-card>
      <v-card-title class="hidden-print-only">
        <v-spacer/>
        <div class="text-xs-right">
          <v-icon @click="printThis()">mdi-printer</v-icon> <v-icon @click="emitToParent()">mdi-close</v-icon>
        </div>
      </v-card-title>
      <v-card-text
        v-if="ready== true"
        id="printSO">
        <div width="100%">
          <code>Date Encoded: {{ so_data.created | moment("lll") }}</code>
          <code style="float:right">Date Completed: {{ so_data.finished_date | moment("lll") }}</code>
        </div>
        <br>
        <table width="100%" >
          <tr >
            <td
              valign="top"
              width="50%">
              <table >
                <b>Customer Details</b>
                <tr >
                  <td id="print">Customer :</td>
                  <td>{{ so_data.firstname }}</td>
                </tr>
                <tr>
                  <td>Address :</td>
                  <td>{{ so_data.address }}</td>
                </tr>
                <tr>
                  <td>Contact No. :</td>
                  <td>{{ so_data.contact_no }}</td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td>{{ so_data.email }}</td>
                </tr>
              </table>
            </td>
            <td valign="top">
              <b>Service Order Details</b>
              <table >
                <tr>
                  <td>Service Order #:</td>
                  <td>{{ so_data.id }}</td>
                </tr>
                <tr>
                  <td>Type :</td>
                  <td>{{ so_data.type }}</td>
                </tr>
                <tr>
                  <td>Invoice No. :</td>
                  <td>{{ so_data.Machine.invoice_number }}</td>
                </tr>
                <tr>
                  <td>Date of Purchased :</td>
                  <td>{{ so_data.Machine.date_of_purchased }}</td>
                </tr>
                <tr>
                  <td>Store Source :</td>
                  <td>{{ so_data.Machine.store_source }}</td>
                </tr>
              </table>
            </td>

          </tr>
        </table>
        <v-divider
          class="mt-4"
          inset/>
        <b>Machine Details</b>
        <table width="100%" >
          <tr >
            <td
              valign="top"
              width="50%">
              <table >
                <tr >
                  <td id="print">Serial Number :</td>
                  <td>{{ so_data.Machine.serial_number }}</td>
                </tr>
                <tr>
                  <td>Product Model :</td>
                  <td>{{ so_data.Machine.product_model }}</td>
                </tr>
                <tr>
                  <td>Brand :</td>
                  <td>{{ so_data.Machine.brand }}</td>
                </tr>
                <tr>
                  <td>Category :</td>
                  <td>{{ so_data.Machine.category }}</td>
                </tr>
                <tr>
                  <td>Warranty Status:</td>
                  <td>{{ so_data.Machine.warranty_status }}</td>
                </tr>
              </table>
            </td>
            <td valign="top">
              <table >

                <tr>
                  <td>Issues:</td>
                  <td><span
                    v-for="(item,i) in so_data.issue"
                    :key="i">{{ item }},</span></td>
                </tr>
                <tr>
                  <td>Additional Issue Description:</td>
                  <td>{{ so_data.Machine.issue }}</td>
                </tr>
                <tr>
                  <td>Unit Condition :</td>
                  <td><span
                    v-for="(item,y) in so_data.Machine.unit_condition"
                    :key="y">{{ item }},</span></td>
                </tr>
                <tr>
                  <td>Additional Accessories:</td>
                  <td><span
                    v-for="(item,a) in so_data.Machine.additional_accessories"
                    :key="a">{{ item }},</span></td>
                </tr>
                <tr>
                  <td>Credentials</td>
                  <td>Username: {{ so_data.Machine.username }} , Password: {{ so_data.Machine.password }}</td>
                </tr>

              </table>
            </td>
          </tr>

        </table>

        <v-divider
          class="mt-4"
          inset />
        <b>Acquired Service/s</b>
        <table width="100%" >
          <tr >
            <td
              valign="left"
              width="30%"><b>Service</b></td>
            <td
              valign="left"
              width="30%"><b>Code</b></td>
            <td valign="left"><b>Amount</b></td>
          </tr>
          <tr
            v-for="item in so_data.Action"
            :key="item.code">
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.price }}</td>
          </tr>

        </table>
        <v-divider
          class="mt-4"
          inset />
        <b>Acquired Parts   </b>
        <table width="100%" >
          <tr >
            <td
              valign="left"
              width="30%"><b>Product Name</b></td>
            <td
              valign="left"
              width="20%"><b>Code</b></td>
            <td valign="left"><b>Qty.</b></td>
            <td valign="left"><b>Amount</b></td>
            <td valign="left"><b>SubTotal</b></td>
          </tr>
          <tr
            v-for="item in parts"
            :key="item.id">
            <td>{{ item.description }}</td>
            <td>{{ item.product_code }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.price * item.quantity }}</td>
          </tr>

        </table>
        <v-divider
          class="mt-4"
          inset />

        <div>
          <b>Payment Details</b>
          <table width="100%" >
            <tr >
              <td
                valign="top"
                width="50%">
                <table >
                  <tr >
                    <td id="print">Payment Status:</td>
                    <td>{{ so_data.payment_detail.payment_status }}</td>
                  </tr>
                  <tr >
                    <td id="print">OR. Number :</td>
                    <td  v-if="so_data.payment_status =='payed' ">{{ so_data.payment_detail.or_number }}</td>
                  </tr>
                  <tr>
                    <td>Invoice Number :</td>
                    <td v-if="so_data.payment_status =='payed' ">{{ so_data.payment_detail.invoice_number }}</td>
                  </tr>
                  <tr>
                    <td>Warranty Claim:</td>
                    <td v-if="so_data.payment_status =='payed' ">{{ so_data.payment_detail.warranty_claim }}</td>
                  </tr>
                  <tr>
                   
                  </tr>
                  <tr>
                    <td>Net Payed:</td>
                    <td v-if="so_data.payment_status =='payed' ">{{ so_data.payment_detail.total_amount }}</td>
                  </tr>

                </table>
              </td>
              <td  valign="top">
                 <table >
                  <tr >
                    <td  valign="top">Discounts:</td>
                    <td  >
                       <p
                      v-for="(d,index) in so_data.Discount"
                      :key="index"
                      wrap>
                      <span>{{d.remarks }}</span>
                    
                      <span
                        class="text-right mt-1 pr-5 "
                        style="float:right" >{{ d.amount }} </span>
                        
                      
                    </p>
                    </td>
                  </tr>
                 </table>
              </td>
            </tr>

          </table>
        </div>
      </v-card-text>

    </v-card>

  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    so_id: {
      type: Number,
      default: 0
    }

  },
  data: () => ({
    ready: false,
    so_data: {},
    parts: [],
    customer: {},
    entry: {},
    snackbar: false,

    productItems: [],
    footerMessage: '',

    itemHeader: [
      {
        text: 'No.',
        sortable: false
      },
      {
        text: 'Product Description',
        sortable: false
      },
      {
        text: 'QTY',
        sortable: false
      },
      {
        text: 'SRP',
        align: 'right',
        sortable: false
      },
      {
        text: 'Discounted Price',
        align: 'right',
        sortable: false
      }
    ]
  }),
  computed: {

  },
  watch: {
    show () {
      if (this.show == true) {
        this.getSoData()
        this.getPurchaseItems()
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    isExist () {

    },
    emitToParent (event) {
      this.$emit('DialogEvent')
    },
    printThis () {
      var win = window.open()
      self.focus()
      win.document.open()
      win.document.write('<' + 'html' + '><' + 'body' + '>')
      let data = document.getElementById('printSO')

      win.document.write(data.innerHTML)
      win.document.write('<' + '/body' + '><' + '/html' + '>')
      win.document.close()
      win.print()
      win.close()
    },
    getSoData () {
      var req = { id: this.so_id }
      console.log(req)
      this.$http.post('service_order/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          this.so_data = response.data.data
          this.ready = true
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getPurchaseItems () {
      var req = { so_id: this.so_id }
      this.$http.post('service_order_purchase/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          response.data.data != null ? this.parts = response.data.data : console.log('null')
          //   this.$store.dispatch('GET_SELECTED_SO_LOGS', updateTask.id)
        }
      }).catch(e => {
        console.log(e)
      })
    },

    getUser () {
      this.$http.post('user/get', { id: parseInt(this.entry.prepared_by) }).then(response => {
        this.account = response.data.account
      }).catch(e => {
        console.log(e.data)
      })
    },

    getSettings () {
      this.$http.post('setting/query', { name: 'Company Name' }).then(response => {
        this.company = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })

      this.$http.post('setting/query', { name: 'Company Address' }).then(response => {
        this.address = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })

      this.$http.post('setting/query', { name: 'Quotation Footer Message' }).then(response => {
        this.footerMessage = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style >
 @media print {
            #print {
               font-size:12px;

             }
        }
</style>
