<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="70vw"
    min-height="40vh"
    hide-overlay
    transition="dialog-bottom-transition">

    <v-card>
      <v-card-title>
        <v-icon
          small
          left
          @click="emitToParent()">mdi-close</v-icon> Items
      </v-card-title>
      <v-card-text>
        <!-- <div> -->
        <v-btn
          color="success"
          width="50px"
          small
          style="float:right;"
          @click="openform=true" >Add Item</v-btn><br>
                        <!-- </div> --></v-card-text>
      <v-card-text>

        <v-layout
          row
          wrap>

          <v-flex
            xs12
            md3
            lg3
            class="pa-1">
            <v-text-field
              v-model="data.product_code"
              :disabled="true"
              label="Product Code"
            />

          </v-flex>
          <v-flex
            xs12
            md3
            lg3
            class="pa-1">
            <v-text-field
              v-model="data.description"
              :disabled="true"
              label="Product Description"
            />
          </v-flex>
          <v-flex
            xs12
            md3
            lg3
            class="pa-1">
            <v-text-field
              v-model="data.price"
              :disabled="true"
              label="Product Price"
            />
          </v-flex>
          <v-flex
            xs12
            md3
            lg3
            class="pa-1">
            <v-text-field
              :value="STOCKS"
              :disabled="true"
              label="Total Stocks"
            />

          </v-flex>
          <b>Current Stocks</b>
          <v-flex xs12>
            <v-card>
              <v-chip
                v-for="(item,index) in data.Items"
                :key="index"
                class="ma-2"
                color="blue"
                label
                text-color="white"
              >
                <v-icon
                  left
                  color="white">mdi-label</v-icon>
                {{ item.serial }}
              </v-chip>
            </v-card>
          </v-flex>

          <v-flex xs12>
            <b>Serial to be added</b>
            <v-card>
              <template v-for="(item,index) in items">

                <v-chip
                  :key="index"
                  class="ma-2"
                  color="pink"
                  label
                  text-color="white"

                >
                  <v-icon
                    left
                    color="white">mdi-label</v-icon>{{ item.serial }}
                </v-chip>

              </template>
            </v-card>
          </v-flex>
        </v-layout>
        <v-btn
          color="success"
          block
          @click="Save()">Save</v-btn>
      </v-card-text>
    </v-card>
    <ams-text-form
      :show="openform"
      label="Enter New Serial"
      @DialogEvent="FormEvent"/>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    openform: false,
    y: 'top',
    x: null,
    mode: '',
    items: [],
    timeout: 6000
  }),
  computed: {
    STOCKS () {
      if (this.data.Items != null) {
        return this.data.Items.length
      }
      return 0
    }
  },
  watch: {

  },
  created () {
  },
  methods: {
    emitToParent (e) {
      this.$emit('DialogEvent', 'sample item response')
    },
    IsExist (serial) {
      for (var i = 0; i < this.items.length; i++) {
        if (serial == this.items[i].serial) {
          return true
        }
      }
      return false
    },
    FormEvent (serial) {
      console.log(serial)
      if (this.IsExist(serial)) {
        alert('exist')
      } else {
        var item = { serial: serial, data: this.$moment().format('YYYY-MM-DD hh:mm:ss') }
        this.items.push(item)
      }
      this.openform = false
    },
    Save () {
      let holder =[]
      if(this.data.Items != null || this.data.Items || undefined)
         holder = this.data.Items.concat(this.items)
      else
        holder = this.items
      this.data.Items = holder
      this.$http.post('service_order_products/update', this.data).then(response => {
        this.items = []
      }).catch(e => {
        console.log(e)
      })
    }
  }
}
</script>
