<template>
  <div >

    <v-dialog
      v-model="dialog"
      max-width="35vw">

      <template v-slot:activator="{ on }">
        <!-- <span  class="body-2 ml-2" style="float:left">Add Parts</span> -->
        <v-btn
          v-if="role == 'Technician' || role == 'Technician Manager' || role == 'Administrator'"
          small
          color="primary"
          dark
          class="mb-2 "
          style="float:right"
          v-on="on"
          @click="edit=false" >Add Parts</v-btn>
      </template>
      <v-card class="">
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 >
                <!-- <v-combobox
                  :items="productlist"
                  label="Product"
                  item-value="product_code"
                  cache-items
                  :search-input.sync="search"
                  v-model="selectedproduct">
                    <template slot="selection" slot-scope="data">
                        {{ data.item.product_code }} - {{ data.item.brand }} ({{ data.item.description }})
                    </template>
                    <template slot="item" slot-scope="data">
                        {{ data.item.product_code }} - {{ data.item.brand }} ({{ data.item.description }})
                    </template>
                </v-combobox> -->
                <v-autocomplete
                  :items="productlist"
                  :item-text="'product_code'"
                  v-model="selectedproduct"
                  :rules="[v => !!v || 'Product item Information is required']"
                  box
                  return-object
                  label="Product Code"
                  required
                  class=""
                  height="32"
                />
                  <span>Stocks: </span>{{showCurrentStock(selectedproduct.Items)}}
              </v-flex>
                <v-flex xs12 >
                <v-btn :disabled="showCurrentStock(selectedproduct.Items) == 0" color="info" style="width:30%;float:right" @click="openAddProductSerialform = true,selectedProductItems=selectedproduct.Items">Add Serial</v-btn>
              </v-flex>
               <v-flex xs12>
                <v-card style="min-height:50px">
                  <span class="font-weight-light caption pa-1">Serial</span><br/>
                  <v-chip
                    v-for="(item,index) in usedProductSerials"
                    :key="index"
                    class="ma-2"
                    color="blue"
                    label
                    text-color="white"
                  >
                    <v-icon
                      left
                      color="white">mdi-label</v-icon>
                    {{ item.serial }}
                  </v-chip>
                </v-card>
               </v-flex>
              <v-flex xs12 >
                <v-text-field
                  v-model="selectedproduct.price"
                  label="Price"
                  disabled/>
              </v-flex>

              <v-flex xs12 >
                <v-text-field
                  v-model="editedItem.quantity"
                 
                  disabled
                  label="Quantity"/>
              </v-flex>
             
              <v-flex xs12>
                <v-text-field
                  :value="$IsNum(selectedproduct.price * editedItem.quantity)"
                 
                  label="Subtotal"
                  disabled/>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer/>
        <v-btn
          color="warning"
          @click="close"
        >
          Cancel
        </v-btn>
        <v-btn
        :disabled="editedItem.quantity < 1 || editedItem.quantity == null" 
         color="success"
         @click="save"
         >
          Add
         </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-data-table
      :headers="headers"
      :items="parts"
      class="elevation-0 pa-0 ma-0"
      hide-actions
    >
      <template v-slot:items="props" >
        <tr>
        <td>{{ getProductInfo(props.item.product_id).product_code }}</td>
        <td>{{ getProductInfo(props.item.product_id).price }}</td>
        <td>{{ props.item.quantity }}</td>
        <td>{{ props.item.total }}</td>
        </tr>
        <tr>
           <td colspan="4"> 
             <v-chip
                    v-for="(item,index) in props.item.Item"
                    :key="index"
                    class="ma-2"
                    color="blue"
                    label
                    text-color="white"
                  >
                    <v-icon
                      left
                      color="white">mdi-label</v-icon>
                    {{ item.serial }}
                  </v-chip></td>
          </tr>
        <!-- <td
          class="justify-center layout px-0 caption py-0"
          style="height:20px">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            mdi-delete
          </v-icon>
        </td> -->
      </template>
      <template v-slot:no-data/>
    </v-data-table>
    <!--add serial component -->
    <ams-text-form
    :show="openAddProductSerialform"
    label="Enter New Serial"
    @DialogEvent="AddProductSerial"/>
  </div>
</template>
<script>
export default {
  props: {
    sodata: {
      type: Object,
      default: function () {
        return {}
      }
    },
    viewTask: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    selectedProductItems:[],
    openAddProductSerialform:false,
    ready: false,
    role: '',
    search: null,
    productlist: [],
    parts: [],
    selectedproduct: '',
    dialog: false,
    headers: [
      {
        text: 'Product Code',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: 'Price', value: 'price' },
      { text: 'Qty', value: 'Quantity' },
      { text: 'SubTotal', value: 'SubTotal' }

    ],
    desserts: [],
    edit: false,
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
    usedProductSerials:[]
  }),

  computed: {
    formTitle () {
      return this.edit == false ? 'New Item' : 'Edit Item'
    }

  },

  watch: {
    viewTask(){
      if(this.viewTask){
        this.getProductList()
      }else{
        this.parts=[]
      }
    },
    dialog (val) {
      val || this.close()
    }

  },
  mounted () {
    if (!this.$session.exists()) {
      console.log('sessiong not exist')
      // this.$router.push('/')
    } else {
      this.role = this.$session.get('role')
    }
  },

  created () {
    this.initialize()
    
  },

  methods: {
    initialize () {
      this.desserts = [
        {
          name: 'Service Charge'

        }

      ]
    },
    showCurrentStock(items){
      if(items != null || items != undefined)
      return items.length
      else return 0
    },
    IsExist (serial) {
    // if(this.selectedProductItems != null){
      for (var i = 0; i < this.selectedProductItems.length; i++) {
        if (serial == this.selectedProductItems[i].serial) {
          return true
        }
        else return false
      }
     
      // }else  return false
    },
    AddProductSerial (serial) {
      console.log(serial)
      if (this.IsExist(serial)) {
        var item = { serial: serial }
        this.usedProductSerials.push(item)
        this.editedItem.quantity=this.usedProductSerials.length
        this.openAddProductSerialform = false
        if(this.selectedproduct.Items != null){
           for(var x=0; x< this.usedProductSerials.length;x++){
            for(var i=0;i < this.selectedproduct.Items.length;i++ ){
              if(this.selectedproduct.Items[i].serial == this.usedProductSerials[x].serial){
                this.selectedproduct.Items.splice(i, 1);
                console.log(this.selectedproduct)
              }
            }
          }
        }
           
      } else {
        alert("Not found")
        this.openAddProductSerialform = false
      }
     
    },
    resetFields(){
      this.selectedproduct={}
     this.usedProductSerials=[]
     this.editedItem={}
    },
    getProductList () {
      console.log('get product list')
      this.productlist = []
      this.$http.post('service_order_products/list').then(response => {
      //  console.log(response)
        response.data.data != null ? this.productlist = response.data.data : console.log()
        this.getPurchaseItems()
      }).catch(e => {
        console.log(e)
      })
    },
    editItem (item) {
      this.edit = true
      console.log(this.selectedproduct)
      console.log(this.getProductInfo(item.product_id))
      this.selectedproduct = this.getProductInfo(item.product_id)
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
      this.resetFields()
    },
    updateSelectedProductStocks(){
      this.$http.post('service_order_products/update', this.selectedproduct).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'success'
          this.dialog = false
          this.getProductList()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        // this.desserts.push(this.editedItem)
        let entry = {}
        entry.so_id = parseInt(this.sodata.id)
        entry.item=this.usedProductSerials 
        entry.product_id = parseInt(this.selectedproduct.id)
        entry.quantity = parseInt(this.editedItem.quantity)
        entry.total = parseInt(this.selectedproduct.price * this.editedItem.quantity)
        console.log(entry)
        this.$http.post('service_order_purchase/new', entry).then(response => {
          console.log(response)
          if (response.data.status) {
            this.updateSelectedProductStocks()
            this.getPurchaseItems()
            this.alertMessage = response.data.message
            this.resetFields()
            this.dialog = false
           
          } else {
            this.alertMessage = response.data.message
            this.snackbarcolor = 'warning'
          }
          this.snackbar = true
        }).catch(e => {
          console.log(e)
        })
      }

      // this.close()
    },
    // prodFilter(item: productlist, queryText, itemText) {
    //       return (item.fpartno.toLowerCase().includes(queryText.toLowerCase()) || item.frev.toLowerCase().includes(queryText.toLowerCase()) || item.fcomment.toLowerCase().includes(queryText.toLowerCase()));
    //   }
    getPurchaseItems () {
      var req = { so_id: this.sodata.id }
      this.$http.post('service_order_purchase/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          response.data.data != null ? this.parts = response.data.data : console.log('null')
          //   this.$store.dispatch('GET_SELECTED_SO_LOGS', updateTask.id)
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getProductInfo (id) {
      console.log(this.productlist.filter(product => product.id === id))
      return this.productlist.filter(product => product.id === id)[0]
    },
    clearParts () {
      this.parts = []
    }
  }

}
</script>
