<template>
  <div style="height:40vh; border-left-width:1px; border-left-style:solid; border-left-color:#c1c5cc;  ">
    <div class=" pa-1 pl-2 mt-2">
      <span class="body-2">Service Order Logs </span>
    </div>
    <v-card
      color="grey lighten-3"
      height="40vh"
      style="overflow-y:scroll">
      <div
        v-for="log in logs"
        :key="log.id"
        class="caption pa-2 font-weight-light"
        style="color:#757575"
      >
        <strong>{{ GetUser(log.actor)[0].role }} ( {{ GetUser(log.actor)[0].fullname }}) :</strong>

        <br>{{ log.action }}<br>
        <span v-if="log.details && convertToJson(log.details).data">
          <span v-if="Array.isArray(convertToJson(log.details).data)">
            <span
              v-for="log in convertToJson(log.details).data"
              :key="log">
              <b class="caption">{{ log }}</b> <br>
            </span>
          </span>
          <b
            v-else
            class="caption">{{ convertToJson(log.details).data }}   <br> </b>

        </span>
        <small>   {{ dateFormat(log.created) }} </small>
      </div>
    </v-card>

  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  components: {

  },
  props: {
    soid: {
      type: Number,
      default: 0
    },
    viewTask: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    logs: []
  }),
  computed: {
    timeline () {
      return this.events.slice().reverse()
    }
  },
  watch: {
    viewTask () {
      if (this.viewTask == true) {
        this.getSOLogs()
      }
    }
  },
  created () {
  },
  mounted () {
  },
  methods: {
    convertToJson (s) {
      if (s) {
        return JSON.parse(s)
      }
    },
    dateFormat (rawdate) {
      var cleanDate = new Date(rawdate).toDateString()
      var cleanTime = new Date(rawdate).toLocaleTimeString()
      return cleanDate + ' ' + cleanTime
    },
    getServiceOrderLogs () {

    },

    Save () {

    },
    Add () {

    },
    GetUser (id) {
      return this.$store.getters.getUser(id)
      console.log(this.$store.getters.getUser(id))
    },
    getSOLogs () {
      var req = { so_id: this.soid }
      this.$http.post('service_order_log/get', req).then(response => {
        response.data.data != null ? this.logs = response.data.data : console.log('null')
      }).catch(e => {
        console.log(e)
      })
    }

  }
}
</script>
