<template>
  <v-form
    id="print-content"
    ref="form"
    lazy-validation
  >
    <v-card
      flat
      style="background-color:white; " >
      <v-card
        color="white"
        class="ma-2 mt-0">
        <v-layout
          wrap
          class="mt-0 pt-0 pt-3 pb-1 ">
          <v-flex
            xs1
            lg1
            md1
           class="pl-4 pa-0 ma-0 ">
             <v-text-field
              v-model="task.id"
              readonly
              label=" SO #."
              class="py-0 px-1"
            />
          </v-flex>
          <v-flex
            xs12
            lg3
            md3
            class="pl-3">
            <v-text-field
              v-model="entry.rma"
              label="RMA"
               class="py-0 px-1"
            />
          </v-flex>
          <v-flex
            xs12
            lg3
            md3
            class="pl-3 ">
            <v-combobox
              v-model="task.type"
              :items="taskTypeItems"
              :rules="[v => !!v || 'task type is required']"
              :readonly="STATUS_DONE== true"
              label="Task Type"
               class="py-0 px-1"
              height="32"
              required
            />
          </v-flex>

          <v-flex
            xs12
            lg4
            md4
            class="pl-3">
            <v-select
              v-model="entry.warranty_status"
              :items="warrantyItems"
              :readonly="STATUS_DONE== true"
              label="Warranty Type"
              class="py-0 px-1"
              height="32"
              append-outer-icon="mdi-attachment"
              @click:append-outer="$refs.fileUploaderComponentRef.resetUpload(),fileUploadDialog=true, imageDefaultLabel='POP'"
              @change="CheckWarrantyChoice(entry.warranty_status)"
            />
            

          </v-flex>
          <v-flex
            xs12
            lg2
            md2
            class="pl-3">
            <v-text-field
              v-model="entry.invoice_number "
              :rules="inWarrantyReqRule"
              label=" Invoice Number:"
              class="py-1 ml-1 mr-0 pl-2"
            />
          </v-flex>
          <v-flex
            xs12
            lg2
            md2
            class="pl-3" >

            <v-menu
              id="datemenu"
              v-model="dop_menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"

            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="entry.date_of_purchased"
                  :rules="inWarrantyReqRule"
                  label="Date of Purchase"
                  prepend-icon="mdi-calendar-month"
                  readonly
                  class="py-1  "
                  height="32"
                  v-on="on"

                />
              </template>
              <v-date-picker
                v-model="entry.date_of_purchased"
                @input="dop_menu = false" />
            </v-menu>

          </v-flex>
          <v-flex
            xs12
            lg3
            md3
            class="pl-3">
            <!-- <v-text-field
              v-model="entry.store_source"
              :disabled="warranty=='W/O Warranty'"
              :rules="inWarrantyReqRule"
              label="Store Source"
              class="pl-0 py-1 ma-1 "
            /> -->
             <v-combobox
            
              :search-input.sync="searchStore"
              :hide-selected="hideSelectedStore"
              v-model="entry.store_source"
              :items="stores"
              prepend-icon="mdi-store"
              label="Store Source"
              small-chips
              
            >
              <template v-slot:no-data  >
                   No results matching "<strong>{{ searchStore }}</strong>". Press <kbd>enter</kbd> to save this store
              </template>
            </v-combobox>
          </v-flex>
            <template v-if="entry.attachment">
             
            <v-flex
             xs12
            >
            <!-- <v-icon>mdi-file</v-icon> -->
            <v-layout row wrap> 
            <v-flex  v-for="pop in PREVIEWPOP"  :key="pop.path">
                <p class="text-xs-center">
                <img
                  :src="$fileserver + pop.path"
                  @click="imageViewer=true,selectedImage=$fileserver+pop.path"
                  height="100px"></p>
            </v-flex>
            </v-layout>
            </v-flex>
          </template>
        </v-layout>
      </v-card>
      <v-card
        color="white"
        class="ma-2 pt-2">

        <v-layout
          wrap
          class=" pt-2">
          <v-flex
            xs12
            md3
            lg3
            class="pl-3">
            <span class="body-2  pa-1">Customer Details</span>
          </v-flex>
          <v-flex
            xs6
            md3
            lg3
            class="pl-3" >
            <v-checkbox
              v-if="edit=== false"
              v-model="newCustomer"
              style="float:left"
              label="New Customer"
              data-vv-name="checkbox"
              type="checkbox"
              class="pa-1 ma-0"
            />
          </v-flex>
          <v-flex
            md6
            xs12
            lg6 >
            <v-autocomplete
              v-if="newCustomer==false && edit=== false "
              :items="$store.state.customers"
              v-model="customer"
              :rules="[v => !!v || 'Customer Information is required']"
              item-text="firstname"
              return-object
              label="Search"
              required
              class="pa-1 ma-0 mr-3 "

              height="20"

            />
          </v-flex>

          <v-flex
            xs12
            md3
            class="px-3 pa-0 ma-0 " >
            <v-text-field
              v-model=" customerDetailsEntry.firstname "
              :rules="[v => !!v || 'Name is required']"
              :readonly="newCustomer==false"
              label="Customer Name:"
              class="py-0 px-1"
              required

            />
          </v-flex>
          <v-flex
            xs12
            md3
            class="px-3" >
            <v-text-field
              v-model="customerDetailsEntry.contact_no"
              :rules="[v => !!v || 'Contact number is required']"
              :readonly="newCustomer==false"
              label="Contact No."
              class="py-0 px-1"

            />
          </v-flex>
          <v-flex
            xs12
            md3
            class="px-3">
            <v-text-field
              v-model="customerDetailsEntry.email"
              :readonly="newCustomer==false"
              label="Email"
              class="py-0 px-1"
            />
          </v-flex>
          <v-flex
            xs12
            md3
            class="px-3 ">
            <v-text-field
              v-model="customerDetailsEntry.address"
              :rules="[v => !!v || 'Address is required']"
              :readonly="newCustomer==false"
              label="Address"
              class="py-0 px-1"
            />
          </v-flex>
        </v-layout>

        <span class="body-2 pl-3 ml-1">Unit Details</span>
        <v-layout wrap>
          <v-flex
            xs12
            md3
            lg3
            class="px-3 ">
            <v-text-field
              v-model="entry.serial_number"
              :rules="serialNumReqRule"
              :readonly="STATUS_DONE== true"
              label="Serial Number"
              class="pa-1 "
              @focus="entry.serial_number = ''"
              @change="getItemBySerial()"
            />
          </v-flex>

          <v-flex
            xs12
            md3
            class="px-3" >
            <!--<v-text-field
                            v-model="entry.brand"
                            label="Brand"
                            class="pa-1"
                        /> -->

            <v-autocomplete
              :items="brands"
              v-model="setbrand"
              :readonly="STATUS_DONE== true"
              item-text="name"
              label="Brand"
              class="pa-1 mt-3"
              height="20"

            />
          </v-flex>
          <v-flex
            xs12
            md3
            lg3
            class="px-3" >
            <!-- <v-text-field
                            v-model="entry.category"
                            label="Category"
                            class="pa-1"
                        /> -->
            <v-autocomplete
              :items="categories"
              v-model="setcategory"

              :readonly="STATUS_DONE== true"
              item-text="name"
              label="Category"
              class="pa-1 mt-3"
              height="20"
            />
          </v-flex>

          <v-flex
            xs12
            md3
            class="px-3">
            <v-text-field
              v-model="setproduct_model"
              :readonly="STATUS_DONE== true"
              label="Product Model"
              class="pa-1 "
            />
          </v-flex>
          <v-flex
            xs12
            md6
            class="px-3">
            <v-text-field
              v-model="entry.username"
              :readonly="STATUS_DONE== true"
              label="Username"
              class="pa-1 "
            />
          </v-flex>
          <v-flex
            xs12
            md6
            class="px-3">
            <v-text-field
              v-model="entry.password"
              :readonly="STATUS_DONE== true"
              label="Password"
              class="pa-1 "
            />
          </v-flex>

        </v-layout>

        <v-flex xs12>

          <v-combobox
            v-model="entry.additional_accessories"
            :items="additional_accesories_items"
            :search-input.sync="search"
            :readonly="STATUS_DONE== true"
            hide-selected
            label="Additional Accesories"
            multiple
            persistent-hint
            small-chips
            class="pa-1 ma-0 mx-3 "
          >
            <template v-slot:no-data>
              <!-- <v-list-item>
                                <v-list-item-content>
                                  <v-list-item-title> -->

              No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
              <!-- </v-list-item-title>
                                </v-list-item-content>
                              </v-list-item> -->
            </template>

          </v-combobox>
        </v-flex>

      </v-card>

      <v-card
        v-if="edit === false || sodata.status_id == 1"
        class="ma-2 pt-2"
        color="white">

        <v-layout
          row
          wrap>
          <v-flex
            xs12
            md6
            lg6
            class="px-3 pt-0 mb-2"
            style="max-height:30vh;overflow-y:scroll;">
            <label class="body-2 pl-1  mb-2 pb-4 ">Unit Issues </label>
            <v-layout wrap>
              <v-flex
                v-for="issue_checklist in issue_checklists"
                :key="issue_checklist.name"
                class="mt-3 pt-1 "
                xs4
              >

                <v-checkbox
                  id="checklist"
                  v-model="selected_issue_checklists"
                  :label="issue_checklist.name"
                  :value="issue_checklist.name"
                  height="5px"
                  class=" pt-1 pl-0 mt-1 pb-0 mb-0 "

                />

              </v-flex>
              <v-flex>

                <v-btn
                  small
                  color="info"
                  style="float:right"
                  @click="unit_issue_remarks_model=true">{{ issue_btn_label }}</v-btn>
                  <!-- <v-text-field
                                :auto-grow="true"
                                name="input-7-1"
                                class="pa-1"
                                label="Issue Remarks"
                                v-model="issue"
                              ></v-text-field> -->
              </v-flex>
            </v-layout>

          </v-flex>

          <v-flex
            xs12
            md6
            lg6
            style="max-height:30vh;overflow-y:scroll;">
            <label class="body-2 pl-1   ">Unit Condition </label>
            <v-layout wrap>
              <v-flex
                v-for="condition_checklist in condition_checklists"
                :key="condition_checklist.name"
                class="mt-3 pt-1 "
                xs4
              >

                <v-checkbox
                  id="checklist"
                  v-model="selectedUnitCondition"
                  :label="condition_checklist.name"
                  :value="condition_checklist.name"
                  height="5px"
                  class="ml-1 pt-1 pl-0 mt-1 pb-0 mb-0 "

                />

              </v-flex>

              <v-flex >
                <v-btn
                  small
                  color="info"
                  style="float:right"
                  class="mr-3"
                  @click="fileUploadDialog=true,fileUploadDialogTitle='Attach unit condition image',imageDefaultLabel=''">Attach Image</v-btn>
                  <!-- <v-text-field
                                :auto-grow="true"
                                name="input-7-1"
                                class="pa-1"
                                label="Issue Remarks"
                                v-model="issue"
                              ></v-text-field> -->
              </v-flex>

            </v-layout>
          </v-flex>

        </v-layout>

      </v-card>

      <v-card
        v-if="edit === true  && sodata.status_id != 1"
        class="ma-2 pt-2"
        color="white" >
        <v-layout
          row
          wrap>
          <v-flex
            xs12
            md6
            lg6
            class="px-3 pt-0 mb-2"
            style="max-height:30vh; min-height:15vh; overflow-y:scroll;">
            <label class="body-2 pl-1  mb-2 pb-4 ">Unit Issues </label><br>

            <template v-if="selected_issue_checklists.length != 0">
              <v-chip
                v-for="listIssue in selected_issue_checklists"
                :key="listIssue"
                color="red"
                text-color="white">
                {{ listIssue }}
              </v-chip><br>

              <b>Additional Issue</b>
              <p>{{ entry.issue }}</p>
            </template>
            <template v-else>

              <div
                class="light-blue darken-1"
                style="border-radius:5px; margin:2%"
                width="100%">
                <b
                  style="color:#fff;margin-left:40%"
                  class="text-center">No Info Available</b>
              </div>
            </template>
          </v-flex>
          <v-flex
            xs12
            md6
            lg6
            style="max-height:30vh; min-height:15vh;overflow-y:scroll;">
            <label class="body-2 pl-1   ">Unit Condition </label><br>
            <template v-if="entry.unit_condition.length != 0">
              <v-chip
                v-for="condition in entry.unit_condition"
                :key="condition"
                color="info"
                text-color="white">
                {{ condition }}
              </v-chip>
            </template>
            <template v-else>

              <div
                class="light-blue darken-1"
                style="border-radius:5px; margin:2%"
                width="100%">
                <b
                  style="color:#fff;margin-left:40%"
                  class="text-center">No Info Available</b>
              </div>
            </template>
          </v-flex>
        </v-layout>
      </v-card>

      <v-card
        v-if="role == 'Technician Manager'|| role == 'Administrator'"
        class="ma-2 pt-2"
        color="white">
        <v-layout
          row
          wrap>
          <v-flex
            xs12
            md6
            lg6
            class="px-3 pt-4  " >
            

            <v-autocomplete
              :items="branches"
              v-model="task.branch"
              :readonly="role == 'Service CSR'"
              item-text="name"
              item-value="id"
              label="Branch"
              class="pa-1 ma-0 mr-3 "
              height="20"
              required
            />

          </v-flex>
          <v-flex
            xs12
            md6
            lg6
            class="px-3 pt-4  " >

            <v-autocomplete
              :items="$store.state.technicians"
              v-model="assignees"

              item-text="fullname"
              item-value="id"

              label="Assign to"
              class="pa-1 ma-0 mr-3 "
              height="20"
              @change="validate()"

            />

          </v-flex>
        </v-layout>
      </v-card>
      <v-card-actions v-show="edit=== true && STATUS_DONE == false">
        <v-spacer/>
        <v-btn
          color="success darken-1"
          small
          style="float:right"
          @click="validate()">  {{ btnlabel }}</v-btn>
      </v-card-actions>

      <v-dialog
        v-model="issue_etc_dialog"
        persistent
        max-width="500">
        <v-card>
          <v-card-title class="headline">Estimated Time Completion</v-card-title>
          <v-card-text>
            <span class="caption">{{ clickedSelectedIssue }}</span>
            <v-layout wrap>
              <v-flex xs6>
                <v-text-field
                  v-model="estTime.hrs"
                  label="Hrs"
                  type="number"
                  class="pa-1"
                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="estTime.mins"
                  label="Mins"
                  type="number"
                  class="pa-1"
                  max="59"
                />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="estTime.description"
                  label="Description"
                  type="text"
                  class="pa-1"
                />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="estTime.action_to_take"
                  label="Action to take"
                  type="text"
                  class="pa-1"
                />
              </v-flex>
            </v-layout>

          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn
              color="green darken-1"
              flat
              @click="issue_etc_dialog = false, SaveSelectedIssueEst(clickedSelectedIssue)">Save</v-btn>
            <v-btn
              color="green darken-1"
              flat
              @click="issue_etc_dialog = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="fixingTimerDialog"
        max-width="400px"
        persistent>
        <v-card>
          <v-card-title>
            Fix
          </v-card-title>
          <v-form
            ref="fixingForm"
            lazy-validation
          >
            <v-card-text>
              <v-select
                v-model="TimerData.status"
                :items="['FIXED','BROKEN','FIXING']"
                label="Status"
                required
              />
              <v-select
                :items="selected_issue_checklists"
                v-model="TimerData.issue"
                :rules="[v => !!v || 'Item is required']"
                item-text="name"
                label="Issue List"
                item-value="selected_issue_checklists"
                required
              />
              <p class="display-3 text-md-center"> {{ timer }}</p>
              <p class="text-md-center">
                <v-btn
                  color="error"
                  fab
                  small
                  round
                  dark
                  @click="fixValidate()"><v-icon>mdi-play</v-icon></v-btn>
                <v-btn
                  color="error"
                  fab
                  small
                  round
                  dark
                  @click="pauseTimer"><v-icon>mdi-pause</v-icon></v-btn>
                <v-btn
                  color="error"
                  fab
                  small
                  round
                  dark
                  @click="stopTimer"><v-icon>mdi-stop</v-icon></v-btn> </p>
            </v-card-text>
          </v-form>
          <v-card-actions>
            <v-btn
              color="primary"
              flat
              @click="fixingTimerDialog=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="unit_issue_remarks_model"
        max-width="50%"
      >
        <v-card>
          <v-card-text>
            <v-textarea
              v-model="entry.issue"
              filled
              name="input-7-4"
              label="Custom Issues"
            />
          </v-card-text>

          <v-card-actions>
            <v-spacer/>

            <v-btn
              color="green darken-1"
              text
              @click="unit_issue_remarks_model = false"
            >
              Close
            </v-btn>

            <v-btn
              color="green darken-1"
              text
              @click="unit_issue_remarks_model = false"
            >
              Add
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-dialog
                    min-width="30%"
                    min-heigth="15vh"
                    :v-model="unit_issue_remarks_model"
                    >
                    <v-card>

                    </v-card>
                    </v-dialog> -->
      <v-dialog
        v-model="fileUploadDialog"
        width="80%"
        min-heigth="50vh">
        <v-card>
          <v-card-title>
            {{ fileUploadDialogTitle }}
          </v-card-title>
          <service-file-upload
            ref="fileUploaderComponentRef"
            :group-label="imageDefaultLabel"
            module="serviceorder"
            @DialogEvent="finishedUploading"/>
          <v-card-actions>
            <v-btn
              small
              color="warning darken-1"
              flat
              @click="fileUploadDialog=false,$refs.fileUploaderComponentRef.resetUpload()">close</v-btn>
            <v-spacer/>

            <v-btn
              small
              color="green darken-1"
              flat
              @click="$refs.fileUploaderComponentRef.FileUpload()">Upload</v-btn>

          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
      v-model="imageViewer"
      max-width="50vw"
      height="auto">
      <v-card>
        <v-layout
          align-center
          justify-center>
          <v-img
            :src="selectedImage"
            lazy-src="https://picsum.photos/id/11/10/6"
            aspect-ratio="1.7"
            contain
            class="grey lighten-2"
            max-width="50vw"
            heigth="auto"
          />
        </v-layout>
      </v-card>
    </v-dialog>
    </v-card>
  </v-form>
</template>
<script>
import { mapGetters } from 'vuex'
import Vue from 'vue'
import moment from 'moment'
import momentDurationFormatSetup from 'moment-duration-format'
export default {
 
  components: {
  },
  props: {
    edit: {
      type:Boolean,
      default:false
    },
    sodata:{
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data: () => ({
    stores:["Alpalink","Octagon Tagum"],
    storeSettingHolder:{},
    accesoriesSettingHolder:{},
    searchStore:"",
    hideSelectedStore:"",
    selectedImage:"",
    imageViewer: false,
    imageDefaultLabel: '',
    unit_issue_remarks_model: false,
    task: {
      'id':0
      },
    taskTypeItems: ['Repair Walk-in', 'Repair On-Site', 'Installation', 'Other Civil Works'], // temporary
    role: '',
    pause: false,
    stopwatch: false,
    timer: '00:00:00',
    estTime: {},
    issue_etc_dialog: false,
    fixingTimerDialog: false,
    TimerData: {},
    clickedSelectedIssue: '',
    selectedIssueCheckboxModel: [],
    selectedUnitCondition: [],
    selected_issue_checklists: [],
    issue_checklists: [],
    condition_checklists: [],
    assignees: null,
    customerDetailsEntry: {},
    brands: [],
    categories: [],
    entry: {
      instore_purchased: false,
      unit_condition: []
    },
    setbrand: '',
    setproduct_model: '',
    setcategory: '',
    warranty: '',
    warrantyItems: ['In Warranty', 'W/O Warranty', 'CID'],
    inStorePurchased: false,
    newCustomer: false,
    customer: '',
    issue: '',
    newCustomerId: '',
    additional_accesories_items: [],
    additional_accesories_model: [],
    search: null,
    additional_accesories_checklist: [],
    fileUploadDialog: false,
    fileUploadDialogTitle: '',
    dop_menu: false,
    searchTechnicians: null,
    Pop: false,
    branches: []

  }),
  computed: {
    PREVIEWPOP () {
      console.log(this.entry.attachment)
     
      let pop = this.entry.attachment.map(item => {
                return JSON.parse(item)
              })
      let result = pop.filter(item => item.label == "POP")
    
      return  result
     // return this.$fileserver + parseImages[0].path
    },
    STATUS_DONE () {
      if (this.sodata != null && this.sodata != undefined) {
        let result = ''
        if (this.sodata.status_id == this.$store.state.taskStatus.length) { result = true } else { result = false }

        return result
      }
    },
    inWarrantyReqRule () {
      if (this.entry.warranty_status === 'In Warranty') { return [v => !!v || 'required'] } else ''
    },
    serialNumReqRule () {
      if (this.entry.warranty_status == 'In Warranty') { return [v => !!v || 'Serial number is required'] }
      
    },
    issue_btn_label () {
      if (this.entry.issue != '' && this.entry.issue != undefined) { return 'View Issues' } else { return 'Add Issues' }
    },
    // btnlabel () {
    //   let label
    //   this.edit == 'true' ? label = 'Save' : label = 'Add'
    //   console.log("edit:"+this.edit)
    //   return label
    // },

    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      if (this.edit == true) {
        this.loadData()
      }

      return label
    }

  },
  watch: {
    
    edit () {
      if (this.edit == true) {
        this.loadData()
      }
    },
    // entry(){
    //   if(entry.attachment){

    //   }
    // },

    fileUploadDialog () {
      if (this.fileUploadDialog == false) {
        this.CheckPopAttachment()
      }
    },
    fixingTimerDialog () {
      if (!this.fixingTimerDialog) {
        (this.stopwatch != false) ? clearInterval(this.stopwatch) : ''
      }
    },
    customer () {
      if (!this.customer) return []
      // console.log(Object(this.customer))
      this.customerDetailsEntry = Object(this.customer)
      return Object(this.customer)
    }

  },
  updated: function () {
    this.$nextTick(function () {

    })
  },
  mounted () {
    this.$nextTick(function () {
      this.getBrands()
      this.getCategories()
      this.GetChecklist()
      if (!this.$session.exists()) {
        console.log('sessiong not exist')
        // this.$router.push('/')
      } else {
        this.role = this.$session.get('role')
        this.task.branch = this.$session.get('branch')
      }
    })
  },
  created () {
    this.$nextTick(function () {
      this.getBranches()
    })
  },
  methods: {
    isStoreNew(){
    
       if(this.entry.store_source != null  ){
          let result = this.stores.includes(this.entry.store_source)
          if(result == false){
              this.stores.push(this.entry.store_source)
              this.SaveSetting("stores")
          }else{
           // alert("found")
          }
       }
      
    },
     isAccessoriesNew(){
       if(this.entry.additional_accessories != null  ){
          let result = [...new Set([...this.additional_accesories_items, ...this.entry.additional_accessories])]
         
          if(result != this.additional_accesories_items){
              this.additional_accesories_items=result
              this.SaveSetting("accessories")
          }else{
           // alert("found")
          }
       }
      
    },
    
    getNextId(){
      
       this.$http.post('service_order/nextid').then(response => {
         if(response.data.status){
           this.task= {
             "id":response.data.data.id,
              "branch":this.$session.get('branch')}
           console.log(response.data.data.id)
         }
      }).catch(e => {
        console.log(e.data)
      })
    },
    getItemBySerial () {
      console.log("getItemBySerial trigered")
      this.setproduct_model = ''
      this.setbrand = ''
      this.setcategory = ''
      this.$http.post('product/get_serial', { serial: this.entry.serial_number }).then(response => {
        // console.log(response.data.item)
        this.setbrand = response.data.item.brand
        this.setproduct_model = response.data.item.model
        this.setcategory = response.data.item.category_name

        this.entry.brand = response.data.item.brand
        this.entry.product_model = response.data.item.model
        this.entry.category = response.data.item.category_name
      }).catch(e => {
        console.log(e.data)
      })
    },
    loadData () {
      console.log("loadData")
      console.log(this.sodata)
      this.task.id=this.sodata.id
      this.task.type = this.sodata.type
      this.task.branch = this.sodata.branch
      if (this.sodata.issue != null && this.sodata.issue != undefined) {
        var temp = this.sodata.issue
        console.log(temp)
        this.selected_issue_checklists = temp
      } else {
        this.selected_issue_checklists = []
      }
      this.entry = this.sodata.Machine
      this.setbrand = this.entry.brand
      this.setproduct_model = this.entry.product_model
      this.setcategory = this.entry.category

      if (this.sodata.Machine.unit_condition != null) { this.selectedUnitCondition = this.sodata.Machine.unit_condition }

      this.customerDetailsEntry = this.$store.getters.getCustomer(this.sodata.customer_id)[0]
      //   console.log(this.$store.getters.getCustomer(this.sodata.customer_id)[0])
      this.issue = this.sodata.issue
      // this.assignees = this.$store.getters.getUser(this.sodata.assignee_id)[0]
      this.assignees = this.sodata.assignees
      let checklistName = []
    },
    openNewTaskForm () {
      // alert(this.$session.get('branch'))
      this.getNextId()
     // this.task.branch = this.$session.get('branch')
    },
    getBranches () {
      this.branches = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.branches = response.data.data : console.log()
        
      }).catch(e => {
        console.log(e.data)
      })
    },
    CheckPopAttachment () {
      console.log(this.entry.attachment)
      if (this.entry.attachment != null && this.entry.attachment != [] && this.entry.attachment != undefined) {
        var parseImages = this.entry.attachment.map(item => {
          return JSON.parse(item)
        })
        console.log(parseImages)
        var checkPOP = parseImages.filter(element => element.label == 'POP')
        console.log(checkPOP)
        if (checkPOP.length == 0) {
          this.entry.warranty_status = null
        }
      } else { this.entry.warranty_status = null }
    },
    CheckWarrantyChoice (warranty) {
      if (warranty == 'In Warranty') {
        this.$refs.fileUploaderComponentRef.resetUpload()
        this.fileUploadDialog = true
        this.fileUploadDialogTitle = 'Upload Proof of Purchase image'
        this.imageDefaultLabel = 'POP'
      }
    },
    validate () {
      if (this.$refs.form.validate()) {
        this.edit === true ? this.SaveTask()
          : this.$emit('validatedByChild')
      }
    },
    fixValidate () {
      if (this.$refs.fixingForm.validate()) {
        this.startTimer()
      }
    },
    snackbar (msg, color) {
      this.$store.state.alertMessage = msg
      this.$store.state.snackbarcolor = color
      this.$store.state.snackbar = true
      setTimeout(() => {
        this.$store.state.snackbar = false
      }, 2000)
    },
    stopTimer () {
      console.log('stopTimer clicked')
      clearInterval(this.stopwatch)
      var pos = this.selected_issue_checklists.map((issue) => issue.name).indexOf(this.TimerData.issue)
      var oldactualtime = this.selected_issue_checklists[pos].actual_time
      // var totalSecs = moment(oldactualtime,'HH:mm:ss').get('second') + moment(this.timer,'HH:mm:ss').get('second')
      // var totalMins = moment(oldactualtime,'HH:mm:ss').get('minute') + moment(this.timer,'HH:mm:ss').get('minute')
      // var totalHours = moment(oldactualtime,'HH:mm:ss').get('hour') + moment(this.timer,'HH:mm:ss').get('hour')
      // var newActualTime = totalHours+":"+totalMins+":"+totalSecs
      var oldTimeinseconds = moment.duration(oldactualtime).asSeconds()
      //  console.log(oldTimeinseconds)
      var input = moment.duration(this.timer).asSeconds()
      //  console.log(input)
      var total = moment.duration(input, 'seconds').add(oldTimeinseconds, 'second')
      // console.log(total)
      var newActualTime = moment.duration(total, 'seconds').format('HH:mm:ss', {
        trim: false
      })
      // console.log(newActualTime)
      this.selected_issue_checklists[pos].actual_time = newActualTime
      this.selected_issue_checklists[pos].status = this.TimerData.status
      this.timer = '00:00:00'
      this.$forceUpdate()
      this.stopwatch = false
    },
    resetTimer () {
      console.log('reset clicked')
      clearInterval(this.stopwatch)
      this.timer = '00:00:00'
    },
    pauseTimer () {
      this.pause = true
      clearInterval(this.stopwatch)
      this.stopwatch = false
    },

    startTimer () {
      let startTime = '00:00:00'
      if (this.pause == true) {
        clearInterval(this.stopwatch)
        this.pause = false
        // console.log(this.timer)
        var continuetime = this.timer
        startTime = moment(continuetime.toString(), 'HH:mm:ss')
      } else {
        startTime = moment(new Date()).hours(0).minutes(0).seconds(0)
      }
      if (this.stopwatch == false) {
        this.stopwatch = setInterval(() => {
          if (!this.pause) {
            startTime.add(1, 'seconds')
            this.timer = moment(startTime).format('HH:mm:ss')
            // console.log(this.timer)
          }
          // console.log("interval still working")
        }, 1000)
      }
    },

    getCustomerInfo (id) {
      let customer = this.$store.getters.getCustomer(id)
      return customer
    },

    SaveTask (attachments) {
      let So_logs = { data: [] }
      if (attachments != undefined) {
        (this.entry.attachment == null) ? this.entry.attachment = [] : ''
        this.entry.attachment = this.entry.attachment.concat(attachments)
      }
      let updateTask = {}
      updateTask.id = parseInt(this.sodata.id)
      this.entry.unit_condition = this.selectedUnitCondition
      this.entry.brand=this.setbrand
      this.entry.product_model=this.setproduct_model
      this.entry.category=this.setcategory
      updateTask.Machine = this.entry
      updateTask.issue = this.selected_issue_checklists
      updateTask.assignees = this.assignees
      updateTask.branch = this.task.branch
      if (this.sodata['assignees'] == updateTask['assignees']) {} else {
        console.log(this.sodata['assignees'])
        if (this.sodata['assignees'] != '' && this.sodata['assignees'] && null && this.sodata['assignees'] != undefined) { So_logs.data.push('Asignee updated from ' + this.getUser(this.sodata['assignees']).fullname + ' to ' + this.getUser(updateTask['assignees']).fullname) } else { So_logs.data.push('Service Order ' + this.sodata['id'] + ' assigned to ' + this.getUser(updateTask['assignees']).fullname) }
      }
      this.sodata['issue'] == updateTask['issue'] ? '' : So_logs.data.push('Issue Remarks updated from ' + this.sodata['issue'] + ' to ' + updateTask['issue'])
      //  for (let key in this.sodata.Machine) {

      //      let value = this.sodata.Machine[key]
      //   }
      let SoEntry = { 'service_order': updateTask, 'log': JSON.stringify(So_logs) }
      console.log(SoEntry)
      this.$http.post('service_order/update', SoEntry).then(response => {
        // console.log(response.data)
        if (response.data.status) {
          this.$store.dispatch('GET_SELECTED_SO_LOGS', updateTask.id)
         this.$emit('GetTasks',"")
          this.$store.state.newFormTask = false
          // this.resetItem()
          this.snackbar('Task Saved!', 'success')
          this.estTime = {}
        } else {
          this.snackbar('Task not Saved!', 'error')
        }
      }).catch(e => {
        console.log(e)
      })
    },
    resetItem () {
      this.customer = ''
      this.task = {}
      this.entry = {}
      this.customerDetailsEntry = {}
      this.warranty = false,
      this.inStorePurchased = false,
      this.newCustomer = false,
      this.selected_issue_checklists = []
      this.issue = ''
      this.assignees = null
      this.selectedIssueCheckboxModel = []
      this.selectedUnitCondition = []
    },
    AddTask () {
       
      let newtask = {}

      // if( attachments != undefined){
      //   (this.entry.attachment == null)?this.entry.attachment=[]:""
      //    this.entry.attachment=this.entry.attachment.concat(attachments)
      // }
      newtask.id=this.task.id
      this.entry.unit_condition = this.selectedUnitCondition
      this.entry.brand=this.setbrand
      this.entry.product_model=this.setproduct_model
      this.entry.category=this.setcategory
      newtask.machine = this.entry
      newtask.status_id = 1
      // newtask.issue = this.issue
      newtask.issue = this.selected_issue_checklists
      console.log(this.assignees)
      newtask.assignees = this.assignees
      newtask.type = this.task.type
      newtask.branch = this.task.branch
      console.log(newtask.machine)
      if (this.newCustomer == true) {
        var newCustomerCreateSo = {}
        newCustomerCreateSo.service_order = newtask
        this.customerDetailsEntry.status = 'active'
        newCustomerCreateSo.new_customer = this.customerDetailsEntry
        console.log(newCustomerCreateSo)
        this.$http.post('service_order/new_customer_create_so', newCustomerCreateSo).then(response => {
          // console.log(response.data)

          if (response.data.status) {
            this.isStoreNew()
            this.isAccessoriesNew()
            this.$store.dispatch('GET_CUSTOMERS')
            this.$emit('GetTasks',"")
            this.$emit('CloseNewTaskForm')
            this.resetItem()
            this.snackbar('Task Saved!', 'success')
          } else {
            this.snackbar('Task not Saved!', 'error')
          }
        }).catch(e => {
          console.log(e)
        })
      } else {
        newtask.customer_id = this.customer.id
        console.log(newtask)
        this.$http.post('service_order/new', newtask).then(response => {
          console.log(response.data)
          if (response.data.status) {
             this.isStoreNew()
             this.isAccessoriesNew()
             this.$emit('GetTasks',response.data.data)
            this.$emit('CloseNewTaskForm')
            this.resetItem()
            this.snackbar('Task Saved!', 'success')
          } else {
            this.snackbar('Task not Saved!', 'error')
          }
        }).catch(e => {
          console.log(e)
        })
      }
    },

    getBrands () {
      this.brands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.brands = response.data.data.brands : console.log()
        // console.log(response.data.data )
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'All' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : console.log()
        // console.log(response.data.data )
      }).catch(e => {
        console.log(e.data)
      })
    },
    getEstTime (issue) {
      var selectedIssue = this.getIssue(issue)
      return selectedIssue
    },
    getIssue (issue) {
      var result = ''
      if (this.selected_issue_checklists != null) {
        var res = this.selected_issue_checklists.filter(checklist => checklist.name == issue)
        res.length > 0 ? result = res : result = 'wala'
        return result
      } else {
        return 'empty'
      }
    },
    SaveSelectedIssueEst (issue) {
      var issueEntry = {}
      var mins = ''
      var hrs = '';
      (this.estTime.mins) ? (mins = this.estTime.mins) : (mins = '00');
      (this.estTime.hrs) ? hrs = this.estTime.hrs : (hrs = '00')
      // (this.estTime.mins) ? ((this.estTime.mins >1 ) ? mins=this.estTime.mins + "mins":mins=this.estTime.mins + "min"):( mins="0 min");
      // (this.estTime.hrs) ? ( (this.estTime.hrs > 1)? (hrs=this.estTime.hrs +"hrs"):(hrs=this.estTime.hrs +"hr") ): ( hrs="0 hr")
      issueEntry.description = this.estTime.description
      issueEntry.action_to_take = this.estTime.action_to_take
      issueEntry.name = issue
      issueEntry.actual_time = '00:00:00'
      issueEntry.status = 'BROKEN'
      issueEntry.estimated_time = hrs + ':' + mins + ':00'
      console.log(issueEntry)
      console.log(this.selected_issue_checklists)
      if (this.selected_issue_checklists != null) { this.selected_issue_checklists.push(issueEntry) } else {
        this.selected_issue_checklists = []
        this.selected_issue_checklists.push(issueEntry)
      }
    },
    etcDialog (clickedIssue) {
      if (this.selectedIssueCheckboxModel != null) {
        var findIssue = this.selectedIssueCheckboxModel.filter(checklist => checklist.name == clickedIssue)
        findIssue.length > 0 ? (this.issue_etc_dialog = true, this.clickedSelectedIssue = clickedIssue) : ''
      }
    },
    getUser (id) {
      if (id != '') {
        return this.$store.getters.getUser(id)[0]
      }
    },
    SaveSetting (setting) {
      var entry = {}
      if (setting == 'stores') {
        this.storeSettingHolder.data = this.stores
        entry = this.storeSettingHolder
      }
      if (setting == 'accessories') {
        this.accesoriesSettingHolder.data = this.additional_accesories_items
        entry = this.accesoriesSettingHolder
      }
      console.log(entry)
      this.$http.post('service_settings/update', entry).then(response => {
        console.log(response.data)
        if (response.data.status) {
          console.log('save stores')
         
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    },
    GetChecklist () {
      this.$http.post('service_settings/list').then(response => {
        //  console.log(response.data)
        if (response.data.status) {
         
          this.accesoriesSettingHolder=response.data.data.filter(setting => setting.name == 'accessories')[0]
          this.additional_accesories_items=this.accesoriesSettingHolder.data
          this.storeSettingHolder=response.data.data.filter(setting => setting.name == 'stores')[0]
          this.stores=this.storeSettingHolder.data
          var checklist = response.data.data.filter(setting => setting.name == 'checklist')
          var checklist = checklist[0].data
          var conditions = response.data.data.filter(setting => setting.name == 'unit_conditions')
          var conditions = conditions[0].data
          for (var x = 0; x < checklist.length; x++) {
            this.issue_checklists.push({ 'name': checklist[x] })
          }
          for (var y = 0; y < conditions.length; y++) {
            this.condition_checklists.push({ 'name': conditions[y] })
          }
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    },
    finishedUploading (imageJson) {
      if (imageJson != undefined) {
        (this.entry.attachment == null) ? this.entry.attachment = [] : ''
        this.entry.attachment = this.entry.attachment.concat(imageJson)
        this.fileUploadDialog=false
        this.$refs.fileUploaderComponentRef.resetUpload()
      }
    },
    loadSelectedIssueChecklist () {
      if (this.sodata.issue_checklist != null && this.sodata.issue_checklist != undefined) {
        this.selected_issue_checklists = this.sodata.issue_checklist
        console.log(this.selected_issue_checklists)
      }
    },
  }
}
</script>
<style>
#checklist {

}
.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
 @media print {
    body * {
        visibility: hidden;
    }
      #print-content{
        width:100%;
        margin:0px;
      }
    #print-content * {
        visibility: visible;
    }

 }
</style>
