<template>
  <v-dialog
    v-model="showViewTask"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition">
    
    <v-card
   
      style="border-radius:0px">
        <!-- v-if="isEmptyObject(sodata) == false"-->
      <v-layout
        row
        wrap>
        <!-- <v-flex
          xs1
          class="d-flex align-end flex-column">
          <div>

          </div>
        </v-flex> -->
        <v-flex
          xs12
          md6
          lg6
          class="subheading font-weight-regular ml-3  pa-1">
          <v-icon
            style="float:left; font-size:1.5em;"
            color="warning"
            title="Edit"
            class="pa-1"
            @click="closeViewTask(), edit=false,ClearActionlist()">mdi-close-box</v-icon>

          Service Order#: {{ sodata.id }}
          <!-- <span class="ml-5"> Status :
            <span
              :style="'border-bottom: 2px solid '+status.color"
              class=" "
            >
              {{ status.name }}
            </span>
          </span> -->
        </v-flex>
        <v-flex
          xs12
          md5
          lg5
          class="subheading font-weight-regular ml-3  pa-1">
          <span style="float:right;">
            <v-icon class="heading " >mdi-calendar-clock</v-icon> {{ elapsedTime }}
          </span>
        </v-flex>

      </v-layout>
      <v-divider/>
      <v-layout
        row
        wrap
        fill-height>

        <v-flex
          md6
          class="mr-0 pr-0">

          <service-task-info-form
            ref="taskFormRef"
            :sodata="sodata"
            :edit = "showViewTask"
            style="min-height:90vh;"
            class="elevation-1 mr-0 pr-0 "
            @GetTasks="updateTasks"
          />

        </v-flex>
        <v-flex
          xs12
          md6
          lg6>
          <!-- <purchases class="ml-0 pl-0" style="height:45vh;"></purchases> -->

          <v-layout wrap>
            <v-flex
              md6
              lg6
              xs12>
              <service-actions
                ref="actionComponentRef"
                :sodata="sodata"

                :view-task="showViewTask"
                style="height:40vh;"
                class="ma-0 pa-0" />
            </v-flex>
            <v-flex
              md6
              lg6
              xs12>
              <v-card class=" pa-0 mt-2 mr-3">
                <service-purchases
                  ref="purchaseRefComponent"
                  :sodata="sodata"
                  :view-task="showViewTask"
                  class=" pa-0 ma-0 "
                  style="height:40vh; overflow-y:scroll;"/>
              </v-card>
            </v-flex>
          </v-layout>
          <v-flex class="pa-3" >
            <v-btn
            
              color="info"
              small
              class="pa-0 mx-2"
              style="min-width:22%;"
              @click="openPrintSo=true"
            >
              PRINT S.O.
              <v-icon>mdi-printer</v-icon>
            </v-btn>
            <!-- <v-btn
              v-if="STATUS_DONE == true"
              color="blue"
              small
              class="pa-0 mx-2"
              style="min-width:22%;"
              @click="openCheckout=true"
            >
              PRINT INVOICE
              <v-icon>mdi-receipt</v-icon>
            </v-btn> -->

            <v-btn
              v-if="STATUS_DONE == true && role == 'Technician Manager'"
              color="orange"
              small
              class="pa-0 mx-2"
              style="min-width:22%;"
              @click="openDiscount=true"
            >
              <v-icon>mdi-plus</v-icon>
              DISCOUNT
            </v-btn>

            <v-btn
              v-if="STATUS_DONE == true"
              color="success darken-1"
              small
              class="pa-0 mx-2"
              style="min-width:25%;"
              @click="openCheckout=true"
            >
              PAYMENT CHECKOUT
              <v-icon>mdi-checkbox-multiple-marked-outline</v-icon>
            </v-btn>
          </v-flex>
          <service-comments
            :view-task="showViewTask"
            :commentsData="comments"
            :soid="sodata.id"
            :style="'height:'+commentHeight"/>

        </v-flex>
        <!-- view for technician and csr -->
        <!-- <v-flex v-else  xs12 md6 lg6>
              <v-layout  wrap>
                <v-flex md6 lg6 xs12>
                   <actions  :so_data="$store.getters.getServiceOrder($store.state.selectedSO)[0]" ref="actionComponentRef" class="ma-0 pa-0" ></actions>
                </v-flex>
                <v-flex md6 lg6 xs12>
                  <v-card class="ma-0 pa-0 mt-2">
                    <purchases class=" pa-0 ma-0" style="height:47vh;"></purchases>
                  </v-card>
                </v-flex>
              </v-layout>

            </v-flex> -->

        <!-- eof  -->
        <v-flex
          v-if="role == 'Technician Manager'|| role == 'Administrator'"
          md12>
          <v-layout wrap>
            <v-flex
              xs12
              md8
              lg8>
              <v-card class="ma-0 pa-0 mt-2">
                <div class=" pa-1 pl-2 mt-2">
                  <span
                    style="float:left"
                    class="body-2">Attachments   </span>
                </div>
                <service-attachments :sodata="sodata" :view="showViewTask" />
              </v-card>
            </v-flex>
            <v-flex
              xs12
              md4
              lg4>
              <service-task-history
                :soid="sodata.id"
                :view-task="showViewTask" />
            </v-flex>
          </v-layout>
        </v-flex>

      </v-layout>

    </v-card>
    <v-dialog
      v-model="fileUploadDialog"
      width="50%"
      min-heigth="50vh">
      <v-card>
        <service-file-upload
          ref="fileUploaderComponentRef"
          module="serviceorder"
          @DialogEvent="finishedUploading"/>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="fileUploadDialog=false,$refs.fileUploaderComponentRef.resetUpload()">close</v-btn>
          <v-spacer/>

          <v-btn
            small
            color="green darken-1"
            flat
            @click="$refs.fileUploaderComponentRef.FileUpload()">Upload</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
    <service-pay
      :sodata="sodata"
      :soactions="sodata.Action"
      :selected-so-id="sodata.id"
      :show="openCheckout"
      @DialogEvent="CheckoutDone"/>
    <service-discount
      :sodata="sodata"
      :show="openDiscount"
      @DialogEvent="DiscountDone"/>
    <service-print
      :so_id="sodata.id"
      :show="openPrintSo"
      @DialogEvent="PrintDone"/>
  </v-dialog>

</template>
<script>
import { mapGetters } from 'vuex'
export default {
  components: {
  },
  props: {
    showViewTask: {
      type: Boolean,
      default: false
    },
    sodata: {
      type: Object,
      default: function () {
        return {}
      }
    },
    status: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    openDiscount: false,
    openCheckout: false,
    openPrintSo: false,
    edit: true,
    selectedTask: {},
    customerDetailsEntry: {},
    entry: {},
    warranty: false,
    inStorePurchased: false,
    newCustomer: false,
    customer: '',
    fileUploadDialog: false,
    role: '',
    comments: [],
    STATUS_DONE: false
  }),
  computed: {

    commentHeight () {
      if (this.STATUS_DONE == false) {
        return '45vh'
      } else { return '30vh' }
    },

    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },

    timeline () {
      return this.events.slice().reverse()
    },
    elapsedTime () {
      let created = this.$moment(this.sodata.created)
      let finished_date = this.$moment(this.sodata.finished_date)
      let today = this.$moment(new Date())
      let result = ''
      if (this.sodata.finished_date == '0001-01-01T00:00:00Z' || this.sodata.finished_date == null) {
        result = today.diff(created, 'days') + 1
      } else {
        result = finished_date.diff(created, 'days') + 1
      }
      if (result > 1) {
        return result + ' Days'
      } else {
        return result + ' Day'
      }
    }
  },
  watch: {
    showViewTask () {
      if (this.showViewTask == true) {
        if (this.sodata.status_id == this.$store.state.taskStatus.length) {
          console.log(this.sodata.status_id + ' = ' + this.$store.state.taskStatus.length)
          this.STATUS_DONE = true
        } else {
          this.STATUS_DONE = false
          console.log(this.sodata.status_id + ' != ' + this.$store.state.taskStatus.length)
        }

        this.getComments()
        // alert("showVietask true")
        //  this.$refs.purchaseRefComponent.getPurchaseItems()
        // this.$refs.actionComponentRef.LoadActions()
      } else {
        this.comments = []
        // this.$refs.purchaseRefComponent.clearParts()
        // this.ClearActionlist()
      }
    },
    show () {
      if (this.show == true) {

        //   this.$refs.actionComponentRef.getActionList()
      }
    }
  },
  created () {

  },
  mounted () {
    this.$nextTick(function () {
      if (!this.$session.exists()) {
        console.log('sessiong not exist')
        // this.$router.push('/')
      } else {
        this.role = this.$session.get('role')
      }
    })
  },
  methods: {
    isEmptyObject (itemObject) {
      return Object.keys(itemObject).length === 0 && itemObject.constructor === Object
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.SaveTask() : this.AddTask() }
    },

    getCustomerInfo (id) {
      let customer = this.$store.getters.getCustomer(id)
      return customer
    },

    finishedUploading (mediaUrl) {
      console.log(mediaUrl)
      this.$refs.taskFormRef.SaveTask(mediaUrl)
    },
    ClearActionlist () {
      this.$refs.actionComponentRef.ClearActions()
    },
    CheckoutDone (e) {
      this.openCheckout = false
    },
    DiscountDone (e) {
      this.openDiscount = false
    },
    closeViewTask () {
      // this.$refs.taskFormRef.resetItem()
      this.$emit('CloseViewTask')
    },
    PrintDone () {
      this.openPrintSo = false
    },
    getComments () {
      var req = { so_id: this.sodata.id }
      this.$http.post('service_order_comment/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          response.data.data != null ? this.comments = response.data.data : console.log('null')
        }
      }).catch(e => {
        console.log(e)
      })
    },
    updateTasks(){
      this.$emit('GetTasks',"")
    }

  }
}
</script>
<style>

</style>
