<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-file-import</v-icon> Consignments</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <router-link :to="{ name: 'View Consignment', params: { id: props.item.id }}">
                <v-icon
                  small
                  class="mr-1"
                  color="success">mdi-open-in-new</v-icon>
              </router-link>
              {{ props.item.id }}</td>
            <td>{{ props.item.supplier_name }}</td>
            <td>{{ props.item.description }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <td>{{ props.item.status }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">New Consignment</span>
          <span
            v-else
            class="headline">Edit Consignment</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-autocomplete
              :items="suppliers"
              v-model="entry.supplier"
              label="Select supplier"
              item-text="name"
              item-value="id"
            />
            <v-text-field
              v-model="entry.description"
              label="Description/Purpose"/>
            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-container>

</template>

<script>
import { filter } from 'minimatch'
import { setTimeout } from 'timers'
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'No.',
        value: 'id'
      },
      {
        text: 'Supplier',
        value: 'supplier_name'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Date',
        value: 'created'
      },
      {
        text: 'Status',
        value: 'status'
      }
    ],
    entry: {},
    branchlists: [],
    events: [],
    suppliers: [],
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getItems () {
      this.items = []
      this.$http.post('consignment/query', { method: 'list' }).then(response => {
        response.data.consignments != null ? this.items = response.data.consignments : this.items = []
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    },

    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : this.suppliers = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.$http.post('consignment/update', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      console.log(this.entry)
      this.$http.post('consignment/new', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getItems()
        this.dialog = false
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
