<template>
  <v-container
    id="nomargintoolbar"
  >
    <v-layout
      wrap
    >
      <v-flex
        sm3
        class="pa-1">
        <material-stats-card
          :value="$money(TOTALAMOUNT)"
          color="purple"
          icon="mdi-note-multiple"
          title="Total Issued"
        />
      </v-flex>
      <v-flex
        sm3
        class="pa-1">
        <material-stats-card
          :value="$money(TOTALAMOUNTREADY)"
          color="#0CB4C9"
          icon="mdi-file"
          title="Ready"
        />
      </v-flex>
      <v-flex
        sm3
        class="pa-1">
        <material-stats-card
          :value="$money(TOTALAMOUNTCLAIMED)"
          color="green"
          icon="mdi-checkbox-multiple-marked"
          title="CLAIMED"
        />
      </v-flex>
      <v-flex
        sm3
        class="pa-1">
        <material-stats-card
          :value="$money(TOTALAMOUNTCANCELLED)"
          color="#FD9912"
          icon="mdi-cancel"
          title="CANCELLED"
        />
      </v-flex>
    </v-layout>
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>far fa-edit</v-icon> Credit Memos</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-autocomplete
            v-model="by_supplier"
            :items="suppliers"
            item-text="name"
            item-value="id"
            label="Supplier"
            @change="filterItem"
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}, selectedSupplier={}"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="dataItems"
          :search="search"
        >

          <template v-slot:items="props">
            <td>
              <v-icon
                color="warning"
                class="mr-1"
                small
                @click="dialog=true, edit=true, entry=props.item, setSupplier()">mdi-pencil</v-icon>
              {{ supplier_name(props.item.supplier) }}
              <small
                class="ml-1"
                style="color: #0CB4C9;"> {{ aging(props.item) }}</small>
            </td>
            <td>{{ props.item.reference_no }}</td>
            <td>{{ props.item.applied_to_po }}</td>
            <td>{{ props.item.description }} <br >
              <router-link :to="{ name: 'View Purchase', params: { id: props.item.source_pr }}"> REF. P.O: {{ props.item.source_po }}</router-link>

            </td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.amount }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <td>
              <v-chip
                v-if="props.item.status == 'Ready'"
                small
                color="info"
                dark>{{ props.item.status }}</v-chip>
              <v-chip
                v-if="props.item.status == 'Claimed'"
                small
                color="success"
                dark>{{ props.item.status }}</v-chip>
              <v-chip
                v-if="props.item.status == 'Cancelled'"
                small
                dark>{{ props.item.status }}</v-chip>
            </td>
          </template>
          <!-- <template slot="footer">
              <td :colspan="2" class="text-xs-left subheading">Claimed: {{ $money(TOTALAMOUNTCLAIMED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Ready: {{ $money(TOTALAMOUNTREADY) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Cancelled: {{ $money(TOTALAMOUNTCANCELLED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Total: {{ $money(TOTALAMOUNT) }} </td>
           </template> -->
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-autocomplete
              v-model="selectedSupplier"
              :items="suppliers"
              :rules="[v => !!v || 'Supplier is required']"
              item-text="name"
              item-value="id"
              label="Select Supplier"
              return-object
              required
            />

            <v-autocomplete
              v-model="entry.type"
              :items="['Marketing', 'Refund']"
              :rules="[v => !!v || 'Type is required']"
              label="Type"
              required
            />

            <v-text-field
              v-model="entry.reference_no"
              label="Reference No."/>

            <!-- <v-text-field
              v-model="entry.applied_to_po"
              label="Applied to P.O."/> -->

            <v-text-field
              v-model="entry.description"
              label="Description"/>

            <v-text-field
              v-model="entry.amount"
              :rules="[v => !!v || 'Amount is required']"
              required
              label="Amount"/>

            <v-autocomplete
              v-model="entry.status"
              :items="['Ready', 'Claimed', 'Cancelled']"
              :rules="[v => !!v || 'Status is required']"
              label="Status"
              required
            />

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            v-if="entry.status == 'Ready'"
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    by_supplier: '',
    edit: false,
    newpassword: '',
    selectedSupplier: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',

    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Supplier',
        value: 'supplier'
      },
      {
        text: 'Ref No.',
        value: 'reference_no'
      },
      {
        text: 'Applied to P.O.',
        value: 'applied_to_po'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Type',
        value: 'type'
      },
      {
        text: 'Amount',
        value: 'amount'
      },
      {
        text: 'Issued Date',
        value: 'created'
      },
      {
        text: 'Status',
        value: 'Status'
      }
    ],
    entry: {},
    items: [],
    dataItems: [],
    suppliers: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    TOTALAMOUNT () {
      let total = 0
      for (let i = 0; i < this.dataItems.length; i++) {
        total += parseFloat(this.dataItems[i].amount)
      }
      return total
    },
    TOTALAMOUNTCLAIMED () {
      let total = 0
      for (let i = 0; i < this.dataItems.length; i++) {
        if (this.dataItems[i].status == 'Claimed') { total += parseFloat(this.dataItems[i].amount) }
      }
      return total
    },
    TOTALAMOUNTREADY () {
      let total = 0
      for (let i = 0; i < this.dataItems.length; i++) {
        if (this.dataItems[i].status == 'Ready') { total += parseFloat(this.dataItems[i].amount) }
      }
      return total
    },
    TOTALAMOUNTCANCELLED () {
      let total = 0
      for (let i = 0; i < this.dataItems.length; i++) {
        if (this.dataItems[i].status == 'Cancelled') { total += parseFloat(this.dataItems[i].amount) }
      }
      return total
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
  },
  methods: {
    aging (item) {
      if (item.status != 'Claimed' && item.status != 'Cancelled' && item.type != 'Marketing') { return this.$moment(item.created).fromNow() } else { return '' }
    },
    filterItem () {
      var items = []
      console.log(this.by_supplier)
      for (let i = 0; i < this.items.length; i++) {
        if (this.by_supplier == this.items[i].supplier) {
          items.push(this.items[i])
        }
      }
      this.dataItems = items
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    setSupplier () {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (this.entry.supplier == this.suppliers[i].id) {
          this.selectedSupplier = this.suppliers[i]
          break
        }
      }
    },
    supplier_name (id) {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (id == this.suppliers[i].id) {
          return this.suppliers[i].name
        }
      }
    },
    getItems () {
      this.items = []
      this.dataItems = []
      this.$http.post('credit_memo/list', JSON.stringify({ method: 'all' })).then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
        this.dataItems = this.items
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.entry.supplier = parseInt(this.selectedSupplier.id)
      this.$http.post('credit_memo/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'info'
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.entry.supplier = parseInt(this.selectedSupplier.id)
      this.$http.post('credit_memo/new', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
