<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-account-group</v-icon> Payables</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <!-- <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-account-plus-outline</v-icon></v-btn> -->
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <router-link
                :to="{ name: 'View Purchase', params: { id: props.item.reference_pr }}"
                title="View Purchase"><v-icon
                  color="warning"
                  class="mr-2"
                  small
                  @click="dialog=true">mdi-open-in-new</v-icon></router-link>

              {{ props.item.company }} - <small>{{ props.item.contact_person }}</small></td>
            <td>{{ props.item.reference_po }}</td>
            <td>{{ $money(props.item.amount) }}</td>
            <td>{{ props.item.term }}</td>
            <td>{{ props.item.status }} <br > <small style="color: #044771">{{ $moment(props.item.last_update).fromNow() }}</small></td>
            <td>{{ props.item.invoice }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-pencil</v-icon>
          <span
            class="headline">Update Payables</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-text-field
              v-model="entry.company"
              :rules="[v => !!v || 'Company is required']"
              label="Company Name *"
              required/>

            <v-text-field
              v-model="entry.address"
              label="Address"/>
            <v-text-field
              v-model="entry.contact_person"
              :rules="[v => !!v || 'Contact is required']"
              required
              label="Contact Person*"/>

            <v-text-field
              v-model="entry.contact_number"
              :rules="[v => !!v || 'Number is required']"
              required
              label="Contact Number*"/>

            <v-text-field
              v-model="entry.email"
              :rules="[v => !!v || 'Number is required']"
              required
              label="Email*"/>
            <v-text-field
              v-model="entry.tin"
              label="T.I.N"/>
            <v-text-field
              v-model="entry.remarks"
              label="Remarks"/>

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Supplier',
        value: 'company'
      },
      {
        text: 'Ref. P.O.',
        value: 'reference_po'
      },
      {
        text: 'Amount',
        value: 'amount'
      },
      {
        text: 'Term',
        value: 'term'
      },
      {
        text: 'Status',
        value: 'status'
      },
      {
        text: 'Invoice',
        value: 'invoice'
      }
    ],
    entry: {},
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
  },
  methods: {
    aging (item) {
      return this.$moment(item.created).fromNow()
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getItems () {
      this.items = []
      this.$http.post('payable/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.$http.post('supplier/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.$http.post('supplier/new', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
