<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-file-document</v-icon> Purchases</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            v-if="$allowedActionButton('Add P.R.','action-only', $session.get('access_buttons'))"
            color="primary"
            class="ml-3"
            small
            dark
            @click.stop="dialog=true, edit=false, entry={status: 'init'}, Add()"><v-icon class="mr-2">mdi-note-plus</v-icon> ADD P.R.</v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <router-link
                v-if="$allowedAction('View P.R.')"
                :to="{ name: 'View Purchase', params: { id: props.item.id }}">
                <v-icon
                  small
                  class="mr-1"
                  color="success">mdi-open-in-new</v-icon>
              </router-link>
              <router-link
                v-if="$allowedAction('Monitor P.R.')"
                :to="{ name: 'Monitor Purchase', params: { id: props.item.id }}">
                <v-icon
                  small
                  class="mr-1"
                  color="main">mdi-open-in-new</v-icon>
              </router-link>

              {{ props.item.id }}
            </td>
            <td>{{ props.item.request_date | moment("YYYY-MM-DD") }}</td>
            <td>
              <span v-if="props.item.number != ''">{{ props.item.number }}</span>
              <span v-else>----</span>
            </td>
            <td>
              <span v-if="props.item.number != ''">{{ props.item.issued_date | moment("YYYY-MM-DD") }}</span>
              <span v-else>----</span>
            </td>
            <td>{{ props.item.supplier_company }} - <small>{{ props.item.supplier_person }}</small></td>
            <td><v-chip
              :color="$statusColor(props.item.status)"
              small
              text-color="#fff">{{ props.item.status }}</v-chip></td>
            <td>{{ props.item.payment_term }}</td>
            <td>
              <span v-if="props.item.status == 'Partial Delivery' || props.item.status == 'Lacking Delivery' || props.item.status == 'Delivered'">{{ props.item.delivered_date | moment("YYYY-MM-DD") }}</span>
              <span v-else>----</span>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note-plus</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add P.R.</span>
          <span
            v-else
            class="headline">Edit P.R.</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="form2"
            lazy-validation
          >

            <v-layout wrap>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  v-model="entry.id"
                  label="P.R. #"
                  class="pa-1"
                />
              </v-flex>
              <v-flex>
                <v-menu
                  id="datemenu"
                  v-model="datemenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="date"
                      label="Delivery Date"
                      prepend-icon="mdi-calendar-month"
                      readonly
                      v-on="on"

                    />
                  </template>
                  <v-date-picker
                    v-model="date"
                    @input="datemenu = false" />
                </v-menu>
              </v-flex>
            </v-layout>

            <v-autocomplete
              v-model="selectedSupplier"
              :items="suppliers"
              :rules="[v => !!v || 'Supplier is required']"
              item-text="name"
              item-value="id"
              label="Select Supplier"
              return-object
              required
              @change="entry.payment_term = selectedSupplier.term"
            />

            <v-layout wrap>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  :value="selectedSupplier.tin"
                  label="T.I.N"
                  class="pa-1"
                />
              </v-flex>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  :value="selectedSupplier.contact_number"
                  label="Contact No."
                  class="pa-1"
                />
              </v-flex>
            </v-layout>
            <v-text-field
              :disabled="true"
              :value="selectedSupplier.address"
              label="Address"
            />
            <v-layout wrap>
              <v-flex>
                <v-autocomplete
                  v-model="entry.payment_term"
                  :items="terms"
                  :rules="[v => !!v || 'Payment Term is required']"
                  label="Select Payment Term"
                  required
                  class="pa-1"
                />
              </v-flex>

            </v-layout>
            <v-text-field
              v-model="entry.description"
              :rules="[v => !!v || 'Description/Purpose Status is required']"
              label="P.R. Description/Purpose"
            />
            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    datemenu: false,
    date: '',
    // date:this.$moment().format("YYYY-MM-DD"),
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'P.R. #',
        sortable: false,
        value: 'id'
      },
      {
        text: 'P.R. Date',
        sortable: false,
        value: 'request_date'
      },
      {
        text: 'P.0. #',
        sortable: false,
        value: 'number'
      },
      {
        text: 'Issued Date',
        sortable: false,
        value: 'issued_date'
      },
      {
        text: 'Suppliers',
        sortable: false,
        value: 'supplier_company'
      },
      {
        text: 'P.O. Status',
        sortable: false,
        value: 'status'
      },
      {
        text: 'Terms',
        sortable: false,
        value: 'payment_term'
      },
      {
        text: 'Date',
        sortable: false,
        value: 'delivered_date'
      }
    ],
    entry: {},
    items: [],
    purchase: [],
    permissions: [],
    suppliers: [],
    selectedSupplier: {}
  }),
  computed: {
    terms () {
      return this.$store.state.app.PaymentTerms
    },
    PaymentStatus () {
      return this.$store.state.app.PaymentStatus
    },
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
    this.date = this.$moment().format('YYYY-MM-DD')
  },
  methods: {
    validate () {
      if (this.$refs.form2.validate()) { this.Save() }
    },
    getItems () {
      this.items = []
      console.log(this.$moment().format('sss'))
      this.$http.post('purchase/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
        console.log(this.$moment().format('sss'))
      //  console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        if (response.data.data != null) {
          for (var i = 0; i < response.data.data.length; i++) {
            if (response.data.data[i].status == 'active') {
              this.suppliers.push(response.data.data[i])
            }
          }
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.entry.status = 'On Process'
      this.$http.post('purchase/new', this.entry).then(response => {
        console.log(response.data.data)
        if (response.data.status) {
          this.entry = response.data.data
          this.dialog = true
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
          this.snackbar = true
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.entry.delivery_date = this.date
      this.entry.supplier = this.selectedSupplier.id
      console.log(this.entry)
      this.$http.post('purchase/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.snackbarcolor = 'info'
          this.entry = {}
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
