<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <p
          v-if="purchase.id != null"
          class="text-lg-right">
          <v-btn
            v-if="purchase.status == 'Partial Delivery' && BTNLACKING"
            color="purple"
            @click.stop="uploaddialog=true, statusbtn='lacking'"><v-icon>mdi-text-short</v-icon>Lacking Delivery</v-btn>
          <v-btn
            v-if="purchase.status == 'Partial Delivery'"
            color="success"
            @click.stop="statusbtn='complete333', CheckDRImage()"><v-icon>mdi-check</v-icon> Delivery Complete</v-btn>

        </p>
        <v-card class="mb-3">
          <v-card-text>
            <v-layout wrap>
              <v-flex md6>
                <v-text-field
                  v-model="ponumber"
                  label="P.O. Number"
                  @focus="ponumber='', drnumbers=[]"
                  @change="ViewPurchase()"
                />
              </v-flex>
              <v-flex md6>
                <v-autocomplete
                  v-model="drnum"
                  :items="drnumbers"
                  :disabled="showdr"
                  :append-icon="drnum?'mdi-cloud-upload':''"
                  :append-outer-icon="drnum?'mdi-printer':''"
                  item-text="number"
                  item-value="number"
                  label="D.R. Number"
                  return-object
                  @change="getProductItems()"
                  @click:append="statusbtn='upload', uploaddialog = true"
                  @click:append-outer="print = true"
                >
                  <template slot="prepend-item">
                    <div
                      class="ma-2 pt-2 pl-3 pr-3"
                      style="background:#CCE4F7;">
                      <v-text-field
                        v-model="new_dr.number"
                        label="Enter new D.R. number"
                        dense
                        append-icon="mdi-send"
                        @click:append="NewDr"
                      />
                      <v-divider/>
                    </div>
                  </template>
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.number }}<small style="color: #34A2E7;">({{ data.item.received_date | moment("lll") }})</small>
                  </template>
                </v-autocomplete>

              </v-flex>
            </v-layout>
            <v-layout
              wrap
              class="text-xs-center">
              <template v-for="(item, index) in drnumbers">
                <v-flex :key="index" >
                  <img
                    v-if="item.image_file != ''"
                    :src="$fileserver + item.image_file"
                    width="200px">
                  <br >
                  <small>{{ item.number }}</small><small style="color: #34A2E7;">({{ item.received_date | moment("lll") }})</small>
                </v-flex>
              </template>
            </v-layout>
            <v-layout wrap>
              <v-flex md12>
                <v-text-field
                  v-model="purchase.description"
                  :disabled="true"
                  height="14"
                  label="Purpose/Description"
                />
              </v-flex>
              <v-flex md6>
                <v-text-field
                  :disabled="true"
                  v-model="supplier.company"
                  height="14"
                  label="Supplier"
                />
              </v-flex>
              <v-flex md6>
                <v-text-field
                  :disabled="true"
                  v-model="supplier.address"
                  height="14"
                  label="Address"
                />
              </v-flex>
            </v-layout>

          </v-card-text>
        </v-card>

        <v-expansion-panel
          v-model="panel"
        >
          <template
            v-for="(item,i) in productItems"
          >
            <v-expansion-panel-content
              :key="i"
              :class="CheckClass(item)">
              <template v-slot:header>
                <div>
                  CODE: {{ item.code }}
                  <br > MODEL: {{ item.model }}
                  <br > BRAND: {{ item.brand }}
                  <br > QTY: {{ item.delivered }}/{{ item.quantity }}
                </div>
              </template>
              <v-card>
                <v-card-title style="border-bottom: 1px solid #dedede;">
                  SERIAL NUMBERS
                  <v-spacer/>
                  <template v-if="active_code.with_serial == 'yes'">
                    <v-btn
                      v-if="item.delivered < item.quantity && purchase.status != 'Delivered'"
                      small
                      color="success"
                      @click.stop="dialog=true, confirm=false, selectedItem=item, setFocus('serial')">RECEIVE ITEMS </v-btn>
                  </template>
                  <template v-else>
                    <v-btn
                      v-if="item.delivered < item.quantity && purchase.status != 'Delivered'"
                      small
                      color="success"
                      @click="itemIndex = item, textform = true"
                    >Generate Serials</v-btn>
                  </template>
                </v-card-title>
                <v-card-text
                  v-if="selectedProduct.id == item.id"
                  style="min-height: 120px;">
                  <v-chip
                    v-for="(pr,i) in SERIALITEMS"
                    :key="i"
                    label
                    color="pink"
                    text-color="white">
                    <v-icon
                      v-if="purchase.status == 'Partial Delivery'"
                      left
                      small
                      color="white"
                      @click="RemoveItem(pr.serial)">mdi-delete</v-icon>{{ pr.serial }}
                  </v-chip>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </template>
        </v-expansion-panel>

      </v-flex>
    </v-layout>

    <v-dialog
      v-model="dialog"
      max-width="320"
      persistent
    >
      <v-card>
        <v-card-text>
          <div style="text-align: center;">
            Receive Item
            <v-divider/>
          </div>
          <br >
          <v-text-field
            v-if="confirm == false"
            ref="serial"
            v-model="serial"
            box
            label="Enter serial #"
            @change="openConfirm()"
          />
          <v-text-field
            v-else
            ref="serial2"
            v-model="serial2"
            box
            label="Confirm serial #"
            @change="valSerial"
          />
          <br >
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="warning darken-1"
            block
            small
            @click="dialog = false, ViewPurchase()"
          >
            Done
          </v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialoags -->
    <v-dialog
      v-model="cmdialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-file</v-icon>
          <span v-if="purchase.payment_term == 'CBD' || purchase.payment_term == 'COD'"> Credit Memo</span>
          <span v-else> Apply Deduction</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="cmdialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >

            <div v-if="purchase.payment_term == 'CBD' || purchase.payment_term == 'COD'">
              <v-textarea
                v-model="memo.description"
                box
                label="Description"/>
              <v-text-field
                v-model="memo.amount"
                required
                label="Amount"/>
              <v-text-field
                v-model="memo.reference_no"
                label="Reference No."/>
            </div>
            <div v-else>
              <v-textarea
                v-model="deduction.description"
                box
                label="Description"/>
              <v-text-field
                v-model="deduction.amount"
                required
                label="Amount"/>
            </div>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            v-if="purchase.payment_term == 'CBD' || purchase.payment_term == 'COD'"
            color="success darken-1"
            small
            @click="AddMemo()"> Ready C.M.</v-btn>
          <v-btn
            v-else
            color="success darken-1"
            small
            @click="AddDeduction()"> Add Deduction</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="condialog"
      max-width="320"
      persistent
    >
      <v-card>
        <v-card-text>
          Is all items was completely delivered?
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="warning darken-1"
            block
            small
            @click="condialog = false"
          >
            No
          </v-btn>
          <v-btn
            color="success darken-1"
            block
            small
            @click="condialog = false, purchase.status='Delivered', UpdatePurchase()"
          >
            Yes
          </v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="uploaddialog"
      persistent
      max-width="550">
      <v-card>
        <v-card-text class="text-md-center">
          <p class="text-md-left"> Upload D.R.</p>
          <v-flex
            xs12
            class="text-xs-center text-sm-center text-md-center text-lg-center">

            <img
              v-if="imageUrl"
              :src="imageUrl"
              height="150">
            <br >
            <v-progress-linear
              v-if="uploadprogress == true"
              :indeterminate="true"/>
            <v-text-field
              v-model="imageName"
              label="Select Image"
              prepend-icon="mdi-paperclip"
              @click="pickFile"/>
            <input
              ref="image"
              type="file"
              style="display: none"
              accept="image/*"
              @change="onFilePicked"
            >
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="uploaddialog = false, resetUpload()">close</v-btn>
          <v-spacer/>

          <v-btn
            v-if="completeupload == false"
            small
            color="green darken-1"
            flat
            @click="FileUpload()">Upload</v-btn>
          <v-btn
            v-else
            small
            color="green darken-1"
            flat
            @click="DoneUpload()">Done</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <ams-print-dr
      :show="print"
      :supplier="supplier"
      :drnumber="drnum"
      :purchase="purchase"
      :serial="SERIALITEMS"
      @DialogEvent="printEvent"/>
    <ams-text-form
      :show="textform"
      label="Enter quantity"
      @DialogEvent="textEvent"/>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-container>

</template>

<script>
import { setTimeout } from 'timers'
import md5 from 'md5'
export default {
  data: () => ({
    search: '',
    textform: false,
    print: false,
    uploaddialog: false,
    uploadprogress: false,
    completeupload: false,
    itemIndex: {},
    media: {},
    imageUrl: '',
    imageName: '',
    dialog: false,
    cmdialog: false,
    condialog: false,
    statusbtn: '',
    showdr: true,
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    ponumber: '',
    drnum: {},
    new_dr: {},
    purchase: {},
    productItems: [],
    listItem: [],
    selectedProduct: {},
    supplier: {},
    serial: '',
    serial2: '',
    confirm: false,
    prdata: {},
    active_code: {},
    panel: [],
    memo: {},
    deduction: {},
    drnumbers: []
  }),
  computed: {
    DESCRIPTION () {
      return this.purchase.description
    },
    SERIALITEMS () {
      var items = []
      if (!this.drnum) {
        return this.listItem
      }
      for (var i = 0; i < this.listItem.length; i++) {
        if (this.drnum.number == this.listItem[i].drnumber) {
          items.push(this.listItem[i])
        }
      }
      return items
    },
    TOTALQTY () {
      var qty = 0
      for (var i = 0; i < this.productItems.length; i++) {
        qty += parseInt(this.productItems[i].quantity)
      }
      return qty
    },
    TOTALDELIVERED () {
      var qty = 0
      for (var i = 0; i < this.productItems.length; i++) {
        qty += parseInt(this.productItems[i].delivered)
      }
      return qty
    },
    BTNLACKING () {
      // console.log(this.TOTALQTY, this.listItem.length)
      if (this.TOTALQTY > this.TOTALDELIVERED) {
        return true
      }
      return false
    }
  },
  watch: {
    panel: function () {
      this.getSerials()
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    textEvent (data) {
      this.textform = false
      if (this.$IsNum(data) > 0) {
        var ser = this.$moment().format('YYMMDDHHmmss')
        var delivered = this.$IsNum(data) + this.$IsNum(this.itemIndex.delivered)
        if (this.itemIndex.quantity >= delivered) {
          for (var i = 0; i < this.$IsNum(data); i++) {
            if (this.drnum.number == null) {
              this.showAlert('Enter or select D.R. #', 'error')
              return
            }
            this.serial = this.itemIndex.id.toString() + ser + i
            this.AddSerial()
          }
        } else {
          this.showAlert('Greater than expected QTY!', 'error')
        }
      } else {
        this.showAlert('Invalid QTY!', 'error')
      }
    },
    CheckClass (item) {
      if (item.delivered == item.quantity) {
        return 'complete_items'
      }
      return 'not_complete_items'
    },
    printEvent () {
      this.print = false
    },
    pickFile () {
      this.$refs.image.click()
    },
    onFilePicked (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    setFocus: function (serial) {
      setTimeout(() => {
        if (serial == 'serial') { this.$refs.serial.focus() } else { this.$refs.serial2.focus() }
      }, 100)
    },
    openConfirm () {
      this.serial = this.serial.trim()
      setTimeout(() => {
        this.confirm = true
        this.setFocus('serial2')
      }, 1000)
    },
    valSerial () {
      if (this.serial == this.serial2) {
        this.AddSerial()
      } else {
        this.snackbarcolor = 'warning'
        this.alertMessage = 'Serial not matched!'
        this.snackbar = true
        this.serial = ''
        this.serial2 = ''
        this.confirm = false
      }
    },
    AddDeduction () {
      this.deduction.type = 'deduction'
      this.deduction.purchase = this.purchase.id
      this.$http.post('purchase/add_discount', this.deduction).then(response => {
        this.alertMessage = response.data.message
        this.snackbarcolor = 'info'
        this.snackbar = true
        this.cmdialog = false
        this.purchase.remarks = 'Deduction initiated'
        this.SaveLog('Deduction initiated')
        this.UpdatePurchase()
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddMemo () {
      this.memo.type = 'Refund'
      this.memo.status = 'Ready'
      this.memo.source_pr = this.purchase.id
      this.memo.source_po = this.purchase.number
      this.memo.supplier = this.supplier.id
      console.log(this.memo)
      this.$http.post('credit_memo/new', this.memo).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'info'
          this.cmdialog = false
          this.purchase.remarks = 'C.M. initiated'
          this.SaveLog('C.M. initiated')
          this.UpdatePurchase()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },

    UpdatePurchase () {
      this.$http.post('purchase/update', this.purchase).then(response => {
        this.SaveLog(this.purchase.status)
        this.ViewPurchase()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveLog (action) {
      let param = {}
      param.type = 'log'
      param.purchase = this.purchase.id
      param.action = action.trim()
      this.$http.post('purchase/add_log', param).then(response => {
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddSerial () {
      console.log(this.drnum.number)
      if (this.drnum.number == null) {
        this.alertMessage = 'Enter or select D.R. #'
        this.snackbarcolor = 'warning'
        this.snackbar = true
        return
      }
      var param = {}
      param.drnumber = this.drnum.number.toUpperCase().trim()
      param.serial = this.serial.toUpperCase().trim()
      param.product_id = this.selectedProduct.id
      param.remarks = 'Received'
      console.log(param)
      this.$http.post('product/add_item', param).then(response => {
        this.alertMessage = response.data.message
        this.confirm = false
        if (response.data.status == true) {
          this.snackbarcolor = 'success'
          this.setFocus('serial')
          this.getProductItems()
          this.getSerials()
          // console.log(this.selectedProduct.delivered, this.selectedProduct.quantity)
          this.selectedProduct.delivered++
          setTimeout(() => {
            if (this.selectedProduct.delivered == this.selectedProduct.quantity) {
              this.snackbarcolor = 'info'
              this.alertMessage = 'Items already reached the expected orders quantity!'
              this.snackbar = true
              this.dialog = false
            }
          }, 1000)
        } else {
          this.snackbarcolor = 'warning'
        }
        this.serial = ''
        this.serial2 = ''
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    RemoveItem (serial) {
      this.$http.post('product/remove_item', { serial: serial }).then(response => {
        this.alertMessage = response.data.message
        this.snackbarcolor = 'info'
        this.snackbar = true
        this.getProductItems()
        this.getSerials()
        setTimeout(() => {
          this.snackbar = false
        }, 2000)
      }).catch(e => {
        console.log(e.data)
      })
    },
    checkLacking () {
      this.getProductItems()
      var remarks = ''
      var amount = 0

      for (var i = 0; i < this.productItems.length; i++) {
        let lack = parseInt(this.productItems[i].quantity) - parseInt(this.productItems[i].delivered)
        if (lack > 0) {
          let initAmount = parseFloat(this.productItems[i].price_per_unit) * lack
          amount += initAmount
          if (!remarks) {
            remarks = this.productItems[i].code + ' (' + lack + ' unit(s) lacking) - ' + initAmount
          } else {
            remarks = remarks + ', ' + this.productItems[i].code + ' (' + lack + ' unit(s) lacking) - ' + initAmount
          }
        }
      }

      if (amount != 0) {
        this.deduction.amount = amount.toString()
        this.deduction.description = remarks
        this.memo.amount = amount.toString()
        this.memo.description = remarks
        this.purchase.status = 'Lacking Delivery'
        this.cmdialog = true
      }
    },
    getSerials () {
      if (this.panel != null) {
        this.selectedProduct = this.productItems[this.panel]
        this.getCodeData()
        this.getProductListItems()
      }
    },
    getCodeData () {
      this.$http.post('product/get_code', { code: this.selectedProduct.code }).then(response => {
        response.data.data != null ? this.active_code = response.data.data : this.active_code = {}
      }).catch(e => {
        console.log(e.data)
      })
    },
    updateDr () {
      // console.log(this.mediaUrl, this.drnum)
      this.drnum.image_file = this.mediaUrl
      console.log(this.drnum)
      this.$http.post('receive/update_dr', this.drnum).then(response => {
        this.resetUpload()
        this.getDr()
      }).catch(e => {
        console.log(e.data)
      })
    },
    NewDr () {
      this.new_dr.purchase = this.purchase.id
      this.new_dr.number = this.new_dr.number.toUpperCase().trim()
      this.$http.post('receive/add_dr', this.new_dr).then(response => {
        this.alertMessage = response.data.message
        if (response.data.status == true) {
          this.snackbarcolor = 'success'
          this.drnum = this.new_dr.number
          this.getDr()
        } else {
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    getDr () {
      this.$http.post('receive/get_dr', JSON.stringify({ method: 'by_purchase', int_val: this.purchase.id })).then(response => {
        response.data.data != null ? this.drnumbers = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    ViewPurchase () {
      this.prdata = {}
      this.purchase = {}
      this.supplier = {}
      this.$http.post('purchase/view', JSON.stringify({ method: 'by_number', str_val: this.ponumber })).then(response => {
        response.data.data != null ? this.prdata = response.data.data : this.prdata = {}
        this.purchase = this.prdata.purchase
        this.supplier = this.prdata.supplier
        if (this.purchase.status != 'Issued' && this.purchase.status != 'Delivered' && this.purchase.status != 'Partial Delivery' && this.purchase.status != 'Lacking Delivery') {
          this.alertMessage = 'This P.O. is not yet issued!'
          this.snackbarcolor = 'warning'
          this.showdr = true
          this.snackbar = true
        } else {
          this.showdr = false
          this.getProductItems()
        }
        this.getDr()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getProductItems () {
      this.$http.post('product/get_purchase_products', { source_id: this.purchase.id }).then(response => {
        response.data.data != null ? this.productItems = response.data.data : this.productItems = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    getProductListItems () {
      this.listItem = []
      this.$http.post('product/get_list_items', { product_id: this.selectedProduct.id }).then(response => {
        response.data.data != null ? this.listItem = response.data.data : this.listItem = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    CheckDRImage () {
      for (var i = 0; i < this.drnumbers.length; i++) {
        console.log(this.drnumbers[i].image_file)
        if (this.drnumbers[i].image_file == '' || this.drnumbers[i].image_file == null || this.drnumbers[i].image_file == undefined) {
          alert('Scan and upload D.R.')
          return
        }
      }
      this.condialog = true
    },
    DoneUpload () {
      if (this.statusbtn == 'complete') {
        // this.uploaddialog = false
        // this.condialog = true
        // this.updateDr()
        for (var i = 0; i < this.drnumbers; i++) {
          if (this.drnumbers[i].image_file == '' || this.drnumbers[i].image_file == null || this.drnumbers[i].image_file == undefined) {
            alert('Scan and upload D.R.')
            return
          }
        }
      }
      if (this.statusbtn == 'lacking') {
        this.uploaddialog = false
        this.updateDr()
        this.checkLacking()
      }
      if (this.statusbtn == 'upload') {
        this.uploaddialog = false
        this.updateDr()
      }
    },
    FileUpload () {
      this.uploadprogress = true
      if (this.imageFile.type.search('image') == -1) {
        this.alertMessage = 'Media not supported!'
        this.snackbarcolor = 'warning'
        this.snackbar = true
        this.uploadprogress = false
        return
      }
      let ext = this.imageFile.name.split('.')
      ext = ext[ext.length - 1]
      let _filename = md5(this.imageFile.name + this.$moment().format('YYYYMMDDhhmmssa'))
      let data = {
        filename: _filename + '.' + ext,
        data: this.imageUrl,
        file_type: this.imageFile.type,
        size: this.imageFile.size.toString(),
        title: this.imageFile.name,
        method: 'receiving'
      }

      this.$http.post('media/upload', data).then(response => {
        this.uploadprogress = false
        this.alertMessage = 'Image succesfully upload!'
        this.snackbarcolor = 'success'
        this.snackbar = true
        this.completeupload = true
        response.data.data != null ? this.media = response.data.data : console.log()
        this.mediaUrl = this.media.method + '/' + _filename + '.' + ext
        console.log(this.mediaUrl)
      }).catch(e => {
        console.log(e.data)
      })
    },
    resetUpload () {
      this.imageName = ''
      this.imageFile = ''
      this.imageUrl = this.noImage
      this.completeupload = false
      this.uploadprogress = false
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
.v-expansion-panel__header {
   background: #212121;
   color: #f1f1f1;
}
.complete_items .v-expansion-panel__header {
  background: #4BA64F !important;
}
.item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     color: #111;
     padding: 8px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }
</style>
