<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout
      row
      wrap>
      <v-flex xs12>
        <v-card class="pa-3">
          <v-layout>
            <v-flex
              xs6
              class="pa-1">
              <v-text-field
                :value="$route.params.id"
                :disabled="true"
                label="Consignment #"
              />
              <v-text-field
                :value="consignment.supplier_name"
                :disabled="true"
                label="Supplier"
              />
              <v-text-field
                :value="consignment.status"
                :disabled="true"
                label="Status"
              />
            </v-flex>
            <v-flex
              xs6
              class="pa-1">
              <v-text-field
                v-model="drnumber"
                label="D.R Number"
              />
              <v-text-field
                :value="consignment.created | moment('lll')"
                :disabled="true"
                label="Date"
              />

            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout
      row
      wrap>
      <v-flex
        xs12
        class="text-xs-right">
        <v-btn
          v-if="consignment.status=='Posted'"
          color="main"
          small
          @click.stop="confirmmessage='Approve Consignment?', confirmlabel='Approve', consignment.status='Approved', confirmdialog=true"><v-icon class="mr-1">mdi-check</v-icon> Approved</v-btn>
        <v-btn
          v-if="consignment.status=='Approved'"
          color="success"
          small
          @click.stop="confirmmessage='Consignment items complete?', confirmlabel='OK', consignment.status='Received', confirmdialog=true"><v-icon class="mr-1">mdi-check</v-icon> Received </v-btn>
      </v-flex>
      <v-flex xs12>
        <v-card class="pa-3">
          <table
            class="item_table"
            cellspacing="1px">
            <thead>
              <tr>
                <th width="12px">ITEM</th>
                <th>PRODUCT CODE</th>
                <th width="120px">BRAND</th>
                <th width="120px">CATEGORY</th>
                <th width="120px">MODEL</th>
                <th width="80px">QTY</th>
                <th width="80px">SRP</th>
                <th width="80px">DP</th>
                <th width="80px">SMI</th>
                <th width="80px">SDP</th>
                <th width="100px">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item,i) in items"
                :key="i"
                @contextmenu.prevent="$refs.menu.open($event, item)">
                <td
                  width="12px"
                  style="text-align: center;">{{ i + 1 }}</td>
                <td colspan="11">
                  <table
                    class="item_table item_table_inner"
                    cellspacing="1px">
                    <tr>
                      <td>{{ item.code }}</td>
                      <td width="120px">{{ item.brand }}</td>
                      <td width="120px">{{ item.category_name }}</td>
                      <td width="120px">{{ item.model }}</td>
                      <td width="80px">{{ item.quantity }}</td>
                      <td width="80px">{{ $money(item.retail_price) }}</td>
                      <td width="80px">{{ $money(item.dealer_price) }}</td>
                      <td width="80px">{{ $money(item.insentive) }}</td>
                      <td width="80px">{{ $money(item.special_dealer_price) }}</td>
                      <td width="100px">{{ $money($IsNum(item.special_dealer_price) * $IsNum(item.quantity)) }}</td>
                    </tr>
                    <tr>
                      <td colspan="11">{{ item.description }}</td>
                    </tr>
                    <tr>
                      <td colspan="10">
                        <span style="color: #63246E;">Serials: </span><br >

                        <v-chip
                          v-for="(pr,i) in filterSerial(item.id)"
                          :key="i"
                          small
                          label
                          text-color="white"
                          color="success">
                          <v-icon
                            v-if="consignment.status == 'Posted'"
                            left
                            color="white"
                            @click="RemoveSerial(pr)">mdi-close-circle</v-icon>{{ pr.serial }}
                        </v-chip>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>

        </v-card>
      </v-flex>
    </v-layout>
    <p class="pa-3 title text-sm-right">
      TOTAL: {{ $money(ITEMTOTAL) }}
    </p>
    <v-tooltip
      v-if="consignment.status=='Approved'"
      left>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            dark
            fixed
            bottom
            right
            fab
            color="primary"
            v-on="on"
            @click.stop="edit=false, itemdialog = true"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Add Item</span>
    </v-tooltip>
    <ams-consignment-form
      :show="itemdialog"
      :edit="edit"
      :consignment-id="parseInt($route.params.id)"
      @DialogEvent="dialogEvent"/>
    <vue-context ref="menu">
      <template slot-scope="child">
        <li>
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-barcode</v-icon>Add Serial</a>
        </li>
      </template>
    </vue-context>
    <v-dialog
      v-model="dialog"
      max-width="320"
      persistent
    >
      <v-card>
        <v-card-text>
          <div style="text-align: center;">
            Add Serial for {{ selectedItem.code }}
            <v-divider/>
          </div>
          <br >
          <v-text-field
            v-if="confirm == false"
            ref="serial"
            v-model="serial"
            box
            label="Enter serial #"
            @change="openConfirm()"
          />
          <v-text-field
            v-else
            ref="serial2"
            v-model="serial2"
            box
            label="Confirm serial #"
            @change="valSerial()"
          />
          <br >
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="warning darken-1"
            block
            small
            @click.stop="dialog= false, GetItems()"
          >
            Done
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
    <ams-file-upload
      :show="fileupload"
      module="consignment"
      @DialogEvent="fileuploadEvent"/>
    <ams-confirm-dialog
      :show="confirmdialog"
      :confirmmessage="confirmmessage"
      :confirmlabel="confirmlabel"
      @DialogEvent="confirmdialogEvent"/>
  </v-container>
</template>
<script>
import { VueContext } from 'vue-context'
export default {

  components: {
    VueContext
  },
  data: () => ({
    search: '',
    serial: '',
    fileupload: false,
    serial2: '',
    confirm: false,
    actionconfirmed: false,
    confirmdialog: false,
    confirmmessage: '',
    confirmlabel: '',
    edit: false,
    dialog: false,
    itemdialog: false,
    snackbarcolor: '',
    alertMessage: '',
    snackbar: false,
    consignment: {},
    selectedItem: {},
    items: [],
    drnumber: '',
    itemserials: []
  }),
  computed: {
    ITEMTOTAL () {
      let total = 0
      for (let i = 0; i < this.items.length; i++) {
        total += this.$IsNum(this.items[i].special_dealer_price) * this.$IsNum(this.items[i].quantity)
      }
      return total
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    // this.pr_ID = parseInt(this.$route.params.id)
    this.getConsignment()
  },
  methods: {
    confirmdialogEvent (event) {
      this.actionconfirmed = event
      this.confirmdialog = false
      if (this.actionconfirmed) {
        if (this.consignment.status == 'Approved') {
          this.consignment.approved_by = parseInt(this.$session.get('userID'))
        }
        if (this.consignment.status == 'Received') {
          this.consignment.received_by = parseInt(this.$session.get('userID'))
        }
        this.SaveConsignment()
      }
    },
    fileuploadEvent (event) {
      if (event == 'closeupload') {
        this.fileupload = false
      }
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    setFocus: function (serial) {
      setTimeout(() => {
        if (serial == 'serial') { this.$refs.serial.focus() } else { this.$refs.serial2.focus() }
      }, 100)
    },
    onClick (text, data) {
      this.selectedItem = data
      if (text == 'Add Serial') {
        this.drnumber != '' ? this.dialog = true : this.showAlert('Enter D.R Number', 'warning')
      }
    },
    openConfirm () {
      this.serial = this.serial.trim()
      setTimeout(() => {
        this.confirm = true
        this.setFocus('serial2')
      }, 1000)
    },
    valSerial () {
      if (this.serial == this.serial2) {
        this.AddSerial()
      } else {
        this.serial = ''
        this.serial2 = ''
        this.showAlert('Serial not matched!', 'warning')
        this.confirm = false
      }
    },
    dialogEvent (e) {
      this.itemdialog = false
      this.GetItems()
    },
    filterSerial (id) {
      var serials = []
      for (let i = 0; i < this.itemserials.length; i++) {
        if (id == this.itemserials[i].product_id) {
          serials.push(this.itemserials[i])
        }
      }
      return serials
    },
    RemoveSerial (item) {
      console.log('item to remove', item)
      this.$http.post('consignment/remove_serial', item).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'error')
        this.GetItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddSerial () {
      var param = {}
      param.drnumber = this.drnumber.trim()
      param.serial = this.serial.trim()
      param.product_id = this.selectedItem.id
      param.remarks = 'Received'
      console.log(param)
      this.$http.post('product/add_item', param).then(response => {
        if (response.data.status == true) {
          this.showAlert(response.data.message, 'success')
          this.setFocus('serial')
        } else {
          this.showAlert(response.data.message, 'warning')
        }
        this.serial = ''
        this.serial2 = ''
        this.confirm = false
      }).catch(e => {
        console.log(e.data)
      })
    },
    getConsignment () {
      this.consignment = {}
      this.itemserials = []
      this.$http.post('consignment/query', { method: 'by_id', qry_string: this.$route.params.id.toString() }).then(response => {
        response.data.consignments != null ? this.consignment = response.data.consignments[0] : this.consignment = {}
        this.GetItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveConsignment () {
      this.$http.post('consignment/update', this.consignment).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getConsignment()
      }).catch(e => {
        console.log(e.data)
      })
    },
    GetItems () {
      this.items = []
      this.$http.post('consignment/get_items', this.consignment).then(response => {
        response.data.items != null ? this.items = response.data.items : this.items = []
        response.data.serials != null ? this.itemserials = response.data.serials : this.itemserials = []
      }).catch(e => {
        console.log(e.data)
      })
    }

  }
}
</script>
<style>

  .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }

.v-context {
    font-size:  .9em;
    padding: 4px 0;
    background: #044771;
    color: #fff;
  }
  .v-context li a {
    text-align:  left;
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #275571
  }
</style>
