<template>
  <v-container
    id="nomargintoolbar"
  >
    <v-layout>
      <v-flex class="text-xs-right">
        <v-btn
          v-if="$allowedActionButton('Edit',entry.status, permissions)"
          small
          color="info"
          @click="edit=true,dialog=true, entry=purchase.purchase, setSupplier()"><v-icon class="mr-1">mdi-pencil</v-icon> Edit</v-btn>
        <v-btn
          v-if="$allowedActionButton('Re-process',entry.status, permissions)"
          small
          color="default"
          @click="confirmdialog=true, confirmMessage= 'Re-process this P.R.?', confirm='reprocess'"><v-icon class="mr-1" >mdi-refresh</v-icon> Re-process</v-btn>
        <v-btn
          v-if="$allowedActionButton('Cancel',entry.status, permissions)"
          small
          color="warning"
          @click="confirmdialog=true, confirmMessage= 'Cancel this P.R.?', confirm='cancel'"><v-icon class="mr-1">mdi-cancel</v-icon> Cancel</v-btn>
        <v-btn
          v-if="$allowedActionButton('Print',entry.status, permissions)"
          style="color: #222 !important;"
          small
          @click="print_dialog=true"><v-icon class="mr-1">mdi-printer</v-icon> Print</v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-card>
          <v-card-text>
            <v-layout>
              <v-flex class="ma-1">
                <v-text-field
                  v-if="entry.status=='Issued' || entry.status=='Lacking Delivery' || entry.status=='Delivered' || entry.status=='Partial Delivery'"
                  :value="entry.number"
                  :disabled="true"
                  label="P.O. #"
                />
                <v-text-field
                  :value="pr_ID"
                  :disabled="true"
                  label="P.R. #"
                />
                <v-text-field
                  :value="SUPPLIER"
                  :disabled="true"
                  label="Supplier"
                />
                <v-text-field
                  :value="ADDRESS"
                  :disabled="true"
                  label="Address"
                />
              </v-flex>
              <v-flex class="ma-1">
                <v-text-field
                  v-if="entry.status=='Issued' || entry.status=='Lacking Delivery' || entry.status=='Delivered' || entry.status=='Partial Delivery'"
                  :value="formatDate(entry.issued_date)"
                  :disabled="true"
                  label="Issued P.O. Date"
                />
                <v-text-field
                  :value="formatDate(entry.request_date)"
                  :disabled="true"
                  label="P.R. Date"
                />
                <v-text-field
                  :value="CONTACTNUMBER"
                  :disabled="true"
                  label="Contact No."
                />
                <v-text-field
                  :value="entry.payment_term"
                  :disabled="true"
                  label="Payment Term"
                />
              </v-flex>
              <v-flex class="ma-1">
                <v-text-field
                  :value="DELIVERYSTATUS"
                  :disabled="true"
                  label="Delivery Status"
                />
                <v-text-field
                  :value="entry.payment_status"
                  :disabled="payable.status != 'Completed'"
                  label="Payment Status"
                  append-outer-icon="mdi-marker-check"
                  @click:append-outer="confirmdialog=true, confirmMessage= 'P.R. paid?', confirm='paid'"
                />

                <v-text-field
                  :value="entry.status"
                  :disabled="true"
                  label="P.R. Status"
                />

              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex class="text-xs-right">
        <v-btn
          v-if="$allowedActionButton('Add Discount',entry.status, permissions)"
          small
          color="info"
          @click="discountdialog=true, discount.type='discount'"><v-icon class="mr-1">mdi-tag-minus</v-icon> Add Discount</v-btn>
        <v-btn
          v-if="$allowedActionButton('Add Deduction',entry.status, permissions)"
          small
          color="info"
          @click="discountdialog=true, discount.type='deduction'"><v-icon class="mr-1">mdi-minus-box</v-icon> Add Deduction</v-btn>
        <v-btn
          v-if="$allowedActionButton('Add C.M.',entry.status, permissions)"
          small
          color="info"
          @click="cmdialog = true, getCM(), edit=true, selectCM={}"><v-icon class="mr-1">mdi-file-plus</v-icon> Add C.M.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Post P.R.',entry.status, permissions)"
          small
          color="info"
          @click="confirmdialog=true, confirmMessage= 'Post this P.R.?', confirm='post'"><v-icon class="mr-1">mdi-pin</v-icon> Post</v-btn>
        <v-btn
          v-if="$allowedActionButton('Verify P.R.',entry.status, permissions)"
          small
          color="info"
          @click="confirmdialog=true, confirmMessage= 'P.R. Verified?', confirm='verify_pr'"><v-icon class="mr-1">mdi-file-check</v-icon> Verify P.R.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Recommend P.R.',entry.status, permissions)"
          small
          color="info"
          @click="confirmdialog=true, confirmMessage= 'Recommend this P.R.?', confirm='recommend_pr'"><v-icon class="mr-1">mdi-file-check</v-icon> Recommend P.R.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Approve P.R.',entry.status, permissions)"
          small
          color="success"
          @click="ValidateApprovalLimit()"><v-icon class="mr-1">mdi-check-decagram</v-icon> Approve P.R.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Recommend for P.O.',entry.status, permissions)"
          small
          color="info"
          @click="confirmdialog=true, confirmMessage= 'Recommend to issue P.O.?', confirm='recommend_for_po'"><v-icon class="mr-1">mdi-file-check</v-icon> Recommend for P.O.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Approve for P.O.',entry.status, permissions)"
          small
          color="success"
          @click="signaturedialog=true, confirmMessage= 'Approve to issue P.O.?', confirm='approve_for_po'"><v-icon class="mr-1">mdi-check-decagram</v-icon> Approve for P.O.</v-btn>
        <v-btn
          v-if="$allowedActionButton('Issue P.O.',entry.status, permissions)"
          small
          color="main"
          @click="confirmdialog=true, confirmMessage= 'Issue P.O.', confirm='issue_po'"><v-icon class="mr-1">mdi-check-decagram</v-icon> Issue P.O.</v-btn>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex>
        <v-card>
          <v-card-text>
            <table
              class="item_table"
              cellspacing="1px">
              <thead>
                <tr>
                  <th width="12px">ITEM</th>
                  <th>PRODUCT CODE</th>
                  <th width="120px">BRAND</th>
                  <th width="120px">CATEGORY</th>
                  <th width="120px">MODEL</th>
                  <th width="80px">QTY</th>
                  <th width="80px">SRP</th>
                  <th width="80px">DP</th>
                  <th width="80px">SMI</th>
                  <th width="80px">SDP</th>
                  <th width="80px">GPM</th>
                  <th width="100px">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item,i) in purchaseItems"
                  :key="i"
                  @contextmenu.prevent="$refs.menu.open($event, item)">
                  <td
                    width="12px"
                    style="text-align: center;">{{ i + 1 }}</td>
                  <td colspan="11">
                    <table
                      class="item_table item_table_inner"
                      cellspacing="1px">
                      <tr>
                        <td>{{ item.code }}</td>
                        <td width="120px">{{ item.brand }}</td>
                        <td width="120px">{{ item.category_name }}</td>
                        <td width="120px">{{ item.model }}</td>
                        <td width="80px">{{ item.quantity }}</td>
                        <td width="80px">{{ $money(item.retail_price) }}</td>
                        <td width="80px">{{ $money(item.dealer_price) }}</td>
                        <td width="80px">{{ $money(item.insentive) }}</td>
                        <td width="80px">{{ $money(item.special_dealer_price) }}</td>
                        <td width="80px">{{ getGPM(item) }}</td>
                        <td width="100px">{{ $money(IsNum(item.special_dealer_price) * IsNum(item.quantity)) }}</td>
                      </tr>
                      <tr>
                        <td colspan="11">{{ item.description }} <v-chip
                          small
                          label
                          color="info"
                          text-color="#fff">Available: {{ item.available }}</v-chip></td>
                      </tr>
                    </table>
                  </td>
                </tr>

              </tbody>
            </table>

            <v-layout>
              <v-flex
                xs5
                class="noteArea">
                <div
                  class="pt-4"
                  style="color: #044771;">
                  <strong>Purpose/Description: </strong> {{ entry.description }}
                </div>
                <div
                  v-if="entry.recommend_signature != ''"
                  class="text-md-center">
                  <img
                    :src="entry.recommend_signature"
                    width="250"> {{ entry.recommend_for_po_date | moment("lll") }}
                  <v-divider/>
                  <strong>{{ entry.recommend_by }}</strong><br >
                  {{ entry.recommend_by_title }}
                  <br>
                </div>

                <div
                  v-if="entry.approved_signature != ''"
                  class="text-md-center mt-5">
                  <img
                    :src="entry.approved_signature"
                    width="250"> {{ entry.approved_for_po_date | moment("lll") }}
                  <v-divider/>
                  <strong>{{ entry.approved_by }}</strong><br>
                  {{ entry.approved_by_title }}

                </div>

                <div class="pt-4">
                  <strong
                    v-if="shownote == true"
                    style="color: #ffa21a;">Note/Comments:</strong>
                  <strong
                    v-else
                    style="color: #ffa21a;">P.R. Logs:</strong>
                  <div
                    v-if="shownote == true"
                    class="noteAreaData">

                    <div
                      v-for="(item,i) in notes"
                      :key="i"
                      class="note_item">
                      <strong>{{ item.actor_name }}</strong><small>({{ formatDate(item.actiontime) }}) : </small>
                      <span class="ml-2">{{ item.action }}</span>
                    </div>

                  </div>
                  <div
                    v-else
                    class="noteAreaData">

                    <div
                      v-for="(item,i) in purchaselogs"
                      :key="i"
                      class="note_item_log">
                      <strong>{{ item.actor_name }}</strong><small>({{ formatDate(item.actiontime) }}) : </small>
                      <span class="ml-2">{{ item.action }}</span>
                    </div>

                  </div>
                  <div class="py-2">
                    <v-btn-toggle v-model="toggle_exclusive">
                      <v-btn
                        fab
                        color="main"
                        class="pa-1"
                        @click="shownote = true">
                        <v-icon>mdi-forum</v-icon>
                      </v-btn>
                      <v-btn
                        fab
                        color="main"
                        class="pa-1"
                        @click="shownote = false">
                        <v-icon>mdi-format-list-bulleted</v-icon>
                      </v-btn>
                    </v-btn-toggle>
                    <v-text-field
                      v-if="shownote == true"
                      v-model="log.action"
                      :append-icon="'mdi-send'"
                      class="mt-4"
                      color="accent"
                      label="Enter notes"
                      box
                      @focus="log.action=''"
                      @click:append="SaveLog('note', true)"
                    />
                  </div>
                </div>
              </v-flex>
              <v-flex/>

              <v-flex
                xs5
                class="mt-3">
                <div
                  class="alist"
                  style="font-weight: bold; background: #EDF3FB;"><span>Item Total:</span> {{ $money(ITEMTOTAL) }}</div>
                <small><i>Less:</i></small>
                <div
                  v-for="(item,i) in discountItem"
                  :key="i">
                  <div
                    class="alist"
                    @contextmenu.prevent="$refs.menu2.open($event, item)" ><span>{{ item.description }}:</span> {{ $money(item.amount) }}</div>
                </div>
                <div
                  v-if="entry.type=='Declared'"
                  class="alist"><span>EWT:</span>  {{ $money(WITHHELDTAX) }}</div>
                <div
                  class="alist"
                  style="font-weight: bold; background: #E1EBFB;"><span>Sub Total:</span> {{ $money(SUBTOTAL) }}</div>
                <small><i>Less:</i></small>
                <div
                  v-for="(item,i) in deductionItem"
                  :key="'deduction-' + i"
                  class="alist"
                  @contextmenu.prevent="$refs.menu2.open($event, item)"><span>{{ item.description }}:</span> {{ $money(item.amount) }}</div>
                <div
                  v-for="(item,i) in claimedmemos"
                  :key="'memo-' + i"
                  class="alist"><span>C.M. {{ item.reference_no }}:</span> {{ $money(item.amount) }}</div>
                <!-- <div class="alist" style="font-weight: bold; background: #C1E7E3;"><span>C.M. Amount:</span> {{$money(AMOUNTCLAIMED)}}</div> -->

                <div
                  class="alist"
                  style="font-weight: bold; background: #C1E7E3;" ><span>Total Amount:</span>  {{ $money(TOTALAMOUNT) }}</div>

                <div
                  v-if="entry.status == 'Lacking Delivery' || entry.status == 'Delivered' || entry.payment_term == 'CBD' || entry.payment_term == 'COD'"
                  class="text-md-center">
                  <div
                    class="title mt-5"
                    style="color: #044771;">
                    Payment Status: <em>{{ payable.status }}</em>
                  </div>

                  <div v-if="payable.invoice_image != ''">
                    <img
                      :src="$fileserver + payable.invoice_image"
                      width="200"
                      @click.stop="viewimage=$fileserver + payable.invoice_image,imagedialog=true">
                  </div>
                  <div style="margin-top: -10px; text-align: right; font-style: italic;"><small>{{ $moment(payable.last_update).fromNow() }}</small></div>
                  <div v-if="payable.status == 'Verified'">
                    <img
                      :src="vericon"
                      width="200" >
                  </div>
                  <br >
                  <v-layout class="text-md-center">
                    <v-flex
                      v-for="(dr,i) in drnumbers"
                      :key="i"
                      class="pa-1">
                      <img
                        :src="$fileserver + dr.image_file"
                        width="100%"
                        @click.stop="viewimage=$fileserver + dr.image_file,imagedialog=true" ><br >
                      {{ dr.number }}<small style="color: #34A2E7;">({{ dr.received_date | moment("lll") }})</small>
                    </v-flex>
                  </v-layout>
                  <v-layout class="text-md-center">
                    <v-flex v-if="payable.check_image != ''">
                      <img
                        :src="$fileserver + payable.check_image"
                        width="100%"
                        @click.stop="viewimage=$fileserver + payable.check_image,imagedialog=true" >
                    </v-flex>
                    <v-flex v-if="payable.deposit_slip != ''">
                      <img
                        :src="$fileserver + payable.deposit_slip"
                        width="100%"
                        @click.stop="viewimage=$fileserver + payable.deposit_slip,imagedialog=true" >
                    </v-flex>
                  </v-layout>
                  <v-btn
                    v-if="payable.status == 'On Process' && $allowedActionButton('Request For Payment','action-only', permissions)"
                    color="info"
                    large
                    title="Request For Payment"
                    @click.stop="setStatus='Request For Payment',uploaddialog = true"><v-icon class="mr-2">mdi-checkbook</v-icon> Request For Payment</v-btn>
                  <v-btn
                    v-if="payable.status == 'Request For Payment' && $allowedActionButton('Verify Payables','action-only', permissions)"
                    color="blue-grey"
                    large
                    title="Verified for Cheque issuance"
                    @click.stop="UpdatePayable({status:'For Cheque Issuance'})"><v-icon class="mr-2">mdi-checkbook</v-icon> Verify For Check Issuance</v-btn>
                  <v-btn
                    v-if="payable.status == 'For Cheque Issuance' && $allowedActionButton('For Deposit Payables Status','action-only', permissions)"
                    block
                    color="success"
                    large
                    title="Check Issued"
                    @click.stop="setStatus='Cheque Issued',uploaddialog = true"><v-icon class="mr-2">mdi-bank-transfer-in</v-icon> For Deposit</v-btn>
                  <v-btn
                    v-if="payable.status == 'Cheque Issued' && $allowedActionButton('Complete Payables Status','action-only', permissions)"
                    block
                    color="success"
                    large
                    title="Payment Complete"
                    @click.stop="setStatus='Paid', uploaddialog = true"><v-icon class="mr-2">mdi-check</v-icon> Paid</v-btn>
                </div>
              </v-flex>
            </v-layout>

          </v-card-text>
        </v-card>
      </v-flex>

    </v-layout>
    <v-tooltip
      v-if="$allowedActionButton('Add Item',entry.status, permissions)"
      left
    >
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            dark
            fixed
            bottom
            right
            fab
            color="primary"
            v-on="on"
            @click.stop="itemdialog = true, resetItem(), selectedItem={},selectedItem.unit=1"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Add Item</span>
    </v-tooltip>

    <!-- Dialogs -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note-plus</v-icon>
          Edit
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="form2"
            lazy-validation
          >

            <v-layout wrap>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  v-model="entry.id"
                  label="P.R. #"
                  class="pa-1"
                />
              </v-flex>
              <v-flex>
                <v-menu
                  id="datemenu"
                  v-model="datemenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="entry.delivery_date"
                      label="Delivery Date"
                      prepend-icon="mdi-calendar-month"
                      readonly
                      v-on="on"

                    />
                  </template>
                  <v-date-picker
                    v-model="entry.delivery_date"
                    @input="datemenu = false" />
                </v-menu>
              </v-flex>
            </v-layout>

            <v-autocomplete
              v-model="selectedSupplier"
              :items="suppliers"
              :rules="[v => !!v || 'Supplier is required']"
              item-text="name"
              item-value="id"
              label="Select Supplier"
              return-object
              required
            />

            <v-layout wrap>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  :value="selectedSupplier.tin"
                  label="T.I.N"
                  class="pa-1"
                />
              </v-flex>
              <v-flex>
                <v-text-field
                  :disabled="true"
                  :value="selectedSupplier.contact_number"
                  label="Contact No."
                  class="pa-1"
                />
              </v-flex>
            </v-layout>
            <v-text-field
              :disabled="true"
              :value="selectedSupplier.address"
              label="Address"
            />
            <v-layout wrap>
              <v-flex>
                <v-autocomplete
                  v-model="entry.payment_term"
                  :items="terms"
                  :rules="[v => !!v || 'Payment Term is required']"
                  label="Select Payment Term"
                  required
                  class="pa-1"
                />
              </v-flex>
              <v-flex>
                <!-- <v-autocomplete
                  v-model="entry.payment_status"
                  :items="PaymentStatus"
                  :disabled="true"
                  :rules="[v => !!v || 'Payment Status is required']"
                  label="Payment Status"
                  required
                  class="pa-1"
                /> -->
              </v-flex>
            </v-layout>
            <v-text-field
              v-model="entry.description"
              :rules="[v => !!v || 'Description/Purpose Status is required']"
              label="P.R. Description/Purpose"
            />
            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> <v-icon class="mr-2">mdi-content-save</v-icon>  Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="uploaddialog"
      persistent
      max-width="550">
      <v-card>
        <v-card-text class="text-md-center">
          <p
            v-if="payable.status == 'For Check Issuance'"
            class="text-md-left"> Upload Check Image</p>
          <p
            v-if="payable.status == 'For Deposit'"
            class="text-md-left"> Upload Deposit Slip Image</p>
          <v-flex
            xs12
            class="text-xs-center text-sm-center text-md-center text-lg-center">

            <img
              v-if="imageUrl"
              :src="imageUrl"
              height="150">
            <br >
            <v-progress-linear
              v-if="uploadprogress == true"
              :indeterminate="true"/>
            <v-text-field
              v-model="imageName"
              label="Select Image"
              prepend-icon="mdi-paperclip"
              @click="pickFile"/>
            <input
              ref="image"
              type="file"
              style="display: none"
              accept="image/*"
              @change="onFilePicked"
            >
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="uploaddialog = false, resetUpload()">close</v-btn>
          <v-spacer/>

          <v-btn
            v-if="completeupload == false"
            small
            color="green darken-1"
            flat
            @click="FileUpload()">Upload</v-btn>
          <v-btn
            v-else
            small
            color="green darken-1"
            flat
            @click="uploaddialog = false, resetUpload(), UpdatePayable({status:setStatus})">Done</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="confirmdialog"
      persistent
      max-width="250">
      <v-card>
        <v-card-text class="text-md-center">
          <v-icon
            color="main"
            class="mr-2">mdi-comment-question-outline</v-icon>{{ confirmMessage }}
          <div
            v-if="confirm=='issue_po'"
            class="pt-3">
            <v-select
              v-model="entry.type"
              :items="['Declared', 'Undeclared']"
              label="P.O. Type"
              @change="getSeries()"
            />
            <v-text-field
              v-model="entry.number"
              label="Enter P.O. #"
            />
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="confirmdialog = false">close</v-btn>
          <v-spacer/>

          <v-btn
            small
            color="green darken-1"
            flat
            @click="setSupplier(), confirmdialog = false, Proceed()">Proceed</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="signaturedialog"
      persistent
      max-width="430">
      <v-card>

        <v-card-text class="text-md-center">
          <VueSignaturePad
            ref="signaturePad"
            :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}"
            width="400px"
            height="200px"
            style="border: 1px solid #aaa;"
          />
          <div
            style="border-top: 1px solid #555;"
            class="mb-4">
            Your Signature <v-icon
              color="purple"
              class="ml-1">mdi-arrow-up-bold-box</v-icon>
          </div>

        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="signaturedialog = false">close</v-btn>
          <v-spacer/>
          <v-btn
            small
            color="warning"
            @click="undoSignature"><v-icon class="mr-1">mdi-undo</v-icon> Undo</v-btn>

          <v-btn
            v-if="$allowedAction('Recommend for P.O.') && entry.status == 'Recommended P.R.'"
            small
            color="info"
            @click="signaturedialog=false,confirmMessage= 'Approved P.R.?', confirm='approve_pr', saveSignature(), Proceed()"><v-icon class="mr-1">mdi-file-check</v-icon> Approved P.R.</v-btn>
          <v-btn
            v-if="$allowedAction('Approve for P.O.') && entry.status == 'Recommended for P.O.'"
            small
            color="success"
            @click="signaturedialog=false, confirmMessage= 'Approve to issue P.O.?', confirm='approve_for_po', saveSignature(), Proceed()"><v-icon class="mr-1">mdi-check-decagram</v-icon> Approve for P.O.</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="itemdialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note-plus</v-icon>
          <span v-if="editItem==false"> Add Item </span> <span v-else> Edit Item </span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="itemdialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="formitem"
            lazy-validation
          >

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedCode"
                  :items="PRODUCTCODES"
                  :rules="[v => !!v || 'Product Code is required']"
                  item-text="code"
                  item-value="code"
                  label="Product Code"
                  required
                  return-object
                  @change="setCategory(), checkCode()"
                >
                  <template slot="prepend-item">
                    <div
                      class="ma-2 pt-2 pl-3 pr-3"
                      style="background:#CCE4F7;">
                      <small style="color: #FF9800;">New product code.</small>
                      <v-checkbox
                        v-model="newcode.with_serial"
                        small
                        value="no"
                        single-line
                        height="10"
                        label="Without Serial?"/>
                      <v-spacer/>
                      <v-text-field
                        v-model="newcode.code"
                        label="New Product Code"
                        dense
                        append-icon="mdi-send"
                        @click:append="SaveCode('code','new')"
                      />
                      <v-divider/>
                    </div>

                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedCode.brand"
                  :items="BRANDS"
                  :rules="[v => !!v || 'Brand is required']"
                  item-text="name"
                  item-value="name"
                  label="Brand"
                  required
                >
                  <template slot="no-data">
                    <div class="pa-4">
                      Brand not found! Add Brand.
                      <v-text-field
                        v-model="newbrand.name"
                        label="New Brand Name"
                        @focus="newbrand.name=''"
                        @change="SaveCode('brand','new')"
                      />

                    </div>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedCategory"
                  :items="categories"
                  :hint="selectedCategory.parent_name"
                  label="Product Category"
                  item-text="name"
                  item-value="id"
                  return-object
                >
                  <template
                    slot="item"
                    slot-scope="data"
                  >
                    {{ data.item.name }}<br><small style="color: #34A2E7;">{{ data.item.parent_name }}</small>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  :rules="[v => !!v || 'Model is required']"
                  v-model="selectedCode.model"
                  label="Model"
                  required
                />
              </v-flex>
            </v-layout>
            <v-flex>
              <v-textarea
                v-model="selectedCode.description"
                :rules="[v => !!v || 'Description is required']"
                label="Description"
                box
                required
                @change="checkNew()"
              />
            </v-flex>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.unit"
                  :rules="[v => !!v || '# of Unit(s) is required']"
                  label="# of Unit(s)"
                  type="number"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.price_per_unit"
                  :rules="[v => !!v || 'Price Per Unit is required']"
                  :value="SRP"
                  label="Price Per Unit"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.quantity"
                  :rules="[v => !!v || 'Quantity is required']"
                  label="Quantity"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.branch_price"
                  :rules="[v => !!v || 'BP is required']"
                  label="Branch Price"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.retail_price"
                  :rules="[v => !!v || 'SRP is required']"
                  label="Suggested Retail Price"
                  box
                  required
                  @change="validateGPM()"
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.insentive"
                  label="SMI(Discount)"
                  box
                  @change="validateGPM()"
                />
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.dealer_price"
                  :rules="[v => !!v || 'DP is required']"
                  label="Dealer's Price"
                  box
                  required
                  @change="validateGPM()"
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.special_dealer_price"
                  :value="SDP"
                  :disabled="true"
                  :rules="[v => !!v || 'SDP is required']"
                  label="Special Dealer's Price"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">

                <v-text-field
                  v-model="selectedItem.wholesale_price"
                  :rules="[v => !!v || 'WP is required']"
                  :value="WP"
                  label="Wholesale Price"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  :disabled="true"
                  :value="$money(IsNum(selectedItem.special_dealer_price) * IsNum(selectedItem.quantity))"
                  label="TOTAL"
                />
              </v-flex>
            </v-layout>

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validateItem()"> <v-icon class="mr-2">mdi-plus</v-icon>  <span v-if="editItem==false"> Add </span> <span v-else> Save </span></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="discountdialog"
      persistent
      max-width="460px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note-minus</v-icon>
          <span v-if="discount.type=='discount'">Add Discount</span>
          <span v-else>Add Deduction</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="discountdialog = false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="formitem"
            lazy-validation
          >

            <v-checkbox
              v-model="discount_type"
              label="Percentage"
              color="indigo"
              value="percent"
              single-line
              hide-details
            />
            <br >
            <v-text-field
              v-model="discount.amount"
              :label="discount_type_label"
              box
            />
            <v-text-field
              v-model="discount.description"
              label="Description"
              box
            />

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="Add_Discount"> <v-icon class="mr-2">mdi-plus</v-icon>  Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="cmdialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note</v-icon>
          Credit Memo
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="cmdialog = false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-layout>
            <v-flex md4>
              Ready C.M.
              <v-divider />
              <span
                v-for="(item,i) in creditmemos"
                :key="i"
                @click="selectCM=item, edit=true, add_memo=false">
                <v-btn
                  v-if="item.status == 'Ready'"
                  small
                  color="main"
                  block
                  title="View Details">
                  Ref No. {{ item.reference_no }} <small class="ml-2">({{ item.created | moment("from", "now") }})</small>
                </v-btn>
              </span>
            </v-flex>

            <v-flex
              md8
              class="pl-5">
              Details
              <v-divider />
              <v-form
                ref="formmemo"
                lazy-validation
              >
                <v-text-field
                  :disabled="add_memo==false"
                  v-model="selectCM.reference_no"
                  label="Reference No."/>

                <v-autocomplete
                  :disabled="add_memo==false"
                  v-model="selectCM.type"
                  :items="['Marketing', 'Refund']"
                  :rules="[v => !!v || 'Type is required']"
                  label="Type"
                  required
                />

                <v-text-field
                  :disabled="add_memo==false"
                  v-model="selectCM.description"
                  label="Description"/>

                <v-text-field
                  :disabled="add_memo==false"
                  v-model="selectCM.amount"
                  :rules="[v => !!v || 'Amount is required']"
                  required
                  label="Amount"/>

                <small>*indicates required field</small>
              </v-form>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-btn
            color="accent darken-1"
            small
            title="New C.M."
            fab
            @click="selectCM={}, edit=false, add_memo=true"> <v-icon>mdi-plus</v-icon> </v-btn>
          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="claimMemo"> <v-icon class="mr-2">mdi-check</v-icon> <span v-if="edit==false">Add And Claim C.M. </span> <span v-else>Claim C.M. </span></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="imagedialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition">

      <v-card>
        <v-toolbar
          dark
          color="main">
          <v-toolbar-title style="color: #f1f1f1;">Image Viewer</v-toolbar-title>
          <v-spacer/>
          <v-toolbar-items>
            <v-btn
              dark
              flat
              @click="imagedialog = false"> <v-icon>mdi-close</v-icon></v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <p class="text-md-center">
          <img :src="viewimage" >
        </p>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <vue-context ref="menu">
      <template slot-scope="child">

        <li v-if="$allowedActionButton('Edit',entry.status, permissions)">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-pencil</v-icon>Edit</a>
        </li>
        <li v-if="entry.status != 'Issued' && entry.status != 'Delivered' && entry.status != 'Partial Delivery' && entry.status != 'Lacking Delivery'">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-delete</v-icon>Remove</a>
        </li>
        <li v-if="$allowedActionButton('View Items',entry.status, permissions)">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-open-in-new</v-icon>View Items</a>
        </li>
      </template>
    </vue-context>
    <vue-context ref="menu2">
      <template slot-scope="child">

        <li v-if="$allowedActionButton('Edit',entry.status, permissions)">
          <a
            href="#"
            @click.prevent="onClickDiscount($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-delete</v-icon>Remove</a>
        </li>

      </template>
    </vue-context>

    <ams-print-po
      :show="print_dialog"
      :pr="entry"
      :discount-item="discountItem"
      :deduction-item="deductionItem"
      :claimedmemos="claimedmemos"
      :itemtotal="ITEMTOTAL"
      :subtotal="SUBTOTAL"
      :withheldtax="WITHHELDTAX.toString()"
      :totalamount="TOTALAMOUNT.toString()"
      :supplier="SUPPLIERDATA"
      :categories="categories"
      :items="purchaseItems"
      @DialogEvent="PrintEvent"/>

    <ams-purchase-items
      :show="viewitems"
      :purchase-id="parseInt($route.params.id)"
      :product="selectedItem"
      @DialogEvent="PrintEvent"
    />
  </v-container>

</template>

<script>
import { setTimeout } from 'timers'
import { VueContext } from 'vue-context'
import { VericonUrl } from '@/assets/verified.png'
import md5 from 'md5'
export default {
  components: {
    VueContext
  },
  data: () => ({
    print_dialog: false,
    viewitems: false,
    imageName: '',
    discount_type: 'fixed',
    noImage: require('@/assets/no-image-icon.png'),
    imagedialog: false,
    viewimage: require('@/assets/no-image-icon.png'),
    imageUrl: '',
    imageFile: '',
    add_memo: false,
    uploadprogress: false,
    completeupload: false,
    search: '',
    signaturedialog: false,
    uploaddialog: false,
    signatureData: '',
    dialog: false,
    itemdialog: false,
    cmdialog: false,
    discountdialog: false,
    media: {},
    mediaUrl: '',
    discount: {},
    verSrc: require('@/assets/verified.png'),
    vericon: '',
    edit: false,
    confirm: '',
    valid: false,
    shownote: true,
    log: {},
    selectedCategory: {},
    confirmdialog: false,
    alertMessage: '',
    snackbar: false,
    datemenu: false,
    confirmMessage: '',
    newcode: {},
    newbrand: {},
    date: '',
    pr_ID: 0,
    selectedCode: {},
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 5000,
    editItem: false,
    entry: {},
    toggle_exclusive: 0,
    suppliers: [],
    selectedSupplier: {},
    purchase: {},
    notes: [],
    purchaselogs: [],
    categories: [],
    codebrands: {},
    selectedBrand: {},
    codes: {},
    setStatus: '',
    purchaseDiscounts: [],
    discountItem: [],
    deductionItem: [],
    selectedItem: {},
    branch_price: 0,
    purchaseItems: [],
    itemcode: '',
    creditmemos: [],
    claimedmemos: [],
    selectCM: {},
    rate_increase: 1,
    gpm_limit: 0,
    payable: {},
    drnumbers: [],
    permissions: []
  }),
  computed: {
    discount_type_label () {
      let label = 'Enter Amount'
      this.discount_type == 'percent' ? label = 'Enter Percentage' : label = 'Enter Amount'
      return label
    },
    terms () {
      return this.$store.state.app.PaymentTerms
    },
    PaymentStatus () {
      return this.$store.state.app.PaymentStatus
    },
    SUPPLIER () {
      if (this.purchase.supplier != null) {
        return this.purchase.supplier.contact_person + ' - ' + this.purchase.supplier.company
      }
    },
    SUPPLIERDATA () {
      var data = {}
      if (this.purchase.supplier != null) {
        data = this.purchase.supplier
      }
      return data
    },
    ADDRESS () {
      if (this.purchase.supplier != null) {
        return this.purchase.supplier.address
      }
      return '---'
    },
    CONTACTNUMBER () {
      if (this.purchase.supplier != null) {
        return this.purchase.supplier.address
      }
      return '---'
    },
    DELIVERYSTATUS () {
      if (this.purchase.purchase != null) {
        if (this.purchase.purchase.status == 'Partial Delivery' || this.purchase.purchase.status == 'Lacking Delivery' || this.purchase.purchase.status == 'Delivered') {
          return this.purchase.purchase.status
        }
      }
      return '---'
    },
    PRODUCTCODES () {
      return this.codebrands.product_codes
    },
    BRANDS () {
      return this.codebrands.brands
    },
    WP () {
      // console.log((this.selectedItem.dealer_price * this.rate_increase).toString())
      return this.selectedItem.dealer_price * this.rate_increase
    },
    BP () {
      return this.selectedItem.dealer_price * this.rate_increase
    },
    SRP () {
      this.selectedItem.price_per_unit = (parseFloat(this.selectedItem.retail_price) / parseInt(this.selectedItem.unit)).toFixed(2)
      isNaN(this.selectedItem.price_per_unit) ? this.selectedItem.price_per_unit = 0 : console.log()
      return this.selectedItem.price_per_unit
    },
    SDP () {
      this.selectedItem.special_dealer_price = this.IsNum(this.selectedItem.dealer_price) - this.IsNum(this.selectedItem.insentive)
      return this.IsNum(this.selectedItem.dealer_price) - this.IsNum(this.selectedItem.insentive)
    },
    AMOUNTCLAIMED () {
      let total = 0
      for (let i = 0; i < this.claimedmemos.length; i++) {
        total += this.IsNum(this.claimedmemos[i].amount)
      }
      return total
    },
    ITEMTOTAL () {
      let total = 0
      for (let i = 0; i < this.purchaseItems.length; i++) {
        total += this.IsNum(this.purchaseItems[i].special_dealer_price) * this.IsNum(this.purchaseItems[i].quantity)
      }
      return total
    },
    SUBTOTAL () {
      let discount = 0
      for (let i = 0; i < this.discountItem.length; i++) {
        discount += this.IsNum(this.discountItem[i].amount)
      }
      return this.IsNum(this.ITEMTOTAL) - this.IsNum(discount) - this.WITHHELDTAX
    },
    WITHHELDTAX () {
      var tax = 0
      if (this.entry.type == 'Declared') {
        tax = ((this.ITEMTOTAL / 1.12) * 0.01).toFixed(2)
      }
      return this.IsNum(tax)
    },
    CALCULATETOTAL () {
      let deduction = 0
      for (let i = 0; i < this.deductionItem.length; i++) {
        deduction += this.IsNum(this.deductionItem[i].amount)
      }
      return this.IsNum(this.SUBTOTAL) - this.IsNum(deduction) - this.AMOUNTCLAIMED
    },
    TOTALAMOUNT () {
      let deduction = 0
      for (let i = 0; i < this.deductionItem.length; i++) {
        deduction += this.IsNum(this.deductionItem[i].amount)
      }
      return (this.IsNum(this.SUBTOTAL) - this.IsNum(deduction) - this.AMOUNTCLAIMED)
    }

  },
  watch: {
    confirm () {
      if (this.confirm == 'issued_po') {

      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.pr_ID = parseInt(this.$route.params.id)
    this.imageUrl = this.noImage
    this.permissions = this.$session.get('access_buttons')
    this.ViewPurchase()
    this.getSuppliers()
    this.getSettings('P.R. GPM Limit')
    // this.getPermission()
    setTimeout(() => {
      this.getLogs()
      this.getCategories()
      this.getCode_Brand()
      this.getDiscount()
      this.getClaimedCM()
    }, 100)
  },
  methods: {
    checkRate () {
      this.selectedItem.wholesale_price = this.IsNum(this.selectedItem.dealer_price) * this.IsNum(this.rate_increase)
      this.selectedItem.branch_price = this.IsNum(this.selectedItem.dealer_price) * this.IsNum(this.rate_increase)
      console.log('pass', this.selectedItem)
    },
    getSeries () {
      this.$http.post('purchase/next_series', { type: this.entry.type }).then(response => {
        response.data.number != null ? this.entry.number = response.data.number.number : this.entry.number = ''
      }).catch(e => {
        console.log(e.data)
      })
    },
    PrintEvent (event) {
      this.print_dialog = false
      this.viewitems = false
    },
    validateGPM () {
      console.log(this.selectedItem, this.selectedCategory.gpm_limit)
      if (this.selectedCategory.gpm_limit && this.selectedItem.retail_price && this.selectedItem.dealer_price && this.selectedItem.special_dealer_price) {
        var gpm = ((parseFloat(this.selectedItem.retail_price) - parseFloat(this.selectedItem.special_dealer_price)) / parseFloat(this.selectedItem.special_dealer_price))
        var whole = (gpm * 100)
        if (parseFloat(this.selectedCategory.gpm_limit) > whole) {
          console.log('set srp', whole)
          this.selectedItem.retail_price = (parseFloat(this.selectedItem.dealer_price) + (parseFloat(this.selectedItem.dealer_price) * (parseFloat(this.selectedCategory.gpm_limit) / 100))).toString()
          console.log(this.selectedItem.retail_price)
        }
        console.log('pass srp', whole)
      }
      this.checkRate()
    },
    getGPM (item) {
      var gpm = ((parseFloat(item.retail_price) - parseFloat(item.special_dealer_price)) / parseFloat(item.special_dealer_price)) * 100
      return this.$money(gpm) + '%'
    },
    pickFile () {
      this.$refs.image.click()
    },

    resetUpload () {
      this.imageName = ''
      this.imageFile = ''
      this.imageUrl = this.noImage
      this.completeupload = false
      this.uploadprogress = false
    },

    onFilePicked (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    FileUpload () {
      this.uploadprogress = true
      if (this.imageFile.type.search('image') == -1) {
        this.alertMessage = 'Media not supported!'
        this.snackbarcolor = 'warning'
        this.snackbar = true
        this.uploadprogress = false
        return
      }
      let ext = this.imageFile.name.split('.')
      ext = ext[ext.length - 1]
      let _filename = md5(this.imageFile.name + this.$moment().format('YYYYMMDDhhmmssa'))
      let data = {
        filename: _filename + '.' + ext,
        data: this.imageUrl,
        file_type: this.imageFile.type,
        size: this.imageFile.size.toString(),
        title: this.imageFile.name,
        method: 'accounting'
      }

      this.$http.post('media/upload', data).then(response => {
        this.uploadprogress = false
        this.alertMessage = 'Image succesfully upload!'
        this.snackbarcolor = 'success'
        this.snackbar = true
        this.completeupload = true
        response.data.data != null ? this.media = response.data.data : console.log()
        this.mediaUrl = this.media.method + '/' + _filename + '.' + ext
        console.log(this.mediaUrl)
      }).catch(e => {
        console.log(e.data)
      })
    },
    undoSignature () {
      this.$refs.signaturePad.undoSignature()
    },
    saveSignature () {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()

      this.signatureData = data
      setTimeout(() => {
        this.undoSignature()
      }, 800)
    },
    onClick (text, data) {
      this.selectedItem = data
      if (text == 'Edit') {
        this.editItem = true
        this.setCode(this.selectedItem.code)
        this.itemdialog = true
      } else if (text == 'Remove') {
        this.removeItem()
      } else if (text == 'View Items') {
        this.viewitems = true
      }
    },
    onClickDiscount (text, data) {
      this.$http.post('purchase/remove_discount', data).then(response => {
        this.alertMessage = response.data.message
        this.snackbarcolor = 'success'
        this.snackbar = true
        this.getDiscount()
      }).catch(e => {
        console.log(e.data)
      })
    },
    IsNum: function (input) {
      if (isNaN(parseFloat(input)) || input == null) {
        return 0
      }
      return parseFloat(input)
    },
    cat_name (id) {
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) { return this.categories[i].name }
      }
    },
    setCategory () {
      let id = this.selectedCode.category
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          break
        }
      }
    },
    checkNew () {
      console.log('checkNew')
      console.log(this.newcode)
      if (this.newcode.code != null) {
        this.newcode = this.selectedCode
        this.SaveCode('code', 'update')
      }
    },
    checkCode () {
      console.log('checkCode', this.selectedCode.brand)
      if (!this.selectedCode.brand) {
        this.newcode = this.selectedCode
      } else {
        // get exising data
        this.LoadExistingData()
      }
      // console.log(this.newcode)
    },
    LoadExistingData () {
      console.log(this.selectedCode.code)
      this.$http.post('purchase/get_existing_data', this.selectedCode).then(response => {
        response.data.data != undefined ? this.selectedItem = response.data.data : this.selectedItem = {}
      }).catch(e => {
        console.log(e.data)
      })
    },
    claimMemo () {
      let method = 'credit_memo/new'
      if (this.edit == true) {
        method = 'credit_memo/update'
      }
      this.selectCM.applied_to_pr = this.pr_ID
      this.selectCM.supplier = this.purchase.purchase.supplier
      this.$http.post(method, this.selectCM).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.cmdialog = false
          this.log.action = 'Claimed C.M. ref: ' + this.selectCM.reference_no
          this.SaveLog('log', false)
          this.getClaimedCM()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    resetItem () {
      this.selectedCode = {}
      // this.testbeh = 0
      // this.branch_price = 0,
      this.newcode = {}
      this.selectedItem = {}
      this.$refs.formitem.resetValidation()
      this.editItem = false
    },
    setCode (code) {
      for (let i = 0; i < this.codebrands.product_codes.length; i++) {
        if (code == this.codebrands.product_codes[i].code) {
          this.selectedCode = this.codebrands.product_codes[i]
          break
        }
      }
    },
    Add_Discount () {
      this.discount.purchase = this.pr_ID
      if (this.discount_type == 'percent') {
        let amt = (parseFloat(this.discount.amount) / 100) * parseFloat(this.ITEMTOTAL)
        this.discount.amount = amt.toString()
      }
      this.$http.post('purchase/add_discount', this.discount).then(response => {
        this.alertMessage = response.data.message
        this.snackbarcolor = 'success'
        this.snackbar = true
        this.discount = {}
        this.discountdialog = false
        this.getDiscount()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getDiscount () {
      this.discountItem = []
      this.deductionItem = []
      this.purchaseDiscounts = []
      this.$http.post('purchase/get_discounts', { id: this.pr_ID }).then(response => {
        response.data.data != null ? this.purchaseDiscounts = response.data.data : console.log()

        for (var i = 0; i < this.purchaseDiscounts.length; i++) {
          this.purchaseDiscounts[i].type == 'deduction' ? this.deductionItem.push(this.purchaseDiscounts[i]) : this.discountItem.push(this.purchaseDiscounts[i])
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    validateItem () {
      if (this.$refs.formitem.validate()) {
        this.editItem == false ? this.SaveItem('new') : this.SaveItem('update')
      }
    },
    validate () {
      if (this.$refs.form2.validate()) { this.Save() }
    },
    formatDate (date) {
      return this.$moment(date).format('LLL')
    },
    Proceed () {
      this.entry = this.purchase.purchase
      if (this.confirm == 'reprocess') {
        this.entry.status = 'On Process'
        this.log.action = 'Re-process P.R'
      }
      if (this.confirm == 'cancel') {
        this.entry.status = 'Cancelled'
      }
      if (this.confirm == 'post') {
        this.entry.status = 'Posted'
      }
      if (this.confirm == 'verify_pr') {
        this.entry.status = 'Verified P.R.'
      }
      if (this.confirm == 'recommend_pr') {
        this.entry.status = 'Recommended P.R.'
      }
      if (this.confirm == 'approve_pr') {
        this.entry.status = 'Approved P.R.'
        this.entry.recommend_signature = this.signatureData
      }
      if (this.confirm == 'recommend_for_po') {
        this.entry.status = 'Recommended for P.O.'
      }
      if (this.confirm == 'approve_for_po') {
        this.entry.status = 'Approved for P.O.'
        this.entry.approved_signature = this.signatureData
      }
      if (this.confirm == 'paid') {
        this.entry.payment_status = 'Paid'
      }
      if (this.confirm == 'issue_po') {
        if (this.entry.number != '') {
          this.entry.number = this.entry.number.toString()
          this.entry.status = 'Issued'
          this.Save()
        } else {
          this.alertMessage = 'Please enter P.O. #'
          this.snackbarcolor = 'warning'
          this.snackbar = true
        }
      }

      this.confirm != 'issue_po' ? this.Save() : console.log()
      this.confirm == 'reprocess' ? this.log.action = 'P.R. Re-process' : this.log.action = this.entry.status

      this.SaveLog('log', false)
    },
    SaveItem (type) {
      this.selectedItem.code = this.selectedCode.code
      this.selectedItem.brand = this.selectedCode.brand
      this.selectedItem.category = this.selectedCode.category
      this.selectedItem.wholesale_price = this.$IsNum(this.selectedItem.wholesale_price).toString()
      this.selectedItem.branch_price = this.$IsNum(this.selectedItem.wholesale_price).toString()
      this.selectedItem.model = this.selectedCode.model
      this.selectedItem.description = this.selectedCode.description
      this.selectedItem.purchase = this.pr_ID
      this.selectedItem.unit = parseInt(this.selectedItem.unit)
      this.selectedItem.quantity = parseInt(this.selectedItem.quantity)
      this.selectedItem.special_dealer_price = this.selectedItem.special_dealer_price.toString()
      console.log(this.selectedItem)
      let method = ''
      type == 'new' ? method = 'purchase/add_item' : method = 'purchase/update_item'
      this.$http.post(method, this.selectedItem).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.itemdialog = false
          this.snackbarcolor = 'success'
          this.resetItem()
          this.getPurchaseItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    removeItem () {
      this.$http.post('purchase/delete_item', { id: this.selectedItem.id }).then(response => {
        this.alertMessage = response.data.message
        this.snackbarcolor = 'success'
        this.getPurchaseItems()
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    setSupplier () {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (this.purchase.purchase.supplier == this.suppliers[i].id) {
          this.selectedSupplier = this.suppliers[i]
          return
        }
      }
    },
    getSettings (qry) {
      // console.log(qry)
      this.$http.post('setting/query', { name: qry }).then(response => {
        response.data.setting != null ? this.gpm_limit = response.data.setting.value : this.gpm_limit = 0
      }).catch(e => {
        console.log(e.data)
      })

      this.$http.post('setting/query', { name: 'Assembly price increase rate' }).then(response => {
        response.data.setting != null ? this.rate_increase = parseFloat(response.data.setting.value) : this.gpm_limit = 0
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCM () {
      this.items = []
      this.dataItems = []
      this.$http.post('credit_memo/list', JSON.stringify({ method: 'by_supplier', int_val: this.purchase.purchase.supplier })).then(response => {
        response.data.data != null ? this.creditmemos = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getClaimedCM () {
      this.$http.post('credit_memo/list', JSON.stringify({ method: 'applied_to_pr', int_val: this.pr_ID })).then(response => {
        response.data.data != null ? this.claimedmemos = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    ViewPurchase () {
      this.$http.post('purchase/view', JSON.stringify({ method: 'by_id', int_val: this.pr_ID })).then(response => {
        response.data.data != null ? this.purchase = response.data.data : console.log()
        this.entry = this.purchase.purchase
        if (this.entry.status == 'Lacking Delivery' || this.entry.status == 'Delivered') {
          this.getPayableStatus()
          this.getDr()
        }
        if (this.entry.payment_term == 'CBD' || this.entry.payment_term == 'COD' && this.entry.status == 'Issued') {
          this.getPayableStatus()
          this.getDr()
        }
        this.getPurchaseItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getDr () {
      this.drnumbers = []
      this.$http.post('receive/get_dr', JSON.stringify({ method: 'by_purchase', int_val: this.entry.id })).then(response => {
        response.data.data != null ? this.drnumbers = response.data.data : this.drnumbers = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    getPayableStatus () {
      this.$http.post('payable/query', JSON.stringify({ reference_pr: this.pr_ID })).then(response => {
        response.data.data != null ? this.payable = response.data.data : console.log()
        this.vericon = this.verSrc
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdatePayable (obj) {
      obj.reference_pr = this.pr_ID
      obj.status == 'Cheque Issued' ? this.payable.check_image = this.mediaUrl : obj.check_image = ''
      obj.status == 'Request For Payment' ? this.payable.invoice_image = this.mediaUrl : obj.invoice_image = ''
      obj.status == 'For Check Issuance' ? this.payable.amount = this.TOTALAMOUNT.toString() : obj.amount = this.payable.amount
      obj.status == 'Paid' ? this.payable.deposit_slip = this.mediaUrl : obj.deposit_slip = ''
      // obj.status== 'For Deposit' ? obj.status="Completed": console.log()
      this.payable.status = obj.status
      console.log(this.payable)
      this.$http.post('payable/update', this.payable).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'success'
          this.getPayableStatus()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    getPurchaseItems () {
      this.$http.post('purchase/get_items', JSON.stringify({ id: this.pr_ID })).then(response => {
        response.data.data != null ? this.purchaseItems = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      console.log('samp')
      // this.entry.supplier = this.selectedSupplier.id
      this.entry.amount = this.TOTALAMOUNT.toString()
      this.$http.post('purchase/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.snackbarcolor = 'success'
          this.ViewPurchase()
          this.entry = {}
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    getLogs () {
      this.notes = []
      this.purchaselogs = []
      this.$http.post('purchase/get_log', JSON.stringify({ purchase: this.pr_ID })).then(response => {
        if (response.data.data != null) {
          for (var i = 0; i < response.data.data.length; i++) {
            response.data.data[i].type == 'note' ? this.notes.push(response.data.data[i]) : this.purchaselogs.push(response.data.data[i])
          }
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveLog (type, snack) {
      this.log.type = type
      this.log.purchase = this.pr_ID
      this.snackbar = false
      this.log.action = this.log.action.trim()
      this.$http.post('purchase/add_log', this.log).then(response => {
        if (snack) {
          if (response.data.status) {
            this.alertMessage = response.data.message
            this.dialog = false
            this.snackbarcolor = 'success'
            this.log.action = ''
          } else {
            this.alertMessage = response.data.message
            this.snackbarcolor = 'warning'
          }
          this.snackbar = snack
        }
        this.getLogs()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveCode (data, type) {
      let method = ''
      let item = {}
      if (data == 'code') {
        type == 'update' ? method = 'setting/update_code' : method = 'setting/new_code'
        item = this.newcode
        item.category = this.selectedCategory.id
      } else if (data == 'brand') {
        type == 'update' ? method = 'setting/update_brand' : method = 'setting/new_brand'
        this.newbrand.name = this.newbrand.name.toUpperCase().trim()
        item = this.newbrand
      }
      this.$http.post(method, item).then(response => {
        if (response.data.status) {
          data == 'brand' ? this.selectedCode.brand = this.newbrand.name : this.selectedCode = response.data.data
          this.getCode_Brand()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
          this.snackbar = true
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    ValidateApprovalLimit () {
      if (parseFloat(this.TOTALAMOUNT) > parseFloat(this.$session.get('approval_limit'))) {
        this.alertMessage = 'Total purchase amount is higher than your approval limit!'
        this.snackbarcolor = 'warning'
        this.snackbar = true
      } else {
        this.signaturedialog = true
        this.confirmMessage = 'Approve this P.R.?'
        this.confirm = 'approve_pr'
      }
    }
  }
}
</script>
<style>
@media all {
  .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }
}
   .v-btn--fixed.v-btn--right {
     background: #4DA851 !important;
   }
  .v-tooltip__content.v-tooltip__content--fixed {
    background: #000;
    opacity: .6 !important;
    color: #fff !important;
  }

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
.noteArea {
  font-size: .8em;
}
.noteAreaData {
  color: #757575;
  padding: 10px;
  background: #fafafa;
  border-radius: 5px;
  margin-top: 7px;
}
.note_item {
  padding: 5px;
  border: 1px solid #82B1FF;
  margin-bottom: 3px;
  color: #82B1FF;
  border-radius: 5px;
  background: #E1EBFB;
}
.note_item_log {
  padding: 3px 5px;
  margin-bottom: 3px;
  color: #999;
  border-radius: 5px;
}
.noteAreaData {
    float: left;
    height: 300px;
    width: 100%;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 5px;
}
.alist {
  padding: 4px;
  border-bottom: 1px solid #eee;
  text-align: right;
  font-size: .9em;
}
.alist span {
  display: block;
  float:left;
  width: 240px;
}
.v-context {
    font-size:  .9em;
    padding: 4px 0;
    background: #044771;
    color: #fff;
  }
  .v-context li a {
    text-align:  left;
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #275571
  }

</style>
