<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-desktop-classic</v-icon> Assembled Products</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true"><v-icon>mdi-plus-box</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <tr>
              <td>
                <router-link :to="{ name: 'Assemble View', params: { id: props.item.id }}">
                  <v-icon
                    small
                    class="mr-1"
                    color="success">mdi-open-in-new</v-icon>
                </router-link>
                {{ props.item.code }}</td>
              <td>{{ props.item.description }}</td>
              <td>{{ props.item.category }}</td>
              <td>{{ props.item.brand }}</td>
              <td>{{ props.item.model }}</td>
              <td>{{ props.item.unit }}</td>
              <td>{{ props.item.quantity }}</td>
              <td>{{ props.item.status }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <ams-product-form
      :show="dialog"
      @DialogEvent="formEvent"/>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    menu1: false,
    menu2: false,
    startdate: '',
    enddate: '',
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Code',
        value: 'code'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Category',
        value: 'category'
      },
      {
        text: 'Brand',
        value: 'brand'
      },
      {
        text: 'Model',
        value: 'model'
      },
      {
        text: 'Unit',
        value: 'unit'
      },
      {
        text: 'QTY',
        value: 'quantity'
      },
      {
        text: 'Status',
        value: 'status'
      }
    ],
    entry: {},
    items: []
  }),
  computed: {

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
  },
  methods: {

    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
