<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-file-import</v-icon> Quotations</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dataItem={}, action='new', dialog=true"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="quotations"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              class="mr-1"
              small
              color="warning"
              @click="action='view', dataItem=props.item, dialog=true">mdi-open-in-new</v-icon>
              <v-icon
                v-if="props.item.status =='Approved'"
                class="mr-1"
                small
                color="#222"
                @click="action='view', dataItem=props.item, printdialog=true">mdi-printer</v-icon></td>
            <td> {{ props.item.id }}
            </td>
            <td>{{ props.item.prepared_to }}</td>
            <td>{{ props.item.prepared_by }}</td>
            <td>{{ props.item.prepared_date | moment("lll") }}</td>
            <td>{{ props.item.status }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
    <ams-quotation-form
      :show="dialog"
      :action="action"
      :data="dataItem"
      @DialogEvent="EventListener"/>
    <ams-print-quote
      :show="printdialog"
      :action="action"
      :data="dataItem"
      @DialogEvent="EventListener"/>
  </v-container>

</template>

<script>
import { filter } from 'minimatch'
import { setTimeout } from 'timers'
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    printdialog: false,
    action: 'new',
    dataItem: {},
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: '--',
        value: 'id',
        sortable: false,
        width: '70px'
      },
      {
        text: 'No.',
        value: 'id'
      },
      {
        text: 'Prepared To',
        value: 'prepared_to'
      },
      {
        text: 'Prepared By',
        value: 'prepared_by'
      },
      {
        text: 'Date',
        value: 'prepared_date'
      },
      {
        text: 'Status',
        value: 'status'
      }
    ],
    entry: {},
    branchlists: [],
    events: [],
    suppliers: [],
    quotations: [],
    productItems: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
  },
  methods: {
    EventListener (event) {
      this.dialog = false
      this.printdialog = false
      this.getItems()
    },
    showAlert (message, color) {
      this.snackbar = true
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getItems () {
      this.quotations = []
      this.$http.post('quotation/get', {}).then(response => {
        response.data.quotations != null ? this.quotations = response.data.quotations : this.quotations = []
        console.log(this.quotations)
      }).catch(e => {
        console.log(e.data)
      })
    },

    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : this.suppliers = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.$http.post('consignment/update', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      console.log(this.entry)
      this.$http.post('consignment/new', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getItems()
        this.dialog = false
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
