<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-store</v-icon> Sales Orders</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-icon
            class="ml-2"
            @click="dialog=true, edit=false, entry={}">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <router-link :to="{ name: 'View Order', params: { id: props.item.id }}">
                <v-icon
                  small
                  class="mr-1"
                  color="success">mdi-open-in-new</v-icon>
              </router-link>

              {{ props.item.id }}</td>
            <td>{{ props.item.created | moment('YYYY-MM-DD') }}</td>
            <td>{{ props.item.drnumber }}</td>
            <td>{{ props.item.invoice }}</td>
            <td>{{ props.item.company }}</td>
            <td>{{ props.item.customer_type }}</td>
            <td>{{ props.item.status }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-plus</v-icon>
          <span class="headline">New Sales Order</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="form"
            lazy-validation
          >
            <v-text-field
              v-model="entry.drnumber"
              label="D.R. #"
            />
            <v-text-field
              v-model="entry.invoice"
              label="Invoice"
            />

            <v-autocomplete
              v-model="selectedCustomer"
              :items="customers"
              item-text="company"
              item-value="id"
              return-object
              label="Select Customer"
              required/>

            <v-autocomplete
              v-model="entry.payment_type"
              :items="terms"
              label="Payment Type"
              required/>

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <ams-alert-bar
      :show="snackbar"
      :snackbarcolor="snackbarcolor"
      :message="alert" />

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    customers: [],
    selectedCustomer: {},
    menu1: false,
    menu2: false,
    startdate: '',
    enddate: '',
    edit: false,
    alert: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Order #',
        value: 'id',
        sortable: false
      },
      {
        text: 'Date',
        value: 'date'
      },
      {
        text: 'D.R. #',
        value: 'drnumber'
      },
      {
        text: 'Invoice',
        value: 'invoice'
      },
      {
        text: 'Customer',
        value: 'customer'
      },
      {
        text: 'Customer Type',
        value: 'customer_type'
      },
      {
        text: 'Status',
        value: 'status'
      }
    ],
    entry: {},
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    terms () {
      return this.$store.state.app.PaymentTerms
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getCustomers()
  },
  methods: {
    showAlert (alert, snackbarcolor) {
      this.snackbarcolor = snackbarcolor
      this.alert = alert
      this.snackbar = true
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Save() }
    },
    getItems () {
      this.items = []
      this.$http.post('sale/get_sales_order').then(response => {
        response.data.sales != null ? this.items = response.data.sales : this.items = []
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCustomers () {
      this.types = []
      this.$http.post('customer/query', { method: 'sales_order' }).then(response => {
        response.data.customer != null ? this.customers = response.data.customer : this.customers = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.entry.customer = this.selectedCustomer.id
      this.entry.type = 'Order'
      this.entry.status = 'On Process'
      this.entry.payment_status = 'Unpaid'
      this.$http.post('sale/new_sales_order', this.entry).then(response => {
        if (response.data.status) {
          this.showAlert(response.data.message, 'success')
          this.dialog = false
          this.getItems()
        } else {
          this.showAlert(response.data.message, 'warning')
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
