<template>
  <v-container
    id="nomargintoolbar"
    fluid
    grid-list-xl
  >
    <v-card class="mb-2">
      <v-card-title >
        <v-icon color="main">mdi-cart</v-icon> Order Details
        <v-spacer/>
        <v-btn
          v-if="order.status=='On Process'"
          color="warning"
          class="mr-2"
          small
          @click="order.status='Posted', UpdateOrder()">Post</v-btn>
        <v-btn
          v-if="order.status=='Posted'"
          color="main"
          class="mr-2"
          small
          @click="signaturePad=true">Approved</v-btn>
        <v-btn
          v-if="order.delivery_status !='Delivered'"
          color="main"
          class="mr-2"
          small
          @click="textform=true">Delivered</v-btn>
        <v-btn
          v-if="order.delivery_status =='Delivered'"
          color="main"
          class="mr-2"
          small
          @click="order.payment_status='Paid', UpdateOrder()">Paid</v-btn>
          <!-- <v-icon v-if="order.status=='Approved' ||  order.status=='Delivered'">mdi-printer</v-icon> -->
      </v-card-title>
      <v-card-text>
        <v-layout>
          <v-flex xs6>
            <v-text-field
              v-model="customer.type"
              :disabled="true"
              label="Type"
            />
            <v-text-field
              v-model="order.delivery_status"
              :disabled="true"
              label="Delivery Status"
            />
            <v-text-field
              v-model="order.drnumber"
              :disabled="isDisabled('Delivered')"
              label="D.R. #"
              @change="UpdateOrder()"
            />
          </v-flex>
          <v-flex xs6>
            <v-text-field
              :value="order.created | moment('ll')"
              :disabled="true"
              label="Date"
            />
            <v-autocomplete
              :items="terms"
              v-model="order.payment_type"
              :disabled="true"
              label="Payment Type"
            />
            <v-text-field
              v-model="order.invoice"
              :disabled="isDisabled('Delivered')"
              label="Sales Invoice"
              @change="UpdateOrder()"
            />
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <strong>Order Status: {{ order.status }}</strong>
        <v-spacer />
        <strong v-if="order.payment_status=='Paid'">Payment Status: <v-chip
          color="success"
          small
          text-color="#fff"> {{ order.payment_status }} </v-chip></strong>
        <strong v-else>Payment Status: <v-chip
          color="warning"
          text-color="#fff"
          small> {{ order.payment_status }} </v-chip></strong>
      </v-card-actions>
    </v-card>

    <v-card class="mb-2">
      <v-card-title >
        <v-icon color="main">mdi-account</v-icon> Customer Details

      </v-card-title>
      <v-card-text>
        <v-layout>
          <v-flex xs6>
            <v-text-field
              v-model="customer.company"
              :disabled="true"
              label="Company"
            />
            <v-text-field
              v-model="customer.address"
              :disabled="true"
              label="Address"
            />
            <v-text-field
              v-model="customer.tin"
              :disabled="true"
              label="T.I.N #"
            />
          </v-flex>
          <v-flex xs6>
            <v-text-field
              :value="customer.fullname"
              :disabled="true"
              label="Contact Person"
            />
            <v-text-field
              :value="customer.contact_no"
              :disabled="true"
              label="Contact #"
            />
            <v-text-field
              :value="customer.email"
              :disabled="true"
              label="Email"
            />
          </v-flex>
        </v-layout>
      </v-card-text>

    </v-card>

    <v-card class="mb-2">
      <v-card-title >
        <v-icon color="main">mdi-tag-multiple</v-icon> Particular
        <v-spacer/>
        <v-btn
          v-if="order.delivery_status !='Delivered'"
          color="main"
          small
          @click="dialog=true"><v-icon
            small
            class="mr-2">mdi-plus</v-icon> Add Item</v-btn>
      </v-card-title>
      <v-card-text>
        <table
          class="item_table"
          cellspacing="1px">
          <thead>
            <tr>
              <th width="12px">ITEM</th>
              <th width="150px">PRODUCT CODE</th>
              <th width="150px">BRAND</th>
              <th width="150px">CATEGORY</th>
              <th width="150px">MODEL</th>
              <th width="150px">SERIAL</th>
              <th width="50px">QTY</th>
              <th
                width="150px"
                class="text-xs-right">AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item,index) in items"
              :key="index"
              @contextmenu.prevent="$refs.menu.open($event, item)">
              <td class="text-xs-center pa-1">{{ index + 1 }}</td>
              <td class="pa-2">{{ item.code }}</td>
              <td class="pa-2">{{ item.brand }}</td>
              <td class="pa-2">{{ item.category_name }}</td>
              <td class="pa-2">{{ item.model }}</td>
              <td class="pa-2">{{ item.serial }}</td>
              <td class="pa-2">1</td>
              <td class="pa-2 text-xs-right">{{ $money(item.price) }}</td>
            </tr>
          </tbody>
        </table>
      </v-card-text>
    </v-card>

    <p class="pa-2 text-xs-right title">
      TOTAL INVOICE: {{ $money(TOTALAMOUNT) }}
    </p>

    <v-layout>
      <v-flex
        xs4
        class="text-xs-center">
        <p v-if="order.delivery_status == 'Delivered'">
          <img
            :src="order.delivered_signature"
            width="100%" >
          <br >
          Delivered By: {{ order.delivered_by }}
        </p>
      </v-flex>
      <v-flex
        xs4
        class="text-xs-center">
        <p v-if="order.status == 'Approved'">
          <img
            :src="order.approved_signature"
            width="100%">
          <br >
          Approved By: {{ order.approved_by }}
        </p>
      </v-flex>
      <v-flex xs4/>
    </v-layout>

    <!-- Dialoags -->
    <vue-context ref="menu">
      <template slot-scope="child">
        <li v-if="order.status == 'On Process'">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              class="mr-2"
              small>mdi-delete</v-icon>Remove Item</a>
        </li>
      </template>
    </vue-context>

    <ams-serial-form
      :show="dialog"
      @DialogEvent="formEvent"/>
    <ams-alert-bar
      :show="snackbar"
      :snackbarcolor="snackbarcolor"
      :message="alertMessage" />
    <ams-signature-pad
      :show="signaturePad"
      @DialogEvent="padEvent"/>
    <ams-text-form
      :show="textform"
      label="Delivered By"
      @DialogEvent="textEvent"/>
  </v-container>

</template>
<script>
import { VueContext } from 'vue-context'
export default {
  components: {
    VueContext
  },
  data: () => ({
    dialog: false,
    textform: false,
    signaturePad: false,
    alertMessage: '',
    serial: '',
    snackbar: false,
    snackbarcolor: '',
    customer: {},
    items: [],
    delivered_by: '',
    order: {}
  }),
  computed: {
    terms () {
      return this.$store.state.app.PaymentTerms
    },
    TOTALAMOUNT () {
      var total = 0
      for (var i = 0; i < this.items.length; i++) {
        total += this.$IsNum(this.items[i].price)
      }
      return total
    }

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getSales()
  },
  methods: {
    isDisabled (status) {
      if (this.order.status == status) {
        return true
      }
      return false
    },
    onClick (text, item) {
      this.RemoveItem(item)
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    textEvent (event) {
      this.delivered_by = event
      this.signaturePad = true
      this.textform = false
    },
    padEvent (event) {
      let status = this.order.status
      this.signaturePad = false
      if (event != '') {
        if (status == 'Posted') {
          this.order.status = 'Approved'
          this.order.approved_signature = event
          this.order.approved_by = this.$session.get('fullname')
        }
        if (status == 'Approved') {
          this.order.delivery_status = 'Delivered'
          this.order.delivered_signature = event
          this.order.delivered_by = this.delivered_by
        }
        this.UpdateOrder()
      }
    },
    formEvent (event) {
      this.dialog = false
      if (event.model != '') {
        if (this.existSerial(event.serial)) {
          this.showAlert('Already added', 'warning')
        } else {
          this.AddItem(event)
        }
      }
    },
    existSerial (serial) {
      for (var i = 0; i < this.items.length; i++) {
        if (serial == this.items[i].serial) {
          return true
        }
      }
      return false
    },
    RemoveItem (item) {
      console.log(item)
      this.$http.post('sale/remove_item', item).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.getSaleItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSaleItems () {
      this.$http.post('sale/get_items', this.order).then(response => {
        response.data.items != null ? this.items = response.data.items : this.items = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSales () {
      this.$http.post('sale/query', { id: parseInt(this.$route.params.id) }).then(response => {
        response.data.customer != null ? this.customer = response.data.customer : this.customer = {}
        response.data.order != null ? this.order = response.data.order : this.order = {}
        this.getSaleItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdateOrder () {
      this.$http.post('sale/update_order', this.order).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        response.data.order != null ? this.order = response.data.order : this.order = {}
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddItem (item) {
      var param = {}
      param.serial = item.serial
      param.code = item.code
      param.sales_id = this.order.id
      param.brand = item.brand
      param.model = item.model
      param.description = item.description
      param.category_name = item.category_name
      param.price = parseFloat(item.dealer_price)
      this.$http.post('sale/add_item', param).then(response => {
        this.showAlert('Added!', 'success')
        this.getSaleItems()
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>

  .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }

  .v-tooltip__content.v-tooltip__content--fixed {
    background: #000;
    opacity: .6 !important;
    color: #fff !important;
  }
  .v-context {
    font-size:  .9em;
    padding: 4px 0;
    background: #044771;
    color: #fff;
  }
  .v-context li a {
    text-align:  left;
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #275571
  }
</style>
