<template>
  <v-container>
    <v-layout
      justify-center
      wrap
      row
    >

      <material-card
        class="v-card-profile"
        style="margin-top: 100px;">
        <v-avatar
          slot="offset"
          class="mx-auto d-block"
          size="150"
        >
          <img
            :src="logo"
          >
        </v-avatar>
        <v-card-text
          class="text-xs-center"
          style="width: 390px;">
          <v-form
            ref="form"
            lazy-validation
          >
            <v-text-field
              v-model="Username"
              :rules="[v => !!v || 'Username is required']"
              box
              label="Username"
              required
            />
            <v-text-field
              v-model="Password"
              :type="'password'"
              :rules="[v => !!v || 'Password is required']"
              box
              label="Password"
              required
            />
            <v-btn
              color="main"
              block
              large
              round
              class="font-weight-light"
              @click.stop="validate()"
            >Login <v-icon class="ml-2">mdi-login</v-icon> </v-btn>
          </v-form>
          <br >
          <p class="text-xs-center">AMS version: 1.1.0</p>
        </v-card-text>
      </material-card>

    </v-layout>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>
</template>

<script>
import { setTimeout } from 'timers'
import md5 from 'md5'
import {
  mapMutations,
  mapState
} from 'vuex'
export default {
  data: () => ({
    logo: './img/alfalink-logo.png',
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    Username: '',
    Password: '',
    allowedPage: [],
    allowedAction: []
  }),
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer', 'setNavigationMenu', 'setAccessButtons', 'setTransferButtons']),
    login () {
      this.$http.post('user/login', JSON.stringify({ username: this.Username, password: md5(this.Password) })).then(response => {
        if (response.data.status == true) {
          this.snackbarcolor = 'success'
          this.snackbar = true
          this.alertMessage = 'Login Successful!'
          this.$session.start()
          this.$session.set('jwt', response.data.account.token)
          this.$session.set('username', response.data.account.username)
          this.$session.set('fullname', response.data.account.fullname)
          this.$session.set('userID', response.data.account.id)
          this.$session.set('role', response.data.account.role)
          this.$session.set('approval_limit', response.data.account.approval_limit)
          this.$session.set('monhtly_approval_limit', response.data.account.monhtly_approval_limit)
          this.$session.set('branch', response.data.account.branch)
          this.getPermissions(response.data.account)
          this.getUserPermission('Purchase')
          this.getUserPermission('Transfer')
          setTimeout(() => {
            let permission = this.$session.get('permissions')
            this.allowedPage = permission.page.split(',')
            this.allowedMenu = permission.menu.split(',')
            if (this.$session.get('role') != 'Administrator') { this.UpdateNav() }
            this.setDrawer(true)
            this.$router.push('/dashboard')
          }, 800)
        } else {
          this.snackbarcolor = 'warning'
          this.snackbar = true
          this.alertMessage = response.data.message
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdateNav () {
      console.log('UpdateNav login')
      let nav = this.$store.state.app.navigationMenu
      console.log(nav)
      let newnav = []
      for (var i = 0; i < nav.length; i++) {
        let pagelinks = []
        if (this.permission(nav[i].group, 'menu')) {
          newnav.push(nav[i])
          for (var c = 0; c < nav[i].links.length; c++) {
            if (this.permission(nav[i].links[c].page, 'page')) { pagelinks.push(nav[i].links[c]) }
          }
          newnav[newnav.length - 1].links = pagelinks
        }
      }
      console.log(newnav)
      this.setNavigationMenu(newnav)
    },
    permission (name, type) {
      console.log(type, name)
      if (type == 'page') { return this.allowedPage.includes(name) }

      if (type == 'menu') {
        return this.allowedMenu.includes(name)
      }
    },
    getPermissions (account) {
      this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
      this.$http.post('user/get_permissions', account).then(response => {
        if (response.data.data != null) {
          this.$session.set('permissions', response.data.data)
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    getUserPermission (pagename) {
      this.$http.post('permission/get', { user_id: parseInt(this.$session.get('userID')), pagename: pagename }).then(response => {
        if (response.data.status) {
          if (pagename == 'Purchase') {
            response.data.permission.Action != null ? this.$session.set('access_buttons', response.data.permission.Action) : this.$session.set('access_buttons', [])
          }
          if (pagename == 'Transfer') {
            response.data.permission.Action != null ? this.$session.set('transfer_buttons', response.data.permission.Action) : this.$session.set('transfer_buttons', [])
          }
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    validate () {
      if (this.$refs.form.validate()) {
        this.login()
      }
    }
  }
}
</script>
