<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-store</v-icon> Branches</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-plus-box</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              small
              color="warning"
              title="Edit"
              @click="dialog=true, edit=true, entry = props.item">mdi-square-edit-outline</v-icon> {{ props.item.name }}</td>
            <td>{{ props.item.description }}

              <p
                v-if="props.item.type =='Event'"
                style="color: #5CB860;">
                Date: {{ props.item.start_date }} - {{ props.item.end_date }}
              </p>
            </td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.address }}</td>
            <td>{{ props.item.contact_no }}</td>
            <td>
              <v-switch
                v-model="props.item.status"
                :label="props.item.status"
                :value="'active'"
                color="success"
                hide-details
                @change="entry = props.item, Save()"
              />
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-text-field
              v-model="entry.name"
              :rules="[v => !!v || 'Name is required']"
              label="Name *"
              required/>

            <v-textarea
              v-model="entry.description"
              label="Description"
              required/>

            <v-autocomplete
              v-model="entry.type"
              :items="storetypes"
              :rules="[v => !!v || 'Type is required']"
              label="Type *"
              required/>

            <v-layout v-if="entry.type=='event'">
              <v-flex>
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="entry.start_date"
                      label="Event Start Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="entry.start_date"
                    @input="menu1 = false"/>
                </v-menu>
              </v-flex>

              <v-flex>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="entry.end_date"
                      label="Event End Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="entry.end_date"
                    @input="menu2 = false"/>
                </v-menu>
              </v-flex>
            </v-layout>

            <v-text-field
              v-model="entry.address"
              label="Address"/>

            <v-text-field
              v-model="entry.contact_no"
              label="Contact Number"/>

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    menu1: false,
    menu2: false,
    startdate: '',
    enddate: '',
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    storetypes: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Name',
        value: 'Name'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Type',
        value: 'type'
      },
      {
        text: 'Address',
        value: 'address'
      },
      {
        text: 'Number',
        value: 'contact_number'
      },
      {
        text: 'Status',
        value: 'Status'
      }
    ],
    entry: {},
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSettings('Store Types')
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getItems () {
      this.items = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.$http.post('branch/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.$http.post('branch/add', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSettings (qry) {
      console.log(qry)
      this.$http.post('setting/query', { name: qry }).then(response => {
        response.data.setting != null ? this.storetypes = response.data.setting.value.split(',') : this.storetypes = []
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
