<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-account-box-multiple</v-icon> Customers</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-plus-box</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >
          <template v-slot:items="props">
            <td>
              <v-icon
                small
                color="warning"
                title="Edit"
                @click="dialog=true, edit=true, entry = props.item">mdi-square-edit-outline</v-icon>

              {{ props.item.fullname }}</td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.company }}</td>
            <td>{{ props.item.contact_no }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-autocomplete
              v-model="entry.type"
              :items="types"
              :rules="[v => !!v || 'Type is required']"
              label="Customer type *"
              required/>
            <v-text-field
              v-model="entry.fullname"
              :rules="[v => !!v || 'Fullname is required']"
              label="Fullname *"
              required/>

            <v-text-field
              v-model="entry.company"
              label="Company"
              required/>
            <v-text-field
              v-model="entry.tin"
              label="T.I.N."/>
            <v-text-field
              v-model="entry.address"
              label="Address"/>

            <v-text-field
              v-model="entry.contact_no"
              label="Contact Number"/>
            <v-text-field
              v-model="entry.email"
              label="email"/>

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ams-alert-bar
      :show="snackbar"
      :message="alert"
      :snackbarcolor="snackbarcolor"/>
  </v-container>

</template>

<script>
import { setTimeout } from 'timers'
export default {
  data: () => ({
    search: '',
    dialog: false,
    menu1: false,
    menu2: false,
    snackbarcolor: 'success',
    snackbar: false,
    alert: '',
    startdate: '',
    enddate: '',
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Name',
        value: 'Name'
      },
      {
        text: 'Type',
        value: 'type'
      },
      {
        text: 'Company',
        value: 'company'
      },
      {
        text: 'Contact No.',
        value: 'contact_no'
      }

    ],
    entry: {},
    items: [],
    types: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getTypes()
  },
  methods: {
    showAlert (alert, snackbarcolor) {
      this.snackbarcolor = snackbarcolor
      this.alert = alert
      this.snackbar = true
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getTypes () {
      this.types = []
      this.$http.post('setting/query', { name: 'Customer Types' }).then(response => {
        response.data.setting != null ? this.types = response.data.setting.value.split(',') : this.types = []
        console.log(response.data)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getItems () {
      this.items = []
      this.$http.post('customer/query', { method: 'All' }).then(response => {
        response.data.customer != null ? this.items = response.data.customer : console.log()
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.$http.post('customer/update', this.entry).then(response => {
        if (response.data.status) {
          this.showAlert(response.data.message, 'success')
          this.dialog = false
          this.getItems()
        } else {
          this.showAlert(response.data.message, 'warning')
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.$http.post('customer/new', this.entry).then(response => {
        if (response.data.status) {
          this.showAlert(response.data.message, 'success')
          this.dialog = false
          this.getItems()
        } else {
          this.showAlert(response.data.message, 'warning')
        }
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
