<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      wrap
    >
      <v-flex
        md4
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-tag</v-icon> Price Adjustments</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>

          <v-icon @click="dialog=true, edit=false, control={}">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="priceSettings"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              color="warning"
              class="mr-1"
              small
              @click="dialog=true, edit=true, control=props.item">mdi-pencil</v-icon> {{ props.item.type }}</td>
            <td>{{ props.item.type_value }}</td>
            <td>{{ props.item.amount_type }}</td>
            <td>{{ props.item.amount }}</td>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex
        md8
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-percent</v-icon> Promos and Discounts</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>

          <v-icon @click="dialog2=true, edit=false, discount={}">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="promoheaders"
          :items="discounts"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              color="warning"
              class="mr-1"
              small
              @click="dialog2=true, edit=true, discount=props.item">mdi-pencil</v-icon> {{ props.item.description }}</td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.value_type }}</td>
            <td>{{ props.item.value }}</td>
            <td>{{ props.item.startdate }} to {{ props.item.enddate }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <td>{{ props.item.status }}</td>
          </template>
        </v-data-table>
      </v-flex>

    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-tag</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add control</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-layout wrap>
              <v-flex
                class="pa-1"
                md6>
                <v-autocomplete
                  v-model="control.type"
                  :items="controlTypes"
                  label="Control By"/>
              </v-flex>
              <v-flex
                class="pa-1"
                md6>
                <v-autocomplete
                  v-model="control.type_value"
                  :items="control_values"
                  :item-text="control_selected_value"
                  :item-value="control_selected_value"
                  :label="type_value_label"/>
              </v-flex>

              <v-flex
                class="pa-1"
                md6>
                <v-autocomplete
                  v-model="control.amount_type"
                  :items="['Fixed', 'Percentage']"
                  label="Type"/>
              </v-flex>
              <v-flex
                class="pa-1"
                md6>
                <v-text-field
                  v-model="control.amount"
                  label="Enter Value"/>
              </v-flex>
            </v-layout>

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog2"
      persistent
      max-width="460px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-tag</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add Promo/Discount</span>
          <span
            v-else
            class="headline">Edit Promo/Discount</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog2 = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-text-field
              v-model="discount.description"
              label="Description"/>

            <v-autocomplete
              v-model="discount.type"
              :items="['Discount', 'Promo', 'Sales', 'Coupon']"
              label="Type"/>

            <v-autocomplete
              v-model="discount.value_type"
              :items="['Fixed', 'Percentage']"
              label="Amount Type"/>

            <v-text-field
              v-model="discount.value"
              label="Enter Value"/>

            <v-layout>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="discount.startdate"
                  type="date"
                  label="Start Date"/>
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="discount.enddate"
                  type="date"
                  label="End Date"/>
              </v-flex>
            </v-layout>

            <v-autocomplete
              v-model="discount.status"
              :items="['Available', 'Expired']"
              label="Status"/>

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="SaveDiscount()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    dialog2: false,
    menu1: false,
    menu2: false,
    startdate: '',
    enddate: '',
    edit: false,
    discount: '',
    discounts: [],
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    controlTypes: ['By Category', 'By Brand', 'By Code'],
    control: {},
    timeout: 6000,
    headers: [
      {
        text: 'By',
        sortable: false
      },
      {
        text: 'Value',
        sortable: false
      },
      {
        text: 'Amount type',
        sortable: false
      },
      {
        text: 'Amount',
        sortable: false
      }
    ],
    promoheaders: [
      {
        text: 'Description',
        sortable: false
      },
      {
        text: 'Type ',
        sortable: false
      },
      {
        text: 'Amount type',
        sortable: false
      },
      {
        text: 'Amount',
        sortable: false
      },
      {
        text: 'Period',
        sortable: false
      },
      {
        text: 'Created',
        sortable: false
      },
      {
        text: 'Status',
        sortable: false
      }
    ],
    entry: {},
    items: [],
    categories: [],
    priceSettings: [],
    codebrands: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    type_value_label () {
      switch (this.control.type) {
        case 'By Category':
          return 'Select Category'
        case 'By Brand':
          return 'Select Brand'
        case 'By Code':
          return 'Select product code'
      }
    },

    control_values () {
      switch (this.control.type) {
        case 'By Category':
          return this.categories
        case 'By Brand':
          return this.codebrands.brands
        case 'By Code':
          return this.codebrands.product_codes
      }
    },
    control_selected_value () {
      switch (this.control.type) {
        case 'By Category':
          return 'name'
        case 'By Brand':
          return 'name'
        case 'By Code':
          return 'code'
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getCategories()
    this.getCode_Brand()
    this.getPriceSettings()
    this.getDiscounts()
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) { this.SavePrice() }
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : this.categories = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : this.codebrands = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    getPriceSettings () {
      this.priceSettings = []
      this.$http.post('setting/query_price_settings', JSON.stringify({})).then(response => {
        response.data.settings != null ? this.priceSettings = response.data.settings : this.priceSettings = []
        console.log(this.priceSettings)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getDiscounts () {
      this.discounts = []
      this.$http.post('setting/query_discount', JSON.stringify({})).then(response => {
        response.data.discount != null ? this.discounts = response.data.discount : this.discounts = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    SavePrice () {
      var method = 'setting/new_price'
      if (this.edit == true) {
        method = 'setting/update_price'
      }
      this.$http.post(method, this.control).then(response => {
        this.getPriceSettings()
        this.dialog = false
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveDiscount () {
      var method = 'setting/new_discount'

      if (this.edit == true) {
        method = 'setting/update_discount'
      }
      this.$http.post(method, this.discount).then(response => {
        this.getDiscounts()
        this.dialog2 = false
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
