<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      wrap
    >
      <v-flex
        md6
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-shape</v-icon> Categories</v-toolbar-title>
          <v-spacer/>
          <v-text-field
            v-model="catsearch"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-icon @click="dialog=true, dialogform =true, dialog2 =false, dialog3 = false, edit=false">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="categoryheader"
          :items="categories"
          :search="catsearch"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              color="warning"
              small
              @click="setParentCat(props.item.parent), dialog=true, dialogform =true, dialog2 =false, dialog3 = false, edit=true, category=props.item">mdi-pencil</v-icon>{{ props.item.name }}</td>
            <td>{{ props.item.description }}</td>
            <td>{{ props.item.gpm_limit }}</td>
            <td>{{ props.item.parent_name }}</td>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex
        md4
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-tag</v-icon> Product codes</v-toolbar-title>
          <v-spacer/>
          <v-icon @click="dialog2=true,dialogform =true, dialog = false, dialog3 = false, edit=false, code={}">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="codeheader"
          :items="productcodes"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <v-icon
                color="warning"
                small
                @click="dialog2=true, dialogform =true, dialog =false, dialog3 = false, edit=true, setValue(props.item)">mdi-pencil</v-icon> {{ props.item.code }}

              <br ><strong>Description: </strong>{{ props.item.description }}
              <v-layout
                row
                class="ma-0 pa-0">
                <v-flex
                  md6
                  class="pa-0"><strong>Category:</strong> {{ cat_name(props.item.category) }}</v-flex>

                <v-flex
                  md6
                  class="pa-0"><strong>Brand: </strong>{{ props.item.brand }}</v-flex>
              </v-layout>
              <v-layout
                row
                class="ma-0 pa-0">
                <v-flex
                  md6
                  class="pa-0"><strong>Model: </strong>{{ props.item.model }}</v-flex>
                <v-flex
                  md6
                  class="pa-0"><strong>With Serial: </strong>{{ props.item.with_serial }}</v-flex>
              </v-layout>

            </td>
          </template>

        </v-data-table>
      </v-flex>

      <v-flex
        md2
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-tag-multiple</v-icon> Brands</v-toolbar-title>
          <v-spacer/>
          <v-icon @click="dialog3=true, dialogform =true, dialog =false, dialog2 = false, edit=false, brand={}">mdi-plus-box</v-icon>
        </v-toolbar>

        <v-data-table
          :headers="brandheader"
          :items="brands"
          hide-actions
        >

          <template v-slot:items="props">
            <td><v-icon
              color="warning"
              small
              @click="dialog3=true, dialog =false, dialog2 = false, edit=true, dialogform =true, brand=props.item">mdi-pencil</v-icon> {{ props.item.name }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="dialogform"
      width="320"
    >
      <v-card>
        <v-card-text>
          <div v-if="dialog==true">

            <div
              v-if="edit==true"
              style="padding: 10px 0">Edit Category</div>
            <div
              v-else
              style="padding: 10px 0">New Category</div>
            <v-text-field
              v-model="category.name"
              label="Name"
            />
            <v-text-field
              v-model="category.description"
              label="Description"
            />
            <v-text-field
              v-model="category.gpm_limit"
              label="P.R. GPM Limit in (%)"
            />
            <v-autocomplete
              v-model="selectedCategory"
              :items="categories"
              label="Parent"
              item-text="name"
              item-value="id"
              return-object
            />
            <v-btn
              v-if="edit==true"
              small
              block
              color="success"
              @click="SaveCategory()"><v-icon >mdi-content-save</v-icon> Save</v-btn>
            <v-btn
              v-else
              small
              block
              color="success"
              @click="SaveCategory()"><v-icon>mdi-plus</v-icon> Add</v-btn>

          </div>
          <div v-if="dialog2 == true">
            <div
              v-if="edit==true"
              style="padding: 10px 0">Edit Product Code</div>
            <div
              v-else
              style="padding: 10px 0">New Product Code</div>

            <v-text-field
              v-model="code.code"
              label="Product Code"
            />

            <v-autocomplete
              v-model="selectedCategory"
              :items="group_categories"
              :hint="selectedCategory.parent_name"
              label="Product Category"
              item-text="name"
              item-value="id"
              return-object
            >
              <template
                slot="item"
                slot-scope="data"
              >
                {{ data.item.name }}<br><small style="color: #34A2E7;">{{ data.item.parent_name }}</small>
              </template>
            </v-autocomplete>
            <v-autocomplete
              v-model="selectedBrand"
              :items="brands"
              label="Brand"
              item-text="name"
              item-value="name"
              return-object
            />
            <v-text-field
              v-model="code.model"
              label="Model"/>

            <v-textarea
              v-model="code.description"
              label="Description"
            />
            <v-checkbox
              v-model="code.with_serial"
              value="yes"
              label="With Serial"/>
            <v-btn
              small
              color="success"
              block
              @click="SaveData('code', code)">Save</v-btn>
          </div>
          <div v-if="dialog3 == true">
            <div
              v-if="edit==true"
              style="padding: 10px 0">Edit Brand</div>
            <div
              v-else
              style="padding: 10px 0">New Brand</div>
            <v-text-field
              v-model="brand.name"
              label="Brand Name"
              append-icon="mdi-send"
              @click:append="SaveData('brand', brand)"
            />
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    catsearch: '',
    dialog: false,
    dialog2: false,
    dialog3: false,
    dialogform: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    prices: [],
    snackbarcolor: 'success',
    timeout: 6000,
    categories: [],
    group_categories: [],
    category: {},
    categoryheader: [
      {
        text: 'Name',
        value: 'name'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'GPM Limit(%)',
        value: 'gpm_limit'
      },
      {
        text: 'Parent',
        value: 'parent_cat'
      }
    ],
    brand: {},
    brandheader: [
      {
        text: 'Name',
        value: 'name'
      }
    ],
    code: {},
    codeheader: [
      {
        text: 'Code',
        value: 'code'
      }
    ],
    selectedCategory: {},
    selectedBrand: {},
    entry: {},
    codebrands: [],
    items: []
  }),
  computed: {
    brands () {
      let ret = []
      this.codebrands.brands != null ? ret = this.codebrands.brands : ret = []
      return ret
    },
    productcodes () {
      let ret = []
      this.codebrands.product_codes != null ? ret = this.codebrands.product_codes : ret = []
      return ret
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getCategories()
    this.getCode_Brand()
  },
  methods: {
    setValue (item) {
      this.code = item
      // this.getPrices()
      for (let i = 0; i < this.categories.length; i++) {
        if (item.category == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          break
        }
      }
      for (let i = 0; i < this.codebrands.brands.length; i++) {
        if (item.brand == this.codebrands.brands[i].name) {
          this.selectedBrand = this.codebrands.brands[i]
          break
        }
      }
    },
    setParentCat (parent) {
      for (let i = 0; i < this.categories.length; i++) {
        if (parent == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          break
        }
      }
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    cat_name (id) {
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) { return this.categories[i].name }
      }
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'All' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : console.log()
        console.log(this.categories)
        this.getGroupCategories()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getGroupCategories () {
      this.group_categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.group_categories = response.data.data : console.log()
        console.log(this.group_categories)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveCategory () {
      this.category.parent = this.selectedCategory.id
      this.category.name = this.category.name.toUpperCase().trim()
      let method = 'category/new'
      console.log(this.category)
      this.edit ? method = 'category/update' : method = 'category/new'
      this.$http.post(method, this.category).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog, this.dialogform = false
          this.category = {}
          this.getCategories()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
        this.edit = false
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveData (data, item) {
      let method = ''
      if (data == 'code') {
        this.edit ? method = 'setting/update_code' : method = 'setting/new_code'
        item.code = item.code.toUpperCase().trim()
        item.model = item.model.toUpperCase().trim()
        if (!item.with_serial) {
          item.with_serial = 'no'
        }

        this.selectedCategory.id != null ? item.category = parseInt(this.selectedCategory.id) : item.category = 0
        this.selectedBrand.name != null ? item.brand = this.selectedBrand.name : item.brand = 'n/a'
        this.selectedCategory, this.selectedBrand = {}
      } else if (data == 'brand') {
        this.edit ? method = 'setting/update_brand' : method = 'setting/new_brand'
        item.name = item.name.toUpperCase().trim()
      }
      console.log(item)
      this.$http.post(method, item).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog2, this.dialog3, this.dialogform = false
          this.getCode_Brand()
          this.code = {}
          this.brand = {}
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
        this.edit = false
      }).catch(e => {
        console.log(e.data)
      })
    },
    getPrices () {
      this.prices = []
      this.$http.post('product/get_prices', { code: this.code.code }).then(response => {
        response.data.prices != null ? this.prices = response.data.prices : this.prices = []
      }).catch(e => {
        console.log(e.data)
      })
    }
  }

}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
