<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-account-group</v-icon> Users</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-account-plus-outline</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="users"
          :search="search"
          hide-actions
        >
          <template v-slot:items="props">
            <td><v-icon
              small
              color="warning"
              title="Edit"
              @click="dialog=true, edit=true, entry = props.item, getPermissions()">mdi-account-edit</v-icon> {{ props.item.username }}</td>
            <td>{{ props.item.email }}</td>
            <td>{{ props.item.role }}</td>
            <td>{{ BranchName(props.item.branch) }}</td>
            <td>{{ props.item.last_login | moment("LLL") }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="1280px">
      <v-card>
        <v-card-title>
          <span
            v-if="edit==false"
            class="headline">New User</span>
          <span
            v-else
            class="headline">Edit User</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout>
              <v-flex
                xs12
                sm6
                md5>
                <v-form
                  ref="form"
                  lazy-validation
                >
                  <v-text-field
                    v-model="entry.username"
                    :rules="[v => !!v || 'Username is required']"
                    label="Username"
                    required/>

                  <v-text-field
                    v-model="entry.fullname"
                    :rules="[v => !!v || 'Fullname is required']"
                    required
                    label="Fullname*"/>

                  <v-text-field
                    v-model="entry.email"
                    :rules="[v => !!v || 'Email is required']"
                    required
                    label="Email*"/>

                  <v-text-field
                    v-if="edit==false"
                    v-model="entry.password"
                    :rules="[v => !!v || 'Password is required']"
                    label="Password*"
                    type="password"
                    required/>
                  <v-text-field
                    v-else
                    v-model="newpassword"
                    prepend-icon="mdi-key-change"
                    label="New Password"
                    type="password"
                  />

                  <v-autocomplete
                    :items="userrole"
                    v-model="entry.role"
                    :rules="[v => !!v || 'Role is required']"
                    label="Role"
                    required
                  />
                  <v-autocomplete
                    :items="branches"
                    v-model="entry.branch"
                    item-text="name"
                    item-value="id"
                    label="Branch/Event Assignment"
                    required
                  />
                  <v-text-field
                    v-model="entry.title"
                    :rules="[v => !!v || 'Position is required']"
                    required
                    label="Position/Title"/>
                  <v-text-field
                    v-model="entry.approval_limit"
                    label="Approval Limit per Purchase"/>
                  <v-text-field
                    v-model="entry.monhtly_approval_limit"
                    label="Monthly Approval Limit"/>
                  <small>*indicates required field</small>
                </v-form>

                <div class="pt-5">

                  <p class="title">Manage purchase permission <v-icon
                    color="info"
                    @click="pagename='Purchase', openpermission=true">mdi-open-in-new</v-icon></p>
                  <p class="title">Manage stock transfer permission <v-icon
                    color="info"
                    @click="pagename='Transfer', openpermission=true">mdi-open-in-new</v-icon></p>
                  <p class="title">Notification Settings <v-icon
                    color="info"
                    @click="notification=true">mdi-open-in-new</v-icon></p>

                </div>
              </v-flex>
              <v-flex
                xs12
                sm6
                md7>
                <div class="ml-4">
                  <v-data-table
                    :headers="headers2"
                    :items="mainlinks"
                    hide-actions
                  >
                    <template v-slot:items="props">
                      <td> <v-checkbox
                        v-model="selectedMenus"
                        :label="props.item.group"
                        :value="props.item.group"/></td>
                      <td>
                        <div
                          v-for="(link,i) in props.item.links"
                          :key="i">
                          <v-checkbox
                            v-model="selectedPages"
                            :label="link.page"
                            :value="link.page"
                            single-line/>
                          <v-divider/>
                          <div
                            v-for="(action,c) in link.actions"
                            :key="c"
                            class="ml-5">
                            <v-checkbox
                              v-model="selectedActions"
                              :label="action"
                              :value="action"
                              class="ml-2"/>
                          </div>
                        </div>
                      </td>

                    </template>
                  </v-data-table>
                </div>
              </v-flex>
            </v-layout>
          </v-container>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <ams-purchase-permission
      :show="openpermission"
      :user-id="entry.id"
      :pagename="pagename"
      @DialogEvent="PermissionEvent"/>
    <ams-notification-settings
      :show="notification"
      :user-id="entry.id"
      @DialogEvent="notificationEvent"/>
  </v-container>

</template>
<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    notification: false,
    openpermission: false,
    pagename: '',
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    userrole: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Username',
        value: 'username'
      },
      {
        text: 'Email',
        value: 'email'
      },
      {
        text: 'Role',
        value: 'role'
      },
      {
        text: 'Assignment',
        value: 'branch'
      },
      {
        text: 'Last Logged in',
        value: 'last_update'
      }
    ],
    headers2: [
      { text: 'Group Menu', sortable: false },
      { text: 'Page Access', sortable: false }
    ],
    mainlinks: [
      {
        group: 'Purchase',
        links: [
          {
            page: 'Manage P.O.',
            actions: ['View P.R.', 'Monitor P.R.']
          },
          {
            page: 'Consignments'
          },
          {
            page: 'Credit Memo'
          },
          {
            page: 'Account Payables'
          },
          {
            page: 'Receiving',
            actions: []
          }
        ]
      },
      {
        group: 'Inventory',
        links: [
          {
            page: 'Products Management',
            actions: []
          },
          {
            page: 'Stock Transfer'
          },
          {
            page: 'Assembly Request'
          },
          {
            page: 'Adjustment',
            actions: []
          },
          {
            page: 'Item Tracker'
          },
          {
            page: 'Reports',
            actions: []
          }
        ]
      },
      {
        group: 'Sales',
        links: [
          {
            page: 'Sales Order'
          },
          {
            page: 'Price List',
            actions: []
          },
          {
            page: 'Account Receivables',
            actions: []
          },
          {
            page: 'Quotations'
          },
          {
            page: 'Returns',
            actions: []
          },
          {
            page: 'Reports',
            actions: []
          },
          {
            page: 'Promotions',
            actions: []
          }
        ]
      },
      {
        group: 'Services',
        links: [
          {
            page: 'Service Order',
            actions: []
          },
          {
            page: 'Service Management',
            actions: []
          },
          {
            page: 'Service Purchase',
            actions: []
          },
          {
            page: 'Service Product',
            actions: []
          },
          {
            page: 'Service Tracker',
            actions: []
          },
          {
            page: 'Service Reports',
            actions: []
          },
          {
            page: 'Assemble Item',
            actions: []
          }
        ]
      },
      {
        group: 'Account And Settings',
        links: [
          {
            page: 'User Accounts',
            actions: []
          },
          {
            page: 'Product Settings',
            actions: []
          },
          {
            page: 'Customers',
            actions: []
          },
          {
            page: 'Suppliers',
            actions: []
          },
          {
            page: 'Branches',
            actions: []
          },
          {
            page: 'Rates & Discounts',
            actions: []
          }
        ]
      }
    ],
    entry: {},
    branches: [],
    users: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getUsers()
    this.getBranches()
    this.getRoles()
  },
  methods: {
    notificationEvent (e) {
      this.notification = false
    },
    PermissionEvent (e) {
      this.openpermission = false
    },
    BranchName (id) {
      for (let i = 0; i < this.branches.length; i++) {
        if (id === this.branches[i].id) {
          return this.branches[i].name
        }
      }
      return 'n/a'
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit ? this.SaveChanges() : this.AddUser() }
    },
    getBranches () {
      this.branches = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.branches = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getUsers () {
      this.users = []
      this.$http.post('user/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.users = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveChanges () {
      this.entry.password = this.newpassword
      console.log(this.entry)
      this.$http.post('user/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getUsers()

          this.SaveAccess(response.data.account.id)
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddUser () {
      this.$http.post('user/register', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getUsers()

          this.SaveAccess(response.data.account.id)
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveAccess (_userid) {
      this.$http.post('user/save_permissions',
        {
          userid: _userid,
          page: this.selectedPages.join(','),
          action: this.selectedActions.join(','),
          menu: this.selectedMenus.join(',')
        }).then(response => {
        console.log(response.data)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getPermissions () {
      this.$http.post('user/get_permissions', this.entry).then(response => {
        if (response.data.data != null) {
          this.selectedPages = response.data.data.page.split(',')
          this.selectedActions = response.data.data.action.split(',')
          this.selectedMenus = response.data.data.menu.split(',')
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    getRoles () {
      this.userrole = []
      this.$http.post('setting/query', { name: 'User Roles' }).then(response => {
        response.data.setting != null ? this.userrole = response.data.setting.value.split(',') : this.userrole = []
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
