<template>
  <v-container
    id="nomargintoolbar"

    fluid
    grid-list-xl
  >
    <v-card class="pa-3">
      <v-card-title>
        <v-icon left>mdi-toolbox</v-icon> Assemble Request #{{ product.id }}
        <v-spacer/>

        <v-btn
          color="info"
          @click="AddComponent()">Save</v-btn>
        <v-btn
          v-if="product.status == 'On Process'"
          color="success"
          @click="product.status = 'Posted', AddComponent()">Post for assemble</v-btn>
        <v-btn
          v-if="product.status == 'Posted'"
          color="main"
          @click="product.status = 'Approved', AddComponent()">Approved</v-btn>
      </v-card-title>
      <v-layout
        wrap
        row
      >
        <v-flex
          xs6
        >
          <v-text-field
            v-model="product.code"
            :disabled="true"
            label="Product Code"
          />
          <v-text-field
            v-model="product.description"
            :disabled="true"
            label="Product description"
          />
          <v-text-field
            v-model="product.quantity"
            :disabled="true"
            label="Quantity"
          />
        </v-flex>
        <v-flex
          xs6
        >
          <v-text-field
            v-model="product.brand"
            :disabled="true"
            label="Brand"
          />
          <v-text-field
            v-model="product.model"
            :disabled="true"
            label="Model"
          /><v-text-field
            v-model="product.status"
            :disabled="true"
            label="Model"
          />
        </v-flex>
      </v-layout>

      <v-layout
        wrap
        row
      >
        <v-flex xs12>
          <p
            v-if="product.status != 'Approved'"
            class="text-xs-right">
            <v-btn
              color="error"
              small
              @click="openserial = true"><v-icon
                small
                left>mdi-delete</v-icon> Remove Item</v-btn>
          </p>

          <table
            class="item_table"
            cellspacing="1px">
            <thead>
              <tr>
                <th width="150px">CATEGORY</th>
                <th width="150px">PRODUCT CODE</th>
                <th width="150px">BRAND</th>
                <th width="150px">MODEL</th>
                <th>SERIALS</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(item,index) in COMPONENTS">
                <tr :key="index">
                  <td class="pa-1"> {{ item[0].category_name }}</td>
                  <td class="pa-1">{{ item[0].code }}</td>
                  <td class="pa-1">{{ item[0].brand }}</td>
                  <td class="pa-1">{{ item[0].model }}</td>
                  <td class="pa-1">
                    <v-chip
                      v-for="(serial,i) in item"
                      :key="i"
                      small
                      label
                      color="main"
                      text-color="#fff">
                      {{ serial.serial }}
                    </v-chip>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>

        </v-flex>
      </v-layout>

    </v-card>

    <v-tooltip
      v-if="product.status!='Approved'"
      left>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            dark
            fixed
            bottom
            right
            fab
            color="primary"
            v-on="on"
            @click.stop="serial = true"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Add Item</span>
    </v-tooltip>
    <ams-serial-form
      :show="serial"
      @DialogEvent="formEvent" />
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
    <ams-text-form
      :show="openserial"
      label="Enter Serial to remove"
      @DialogEvent="removeEvent" />
  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    serial: false,
    menu2: false,
    startdate: '',
    enddate: '',
    increase_rate: 1,
    edit: false,
    openserial: false,
    alertMessage: '',
    atIndex: 0,
    newserial: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    components: [],
    addedComponents: [],
    product: {},
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    COMPONENTS () {
      var array = this.addedComponents
      const groupBycode = this.$groupBy('code')
      // console.log(groupBycode(array))
      return groupBycode(array)
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItem()
    this.getSettings()
  },
  methods: {
    removeEvent (serial) {
      this.openserial = false
      if (serial) {
        for (let i = 0; i < this.addedComponents.length; i++) {
          if (this.addedComponents[i].serial == serial) {
            this.RemoveItem(i)
            return
          }
        }
      }
    },
    formEvent (data) {
      this.serial = false
      if (data.code != undefined) {
        if (!this.isExist(data)) {
          data.atIndex = this.addedComponents.length - 1
          this.addedComponents.push(data)
        } else {
          this.showAlert('Already exist', 'warning')
        }
        setTimeout(() => {
          this.serial = true
        }, 800)
      }
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    isExist (data) {
      for (let i = 0; i < this.addedComponents.length; i++) {
        if (this.addedComponents[i].code == data.code) {
          if (this.addedComponents[i].serial == '...') {
            this.RemoveItem(i)
          }
        }
        if (this.addedComponents[i].serial == data.serial) {
          return true
        }
      }
      return false
    },
    RemoveItem (index) {
      this.addedComponents.splice(index, 1)
    },
    AddComponent () {
      this.calculatePrices()
      this.product.components = this.addedComponents
      this.$http.post('assemble/update', this.product).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
      }).catch(e => {
        console.log(e.data)
      })
    },
    calculatePrices () {
      // this.product.branch_price = 0
      this.product.dealer_price = 0
      this.product.insentive = 0
      this.product.retail_price = 0
      this.product.special_dealer_price = 0
      this.product.price_per_unit = 0
      // this.product.wholesale_price = 0
      const data = Object.values(this.COMPONENTS)
      for (let i = 0; i < data.length; i++) {
        this.product.dealer_price += this.$IsNum(data[i][0].dealer_price)
        this.product.insentive += this.$IsNum(data[i][0].insentive)
        this.product.retail_price += this.$IsNum(data[i][0].retail_price)
        this.product.special_dealer_price += this.$IsNum(data[i][0].special_dealer_price)
        this.product.price_per_unit += this.$IsNum(data[i][0].price_per_unit)
        // this.product.wholesale_price = 0
      }
      console.log('rate', this.increase_rate)
      this.product.branch_price = (this.product.dealer_price * this.increase_rate).toString()
      this.product.dealer_price = this.product.dealer_price.toString()
      this.product.insentive = this.product.insentive.toString()
      this.product.price_per_unit = this.product.price_per_unit.toString()
      this.product.retail_price = this.product.retail_price.toString()
      this.product.special_dealer_price = this.product.special_dealer_price.toString()
      this.product.wholesale_price = (this.product.dealer_price * this.increase_rate).toString()
    },
    getItem () {
      this.$http.post('assemble/query', { id: parseInt(this.$route.params.id) }).then(response => {
        response.data.products != null ? this.product = response.data.products : this.product = {}
        this.product.Components != null ? this.addedComponents = this.product.Components : this.addedComponents = []
        console.log(this.addedComponents)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSettings () {
      this.$http.post('setting/query', { name: 'Assembly price increase rate' }).then(response => {
        response.data.setting != null ? this.increase_rate = parseFloat(response.data.setting.value) : this.increase_rate = 1
        console.log(response.data.setting)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}

 .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }
</style>
