<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout
      wrap
      row>
      <v-flex xs12>
        <v-text-field
          v-model="serial"
          label="Enter Serial"
          box
          append-icon="mdi-magnify"
          @focus="serial=''"
          @change="get_serial()"
          @click:append="get_serial()"
        />
      </v-flex>

      <v-flex xs12>
        <v-layout
          wrap
          row>
          <v-flex
            xs8
            class="pa-1">

            <v-card>
              <v-card-title>
                <v-icon
                  small
                  color="main"
                  class="mr-2">mdi-tag</v-icon> Product Details
              </v-card-title>
              <v-card-text>
                <v-layout>
                  <v-flex
                    xs6
                    class="pa-1">
                    <v-text-field
                      v-model="product.code"
                      :disabled="true"
                      label="Code"
                    />
                    <v-text-field
                      v-model="product.brand"
                      :disabled="true"
                      label="Brand"
                    />
                    <v-text-field
                      v-model="product.model"
                      :disabled="true"
                      label="Model"
                    />
                    <v-text-field
                      v-model="product.description"
                      :disabled="true"
                      label="Description"
                    />
                    <v-text-field
                      v-model="product.quantity"
                      :disabled="true"
                      label="Quantity"
                    />
                    <v-text-field
                      v-model="product.retail_price"
                      :disabled="true"
                      label="Suggested Ratail Price"
                    />

                  </v-flex>
                  <v-flex
                    xs6
                    class="pa-1">
                    <v-text-field
                      v-model="product.price_per_unit"
                      :disabled="true"
                      label="Price Per Unit"
                    />
                    <v-text-field
                      v-if="$allowedAction('View Purchase Price')"
                      v-model="product.dealer_price"
                      :disabled="true"
                      label="Dealer's Price"
                    />
                    <v-text-field
                      v-if="$allowedAction('View Purchase Price')"
                      v-model="product.special_dealer_price"
                      :disabled="true"
                      label="Special Dealer's Price"
                    />
                    <v-text-field
                      v-model="product.wholesale_price"
                      :disabled="true"
                      label="Whoale Sale Price"
                    />
                    <v-text-field
                      v-model="product.source_type"
                      :disabled="true"
                      label="Source"
                    />
                    <v-text-field
                      :value="product | moment('ll')"
                      :disabled="true"
                      label="Added"
                    />
                  </v-flex>
                </v-layout>

              </v-card-text>
            </v-card>

            <v-card
              v-if="product.source_type == 'assembly'"
              class="mt-2">
              <v-card-title><v-icon left>mdi-toolbox</v-icon>Components</v-card-title>
              <v-card-text>
                <div
                  v-for="(item,index) in item.Components"
                  :key="index"
                  style="border-bottom: 1px solid #ddd; padding: 7px;"
                >

                  <strong>{{ item.category_name }} </strong> <br>
                  Serial: {{ item.serial }}

                </div>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex
            xs4
            class="pa-1">

            <v-card>
              <v-card-title>
                <v-icon
                  color="main"
                  class="mr-2">mdi-swap-vertical</v-icon>Movement Logs
              </v-card-title>
              <v-card-text>

                <template v-for="(item, index) in movements">
                  <div
                    :key="index"
                    class="itemlog">
                    <v-chip
                      color="main"
                      small
                      text-color="#fff"
                      style="float:right;">{{ item.action_time | moment("lll") }}</v-chip><br>
                    <span>{{ item.action }}</span><br >
                    <strong>Personel: {{ item.personel }}</strong><br >
                    <strong>Location: {{ item.location_name }}</strong><br >

                  </div>
                </template>
              </v-card-text>
            </v-card>

          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-container>

</template>

<script>
import { filter } from 'minimatch'
export default {
  data: () => ({
    search: '',
    serial: '',
    dialog: false,
    edit: false,
    alertMessage: '',
    snackbar: false,
    snackbarcolor: '',
    movements: [],
    item: {},
    product: {}

  }),
  computed: {

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    // this.getProduct()
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    get_serial () {
      this.product = {}
      this.movements = []
      this.item = {}
      this.$http.post('product/get_serial', { serial: this.serial }).then(response => {
        response.data.item.serial != '' ? this.product = response.data.item : this.showAlert('Serial not found', 'warning')
        response.data.item.serial != '' ? this.get_movement() : this.showAlert('Serial not found', 'warning')
        if (this.product.source_type == 'assembly') {
          this.getComponents()
        }
      }).catch(e => {
        console.log(e.data)
      })
    },
    getComponents () {
      this.$http.post('assemble/get_item', { serial: this.serial }).then(response => {
        response.data.item != null ? this.item = response.data.item : this.showAlert('Serial not found', 'warning')
      }).catch(e => {
        console.log(e.data)
      })
    },
    get_movement () {
      this.movements = []
      console.log(this.product.item_id)
      this.$http.post('product/item_logs', { id: this.product.item_id }).then(response => {
        response.data.logs != '' ? this.movements = response.data.logs : this.showAlert('Serial not found', 'warning')
        console.log(response.data.logs)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
.itemlog {
  padding: 12px;
  margin-bottom: 2px;
  border:  1px solid #92D8BE
}
.itemlog span{
  text-transform: capitalize;
}
</style>
