<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout>
      <v-flex xs4>
        <v-card>
          <v-card-title>
            <v-icon
              small
              color="main"
              class="mr-2">mdi-tag</v-icon> Product Details
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="product.code"
              :disabled="true"
              label="Code"
            />
            <v-text-field
              v-model="product.brand"
              :disabled="true"
              label="Brand"
            />
            <v-text-field
              v-model="product.model"
              :disabled="true"
              label="Model"
            />
            <v-text-field
              v-model="product.description"
              :disabled="true"
              label="Description"
            />
            <v-text-field
              v-model="product.quantity"
              :disabled="true"
              label="Quantity"
            />
            <v-text-field
              v-model="product.retail_price"
              :disabled="true"
              label="Suggested Ratail Price"
            />
            <v-text-field
              v-model="product.price_per_unit"
              :disabled="true"
              label="Price Per Unit"
            />
            <v-text-field
              v-model="product.dealer_price"
              :disabled="true"
              label="Dealer's Price"
            />
            <v-text-field
              v-model="product.special_dealer_price"
              :disabled="true"
              label="Special Dealer's Price"
            />
            <v-text-field
              v-model="product.wholesale_price"
              :disabled="true"
              label="Whoale Sale Price"
            />
            <v-text-field
              v-model="product.source_type"
              :disabled="true"
              label="Source"
            />
            <v-text-field
              :value="product | moment('ll')"
              :disabled="true"
              label="Added"
            />
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex
        xs8
        class="pl-3">

        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon left>mdi-barcode-scan</v-icon> Serials</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line

          />

        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
        >

          <template v-slot:items="props">
            <td>{{ props.item.drnumber }}</td>
            <td>
              <small>Received : {{ props.item.received_date | moment('lll') }}</small>
              <br >
              <small>Last Movement: {{ $moment(props.item.last_update).fromNow() }}</small>
            </td>
            <td>{{ props.item.serial }}</td>
            <td>{{ props.item.received_by }}</td>
            <td><v-chip
              :color="$statusColor(props.item.status)"
              small
              text-color="#fff">{{ props.item.status }}</v-chip></td>
            <td>{{ props.item.location_name }}</td>
          </template>
        </v-data-table>

      </v-flex>
    </v-layout>

  </v-container>

</template>

<script>
import { filter } from 'minimatch'
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    alertMessage: '',
    snackbar: false,
    product: {},
    items: [],
    snackbarcolor: 'success',
    headers: [
      {
        text: 'D.R. #',
        value: 'drnumber'
      },
      {
        text: 'Date',
        value: 'received_date'
      },
      {
        text: 'Serial',
        value: 'serial'
      },
      {
        text: 'Receiver',
        value: 'received_by'
      },
      {
        text: 'Status',
        value: 'status'
      },
      {
        text: 'Location',
        value: 'location_name'
      }
    ]

  }),
  computed: {

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getProduct()
  },
  methods: {

    getProduct () {
      this.$http.post('product/query', { id: parseInt(this.$route.params.id) }).then(response => {
        response.data.product != null ? this.product = response.data.product : this.product = {}
        this.getProductItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getProductItems () {
      this.$http.post('product/get_list_items', { product_id: parseInt(this.$route.params.id) }).then(response => {
        response.data.data != null ? this.items = response.data.data : this.items = []
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
