<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        {{ $session.get('role') }}
        <ams-branch-inventory v-if="$session.get('role') == 'Manager'"/>
        <!-- <ams-all-inventory /> -->
      </v-flex>

      <v-flex
        md12
      >
        <v-layout>
          <v-flex>
            <ams-model-level/>
          </v-flex>

          <v-flex>
            <ams-category-level />
          </v-flex>

        </v-layout>
      </v-flex>
    </v-layout>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    workingbranch: 0,
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'P.O. #',
        value: 'company'
      },
      {
        text: 'Category',
        value: 'category'
      },
      {
        text: 'Brand',
        value: 'brand'
      },
      {
        text: 'Code',
        value: 'code'
      },
      {
        text: 'Model',
        value: 'model'
      },
      {
        text: 'QTY',
        value: 'quantity'
      },
      {
        text: 'Delivered',
        value: 'delivered'
      },
      {
        text: 'Transfered',
        value: 'transfered'
      },
      {
        text: 'Available',
        value: 'available'
      },
      {
        text: 'Level'
      }
    ],
    entry: {},
    categoryItems: [],
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    BYCATEGORIES () {
      return this.categoryItems
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.workingbranch = this.$session.get('branch')
    this.getItems()
  },
  methods: {
    getProgess (item, type) {
      if (type == 'pr') {
        return (item.available / item.delivered) * 100
      }
      if (type == 'category') {
        let stock = item.delivered - item.sold
        return (stock / item.delivered) * 100
      }
      return 100
    },
    getItems () {
      this.items = []
      this.$http.post('product/get_inventory').then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

</style>
