<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-truck-fast</v-icon> Transfers</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          hide-actions
        >

          <template v-slot:items="props">
            <td>
              <v-icon
                v-if="$allowedAction('Edit Transfer') && props.item.status !='Received'"
                small
                color="warning"
                title="Edit"
                @click="dialog=true, edit=true, entry = props.item">mdi-square-edit-outline</v-icon>
              <router-link :to="{ name: 'View Transfer', params: { id: props.item.id }}">
                <v-icon
                  small
                  class="mr-1"
                  color="success">mdi-open-in-new</v-icon>
              </router-link>

              {{ props.item.id }}</td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.description }}</td>
            <td>{{ props.item.destination_name }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <td><v-chip
              :color="$statusColor(props.item.status)"
              small
              text-color="#fff">{{ props.item.status }}</v-chip></td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Transfer Request</span>
          <span
            v-else
            class="headline">Edit Transfer</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-select
              v-model="entry.type"
              :items="['branch', 'event']"
              label="Dest. Type"
              required/>

            <v-autocomplete
              v-model="entry.destination"
              :items="entry.type =='event'?events:branches"
              :label="entry.type =='event'?'Select Event':'Select Branch'"
              item-text="name"
              item-value="id"
            />

            <v-text-field
              v-model="entry.description"
              label="Description/Purpose"/>

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
import { filter } from 'minimatch'
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'No.',
        value: 'id'
      },
      {
        text: 'Type',
        value: 'type'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Destination',
        value: 'destination'
      },
      {
        text: 'Request Date',
        value: 'created'
      },
      {
        text: 'Status',
        value: 'status'
      }
    ],
    entry: {},
    branchlists: [],
    events: [],
    branches: [],
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getbranches()
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    getItems () {
      this.items = []
      this.$http.post('transfer/request', { method: 'list', entry: this.entry }).then(response => {
        response.data.data != null ? this.items = response.data.data : this.items = []
      }).catch(e => {
        console.log(e.data)
      })
    },

    getbranches () {
      this.branchlists = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.branchlists = response.data.data : console.log()
        this.filterBranch()
      }).catch(e => {
        console.log(e.data)
      })
    },
    filterBranch () {
      this.branches = []
      this.events = []
      for (let i = 0; i < this.branchlists.length; i++) {
        this.branchlists[i].type == 'event' ? this.events.push(this.branchlists[i]) : this.branches.push(this.branchlists[i])
      }
      // console.log(this.branchlists)
    },
    Save () {
      this.$http.post('transfer/request', { method: 'update', entry: this.entry }).then(response => {
        this.snackbarcolor = 'success'
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      console.log(this.entry)
      this.$http.post('transfer/request', { method: 'add', entry: this.entry }).then(response => {
        this.snackbarcolor = 'success'
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}
</style>
