<template>
  <v-container
    id="nomargintoolbar"
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex>
        <v-card>
          <v-card-text>
            <v-layout >
              <v-flex>
                <v-text-field
                  v-model="transfer.id"
                  :disabled="true"
                  label="STR. No."
                />
                <v-text-field
                  v-model="transfer.type"
                  :disabled="true"
                  label="Type"
                />
                <v-text-field
                  v-model="destination"
                  :disabled="true"
                  label="Destination"
                />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="transfer.status"
                  :disabled="true"
                  label="Status"
                />
                <v-text-field
                  v-model="RequestDate"
                  :disabled="true"
                  label="Request Date"
                />
                <v-text-field
                  :disabled="true"
                  v-model="transfer.description"
                  box
                  label="Purpose/Description"
                />
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-layout>
          <v-flex class="text-lg-right">
            <v-btn
              v-if="$allowedActionButton('Post',transfer.status, permissions)"
              small
              color="info"
              @click.stop="confirmMessage='Post Stock Transfer Request?', confirmdialog=true, action='post'"
            ><v-icon class="mr-1">mdi-pin</v-icon> Post</v-btn>
            <v-btn
              v-if="$allowedActionButton('Re-process',transfer.status, permissions)"
              small
              color="default"
              @click.stop="confirmMessage='Re-process Stock Transfer Request?', confirmdialog=true, transfer.status = 'On Process', action='update transfer'"
            ><v-icon class="mr-1">mdi-undo-variant</v-icon> Re-process</v-btn>

            <v-btn
              v-if="$allowedActionButton('Verify',transfer.status, permissions)"
              small
              color="info"
              @click.stop="confirmMessage='Verified Stock Transfer Request?', confirmdialog=true,action='verify'"
            ><v-icon class="mr-1">mdi-check-decagram</v-icon> Verify</v-btn>

            <v-btn
              v-if="$allowedActionButton('Approve',transfer.status, permissions)"
              small
              color="success"
              @click.stop="signaturedialog=true, action='approved'"
            ><v-icon class="mr-1">mdi-check-decagram</v-icon> Approve</v-btn>
            <!-- <v-btn
             v-if="$allowedActionButton('Released',transfer.status, permissions)"
              small
              color="info"
              @click.stop="confirmMessage='Release Stock Transfer Request?', confirmdialog=true,action='release'"
            ><v-icon class="mr-1">mdi-printer</v-icon> Release/Print D.R. and Invoice </v-btn> -->
            <v-btn
              v-if="$allowedActionButton('Release',transfer.status, permissions)"
              small
              color="success"
              @click.stop="validatedailog=true, action='checkout', ValidateAllSerial()"
            ><v-icon class="mr-1">mdi-check</v-icon> Validate And Release</v-btn>
            <!-- <v-btn
              small
              color="main"
              @click.stop="confirmMessage='Release Stock Transfer Request?', confirmdialog=true, transfer.status = 'In-Transit', action='release'"
            ><v-icon class="mr-1">mdi-file-move</v-icon> Release</v-btn> -->

            <!--
                   <v-btn
                  small
                  v-if="$allowedAction('Release Transfer items')  && transfer.status == 'In-Transit'"
                  color="success"
                     @click.stop="validatedailog=true,action='received', ValidateAllSerial()"
                  ><v-icon class="mr-1">mdi-check</v-icon> Validate Received Items</v-btn> -->

          </v-flex>
        </v-layout>
        <!-- Item table -->

        <v-card>
          <v-card-text>

            <table
              class="item_table"
              cellspacing="1px">
              <thead>
                <tr>
                  <th width="12px">ITEM</th>
                  <th>PRODUCT CODE</th>
                  <th width="150px">BRAND</th>
                  <th width="150px">CATEGORY</th>
                  <th width="150px">MODEL</th>
                  <th width="150px">QTY</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item,i) in products"
                  :key="i"
                  @contextmenu.prevent="$refs.menu.open($event, item)">
                  <td
                    width="12px"
                    style="text-align: center;">{{ i + 1 }}</td>
                  <td colspan="10">
                    <table
                      class="item_table item_table_inner"
                      cellspacing="1px">
                      <tr style="background: #CDF1F6;">
                        <td>{{ item.code }}</td>
                        <td width="150px">{{ item.brand }}</td>
                        <td width="150px">{{ cat_name(item.category) }}</td>
                        <td width="150px">{{ item.model }}</td>
                        <td width="150px">{{ item.quantity }}</td>
                      </tr>
                      <tr>
                        <td colspan="10">{{ item.description }}</td>
                      </tr>
                      <tr>
                        <td colspan="10">
                          <span style="color: #63246E;">Serials: </span><br >

                          <v-chip
                            v-for="(pr,i) in filterSerial(item.id)"
                            :key="i"
                            :color="serial_status(pr.status)"
                            small
                            label
                            text-color="white">
                            <v-icon
                              v-if="transfer.status == 'On Process'"
                              left
                              color="white"
                              @click.stop="confirmdialog=true, confirmMessage='Remove Serial?', action='remove serial', serial=pr.serial">mdi-close-circle</v-icon>{{ pr.serial }}
                          </v-chip>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

              </tbody>
            </table>
            <v-layout>
              <v-flex md6>
                <div
                  v-if="transfer.approved_signature != ''"
                  class="text-md-center">
                  <img
                    :src="transfer.approved_signature"
                    width="250"> <small>{{ transfer.approved_date | moment("lll") }}</small>
                  <v-divider/>
                  <strong>Approved By: {{ transfer.approved_by_name }}</strong><br >
                  {{ transfer.approved_title }}
                  <br>
                </div>
              </v-flex>
              <v-flex md6>

                <div
                  v-if="transfer.status == 'Received'"
                  class="text-md-center">
                  <img
                    :src="transfer.receiver_signature"
                    width="250"> <small>{{ transfer.received_date | moment("lll") }}</small>
                  <v-divider/>
                  <strong>Received By: {{ transfer.received_by }}</strong>
                  <br>
                </div>
                <div
                  v-if="transfer.status == 'Released'"
                  class="mt-5">
                  <v-btn
                    block
                    color="info"
                    style="height: 100px;"
                    large
                    @click.stop="action='received', signaturedialog=true"><v-icon>mdi-call-received</v-icon> Received</v-btn>
                </div>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>

      </v-flex>

    </v-layout>

    <!-- Dialoags -->
    <vue-context ref="menu">
      <template slot-scope="child">
        <li v-if="transfer.status == 'On Process'">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-barcode</v-icon>Add Serial</a>
        </li>
        <li v-if="transfer.status == 'On Process'">
          <a
            href="#"
            @click.prevent="onClick($event.target.innerText, child.data)"><v-icon
              small
              class="mr-1">mdi-delete</v-icon>Remove</a>
        </li>
      </template>
    </vue-context>

    <v-dialog
      v-model="dialog"
      max-width="320"
      persistent
    >
      <v-card>
        <v-card-text>
          <div style="text-align: center;">
            Add Serial for {{ selectedItem.code }}
            <v-divider/>
          </div>
          <br >
          <v-text-field
            v-if="confirm == false"
            ref="serial"
            v-model="serial"
            box
            label="Enter serial #"
            @change="openConfirm()"
          />
          <v-text-field
            v-else
            ref="serial2"
            v-model="serial2"
            box
            label="Confirm serial #"
            @change="valSerial()"
          />
          <br >
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="warning darken-1"
            block
            small
            @click.stop="dialog= false, ValidateAllSerial()"
          >
            Done
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="itemdialog"
      persistent
      max-width="760px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-note-plus</v-icon>
          Add Item
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="itemdialog = false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-form
            ref="formitem"
            lazy-validation
          >

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedProduct"
                  :items="PRODUCTCODES"
                  :rules="[v => !!v || 'Product Code is required']"
                  item-text="code"
                  item-value="code"
                  label="Product Code"
                  required
                  return-object
                  @change="setCategory(), CheckAvailabilty()"
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedProduct.brand"
                  :items="BRANDS"
                  :rules="[v => !!v || 'Brand is required']"
                  :disabled="true"
                  item-text="name"
                  item-value="name"
                  label="Brand"
                  required
                />
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-autocomplete
                  v-model="selectedCategory"
                  :items="categories"
                  :hint="selectedCategory.parent_name"
                  :disabled="true"
                  label="Product Category"
                  item-text="name"
                  item-value="id"
                  return-object
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  :rules="[v => !!v || 'Model is required']"
                  v-model="selectedProduct.model"
                  :disabled="true"
                  label="Model"
                  required
                />
              </v-flex>
            </v-layout>
            <v-flex>
              <v-text-field
                v-model="selectedProduct.description"
                :rules="[v => !!v || 'Description is required']"
                :disabled="true"
                label="Description"
                box
                required
              />
            </v-flex>

            <v-flex>
              <div
                class="subtitle"
                style="color:#03496E;">Available Items: {{ productItems.length }}</div>
            </v-flex>

            <v-flex>
              <v-text-field
                v-model="selectedProduct.quantity"
                :rules="[v => !!v || 'Quantity is required']"
                type="number"
                label="Quantity"
                box
                required
                @keyup="selectedProduct.quantity>productItems.length?selectedProduct.quantity=0:selectedProduct.quantity=selectedProduct.quantity"
              />
            </v-flex>

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn
            color="success darken-1"
            small
            @click="AddItem()"> <v-icon class="mr-2">mdi-plus</v-icon>  Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="signaturedialog"
      persistent
      max-width="500">
      <v-card>
        <v-card-text class="text-md-center">
          <v-text-field
            v-if="action == 'received'"
            v-model="transfer.received_by"
            box
            label="Receiver's Name"
            @focus="transfer.received_by=''"
          />
          <VueSignaturePad
            ref="signaturePad"
            :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}"
            width="400px"
            height="280px"
          />
          <div
            style="border-top: 1px solid #555;"
            class="mb-4">
            Your Signature <v-icon
              color="purple"
              class="ml-1">mdi-arrow-up-bold-box</v-icon>
          </div>

        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="signaturedialog = false">close</v-btn>
          <v-spacer/>
          <v-btn
            small
            color="warning"
            @click.stop="$refs.signaturePad.undoSignature()"><v-icon class="mr-1">mdi-undo</v-icon> Undo</v-btn>

          <v-btn
            small
            color="success"
            @click="signaturedialog=false,confirmMessage='Confirmed?', confirmdialog=true, saveSignature()"><v-icon class="mr-1">mdi-check-decagram</v-icon> OK</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="validatedailog"
      persistent
      max-width="320">
      <v-card>
        <v-card-text class="text-md-center">
          <v-text-field
            v-model="checkserial"
            label="Enter Serial"
            append-outer-icon="mdi-send"
            @change="ValidateSerial()"
            @click:append="ValidateSerial()"
          />
        </v-card-text>
        <v-card-actions>

          <v-btn
            small
            color="green darken-1"
            block
            @click="validatedailog = false, action='check_all_validated', ValidateAllSerial()">Done</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="confirmdialog"
      persistent
      max-width="320">
      <v-card>
        <v-card-text class="text-md-center">
          <v-icon
            color="main"
            class="mr-2">mdi-comment-question-outline</v-icon>{{ confirmMessage }}
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            color="warning darken-1"
            flat
            @click="confirmdialog = false, ViewTransfer()">close</v-btn>
          <v-spacer/>

          <v-btn
            small
            color="green darken-1"
            flat
            @click="confirmdialog = false,Proceed()">Proceed</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-tooltip
      v-if="$allowedActionButton('Add Item',transfer.status, permissions)"
      left>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            dark
            fixed
            bottom
            right
            fab
            color="primary"
            v-on="on"
            @click.stop="itemdialog = true"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Add Item</span>
    </v-tooltip>

  </v-container>

</template>

<script>
import { filter } from 'minimatch'
import { constants } from 'crypto'
import { VueContext } from 'vue-context'
import { setTimeout } from 'timers'
export default {
  name: 'Transfer',
  components: {
    VueContext
  },
  data: () => ({
    search: '',
    dialog: false,
    validatedailog: false,
    signaturedialog: false,
    confirm: false,
    edit: false,
    serial: '',
    serial2: '',
    itemdialog: false,
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    signatureData: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [],
    entry: {},
    transfer: {},
    events: [],
    branches: [],
    codebrands: [],
    categories: [],
    destination: '',
    transferItems: [],
    selectedProduct: {},
    selectedItem: {},
    selectedCategory: {},
    productItems: [],
    products: [],
    productSerials: [],
    confirmdialog: false,
    confirmMessage: '',
    checkserial: '',
    AllSerial: false,
    action: '',
    permissions: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    RequestDate () {
      return this.$moment(this.transfer.created).format('lll')
    },
    PRODUCTCODES () {
      return this.codebrands.product_codes
    },
    BRANDS () {
      return this.codebrands.brands
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')

    this.transferID = parseInt(this.$route.params.id)
    this.permissions = this.$session.get('transfer_buttons')
    console.log(this.permissions)
    this.getCategories()
    this.getCode_Brand()
    this.getbranches()
  },
  methods: {
    setFocus: function (serial) {
      setTimeout(() => {
        if (serial == 'serial') { this.$refs.serial.focus() } else { this.$refs.serial2.focus() }
      }, 100)
    },
    serial_status (status) {
      let _color = 'pink'
      switch (status) {
        case 'ok':
          _color = 'success'
          break
        case 'received':
          _color = 'main'
          break
        default:
          _color = 'pink'
      }

      return _color
    },
    onClick (text, data) {
      this.selectedItem = data
      if (text == 'Add Serial') {
        if (this.filterSerial(this.selectedItem.id).length < this.selectedItem.quantity) {
          this.dialog = true
        } else {
          this.snackbarcolor = 'warning'
          this.alertMessage = 'Reached the quantity requested!'
          this.snackbar = true
        }
      } else if (text == 'Remove') {
        this.confirmMessage = 'Remove this item?'
        this.confirmdialog = true
        this.action = 'remove item'
      }
    },
    openConfirm () {
      this.serial = this.serial.trim()
      setTimeout(() => {
        this.confirm = true
        this.setFocus('serial2')
      }, 1000)
    },
    valSerial () {
      if (this.serial == this.serial2) {
        this.AddSerial()
      } else {
        this.snackbarcolor = 'warning'
        this.alertMessage = 'Serial not matched!'
        this.snackbar = true
        this.serial = ''
        this.serial2 = ''
        this.confirm = false
      }
    },
    saveSignature () {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()
      this.alertMessage = 'No Signature'
      this.snackbarcolor = 'warning'
      isEmpty != true ? this.signatureData = data : this.snackbar = true
    },
    Proceed () {
      // alert(this.action)
      if (this.action == 'remove item') {
        this.removeItem()
      }
      if (this.action == 'remove serial') {
        this.RemoveSerial()
      }
      if (this.action == 'post') {
        this.transfer.status = 'Posted'
        this.Save()
      }
      if (this.action == 'approved') {
        this.transfer.status = 'Approved'
        this.Save()
      }
      if (this.action == 'verify') {
        this.transfer.status = 'Verified'
        this.Save()
      }
      if (this.action == 'received') {
        this.transfer.status = 'Received'
        this.Save()
      }

      if (this.action == 'release') {
        this.transfer.status = 'Released'
        this.Save()
      }
      if (this.action == 'checkout') {
        this.transfer.status = 'In-Transit'
        this.Save()
      }
    },
    removeItem () {
      this.$http.post('transfer/product', { method: 'delete', entry: { id: this.selectedItem.id } }).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.itemdialog = false
          this.getProducts()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },

    RemoveSerial () {
      var item = {}
      item.serial = this.serial
      this.$http.post('transfer/remove_serial', item).then(response => {
        this.confirm = false
        if (response.data.status) {
          this.snackbarcolor = 'success'
          this.alertMessage = response.data.message
          this.getProducts()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddSerial () {
      var item = {}
      item.serial = this.serial
      item.transfer_product = parseInt(this.selectedItem.id)
      this.$http.post('transfer/add_serial', item).then(response => {
        this.confirm = false
        if (response.data.status) {
          this.snackbarcolor = 'success'
          this.alertMessage = response.data.message
          this.serial = ''
          this.serial2 = ''
          this.setFocus('serial')
          this.getProducts()
          setTimeout(() => {
            if (this.filterSerial(this.selectedItem.id).length == this.selectedItem.quantity) {
              this.dialog = false
            }
          }, 1200)
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddItem () {
      let item = {}
      item.brand = this.selectedProduct.brand
      item.code = this.selectedProduct.code
      item.model = this.selectedProduct.model
      item.description = this.selectedProduct.description
      item.category = this.selectedProduct.category
      item.quantity = parseInt(this.selectedProduct.quantity)
      item.transfer = parseInt(this.transferID)
      if (isNaN(item.quantity)) {
        this.alertMessage = 'Add product quantity to transfer!'
        this.snackbarcolor = 'warning'
        this.snackbar = true
        return
      }
      this.$http.post('transfer/product', { method: 'add', entry: item }).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.itemdialog = false
          this.getProducts()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    filterSerial (id) {
      var serials = []
      for (let i = 0; i < this.productSerials.length; i++) {
        if (id == this.productSerials[i].transfer_product) {
          serials.push(this.productSerials[i])
        }
      }
      return serials
    },
    ValidateAllSerial () {
      this.AllSerial = false
      let status = 'ok'
      // this.action == 'received' ? status = 'received' : status = 'ok'
      for (let i = 0; i < this.productSerials.length; i++) {
        if (this.productSerials[i].status != status) {
          this.snackbarcolor = 'warning'
          this.alertMessage = 'Not All serial validated!'
          this.snackbar = true
          return
        } else {
          console.log('serial validated')
        }
      }
      this.AllSerial = true
      if (this.action == 'check_all_validated') {
        this.action = 'release'
        this.confirmMessage = 'Release Stock Transfer Request?'
        this.confirmdialog = true
      }
    },
    ValidateSerial () {
      let found = false
      let status = 'ok'
      this.action == 'received' ? status = 'received' : status = 'ok'
      for (let i = 0; i < this.productSerials.length; i++) {
        if (this.checkserial == this.productSerials[i].serial) {
          this.productSerials[i].status = status
          this.UpdateSerial(this.productSerials[i])
          found = true
          break
        }
      }
      if (!found) {
        this.snackbarcolor = 'warning'
        this.alertMessage = 'Serial not found!'
        this.snackbar = true
      }
      this.checkserial = ''
    },
    UpdateSerial (item) {
      this.$http.post('transfer/update_serial', item).then(response => {
        this.snackbarcolor = 'success'
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.getProducts()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    getProducts () {
      this.products = []
      this.$http.post('transfer/product', { method: 'list', entry: { transfer: this.transferID } }).then(response => {
        response.data.products != null ? this.products = response.data.products : console.log()
        response.data.serials != null ? this.productSerials = response.data.serials : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    cat_name (id) {
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) {
          return this.categories[i].name
        }
      }
    },
    setCategory () {
      let id = this.selectedProduct.category
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          break
        }
      }
    },
    ViewTransfer () {
      console.log(this.transferID)
      this.$http.post('transfer/request', { method: 'single', entry: { id: this.transferID } }).then(response => {
        response.data.data != null ? this.transfer = response.data.data : console.log()
        this.getDestination()
        this.getProducts()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    CheckAvailabilty () {
      var qry = {}
      qry.method = 'get_available_by_code'
      qry.str_val_first = this.selectedProduct.code
      qry.str_val_second = 'Available'
      this.productItems = []
      this.$http.post('product/item_status', qry).then(response => {
        response.data.data != null ? this.productItems = response.data.data : console.log()
        console.log(response.data.data)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getbranches () {
      this.branchlists = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.branchlists = response.data.data : console.log()
        this.ViewTransfer()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getDestination () {
      for (let i = 0; i < this.branchlists.length; i++) {
        if (this.transfer.destination == this.branchlists[i].id) {
          this.destination = this.branchlists[i].name
          break
        }
      }
    },
    Save () {
      if (this.transfer.status == 'Approved') {
        this.transfer.approved_signature = this.signatureData
      }
      if (this.action == 'received') {
        this.transfer.status = 'Received'
        this.transfer.receiver_signature = this.signatureData
      }
      console.log(this.transfer)
      this.$http.post('transfer/update', this.transfer).then(response => {
        this.snackbarcolor = 'success'
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.confirmdialog = false
          this.ViewTransfer()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}

  .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }

  .v-tooltip__content.v-tooltip__content--fixed {
    background: #000;
    opacity: .6 !important;
    color: #fff !important;
  }
  .v-context {
    font-size:  .9em;
    padding: 4px 0;
    background: #044771;
    color: #fff;
  }
  .v-context li a {
    text-align:  left;
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #275571
  }
</style>
