<template>
  <v-container
    id="nomargintoolbar"

    fluid
    grid-list-xl
  >
    <v-card >
      <v-card-title>
        <v-text-field
          v-model="RequestID"
          label="Assembly Request #"
          box
          @focus="RequestID=''"
          @change="getProduct()"
        />
      </v-card-title>
      <v-card-text>

        <v-layout
          wrap
          row
        >
          <v-flex
            xs6
          >
            <v-text-field
              v-model="product.code"
              :disabled="true"
              label="Product Code"
            />
            <v-text-field
              v-model="product.description"
              :disabled="true"
              label="Product description"
            />
            <v-text-field
              v-model="product.quantity"
              :disabled="true"
              label="Quantity"
            />
          </v-flex>
          <v-flex
            xs6
          >
            <v-text-field
              v-model="product.brand"
              :disabled="true"
              label="Brand"
            />
            <v-text-field
              v-model="product.model"
              :disabled="true"
              label="Model"
            /><v-text-field
              v-model="product.status"
              :disabled="true"
              label="Status"
            />
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-layout
        wrap
        row
      >
        <v-flex xs12>

          <table
            class="item_table"
            cellspacing="1px">
            <thead>
              <tr>
                <th width="12px">ITEM</th>
                <th >SERIALS</th>
                <th>ASSEMBLED BY</th>
                <th>DATE</th>
                <th>STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item,index) in assembled_items"
                :key="index"
                title="View details"
                style="cursor:pointer;"
                @click="assembledata=item, isnew=false,serial=true">
                <td class="text-xs-center pa-1">{{ index+1 }}</td>
                <td class="pa-1"> {{ item.serial }}</td>
                <td class="pa-1"> {{ item.assembled_by_user }}</td>
                <td class="pa-1"> {{ item.assembled_date | moment('lll') }}</td>
                <td class="pa-1">
                  <template v-if="item.status == 'Verified'">
                    <v-chip
                      small
                      color="success"
                      text-color="#fff"><v-icon
                        color="#fff"
                        small>mdi-check</v-icon>Verified</v-chip>
                  </template>
                  <span
                    v-else
                    style="color: #FC960F">
                    {{ item.status }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </v-flex>
      </v-layout>

    </v-card>

    <v-tooltip
      v-if="product.quantity > assembled_items.length"
      left>
      <template v-slot:activator="{ on }">
        <v-fab-transition>
          <v-btn
            dark
            fixed
            bottom
            right
            fab
            color="success"
            v-on="on"
            @click.stop="assembledata={},isnew=false, serial = true"
          >
            <v-icon>mdi-toolbox</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>
      <span>Assemble Product</span>
    </v-tooltip>

    <ams-assembler-form
      :show="serial"
      :isnew="isnew"
      :assembledata="assembledata"
      :product="product"
      @DialogEvent="assembleEvent" />
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-container>

</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    serial: false,
    isnew: false,
    menu2: false,
    startdate: '',
    enddate: '',
    edit: false,
    alertMessage: '',
    atIndex: 0,
    assembledata: {},
    newserial: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    RequestID: '',
    snackbarcolor: 'success',
    timeout: 6000,
    components: [],
    addedComponents: [],
    product: {},
    assembled_items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    COMPONENTS () {
      var array = this.addedComponents

      const result = []
      var serials = []
      var index = 0
      const map = new Map()
      for (const item of array) {
        if (!map.has(item.code)) {
          map.set(item.code, true) // set any value to Map
          item.serials = []
          var serItem = { index: index, serial: item.serial }
          item.serials.push(serItem)
          result.push(item)
        } else {
          console.log('result')
          var serials = result[result.length - 1].serials
          var serItem = { index: index, serial: item.serial }
          serials.push(serItem)
          result[result.length - 1].serials = serials
        }
        index++
      }
      console.log(result)
      return result
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  // this.getProduct()
    // this.getAssembledItems()
  },
  methods: {
    assembleEvent (event) {
      this.serial = false
      this.getAssembledItems()
    },
    formEvent (data) {
      this.serial = false
      if (data.code != undefined) {
        if (!this.isExist(data)) {
          this.addedComponents.push(data)
        } else {
          this.showAlert('Already exist', 'warning')
        }
      }
      console.log(this.addedComponents)
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    isExist (data) {
      for (let i = 0; i < this.addedComponents.length; i++) {
        if (this.addedComponents[i].serial == data.serial) {
          return true
        }
      }
      return false
    },
    RemoveItem (index) {
      this.addedComponents.splice(index, 1)
    },
    updateAssembled () {
      this.$http.post('assemble/update', this.product).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
      }).catch(e => {
        console.log(e.data)
      })
    },
    getProduct () {
      this.product = {}
      this.$http.post('assemble/query', { id: parseInt(this.RequestID) }).then(response => {
        response.data.products.id > 0 ? this.product = response.data.products : this.showAlert('Request not found!', 'warning')
        this.getAssembledItems()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getAssembledItems () {
      this.$http.post('assemble/query_items', { id: parseInt(this.RequestID) }).then(response => {
        response.data.products != null ? this.assembled_items = response.data.products : this.assembled_items = []
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

.v-date-picker-table tbody td button.v-btn--flat {
  color: #444 !important;
}
.v-picker__body .v-btn__content {
  color:#212121 !important;
}

 .item_table {
      width: 100%;
  }
   .item_table  tr:hover {
     background:  #FFF4E4;
   }
  .item_table  tr {
     background: #fafafa;
   }
   .item_table th {
     font-size: .75em;
     text-align: left;
     background: #212121;
     color: #f1f1f1;
     padding: 5px 10px;
   }
   .item_table td {
     font-size: .9em;
     text-align: left;

     padding: 0px;
   }
   .item_table_inner td {
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
   }
</style>
