<template>
  <v-container
    id="nomargintoolbar"
    fluid
  >
    <v-layout
      wrap
    >
      <v-flex
        sm12
        md8
        lg9>
        <v-layout
          row
          wrap>
          <v-flex
            sm12
            lg4
            md3
            class="pa-1">
            <v-card >
              <v-layout row>
                <v-flex xs6>
                  <v-card-title primary-title>
                    <div>
                      <div class="">Total Service Orders</div>

                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex
                  xs6
                  pt-1>
                  <span
                    class="display-2 font-weight-light mr-2 mt-3"
                    style="float:right"
                  >
                    {{ allTask }}
                  </span>
                </v-flex>
              </v-layout>

            </v-card>
          </v-flex>
          <v-flex
            sm12
            lg4
            md3
            class="pa-1">
            <v-card >
              <v-layout row>
                <v-flex xs6>
                  <v-card-title primary-title>
                    <div>
                      <div class="">Closed Service Orders</div>

                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex
                  xs6
                  pt-1>
                  <v-progress-circular
                    :rotate="360"
                    :size="80"
                    :width="15"
                    :value="(doneTasks / allTask )*100"
                    color="teal"
                    style="float:right"
                    class="mr-2"
                  >
                    {{ doneTasks }}
                  </v-progress-circular>
                </v-flex>
              </v-layout>

            </v-card>
          </v-flex>

          <v-flex
            sm12
            lg4
            md3
            class="pa-1">
            <v-card >
              <v-layout row>
                <v-flex xs6>
                  <v-card-title primary-title>
                    <div>
                      <div class="">In-progress Service Orders</div>

                    </div>
                  </v-card-title>
                </v-flex>
                <v-flex
                  xs6
                  pt-1>
                  <v-progress-circular
                    :rotate="360"
                    :size="80"
                    :width="15"
                    :value="(onProgress / allTask) *100"
                    color="orange"
                    style="float:right"
                    class="mr-2"
                  >
                    {{ onProgress }}
                  </v-progress-circular>
                </v-flex>
              </v-layout>

            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card class="ma-1">
              <v-subheader>
                Team Performance
              </v-subheader>
              <LineChart
                v-if="barChartData != false"
                :chartdata="barChartData"
                :options="options"/>
            </v-card>
          </v-flex>

        </v-layout>
      </v-flex>
      <v-flex
        sm12
        md4
        lg3 >
        <v-card
          class=" ml-3 mt-1"

        >
          <v-subheader>
            Service Order Activity Logs
          </v-subheader>
          <div
            style="min-height:50vh; max-height:66vh; overflow-y:scroll"
          >
            <div
              v-for="log in logs"
              :key="log.id"
              class="caption px-3 py-1 font-weight-light"
              style="color:#757575"
            >
              <strong>{{ log.role }} ( {{ log.fullname }}) :</strong>

              {{ log.action }}<br>
              <span v-if="log.details && convertToJson(log.details).data">
              <b>{{ convertToJson(log.details).data }}</b><br> </span>
              <small>   {{ log.created | moment('lll') }} </small>
            </div>

          </div>
        </v-card>

      </v-flex>
    </v-layout>
    <v-layout
      row
      wrap>

      <v-flex
        xs6
        class="mt-4">
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>fas fa-tools</v-icon><v-icon>fas fa-tasks</v-icon> Unit Issues</v-toolbar-title>
          <v-spacer/>
        </v-toolbar>
        <v-card class="mt-2 pa-2">
          <v-combobox
            v-model="model"
            :items="items"
            :search-input.sync="search"
            hide-selected
            label="Unit Issues"
            multiple
            persistent-hint
            small-chips
          >
            <template v-slot:no-data>
              <!-- <v-list-item>
                <v-list-item-content>
                  <v-list-item-title> -->

              No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
              <!-- </v-list-item-title>
                </v-list-item-content>
              </v-list-item> -->
            </template>

          </v-combobox>
          <v-btn
            color="success darken-1"
            small
            @click="SaveSetting('issues')"

          >
            Save</v-btn>
        </v-card>
        <v-toolbar
          color="main"
          dark
          class="mt-4"
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>fas fa-tools</v-icon><v-icon>fas fa-tasks</v-icon> Unit Conditions</v-toolbar-title>
          <v-spacer/>
        </v-toolbar>
        <v-card class="mt-2 pa-2">
          <v-combobox
            v-model="unitConditionsModel"
            :items=" unitConditionsItems"
            :search-input.sync="unitConditionsSearch"
            hide-selected
            label="Unit Conditions"
            multiple
            persistent-hint
            small-chips
          >
            <template v-slot:no-data>
              <!-- <v-list-item>
                <v-list-item-content>
                  <v-list-item-title> -->

              No results matching "<strong>{{ unitConditionsSearch }}</strong>". Press <kbd>enter</kbd> to create a new one
              <!-- </v-list-item-title>
                </v-list-item-content>
              </v-list-item> -->
            </template>

          </v-combobox>
          <v-btn
            color="success darken-1"
            small
            @click="SaveSetting('conditions')"

          >
            Save</v-btn>
        </v-card>
      </v-flex>
      <v-flex
        xs6
        class="">

        <status :statuses="statuses"/>

      </v-flex>
    </v-layout>
    <v-snackbar
      v-model="$store.state.snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="$store.state.snackbarcolor"
      width="390px"
    >
      {{ $store.state.alertMessage }}

      <v-btn
        flat
        @click="$store.state.snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>
<script>
import { mapGetters } from 'vuex'
import status from './components/Status'
import LineChart from './components/LineChart'
import moment from 'moment'
export default {

  components: {
    LineChart,
    status
  },
  data: () => ({
    servicesTask:[],
    startDate: moment(),
    endDate: moment(),
    month: 0,
    days: 7,
    logs: [],
    allTask: 0,
    doneTasks: 0,
    onProgress: 0,
    barChartData: false,
    options: {
      responsive: true,
      maintainAspectRatio: false
    },
    statuses: [],
    items: [],
    model: [],
    search: null,
    checklist: [],
    unitConditions: [],
    unitConditionsModel: [],
    unitConditionsItems: [],
    unitConditionsSearch: null,
    y: 'top',
    x: null,
    mode: '',
    timeout: 6000,
    logOffset:0,

  }),
  computed: {

  },
  watch: {

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
   
    this.getServiceOrderLogs()
  },
  mounted () {
    this.$nextTick(() => {
     
     
      this.GetSettings()
    })
  },
  methods: {
    chartdata () {
      let chartDate = []
      let chartData = [ ]
      let mapDoneTask = []
      this.startDate = moment().subtract(this.days - 1, 'days')
      this.endDate = moment()
       console.log(this.servicesTask)
      let doneTask = this.servicesTask.filter(task => task.status_id == this.statuses.length)
      
      while (this.startDate < this.endDate) {
        chartDate.push(moment(this.startDate).format('DD-MM'))
        var addToMapTask = doneTask.filter(task => moment(task.finished_date).format('DD-MM') == moment(this.startDate).format('DD-MM'))

        mapDoneTask.push({ 'date': moment(this.startDate).format('DD-MM'), 'tasks': addToMapTask })
        this.startDate = moment(this.startDate).add(1, 'days')
      }
      console.log(mapDoneTask)

      this.$http.post('user/list').then(response => {
        console.log(response)
        if (response.data.status) {
          let technicians = response.data.data.filter(user => user.role === 'Technician')
          console.log(technicians)

          for (let count = 0; count < technicians.length; count++) {
            var dataPerTechnician = []
            for (var x = 0; x < mapDoneTask.length; x++) {
              if (mapDoneTask[x].tasks.length != 0) {
                var result = mapDoneTask[x].tasks.filter(task => task.assignees == technicians[count].id)
                console.log(result)
                dataPerTechnician.push(result.length)
              } else {
                dataPerTechnician.push(0)
              }
            }
            console.log('dataPerTechnician')
            console.log(dataPerTechnician)
            chartData.push({
              label: technicians[count].fullname,
              color: '#f87556',
              data: dataPerTechnician
            })
          }
          let data = { 'labels': chartDate, 'datasets': chartData }
          this.barChartData = data
          console.log(this.barChartData)
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getTasks(){
       this.$http.post('service_order/list/all').then(response => {
        console.log(response)
           if(response.data.data != null ){
          this.servicesTask= response.data.data
          this.getTaskInfo()
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getTaskInfo () {
      this.allTask = this.servicesTask.length
      this.doneTasks = this.servicesTask.filter(task => task.status_id == this.statuses.length).length
      this.onProgress = this.servicesTask.filter(task => task.status_id < this.statuses.length).length
       this.chartdata()
      return this.allTask
    },
    getServiceOrderLogs () {
      console.log('get service order logs')
      var entry= {'offset':this.offset,'limit':100}
      this.$http.post('service_order_log/list',entry).then(response => {
        console.log(response)
        response.data.data != null ? this.logs = response.data.data : console.log()
      }).catch(e => {
        console.log(e)
      })
    },
    convertToJson (s) {
      if (s) {
        return JSON.parse(s)
      }
    },
    SaveSetting (setting) {
      var entry = {}
      if (setting == 'issues') {
        this.checklist.data = this.model
        entry = this.checklist
        console.log(this.checklist)
      }
      if (setting == 'conditions') {
        this.unitConditions.data = this.unitConditionsModel
        entry = this.unitConditions
      }
      console.log(entry)
      this.$http.post('service_settings/update', entry).then(response => {
        console.log(response.data)
        if (response.data.status) {
          console.log('save settings')
          this.$store.state.alertMessage = 'Checklist Updated!'
          this.$store.state.snackbarcolor = 'success'
          this.$store.state.snackbar = true
          setTimeout(() => {
            this.$store.state.snackbar = false
          }, 2000)
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    },

    GetSettings () {
      this.$http.post('service_settings/list').then(response => {
        console.log(response.data)
        if (response.data.status) {
          console.log('get settings')
          var statuses = response.data.data.filter(setting => setting.name == 'statuses')[0]
          this.statuses = statuses.data
          var checklist = response.data.data.filter(setting => setting.name == 'checklist')
          this.model = checklist[0].data
          this.checklist = checklist[0]

          var conditions = response.data.data.filter(setting => setting.name == 'unit_conditions')
          this.unitConditionsModel = conditions[0].data
          this.unitConditions = conditions[0]
           this.getTasks()
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    }
  }

}
</script>
