<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>far fa-edit</v-icon>Products Management</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <v-autocomplete
            v-model="by_supplier"
            :items="suppliers"
            item-text="name"
            item-value="id"
            label="Supplier"
            @change="filterItem"
          />
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}, selectedSupplier={}"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="dataItems"
          :search="search"
        >

          <template v-slot:items="props">

            <!-- <td>
             
                  {{ supplier_name(props.item.supplier) }} <small class="ml-1" style="color: #0CB4C9;"> {{aging(props.item)}}</small>
              </td> -->
            <td>
               <v-icon color="warning" class="mr-1" @click="dialog=true, edit=true, entry=props.item, setSupplier()" small>mdi-pencil</v-icon>
               
              <v-icon
              small
              left
              @click="productData=props.item, openItem = true">mdi-open-in-new</v-icon>{{ props.item.product_code }}</td>
            <td>{{ props.item.description }}</td>
            <td>{{ props.item.brand }} <br >
              <!-- <router-link :to="{ name: 'View Purchase', params: { id: props.item.source_pr }}"> REF. P.O: {{ props.item.source_po }}</router-link> -->

            </td>
            <td>{{ props.item.category }}</td>
            <td>{{ props.item.model }}</td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <!-- <td>
                <v-chip small color="success" dark v-if="props.item.status == 'Active'">{{ props.item.status }}</v-chip>
                <v-chip small color="warning" dark v-if="props.item.status == 'For Approval'">{{ props.item.status }}</v-chip>
                <v-chip small dark v-if="props.item.status == 'Cancelled'">{{ props.item.status }}</v-chip>
            </td> -->
          </template>
          <!-- <template slot="footer">
              <td :colspan="2" class="text-xs-left subheading">Claimed: {{ $money(TOTALAMOUNTCLAIMED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Ready: {{ $money(TOTALAMOUNTREADY) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Cancelled: {{ $money(TOTALAMOUNTCANCELLED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Total: {{ $money(TOTALAMOUNT) }} </td>
           </template> -->
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >
            <v-autocomplete
              v-model="selectedSupplier"
              :items="suppliers"
              
              item-text="name"
              item-value="id"
              label="Select Supplier"
              return-object
              required
            />

            <v-text-field
              v-model="entry.product_code"
              label="Product Code"/>

            <v-text-field
              v-model="entry.description"
              label="Description"/>
            <v-text-field
              v-model="entry.brand"
             
              required
              label="Brand"/>
            <v-text-field
              v-model="entry.category"
             
              required
              label="Category"/>
            <v-text-field
              v-model="entry.model"
            
              required
              label="Model"/>
            <v-text-field
              v-model="entry.price"
              :rules="[v => !!v || 'Price is required']"
              required
              label="Price"/>

            <v-autocomplete
              v-model="entry.status"
              :items="['Active', 'For Approval', 'Disabled']"
              :rules="[v => !!v || 'Status is required']"
              label="Status"
              required
            />

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn

            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <service-product-item
      :show="openItem"
      :data="productData"
      @DialogEvent="productItemEvent"/>
  </v-container>

</template>

<script>
export default {
  data: () => ({
    openItem: false,
    search: '',
    dialog: false,
    by_supplier: '',
    edit: false,
    productData: {},
    selectedSupplier: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',

    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      // {
      //   text: 'Supplier',
      //   value: 'supplier'
      // },
      {
        text: 'Product Code',
        value: 'product_code'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Brand',
        value: 'brand'
      },
      {
        text: 'Category',
        value: 'category'
      },
      {
        text: 'Model',
        value: 'model'
      },
      {
        text: 'Price',
        value: 'price'
      },
      {
        text: 'Created',
        value: 'created'
      }
      // {
      //   text: 'Status',
      //   value: 'Status'
      // }
    ],
    entry: {},
    items: [],
    dataItems: [],
    suppliers: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
  },
  methods: {
    productItemEvent (res) {
      console.log(res)
      this.openItem = false
    },
    aging (item) {
      if (item.status != 'Claimed' && item.status != 'Cancelled' && item.type != 'Marketing') { return this.$moment(item.created).fromNow() } else { return '' }
    },
    filterItem () {
      var items = []
      console.log(this.by_supplier)
      for (let i = 0; i < this.items.length; i++) {
        if (this.by_supplier == this.items[i].supplier) {
          items.push(this.items[i])
        }
      }
      this.dataItems = items
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    setSupplier () {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (this.entry.supplier == this.suppliers[i].id) {
          this.selectedSupplier = this.suppliers[i]
          break
        }
      }
    },
    supplier_name (id) {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (id == this.suppliers[i].id) {
          return this.suppliers[i].name
        }
      }
    },
    getItems () {
      this.items = []
      this.dataItems = []
      this.$http.post('service_order_products/list').then(response => {
        console.log(response)
        response.data.data != null ? this.items = response.data.data : console.log()
        this.dataItems = this.items
      }).catch(e => {
        console.log(e)
      })
    },
    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      this.entry.supplier = parseInt(this.selectedSupplier.id)
      this.$http.post('service_order_products/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'success'
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.entry.supplier = parseInt(this.selectedSupplier.id)
      console.log(this.entry)
      this.$http.post('service_order_products/new', this.entry).then(response => {
        console.log(response)
        if (response.data.status) {
          this.getItems()
          this.alertMessage = response.data.message
          this.dialog = false
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
