<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>far fa-edit</v-icon> Services Purchase Orders</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>

        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="dataItems"
          :search="search"
        >

          <template v-slot:items="props">

            <td>

              {{ props.item.so_id }}
            </td>
            <td>{{ GetProductInfo( props.item.product_id).product_code }}</td>
            <td>{{ GetProductInfo( props.item.product_id).description }}</td>
            <td>

              {{ setSupplier(props.item.product_id).name }}
              <small
                class="ml-1"
                style="color: #0CB4C9;"> {{ aging(props.item) }}</small>
            </td>
            <td>{{ GetProductInfo( props.item.product_id).brand }} <br >
              <!-- <router-link :to="{ name: 'View Purchase', params: { id: props.item.source_pr }}"> REF. P.O: {{ props.item.source_po }}</router-link> -->

            </td>
            <td>{{ GetProductInfo( props.item.product_id).category }}</td>
            <td>{{ GetProductInfo( props.item.product_id).model }}</td>
            <td>{{ GetProductInfo( props.item.product_id).price }}</td>
            <td>{{ props.item.quantity }}</td>
            <td>{{ props.item.total }}</td>

            <td>{{ props.item.created | moment("lll") }}</td>
            <td>

              <v-chip
                v-if="props.item.status == 'New'"
                small
                color="error"
                dark>
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>
              <v-chip
                v-else-if="props.item.status == 'For Approval'"
                small
                color="warning"
                dark>
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>
              <v-chip
                v-else-if="props.item.status == 'Approved'"
                small
                color="success"
                dark>
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>
              <v-chip
                v-else-if="props.item.status == 'Cancelled'"
                small
                dark>
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>

              <v-chip
                v-else-if="props.item.status == 'Claimed'"
                small
                dark
                color="default">
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>
              <v-chip
                v-else
                small
                color="info"
                dark>
                <v-icon
                  color="warning"
                  class="mr-1"
                  small
                  @click="dialog=true, edit=true, entry=props.item">mdi-pencil</v-icon>
                {{ props.item.status }}</v-chip>
            </td>
          </template>
          <!-- <template slot="footer">
              <td :colspan="2" class="text-xs-left subheading">Claimed: {{ $money(TOTALAMOUNTCLAIMED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Ready: {{ $money(TOTALAMOUNTREADY) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Cancelled: {{ $money(TOTALAMOUNTCANCELLED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Total: {{ $money(TOTALAMOUNT) }} </td>
           </template> -->
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >

            <v-autocomplete
              v-model="entry.status"
              :items="['New','Ready', 'Claimed', 'Not Approved','Ordering','Approved']"
              :rules="[v => !!v || 'Status is required']"
              label="Status"
              required
            />

          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn

            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
export default {
  data: () => ({
    role: '',
    productlist: [],
    search: '',
    dialog: false,
    by_supplier: '',
    edit: false,
    newpassword: '',
    selectedSupplier: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',

    snackbarcolor: 'success',
    timeout: 6000,
    headers: [

      {
        text: 'SO-Id',
        value: 'so_id'
      },
      {
        text: 'Product Code',
        value: 'product_code'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Supplier',
        value: 'supplier'
      },
      {
        text: 'Brand',
        value: 'brand'
      },
      {
        text: 'Category',
        value: 'category'
      },
      {
        text: 'Model',
        value: 'model'
      },
      {
        text: 'Price',
        value: 'price'
      },
      {
        text: 'Quantity',
        value: 'quantity'
      },
      {
        text: 'Total',
        value: 'total'
      },
      {
        text: 'Created',
        value: 'created'
      },
      {
        text: 'Status',
        value: 'Status'
      }
    ],
    entry: {},
    items: [],
    dataItems: [],
    suppliers: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }

  },
  mounted () {
    if (!this.$session.exists()) {
      console.log('sessiong not exist')
      // this.$router.push('/')
    } else {
      this.role = this.$session.get('role')
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
    this.getSuppliers()
    this.getProductList()
  },
  methods: {
    aging (item) {
      if (item.status != 'Claimed' && item.status != 'Cancelled' && item.type != 'Marketing') { return this.$moment(item.created).fromNow() } else { return '' }
    },
    filterItem () {
      var items = []
      console.log(this.by_supplier)
      for (let i = 0; i < this.items.length; i++) {
        if (this.by_supplier == this.items[i].supplier) {
          items.push(this.items[i])
        }
      }
      this.dataItems = items
    },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    setSupplier (product_id) {
      // for(let i=0;i<this.suppliers.length;i++) {
      //   if(this.entry.supplier == this.suppliers[i].id) {
      //     this.selectedSupplier = this.suppliers[i]
      //     break
      //   }
      // }
      console.log(product_id)
      var id = this.GetProductInfo(product_id).supplier
      return this.suppliers.filter(supplier => supplier.id === id)[0]
    },
    supplier_name (id) {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (id == this.suppliers[i].id) {
          return this.suppliers[i].name
        }
      }
    },
    getProductList () {
      console.log('get product list')
      this.productlist = []
      this.$http.post('service_order_products/list').then(response => {
        console.log(response)
        response.data.data != null ? this.productlist = response.data.data : console.log()
      }).catch(e => {
        console.log(e)
      })
    },
    getItems () {
      this.items = []
      this.dataItems = []
      this.$http.post('service_order_purchase/list').then(response => {
        console.log(response)
        response.data.data != null ? this.items = response.data.data : console.log()
        this.dataItems = this.items
      }).catch(e => {
        console.log(e)
      })
    },
    getSuppliers () {
      this.suppliers = []
      this.$http.post('supplier/list', JSON.stringify({})).then(response => {
        response.data.data != null ? this.suppliers = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Save () {
      console.log(this.entry)
      this.$http.post('service_order_purchase/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'info'
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {

    },
    GetProductInfo (id) {
      return this.productlist.filter(product => product.id === id)[0]
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
