<template>
  <v-container
    id="nomargintoolbar"
  >

    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <v-toolbar
          color="main"
          dark
        >
          <v-toolbar-title style="color: #f1f1f1;"><v-icon>far fa-edit</v-icon> Services Tariff</v-toolbar-title>
          <v-spacer/>
          <v-spacer/>
          <v-spacer/>
          <!-- <v-autocomplete
              v-model="by_supplier"
              :items="suppliers"
              item-text="name"
              item-value="id"
              @change="filterItem"
              label="Supplier"
            /> -->
          <v-btn
            color="primary"
            class="ml-3"
            fab
            small
            dark
            @click="dialog=true, edit=false, entry={}, selectedSupplier={}"><v-icon>mdi-plus</v-icon></v-btn>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="dataItems"
          :search="search"
        >

          <template v-slot:items="props">

            <td>{{ props.item.code }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.description }} <br >
              <!-- <router-link :to="{ name: 'View Purchase', params: { id: props.item.source_pr }}"> REF. P.O: {{ props.item.source_po }}</router-link> -->

            </td>
            <td>{{ props.item.category }}</td>
            <td>{{ displayDuration(props.item.est_time) }}</td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.created | moment("lll") }}</td>
            <td>
              <v-chip
                v-if="props.item.status == 'Active'"
                small
                color="success"
                dark>{{ props.item.status }}</v-chip>
              <v-chip
                v-if="props.item.status == 'For Approval'"
                small
                color="warning"
                dark>{{ props.item.status }}</v-chip>
              <v-chip
                v-if="props.item.status == 'Cancelled'"
                small
                dark>{{ props.item.status }}</v-chip>
            </td>
          </template>
          <!-- <template slot="footer">
              <td :colspan="2" class="text-xs-left subheading">Claimed: {{ $money(TOTALAMOUNTCLAIMED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Ready: {{ $money(TOTALAMOUNTREADY) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Cancelled: {{ $money(TOTALAMOUNTCANCELLED) }}</td>
              <td :colspan="2" class="text-xs-left subheading">Total: {{ $money(TOTALAMOUNT) }} </td>
           </template> -->
        </v-data-table>
      </v-flex>
    </v-layout>

    <!-- Dialoags -->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="560px">
      <v-card>
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus-outline</v-icon>
          <span
            v-if="edit==false"
            class="headline">Add</span>
          <span
            v-else
            class="headline">Edit</span>
          <v-spacer/>
          <v-btn
            color="warning darken-1"
            style="margin-top: -12px;margin-right: -12px;"
            title="Close"
            flat
            fab
            @click="dialog = false, edit=false"><v-icon>mdi-close-box</v-icon></v-btn>
        </v-card-title>
        <v-card-text>

          <v-form
            ref="form"
            lazy-validation
          >

            <v-text-field
              v-model="entry.code"
              label="Task Code"
              outlined
            />

            <v-text-field
              v-model="entry.name"
              :rules="[v => !!v || 'Task label is required']"
              required
              label="Task label"/>

            <v-textarea
              v-model="entry.description"
              filled
              name="input-7-4"
              label="Description"

            />

            <v-text-field
              v-model="entry.price"
              :rules="[v => !!v || 'Price is required']"
              required
              type="number"
              label="Price"/>

            <div class="subheader">Estimated Time</div>
            <v-layout
              row
              wrap>
              <v-flex xs6>
                <v-text-field
                  v-model="estTime.hrs"
                  label="Hrs"
                  type="number"
                  class="pa-1"

                />
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="estTime.mins"
                  label="Mins"
                  type="number"
                  class="pa-1"
                  max="59"
                />

              </v-flex>
            </v-layout>

            <v-autocomplete
              v-model="entry.category"
              :items="['Repair', 'Civil Works', 'Assembly','Network']"
              :rules="[v => !!v || 'Category is required']"
              label="Category"
              required
            />

            <small>*indicates required field</small>
          </v-form>

        </v-card-text>
        <v-card-actions>

          <v-spacer/>
          <v-btn

            color="success darken-1"
            small
            @click="validate()"> {{ btnlabel }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="snackbarcolor"
      width="390px"
    >
      {{ alertMessage }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-container>

</template>

<script>
import { parse } from 'path'

import moment from 'moment'
import momentDurationFormatSetup from 'moment-duration-format'
export default {
  data: () => ({
    search: '',
    dialog: false,
    by_supplier: '',
    edit: false,
    newpassword: '',
    selectedSupplier: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',

    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: 'Code',
        value: 'supplier'
      },
      {
        text: 'Task',
        value: 'product_code'
      },
      {
        text: 'Description',
        value: 'description'
      },
      {
        text: 'Category',
        value: 'brand'
      },
      {
        text: 'Est. Time',
        value: 'category'
      },

      {
        text: 'Charge',
        value: 'price'
      },
      {
        text: 'Created',
        value: 'created'
      }

    ],
    entry: {},
    items: [],
    dataItems: [],
    suppliers: [],
    estTime: {}
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    }

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
  },
  methods: {
    aging (item) {
      if (item.status != 'Claimed' && item.status != 'Cancelled' && item.type != 'Marketing') { return this.$moment(item.created).fromNow() } else { return '' }
    },
    // filterItem() {
    //   var items = []
    //   console.log(this.by_supplier)
    //   for(let i=0;i<this.items.length;i++) {
    //     if(this.by_supplier == this.items[i].supplier) {
    //         items.push(this.items[i])
    //     }
    //   }
    //   this.dataItems = items
    // },
    validate () {
      if (this.$refs.form.validate()) { this.edit == true ? this.Save() : this.Add() }
    },
    setSupplier () {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (this.entry.supplier == this.suppliers[i].id) {
          this.selectedSupplier = this.suppliers[i]
          break
        }
      }
    },
    supplier_name (id) {
      for (let i = 0; i < this.suppliers.length; i++) {
        if (id == this.suppliers[i].id) {
          return this.suppliers[i].name
        }
      }
    },
    getItems () {
      this.items = []
      this.dataItems = []
      this.$http.post('service_order_tariff/list').then(response => {
        console.log(response.data.data)
        response.data.data != null ? this.items = response.data.data : console.log()
        this.dataItems = this.items
        console.log(this.dataItems)
      }).catch(e => {
        console.log(e)
      })
    },

    Save () {
      this.entry.supplier = parseInt(this.selectedSupplier.id)
      this.$http.post('service_order_products/update', this.entry).then(response => {
        if (response.data.status) {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'success'
          this.dialog = false
          this.getItems()
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.entry.price = parseFloat(this.entry.price)

      this.entry.est_time = (this.estTime.hrs * 3600) + (this.estTime.mins * 60)
      console.log(this.entry)

      this.$http.post('service_order_tariff/new', this.entry).then(response => {
        console.log(response)
        if (response.data.status) {
          this.getItems()
          this.alertMessage = response.data.message
          this.dialog = false
        } else {
          this.alertMessage = response.data.message
          this.snackbarcolor = 'warning'
        }
        this.snackbar = true
      }).catch(e => {
        console.log(e)
      })
    },
    displayDuration (durationInSeconds) {
      if (durationInSeconds != null && durationInSeconds != undefined) {
        return moment.duration(durationInSeconds, 'seconds').format('HH:mm:ss', {
          trim: false
        })
      } else {
        return moment.duration(0, 'seconds').format('HH:mm:ss', {
          trim: false
        })
      }
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
</style>
