<template>
  <div
    class="mx-1 pa-0"
  >

    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        md3
        lg3

      >

        <v-autocomplete
          v-if="role != 'Technician'"
          :items="branches"
          v-model="taskFilterByBranch"
          item-text="name"
          item-value="id"
          label="Branch"
          height="35px"
          class="pa-1 ma-1"
          @change="filterTaskByBranch"
        />

      </v-flex>
      <v-flex
        xs12
        md2
        lg2
      >
        <v-autocomplete
          v-if="role != 'Technician'"
          :items="$store.state.technicians"
          v-model="taskFilterByAssignee"
          item-text="fullname"
          item-value="id"
          label="Technician"
          height="35px"
          class="pa-1 ma-1"
          @change="filterTaskByAssignee(taskFilterByAssignee)"
        />

      </v-flex>
      <v-flex
        md1
        lg1
        class="ma-0 pa-0">
      
        <v-speed-dial
            style="position: absolute; top: -5vh; "
           class="pa-0 ma-0"
            v-model="availableTechShow"
            :top="true"
            :left="true"
            direction="right"
            :open-on-hover="false"
            transition="slide-y-reverse-transition'"
          >
            <template v-slot:activator>
              <v-btn
                v-model="availableTechShow"
                color="blue darken-2"
                dark
                fab
              >
                <v-icon v-if="availableTechShow">mdi-close</v-icon>
                <v-icon v-else>mdi-account-circle</v-icon>
              </v-btn>
            </template>
            <v-btn
              v-for="tech in activeTechnicians"
              :key="tech.id"

              dark
              small
              color="green"
            >
              {{tech.fullname}}
            </v-btn>

          </v-speed-dial>
      </v-flex>
      <v-flex
        xs12
        md5
        lg5>
        <v-text-field
          v-model="search"
          height="35px"
          append-icon="mdi-magnify"
          label=" Service Order #. Ex 1202 "
          outlined
          hide-details
          class="pa-1 ma-1"
        />
      </v-flex>
      <v-flex
        xs12
        md1
        lg1 >
        <v-btn
          style="height:38px;"
          color="info"
          class="mr-2 pr-2"
          small
          @click="taskFilter(search)"
        > Search
        </v-btn>
      </v-flex>
      <v-flex
        style="width:60vw; overflow-x:scroll"
        class="mx-1"
      >
        <v-layout
          row
          wrap>
          <v-flex
            v-for="data in tasksPerStatus"
            :key="data.status.id"
            style="width:20%;"
          >
            <draggable
              :id="data.status.id"
              :style="'height:'+statusContainerHeight+'; overflow-y:scroll'"
              class="list-group mr-1"
              handle=".handle"
              draggable=".item"
              group="a"
              @end="statusChange($event)"
              @start="enableLastGroup()"
            >
              <div
                :style="'border-top-width:8px; border-top-style:solid; border-top-color:'+data.status.color+';'"
                class=".font-weight-bold"
              >
                {{ data.status.name }}
              </div>
              <div
                v-for="element in data.tasks"
                :class="'list-group-item  mb-2 mr-1 ' + canBeDrag(data.status.id,element.assignees)"
                :key="element.serviceOrderNumber"
                :id="element.id"
              >
                <v-card min-width="14vw">
                  <!-- {{element.status_id}} -->
                  <v-card-title class="pa-2">
                   <v-icon
                     v-if="role == 'Technician Manager' && (isTechnicianBusy(element.id,element.assignees,element.status_id) == false)"
                    color="#B5B5B5"
                    small
                   class="handle">
                    mdi-arrow-expand-all
                  </v-icon>
                    S.O.#{{ element.id }}
                    <v-spacer/>
                    <!-- open view task  -->
                    <v-icon
                      color="warning"
                      title="Edit"
                      @click="viewtask(element)"
                    >
                      mdi-square-edit-outline
                    </v-icon>

                  </v-card-title>
                  <v-card-text class="pa-2">
                    <v-layout
                      row
                      wrap>
                      <v-flex xs12>
                        <div class="caption ma-0 pa-0 pl-1">Created: {{ element.created | moment('lll') }}</div>
                        <div class="caption ma-0 pa-0 pl-1">Aging: {{ elapsedTime(element) }}</div>
                      </v-flex>
                      <v-flex
                        v-if="getCustomerInfo(element.customer_id)"
                        xs12
                        pa-0
                        ma-0>
                        <!-- <sup > Branch: {{ getBranch(element.branch).name }}</sup> -->
                        <div class="caption ma-0 pa-0 pl-1" > Name: {{ element.firstname }}</div>
                        <div class="caption ma-0 pa-0 pl-1"> Contact Number: {{ element.contact_no }}</div>
                       

                      </v-flex>
                      <v-flex xs11>
                        <template v-if="element.assignees != 0">
                          <v-chip
                            color="teal"
                            label
                            block
                            small
                            class="overline"
                            text-color="#fff"
                          >
                            <v-icon
                              left
                              color="#fff">mdi-account</v-icon>{{ element.fullname }}
                          </v-chip>

                        </template>
                      </v-flex>
                      <v-flex xs1>
                        
                      </v-flex>
                      <div
                        v-if="element.assignees == null ||element.assignees == 0 "
                        style="background-color:#E53935;color:#fff; width:100%;border-radius:3px"
                        class="caption text-xs-center">
                        <v-icon
                          class="caption"
                          color="white">mdi-alert-circle-outline</v-icon> Assign this to continue!
                      </div>
                      <div
                        class="title text-xs-center"
                        style="width:100%" >
                        <!-- v-if="data.status.id != StatusList.length && element.assignees != 0 && data.status.id != 1 && role != 'Service CSR'" -->
                        <v-btn
                         
                          :id="'icon-'+element.id"
                          block
                          color="error"
                          class="mt-2 pa-0 "
                          small
                          :disabled="role == 'Service CSR'"
                          @click="startTimer(element.id,element.duration)">

                          <b
                            :id="&quot;fixbtn_label-&quot;+element.id"
                            class="pa-0 ma-0 body">Start</b>
                          <span
                            :id="'timer-'+element.id"
                            class="ml-2">{{ displayDuration(element.duration) }} </span>
                        </v-btn>

                      </div>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </div>
            </draggable>

          </v-flex>
        </v-layout>
      </v-flex>
      <!-- <v-btn
              v-if=" role != 'Technician' "
              color="primary"
              class="ml-3"
              small
              dark
              @click="newTaskForm=true">
              <v-icon class="mr-2">mdi-note-plus</v-icon> Service Order
            </v-btn> -->
    </v-layout>
    <v-layout
      row
      wrap>
      <v-btn
        v-if="role != 'Technician' "
        color="primary"
        class="ml-3"
        small
        dark
        @click="newTaskForm=true">
        <v-icon class="mr-2">mdi-note-plus</v-icon> Service Order
      </v-btn>
    </v-layout>
    <v-dialog
      v-model="newTaskForm"
      persistent
      max-width="95%" >
      <v-divider/>
      <v-stepper v-model="newTaskStepper">
        <v-stepper-header>
      
          <v-stepper-step
            :complete="newTaskStepper > 1"
            step="1" >  Create Service Order
          </v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content
            step="1"
            style="background-color:#EEEEEE;">

            <!-- service task form -->
            <service-task-info-form
             
              ref="childComponent"
              :edit = "false"
              plabel="Add"
              @validatedByChild="$refs.childComponent.AddTask()"
              @CloseNewTaskForm="closeNewTaskForm"
              @GetTasks="pushNewTask"/>
            <!-- eof  service task form -->

            <v-btn
              color="success"
              style="float:right;"
              @click="$refs.childComponent.validate()"
            >
              Create Task
            </v-btn>

            <v-btn
              color="warning darken-1"
              title="Close"
              @click="closeNewTaskForm(), $refs.childComponent.resetItem(),newTaskStepper=1"
            >
              Close
            </v-btn>

          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <v-snackbar
      v-model="$store.state.snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      :color="$store.state.snackbarcolor"
      width="390px"
    >
      {{ $store.state.alertMessage }}

      <v-btn
        flat
        @click="$store.state.snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <!-- view task component call -->
    <service-viewtask
      :show-view-task="showViewTask"
      :sodata="selectedSOData"
      :status="selectedSOStatus"
      @CloseViewTask="closeViewTask"
      @GetTasks="getGroupedTasks"/>
  </div>

</template>

<script>
import draggable from 'vuedraggable'
import { mapGetters,
  mapMutations,
  mapState
} from 'vuex'

import md5 from 'md5'
import moment from 'moment'
import momentDurationFormatSetup from 'moment-duration-format'
import { clearInterval, clearTimeout } from 'timers'
import { parse } from 'path'

export default {
  components: {
    draggable
    // taskInfoForm
  },
  data: () => ({
    // servicesTask:null,
    tasksPerStatus:null,
    userid: 0,
    ready: false,
    StatusList: [],
    selectedSOStatus: {},
    selectedSOData: {},
    showViewTask: false,
    newTaskForm: false,
    role: '',
    statusContainerHeight: '70vh',
    drag: 'not_draggable',
    search: '',
    newTaskStepper: 0,
    newTaskForm: false,
    selectedTask: {},
    dialog: false,
    viewTaskDialog: false,
    warranty: false,
    newCustomer: false,
    customer: '',
    items: [
      { header: 'Task Activities' },
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
        title: 'Parts ordered?',
        subtitle: "<span class='text--primary'>Ali Connors</span> &mdash;Ordered new memory\?"
      },
      { divider: true, inset: true }
    ],
    // timeline
    events: [],
    input: null,
    nonce: 0,

    y: 'top',
    x: null,
    mode: '',

    timeout: 6000,
    attachments: [],
    // attachments
    uploadprogress: false,
    completeupload: false,
    media: {},
    imageUrl: '',
    imageName: '',
    statusbtn: '',
    // timer data
    pause: false,
    stopwatch: false,
    timer: '00:00:00',
    estTime: {},
    issue_etc_dialog: false,
    fixingTimerDialog: false,
    TimerData: {},
    inLineTimer: false,
    TasksTimerData: [],
    fixbtn_label: 'START',
    branches: [],
    branch: '',
    currentBranch: '',
    taskFilterByBranch: null,
    taskFilterByAssignee: null,
    availableTechShow: false,
    activeTechnicians:[]


  }),
  computed: {
   
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    timeline () {
      return this.events.slice().reverse()
    },
    servicesTask(){
      var groupedtasks = Object.values(JSON.parse(JSON.stringify(this.tasksPerStatus)))
      var holder =   groupedtasks.map(data =>data.tasks)
      var clean = holder.filter(task => task)
      return Object.assign({},[].concat.apply([],clean))
    }

  },
  watch: {
   
    newTaskForm () {
      if (this.newTaskForm == true) {
        this.$refs.childComponent.openNewTaskForm()
      }
    },
    search () {
      this.search == '' || this.search == null ? this.getGroupedTasks() : ''
    },
    fixingTimerDialog () {
      if (!this.fixingTimerDialog) {
        (this.stopwatch != false) ? clearInterval(this.stopwatch) : ''
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
     if (!this.$session.exists()) {
      console.log('sessiong not exist')
      // this.$router.push('/')
    } else {
      this.role = this.$session.get('role')
      this.userid=this.$session.get('userID')
      this.currentBranch = this.$session.get('branch')
      this.getGroupedTasks()
    //  this.$store.dispatch('GET_TASK', this.$session.get('userID'))
    }
    
    this.getBranches()
    this.setDrawer(false)
    this.getStatusList()
    this.getActiveTechnician()
    
  },
  mounted () {
    this.$store.dispatch('GET_USERS')
    this.$store.dispatch('GET_STATUS_LIST')
    this.$store.dispatch('GET_CUSTOMERS')
    
   
  },
  methods: {
    getGroupedTasks(){
    if (this.role === 'Technician') {
      var entry = { 'assignees': this.userid }
      this.$http.post('service_order_task_per_user/get', entry).then(response => {
        if(response.data.data != null ){
          this.$nextTick(() => {
            this.tasksPerStatus=Object.assign({},  response.data.data)
           
            this.$forceUpdate();
          })
        }
      }).catch(e => {
        console.log(e)
      })
    } else {
       this.$http.post('service_order/list/grouped').then(response => {
        
        if (response.data.status) {
        
         this.$nextTick(() => {
            this.tasksPerStatus=Object.assign({},  response.data.data)
            this.$forceUpdate();
             })
         
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    }
    },
    pushNewTask(task){
      if(this.tasksPerStatus[0].tasks != null){
        this.tasksPerStatus[0].tasks.push(task)
      }else{
        let tempTaskHolder= []
        tempTaskHolder.push(task)
         this.tasksPerStatus[0].tasks=tempTaskHolder
      }
      
      
    },
    getStatusList(){
       this.$http.post('service_settings/list').then(response => {
        if (response.data.status) {
          var statuses = response.data.data.filter(setting => setting.name === 'statuses')[0]
          let formattedData = statuses.data.map(status => {
            return JSON.parse(status)
          })
          this.StatusList=formattedData
        } else {

        }
      }).catch(e => {
        console.log(e)
      })
    },
 getServiceOrderById(id){
     var req = { id: parseInt(id) }
    return this.$http.post('service_order/get', req).then(response => {
      console.log(response)
        if (response.data.status) {
           return response.data.data
        }
      }).catch(e => {
        console.log(e)
      })
  },
   viewtask(element){
      var req = { id: parseInt(element.id) }
      this.$http.post('service_order/get', req).then(response => {
        if (response.data.status) {
            this.selectedSOData=response.data.data
            this.showViewTask=true
        }
      }).catch(e => {
        console.log(e)
      })
   },
    formatTaskPerStatus(input){
      console.log(input)
       let tasks = []
       if(typeof(input) == 'object' ){
         tasks.push(input)
       }else tasks = input
      
       var tasksdata = []
      if (this.StatusList.length > 0 ) {
        for (var x = 0; x < this.StatusList.length; x++) {
          var tasksPerStatus = {}
          tasksPerStatus.status = this.StatusList[x]
          tasksPerStatus.tasks = tasks.filter(task => task.status_id == this.StatusList[x].id)
          tasksdata.push(tasksPerStatus)
        }
        this.tasksPerStatus = tasksdata
      }
    },
    ...mapMutations('app', ['setDrawer']),
    
    saveDuration (id, duration) {
      var entry = {}
      entry.id = parseInt(id)
      entry.duration = parseInt(duration)
      this.$http.post('service_order/update_duration', entry).then(response => {
        var result
        if (response.data.data != null) {
          result = response.data.data
        }
        this.$store.dispatch('GET_TASK', this.$session.get('userID'))
      }).catch(e => {
        console.log(e)
      })
    },
    elapsedTime (so_data) {
      let created = this.$moment(so_data.created)
      let finished_date = this.$moment(so_data.finished_date)
      let today = this.$moment(new Date())
      let result = ''
      if (so_data.finished_date == '0001-01-01T00:00:00Z' || so_data.finished_date == null) {
        result = today.diff(created, 'days') + 1
      } else {
        result = finished_date.diff(created, 'days') + 1
      }
      if (result > 1) {
        return result + ' Days'
      } else {
        return result + ' Day'
      }
    },
    filterTaskByAssignee (assignee_id) {
      var entry = { 'assignees': assignee_id }
      this.$http.post('service_order_task_per_user/get', entry).then(response => {
        if (response.data.data != null) this.tasksPerStatus=response.data.data
        else {
          this.snackbar('No assigned task', 'error')
        }
      }).catch(e => {
        console.log(e)
      })
    },
    filterTaskByBranch () {
      let result = null
      if (this.taskFilterByBranch != null) {
        var entry = { 'branch': parseInt(this.taskFilterByBranch) }
        this.$http.post('service_order/list/branch', entry).then(response => {
          if (response.data.data != null)this.tasksPerStatus= response.data.data
          else {
            this.snackbar('No task available', 'error')
          }
        }).catch(e => {
          console.log(e)
        })
      }
    },
   async taskFilter(filters) {
      var result = []
      var isNum = /^\d+$/.test(filters)
      if (isNum) {
        var response = await this.getServiceOrderById(filters)
        if(response != null && response != undefined && response.id != 0){
          console.log(this.tasksPerStatus)
          this.formatTaskPerStatus(response)
        }
      } else {

      }
   
    },
    checkMove () {
      console.log('checkmove')
      return false
    },
    stepperNext () {
      this.newTaskStepper = 2
    },
    canBeDrag (statusId, assignees) {
      // console.log(assignees)
      let classname = ''
      if (statusId == this.$store.state.taskStatus.length || assignees == 0) {
        classname = this.drag
      } else { classname = 'item' }
      return classname
    },
    getTechnician (id) {
      if (id != '') {
        // console.log(this.$store.getters.getUser(id)[0])
        return this.$store.getters.getUser(id)[0]
      }
    },
    dateFormat (rawdate) {
      var cleanDate = new Date(rawdate).toDateString()
      var cleanTime = new Date(rawdate).toLocaleTimeString()
      return cleanDate + ' ' + cleanTime
    },
    getTasks (statusId,tasks) {
      var tasks =tasks.filter(task => task.status_id === statusId)
      this.list = tasks
      return tasks
    },
    getCustomerInfo (id) {
      let customer = this.$store.getters.getCustomer(id)
      return customer
    },
    enableLastGroup () {
      this.drag = 'item'
    },
    statusChange (e) {
      // console.log(e.item.id)
      var index = this.TasksTimerData.findIndex(x => x.id == e.item.id)
      if(this.TasksTimerData.some(task => task.id == e.item.id) && this.TasksTimerData[index].status == true)
        {this.startTimer(e.item.id,null)}
      this.drag = 'not_draggable'
      // if(this.$store.getters.getStatus(e.to.id)[0].id == this.$store.state.taskStatus.length)
      if (this.$store.getters.getStatus(e.to.id)[0].name == 'Done') { e.item.className = 'list-group-item mb-2 mr-1 not_draggable' }

      var updateTaskData = {}
      updateTaskData.id = parseInt(e.item.id)
      updateTaskData.status_id = parseInt(e.to.id)
      if (e.from.id != e.to.id) {
        if (this.$store.state.taskStatus.length == parseInt(e.to.id)) {
          console.log('status done')
          updateTaskData.finished_date = new Date()
        }
        var statusChange = {}
        var log = { data: this.$store.getters.getStatus(e.from.id)[0].name + ' to ' + this.$store.getters.getStatus(e.to.id)[0].name }
        statusChange.service_order = updateTaskData
        statusChange.log = JSON.stringify(log)
        this.$http.post('service_order/update_status', statusChange).then(response => {
          if (response.data.status) {
            let curTask=  Object.values(JSON.parse(JSON.stringify(this.servicesTask))).filter(task => task.id== e.item.id)[0]
          
            if(this.tasksPerStatus[curTask.status_id-1].tasks != null){
                 var i = this.tasksPerStatus[curTask.status_id-1].tasks.findIndex(x => x.id == e.item.id);
              (i != -1)? this.tasksPerStatus[curTask.status_id-1].tasks[i].status_id=e.to.id:""
            }
          
            this.$nextTick(() => {
               
                this.$forceUpdate();
             })
            this.getActiveTechnician()
            this.$store.state.alertMessage = 'Status Updated!'
            this.$store.state.snackbarcolor = 'success'
            this.$store.state.snackbar = true
            
            setTimeout(() => {
              this.$store.state.snackbar = false
            }, 2000)
             
          } else {
            this.$store.state.alertMessage = 'Not saved!'
            this.$store.state.snackbarcolor = 'error'
            this.$store.state.snackbar = true
            setTimeout(() => {
              this.$store.state.snackbar = false
            }, 2000)
          }
        }).catch(e => {
          console.log(e)
        })
      }
    },
    pickFile () {
      this.$refs.image.click()
    },
        	onFilePicked (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    finishedUploading (attachments) {
      console.log('finisedUploadevent')
      // console.log(attachments)
      // var attachments=[media]
      console.log(attachments)
      this.$refs.childComponent.AddTask(attachments)
    },

    // timer functions
    stopTimer (duration) {
      console.log('stopTimer clicked')
      clearInterval(this.stopwatch)
      if (duration == null || duration == undefined)duration = 0
      var oldTimeinseconds = duration
      var input = moment.duration(this.timer).asSeconds()
      //  console.log(input)
      var total = moment.duration(input, 'seconds').add(oldTimeinseconds, 'second')
      // console.log(total)
      var newActualTime = moment.duration(total, 'seconds').format('HH:mm:ss', {
        trim: false
      })
      // console.log(newActualTime)
      // this.selected_issue_checklists[pos].actual_time = newActualTime
      // this.selected_issue_checklists[pos].status = this.TimerData.status
      this.timer = '00:00:00'
      this.$forceUpdate()
      this.stopwatch = false
    },
    resetTimer () {
      console.log('reset clicked')
      clearInterval(this.stopwatch)
      this.timer = '00:00:00'
    },
    pauseTimer () {
      this.pause = true
      clearInterval(this.stopwatch)
      this.stopwatch = false
    },

    startTimer (id, duration) {
      //  var clickIcon=document.getElementById('icon-'+id)
      console.log(id)
      var index = this.TasksTimerData.findIndex(x => x.id == id)
      let startTime = this.displayDuration(duration)

      if (this.TasksTimerData.some(task => task.id == id) && this.TasksTimerData[index].status == true) {
        console.log('found')
        console.log(this.TasksTimerData)

        window.clearInterval(this.TasksTimerData[index].stopwatch)
        console.log(this.TasksTimerData[index].timer)
        var total = moment.duration(this.TasksTimerData[index].timer).asSeconds()
        console.log(total)
        this.saveDuration(id, total)
        this.TasksTimerData[index].status = false
        this.TasksTimerData[index].stopwatch = false
        document.getElementById('fixbtn_label-' + id).innerHTML = 'Start'
        //    delete this.TasksTimerData[index]
        //  clickIcon.innerHTML="Start"
      } else {
        console.log('new')
        this.fixbtn_label = 'Stop'
        document.getElementById('fixbtn_label-' + id).innerHTML = 'Stop'
        var selectedTask = document.getElementById('timer-' + id)

        // clickIcon.innerHTML="Stop"
        if (this.TasksTimerData.some(task => task.id == id) == false) {
          var data = {}
          data.id = id
          data.timer = this.displayDuration(duration)
          data.stopwatch = false
          data.status = true
          this.TasksTimerData.push(data)
        } else { this.TasksTimerData[index].status = true }

        console.log(this.TasksTimerData)
        var task = this.TasksTimerData.filter(task => task.id == id)
        // console.log(task[0].el)
        selectedTask.innerHTML = this.displayDuration(duration)
        startTime = moment(new Date()).hours(0).minutes(0).seconds(duration)
        if (task[0].stopwatch == false) {
          task[0].stopwatch = setInterval(() => {
            startTime.add(1, 'seconds')
            task[0].timer = moment(startTime).format('HH:mm:ss')
            // console.log(this.timer)
            selectedTask.innerHTML = task[0].timer

            // console.log("interval still working")
          }, 1000)
        }
      }
    },
    displayDuration (durationInSeconds) {
      if (durationInSeconds != null && durationInSeconds != undefined) {
        return moment.duration(durationInSeconds, 'seconds').format('HH:mm:ss', {
          trim: false
        })
      } else {
        return moment.duration(0, 'seconds').format('HH:mm:ss', {
          trim: false
        })
      }
    },
    closeViewTask () {
      this.getGroupedTasks()
      this.showViewTask = false
    },
    closeNewTaskForm () {
      console.log('close new task form func')
      this.newTaskForm = false
    },
    getBranches () {
      this.branches = []
      this.$http.post('branch/get', JSON.stringify({})).then(response => {
        response.data.data != null ? this.branches = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getBranch (id) {
      return this.branches.filter(branch => branch.id == id)[0]
    },
    snackbar (msg, color) {
      this.$store.state.alertMessage = msg
      this.$store.state.snackbarcolor = color
      this.$store.state.snackbar = true
      setTimeout(() => {
        this.$store.state.snackbar = false
      }, 2000)
    },
     getActiveTechnician(){
      this.$http.post('service_order/technicians/active').then(response => {
        this.activeTechnicians = response.data.data
        this.$nextTick(() => {
            this.$forceUpdate();
             })
      }).catch(e => {
        console.log(e.data)
      })
    },
    isTechnicianBusy(soid,id,status){
      if(status === 1){
        if(this.activeTechnicians != null || this.activeTechnicians != undefined){
        let result = this.activeTechnicians.filter(tech => tech.assignees == id)
        if (result.length > 0) {
          return true
          }else return false
        }else return false
      }else{
        return false
      }
      
    }
  }
}

</script>
<style>
#core-view {
  padding-bottom:0px;
}
.v-expansion-panel__header{
  padding: 5px;
}
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}
.not_draggable{
  opacity: 0.5;
}
</style>
