<template>
  <v-container

    fluid
  >
    <v-layout
      wrap
      justify-center
      row
    >
      <v-flex xs12 >
        <p
          class="title text-sm-center font-weight-medium pr-5"
          style="font-family:&quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif;">Track Device</p>
      </v-flex>
      <v-flex sm12 >

        <v-card
          max-width="82.8%"
          class="mx-auto "

        >
          <v-layout
            justify-center
            row>
            <v-flex xs12>

              <v-text-field
                v-model="SoNumber"
                height="38px"
                append-icon="mdi-magnify"
                label=" Service Order #. Ex 1202 "
                outlined
                hide-details
                class="pa-2 ma-2"
              />
            </v-flex>
            <v-flex xs2 >
              <v-btn
                style="width:80%;height:40px;margin:8%;"

                color="info"
                @click="getServiceTracker(SoNumber),getSelectedUpdates(SoNumber)"
              >
                <v-icon>mdi-target</v-icon> Track
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs10 >
        <br>
        <v-card
          min-height="50vh"

        >
          <p class="title pa-3 font-weight-light">Status</p>
          <v-layout
            wrap
            justify-space-around>
            <v-stepper
              v-model="stepperStatus"
              alt-labels
              class="elevation-0">
              <v-stepper-header>
                <!-- <v-stepper-step  v-for="status in $store.state.taskStatus " :key="status.id" step="1" >status.Name</v-stepper-step> -->
                <template v-for="n in $store.state.taskStatus">
                  <v-stepper-step
                    :key="`${n.id}-step`"
                    :complete="stepperStatus >= n.id"
                    :step="n.id"

                  >
                    {{ n.name }}
                  </v-stepper-step>

                  <v-divider
                    v-if="n.id !== stepperStatus"
                    :key="n.id"
                  />
                </template>

              </v-stepper-header>
            </v-stepper>
          </v-layout>

          <v-divider/>
          <p class="title pa-3 font-weight-light">Service Updates</p>
          <v-card-text
            class="py-0 "
            style="height:35vh;overflow-y:scroll"
            color="#BDBDBD"
          >

            <v-timeline
              align-top
              dense

            >
              <v-timeline-item
                v-for="comment in selectedServiceOrderComments"
                :key="comment.created"
                color="blue"
                small
                class="text-left"
              >
                <v-layout pt-1>
                  <v-flex xs3>
                    <strong>{{ comment.created | moment("lll") }}</strong><br>
                    <!-- <small>5:30 PM</small> -->
                  </v-flex>
                  <v-flex>
                    <strong>{{ comment.comment }}</strong>
                    <!-- <div class="caption">Time Consumed: 03:00:00</div> -->
                  </v-flex>
                </v-layout>
              </v-timeline-item>

            </v-timeline>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>

</template>
<script>
import { mapGetters } from 'vuex'
import LineChart from './components/LineChart'
export default {

  components: {
    LineChart
  },
  data: () => ({
    selectedServiceOrderComments: {},
    loading: false,
    stepperStatus: -1,
    logs: [],
    SoNumber: '',
    options: {
      responsive: true,
      maintainAspectRatio: false
    },
    items: [

    ]

  }),
  computed: {

  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.$store.dispatch('GET_USERS')
  },
  mounted () {

  },
  methods: {
    getServiceTracker (so_id) {
      var req = { id: parseInt(so_id) }
      console.log(req)
      this.$http.post('service_order/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          var result = response.data.data
          this.stepperStatus = result.status_id
          // response.data.data != null ? commit('SET_SELECTED_SO_PURCHASE', response.data.data): console.log("null")
          //   this.$store.dispatch('GET_SELECTED_SO_LOGS', updateTask.id)
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getSelectedUpdates (so_id) {
      var req = { so_id: parseInt(so_id) }
      console.log(req)
      this.$http.post('service_order_comment/get', req).then(response => {
        console.log(response)
        if (response.data.status) {
          response.data.data != null ? this.selectedServiceOrderComments = response.data.data : console.log('null')

          //   this.$store.dispatch('GET_SELECTED_SO_LOGS', updateTask.id)
        }
      }).catch(e => {
        console.log(e)
      })
    },
    getCustomerInfo (id) {
      let customer = this.$store.getters.getCustomer(id)
      return customer
    },

    Save () {

    },
    Add () {

    },
    GetUser (id) {
      return this.$store.getters.getUser(id)
    },
    convertToJson (s) {
      if (s) {
        return JSON.parse(s)
      }
    }
  }
}
</script>
