<template>

  <v-snackbar
    v-model="show"
    :bottom="y === 'bottom'"
    :left="x === 'left'"
    :multi-line="mode === 'multi-line'"
    :right="x === 'right'"
    :timeout="timeout"
    :top="y === 'top'"
    :vertical="mode === 'vertical'"
    :color="snackbarcolor"
    width="390px"
  >
    {{ message }}

  </v-snackbar>

</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    snackbarcolor: {
      type: String,
      default: 'success'
    },
    message: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    timeout: 6000
  }),
  created () {
  },
  methods: {
  }
}
</script>
