<template>
  <div>
    <v-toolbar
      color="main"
      dark
    >
      <v-toolbar-title style="color: #f1f1f1;"><v-icon>mdi-tag-multiple</v-icon> Product Inventory</v-toolbar-title>
      <v-spacer/>
      <v-spacer/>
      <v-spacer/>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      />

    </v-toolbar>

    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
    >

      <template v-slot:items="props">
        <td><router-link :to="{ name: 'Product Items', params: { id: props.item.id }}">
          <v-icon
            small
            class="mr-1"
            color="success">mdi-open-in-new</v-icon>
        </router-link></td>
        <td>{{ props.item.po_number }}</td>
        <td>{{ props.item.category_name }}</td>
        <td>{{ props.item.brand }}</td>
        <td>{{ props.item.code }}</td>
        <td>{{ props.item.model }}</td>
        <td>{{ props.item.quantity }}</td>
        <td>{{ props.item.delivered }}</td>
        <td>{{ props.item.transfered }}</td>
        <td>{{ props.item.available }}</td>
        <td>
          <v-progress-linear
            :value="getProgess(props.item, 'pr')"
            color="success"
            height="10"
          />

        </td>

      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data: () => ({
    search: '',
    dialog: false,
    edit: false,
    newpassword: '',
    selectedActions: [],
    selectedMenus: [],
    selectedPages: [],
    alertMessage: '',
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    snackbarcolor: 'success',
    timeout: 6000,
    headers: [
      {
        text: '--',
        sortable: false,
        width: '50'
      },
      {
        text: 'P.O. #',
        value: 'company'
      },
      {
        text: 'Category',
        value: 'category'
      },
      {
        text: 'Brand',
        value: 'brand'
      },
      {
        text: 'Code',
        value: 'code'
      },
      {
        text: 'Model',
        value: 'model'
      },
      {
        text: 'QTY',
        value: 'quantity'
      },
      {
        text: 'Delivered',
        value: 'delivered'
      },
      {
        text: 'Transfered',
        value: 'transfered'
      },
      {
        text: 'Available',
        value: 'available'
      },
      {
        text: 'Level'
      }
    ],
    entry: {},
    categoryItems: [],
    items: []
  }),
  computed: {
    btnlabel () {
      let label
      this.edit == true ? label = 'Save' : label = 'Add'
      return label
    },
    BYCATEGORIES () {
      return this.categoryItems
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItems()
  },
  methods: {
    getProgess (item, type) {
      if (type == 'pr') {
        return (item.available / item.delivered) * 100
      }
      if (type == 'category') {
        let stock = item.delivered - item.sold
        return (stock / item.delivered) * 100
      }
      return 100
    },
    getItems () {
      this.items = []
      this.$http.post('product/get_inventory').then(response => {
        response.data.data != null ? this.items = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
<style>
#nomargintoolbar .v-toolbar:not(.v-toolbar--fixed) .v-toolbar__content {
    margin-left: 0;
}

</style>
