<template>
  <v-dialog
    v-model="show"
    persistent
    width="600px">
    <v-card>
      <v-card-title>
        <v-icon left>mdi-toolbox</v-icon> CODE: {{ product.code }}
        <v-spacer/>
        <v-icon
          style="margin-top: -10px;"
          color="warning"
          large
          @click="emitToParent()">mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-card-text>
          <v-text-field
            v-model="assembled.serial"
            label="Product Serial"
            append-icon="mdi-send"
            box
            @click:append="assembled.id!=null?UpdateAssembled():AddAssembled()"
          />
          <!--<v-text-field
                        label="Assembled Status"
                        box
                    /> -->
          <p
            v-if="assembled.id!=null"
            class="title" >Parts/Components <v-icon @click="dialog=true">mdi-plus-box</v-icon></p>
          <div
            v-for="(item,index) in addedComponents"
            :key="index"
            style="border-bottom: 1px solid #ddd; padding: 7px;"
          >
            <span style="float:right">{{ $money(item.dealer_price) }}</span>
            <strong><v-icon
              v-if="assembled.status != 'Verified'"
              left
              small
              @click="addedComponents.splice(index,1)">mdi-delete</v-icon> {{ item.category_name }} </strong> <br>
            Serial: {{ item.serial }}

          </div>
        </v-card-text>
        <v-divider/>
        <v-card-actions v-if="assembled.id!=null">
          <strong>Status: {{ assembled.status }}</strong>
          <v-spacer/>
          <v-btn
            v-if="assembled.status != 'Verified'"
            color="main"
            small
            @click.stop="UpdateAssembled()">Save</v-btn>
          <v-btn
            v-if="assembled.status=='On Process'"
            color="info"
            small
            @click.stop="assembled.status='For verification', UpdateAssembled()">For verification</v-btn>
          <v-btn
            v-if="assembled.status=='For verification'"
            color="success"
            small
            @click.stop="assembled.status='Verified', UpdateAssembled()">Verified</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
    <ams-serial-form
      :show="dialog"
      @DialogEvent="formEvent" />
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    isnew: {
      type: Boolean,
      default: false
    },
    assembledata: {
      type: Object,
      default: {}
    },
    product: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    dialog: false,
    serial: '',
    alertMessage: '',
    snackbar: false,
    snackbarcolor: 'success',
    timeout: 6000,
    assembled: {},
    addedComponents: [],
    components: []
  }),
  computed: {
    COMPONENTS () {
      return []
    }
  },
  watch: {
    show () {
      if (this.show == true) {
        console.log(this.isnew)
        if (!this.isnew) {
          this.assembled = this.assembledata
          this.addedComponents = this.assembled.Components
        }
        console.log(this.assembled)
      }
    }
  },
  created () {

  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    formEvent (data) {
      this.addedComponents == null ? this.addedComponents = [] : console.log()
      this.dialog = false
      if (data.code != undefined) {
        this.addedComponents.push(data)
      }
    },
    emitToParent (event) {
      this.$emit('DialogEvent', event)
    },
    getComponents () {
      this.$http.post('assemble/query_items', this.product).then(response => {
        response.data.products != null ? this.components = response.data.products : this.components = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddAssembled () {
      this.assembled.assemble = this.product.id
      this.assembled.status = 'On Process'
      this.$http.post('assemble/add_item', this.assembled).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        response.data.status == true ? this.assembled = response.data.assembled : this.assembled = {}
        this.addedComponents = []
        // response.data.status == true?this.addedComponents = response.data.assembled.components:this.addedComponents=[]
        // this.getComponents()
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdateAssembled () {
      this.assembled.components = this.addedComponents
      console.log(this.assembled)
      this.$http.post('assemble/update_item', this.assembled).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        response.data.status == true ? setTimeout(() => { this.$emit('DialogEvent', '') }, 1000) : this.clear()
        // response.data.status == true?this.addedComponents = response.data.assembled.components:this.addedComponents=[]
        console.log(this.addedComponents)
      }).catch(e => {
        console.log(e.data)
      })
    },
    clear () {
      this.addedComponents = []
      this.assembled = {}
    }
  }
}
</script>
