<template>
  <v-dialog
    v-model="show"
    max-width="320"
    persistent
  >
    <v-card class="text-xs-center">
      <v-card-title>
        <p class="title">   {{ confirmmessage }}</p>
        <v-spacer/>

      </v-card-title>

      <v-divider/>

      <v-card-actions>
        <v-btn
          color="warning"
          @click.stop="action = false, emitToParent()"
        >
          Close
        </v-btn>
        <v-spacer/>
        <v-btn
          color="primary"
          @click.stop="action = true, emitToParent()"
        >
          {{ confirmlabel }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    confirmlabel: {
      type: String,
      default: ''
    },
    confirmmessage: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    confirmdialog: false,
    action: false
  }),
  computed: {
  },

  created () {
  },
  methods: {
    emitToParent (event) {
      this.$emit('DialogEvent', this.action)
    }
  }
}
</script>
