<template>
  <v-dialog
    v-model="show"
    persistent
    width="600px">
    <v-card>

      <v-card-text>
        <v-form
          ref="formitem"
          lazy-validation
        >

          <v-layout wrap>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCode"
                :items="PRODUCTCODES"
                :rules="[v => !!v || 'Product Code is required']"
                item-text="code"
                item-value="code"
                label="Product Code"
                required
                return-object
                @change="setCategory()"
              />
            </v-flex>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCode.brand"
                :items="BRANDS"
                :rules="[v => !!v || 'Brand is required']"
                :disabled="true"
                item-text="name"
                item-value="name"
                label="Brand"
                required
              />
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCategory"
                :items="categories"
                :hint="selectedCategory.parent_name"
                :disabled="true"
                label="Product Category"
                item-text="name"
                item-value="id"
                return-object
              />
            </v-flex>
            <v-flex class="pa-1">
              <v-text-field
                :rules="[v => !!v || 'Model is required']"
                v-model="selectedCode.model"
                :disabled="true"
                label="Model"
                required
              />
            </v-flex>
          </v-layout>
          <v-flex>
            <v-text-field
              v-model="selectedCode.description"
              :rules="[v => !!v || 'Description is required']"
              :disabled="true"
              label="Description"
              box
              required
            />
          </v-flex>

          <v-flex>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.unit"
                  :rules="[v => !!v || '# of Unit(s) is required']"
                  label="# of Unit(s)"
                  type="number"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.price_per_unit"
                  :value="selectedItem.price_per_unit=selectedItem.retail_price"
                  :rules="[v => !!v || 'Price Per Unit is required']"
                  label="Price Per Unit"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.quantity"
                  :rules="[v => !!v || 'Quantity is required']"
                  label="Quantity"
                  type="number"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.branch_price"
                  :rules="[v => !!v || 'BP is required']"
                  label="Branch Price"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.retail_price"
                  :rules="[v => !!v || 'SRP is required']"
                  label="Suggested Ratail Price"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.insentive"
                  label="SMI(Discount)"
                  box
                />
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.dealer_price"
                  :rules="[v => !!v || 'DP is required']"
                  label="Dealer's Price"
                  box
                  required
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.special_dealer_price"
                  :value="SDP"
                  :rules="[v => !!v || 'SDP is required']"
                  label="Special Dealer's Price"

                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.wholesale_price"
                  :rules="[v => !!v || 'WP is required']"
                  class="ma-0 pa-0"
                  label="Whoale Sale Price"
                  required
                  box
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  :disabled="true"
                  :value="$money($IsNum(selectedItem.special_dealer_price) * $IsNum(selectedItem.quantity))"
                  label="TOTAL"
                />
              </v-flex>
            </v-layout>
          </v-flex>

        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="warning"
          @click="emitToParent()">Close</v-btn>
        <v-spacer />
        <v-btn
          color="success"
          @click="AddItem()">Add</v-btn>
      </v-card-actions>
    </v-card>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    Edit: {
      type: Boolean,
      default: false
    },
    ConsignmentID: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    selectedCode: {},
    selectedCategory: {},
    categories: [],
    selectedItem: {},
    codebrands: [],
    snackbar: false,
    alertMessage: '',
    snackbarcolor: ''
  }),
  computed: {
    PRODUCTCODES () {
      return this.codebrands.product_codes
    },
    BRANDS () {
      return this.codebrands.brands
    },
    SDP () {
      this.selectedItem.special_dealer_price = this.$IsNum(this.selectedItem.dealer_price) - this.$IsNum(this.selectedItem.insentive)
      return this.$IsNum(this.selectedItem.dealer_price) - this.$IsNum(this.selectedItem.insentive)
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getCode_Brand()
    this.getCategories()
  },
  methods: {
    setCategory () {
      let id = this.selectedCode.category
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          console.log(this.selectedCategory)
          break
        }
      }
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (event) {
      this.$emit('DialogEvent', 'close')
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    AddItem () {
      this.selectedItem.code = this.selectedCode.code
      this.selectedItem.brand = this.selectedCode.brand
      this.selectedItem.category = this.selectedCode.category
      this.selectedItem.model = this.selectedCode.model
      this.selectedItem.description = this.selectedCode.description
      this.selectedItem.source_id = this.ConsignmentID
      this.selectedItem.unit = parseInt(this.selectedItem.unit)
      this.selectedItem.quantity = parseInt(this.selectedItem.quantity)
      this.selectedItem.special_dealer_price = this.selectedItem.special_dealer_price.toString()
      this.selectedItem.status = 'On Process'
      let method = ''
      this.Edit == false ? method = 'consignment/add_item' : method = 'consignment/update_item'

      this.$http.post(method, this.selectedItem).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.emitToParent()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : this.categories = []
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
