<template>

  <v-dialog
    v-model="show"
    persistent
    max-width="550">
    <v-card>
      <v-card-text class="text-md-center">

        <v-flex
          xs12
          class="text-xs-center text-sm-center text-md-center text-lg-center">

          <img
            v-if="imageUrl"
            :src="imageUrl"
            height="150">
          <br >
          <v-progress-linear
            v-if="uploadprogress == true"
            :indeterminate="true"/>
          <v-text-field
            v-model="imageName"
            label="Select Image"
            prepend-icon="mdi-paperclip"
            @click="pickFile"/>
          <input
            ref="image"
            type="file"
            style="display: none"
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>
      </v-card-text>
      <v-card-actions>
        <v-btn
          small
          color="warning darken-1"
          flat
          @click="emitToParent('closeUpload')">close</v-btn>
        <v-spacer/>

        <v-btn
          v-if="completeupload == false"
          small
          color="green darken-1"
          flat
          @click="FileUpload()">Upload</v-btn>
        <v-btn
          v-else
          small
          color="green darken-1"
          flat
          @click="emitToParent(mediaUrl)">Done</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import md5 from 'md5'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    Module: {
      type: String,
      default: 'folder'
    }
  },
  data: () => ({
    noImage: require('@/assets/no-image-icon.png'),
    snackbar: false,
    alert: '',
    snackbarcolor: '',
    imageName: '',
    imageFile: '',
    imageUrl: '',
    completeupload: false,
    uploadprogress: false
  }),
  computed: {

  },
  watch: {
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.alert = message
      this.snackbarcolor = color
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    pickFile () {
      this.$refs.image.click()
    },
    emitToParent (event) {
      this.$emit('DialogEvent', event)
      this.resetUpload()
    },
    	onFilePicked (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    resetUpload () {
      this.imageName = ''
      this.imageFile = ''
      this.imageUrl = this.noImage
      this.completeupload = false
      this.uploadprogress = false
    },
    FileUpload () {
      this.uploadprogress = true
      if (this.imageFile.type.search('image') == -1) {
        this.showAlert('Media not supported!', 'warning')
        this.uploadprogress = false
        return
      }
      let ext = this.imageFile.name.split('.')
      ext = ext[ext.length - 1]
      let _filename = md5(this.imageFile.name + this.$moment().format('YYYYMMDDhhmmssa'))
      let data = {
        filename: _filename + '.' + ext,
        data: this.imageUrl,
        file_type: this.imageFile.type,
        size: this.imageFile.size.toString(),
        title: this.imageFile.name,
        method: this.Module
      }

      this.$http.post('media/upload', data).then(response => {
        this.uploadprogress = false
        this.showAlert('Image succesfully upload!', 'success')
        this.completeupload = true
        response.data.data != null ? this.media = response.data.data : console.log()
        this.mediaUrl = this.media.method + '/' + _filename + '.' + ext
        console.log(this.mediaUrl)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
