<template>
  <v-card>
    <v-card-title><v-icon class="mr-2">mdi-drawing-box</v-icon> Level per Models</v-card-title>
    <v-card-text>
      <p
        v-for="(item,i) in arrData"
        :key="i">
        {{ item.model }}  <small style="color: #0AB3C8;">{{ item.brand }}</small>-<small style="color: #0AB3C8;">{{ item.parent }}</small> <small
          class="ml-2"
          style="color: #FC9209;">{{ item.sold }}/{{ item.items }}</small>
        <small style="float:right;">{{ getProgess(item) }} %</small>
        <v-progress-linear
          :value="getProgess(item)"
          color="success"
          height="10"
        />

        <v-divider />
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    arrData: []
  }),
  computed: {
  },

  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getItemsByModel()
  },
  methods: {
    getProgess (item) {
      let stock = item.items - item.sold
      return ((stock / item.items) * 100).toFixed(1)
    },
    getItemsByModel () {
      this.arrData = []
      this.$http.post('product/get_inventory_by_model', JSON.stringify({})).then(response => {
        response.data.data != null ? this.arrData = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>

<style lang="scss">
  .v-card--material {
    &__header {
      &.v-card {
        border-radius: 4px;
      }
    }
  }
  .v-progress-linear {
  margin: 0 !important
}
</style>
