<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="720">
    <v-card>
      <v-card-title class="title">
        User Notification Settings
        <v-spacer />
        <v-icon @click="emitToParent()">mdi-close-circle</v-icon>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-actions
        >
          <template v-slot:items="props">
            <td><v-icon
              left
              small
              color="error"
              @click="DeleteNotification(props.item)">mdi-delete</v-icon> {{ props.item.module }}</td>
            <td>{{ props.item.status }}</td>
          </template>

        </v-data-table>
        <v-layout class="pt-4">
          <v-flex class="pa-1">
            <v-autocomplete
              v-model="entry.module"
              :items="['Purchase', 'Stock Transfer', 'Consignment']"
              label="Select Module"
            />
          </v-flex>
          <v-flex class="pa-1">
            <v-autocomplete
              v-model="entry.status"
              :items="$store.state.app.PurchaseStatuses"
              label="Module Status"
              append-outer-icon="mdi-plus-box"
              @click:append-outer="AddNotification()"
            />
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'Name'
    },
    userID: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    textdata: '',
    signatureData: '',
    entry: {},
    items: [],
    headers: [
      {
        text: 'Module'
      },
      {
        text: 'Status'
      }
    ]

  }),
  computed: {
    statuses () {
      return this.$store.state.app.PurchaseStatuses
    }
  },
  watch: {
    show () {
      if (this.show) {
        this.GetNotification()
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (e) {
      this.$emit('DialogEvent', this.textdata)
    },
    AddNotification () {
      this.entry.user_id = this.userID
      this.$http.post('notification/add', this.entry).then(response => {
        response.data.status ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'error')
        this.entry = {}
        this.GetNotification()
      }).catch(e => {
        console.log(e.data)
      })
    },
    GetNotification () {
      this.$http.post('notification/get', { user_id: this.userID }).then(response => {
        response.data.items != null ? this.items = response.data.items : this.items = []
      }).catch(e => {
        console.log(e.data)
      })
    },
    DeleteNotification (entry) {
      this.$http.post('notification/delete', entry).then(response => {
        response.data.status ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'error')
        this.GetNotification()
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
