<template>
  <v-layout justify-center>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition">

      <v-card style="border-radius: 0;">
        <v-card-title class="hidden-print-only">
          <v-spacer/>
          <v-icon
            class="pr-2"
            @click="$printThis()">mdi-printer</v-icon>
          <v-icon @click="emitParent()">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs6>
              <p><strong>P.O. No.: </strong>   {{ PR.number }}</p>
              <p><strong>Supplier: </strong>   {{ supplier.company }}</p>
              <p><strong>Address: </strong>   {{ supplier.address }}</p>
            </v-flex>
            <v-flex xs6>
              <p><strong>P.O. Date.: </strong>   {{ PR.issued_date | moment("lll") }}</p>
              <p><strong>Contact No.: </strong>   {{ supplier.contact_number }}</p>
              <p><strong>Status: </strong>   {{ PR.status }}</p>
            </v-flex>
          </v-layout>

          <v-layout>
            <v-flex>
              <table
                class="item_table mt-3"
                cellspacing="1px">
                <thead>
                  <tr>
                    <th width="12px" >ITEM</th>
                    <th>PRODUCT CODE</th>
                    <th width="120px">BRAND</th>
                    <th width="120px">CATEGORY</th>
                    <th width="120px">MODEL</th>
                    <th width="80px">QTY</th>
                    <th width="80px">SDP</th>
                    <th width="100px">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item,i) in Items"
                    :key="i">
                    <td
                      width="12px"
                      style="text-align: center; border-bottom: 1px solid inset  #eee;">{{ i + 1 }}</td>
                    <td colspan="11">
                      <table
                        class="item_table item_table_inner"
                        cellspacing="1px">
                        <tr>
                          <td>{{ item.code }}</td>
                          <td width="120px">{{ item.brand }}</td>
                          <td width="120px">{{ cat_name(item.category) }}</td>
                          <td width="120px">{{ item.model }}</td>
                          <td width="80px">{{ item.quantity }}</td>
                          <td width="80px">{{ $money(item.special_dealer_price) }}</td>
                          <td width="100px">{{ $money($IsNum(item.special_dealer_price) * $IsNum(item.quantity)) }}</td>
                        </tr>
                        <tr>
                          <td colspan="11">{{ item.description }}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                </tbody>
              </table>
              <br >
              <p><strong>Purpose/Description: </strong>   {{ PR.description }}</p>
            </v-flex>

          </v-layout>
          <v-layout class="mt-5">
            <v-flex
              xs4
              class="text-sm-left"/>
            <v-flex
              xs4
              class="text-sm-right"/>
            <v-flex
              xs4
              class="text-sm-right">
              <div
                class="alist"
                style="font-weight: bold; background: #EDF3FB;"><span>Item Total:</span> {{ $money(itemtotal) }}</div>
              <p class="text-sm-left mb-0 pb-0"><small><i>Less:</i></small></p>
              <div
                v-for="(item,i) in discountItem"
                :key="i">
                <div class="alist"><span>{{ item.description }}:</span> {{ $money(item.amount) }}</div>
              </div>
              <div
                v-if="PR.type=='Declared'"
                class="alist"><span>EWT:</span>  {{ $money(withheldtax) }}</div>
              <div
                class="alist"
                style="font-weight: bold; background: #E1EBFB;"><span>Sub Total:</span> {{ $money(subtotal) }}</div>
              <p class="text-sm-left mb-0 pb-0"><small><i>Less:</i></small></p>
              <div
                v-for="(item,i) in deductionItem"
                :key="'deduction-' + i"
                class="alist"><span>{{ item.description }}:</span> {{ $money(item.amount) }}</div>
              <div
                v-for="(item,i) in claimedmemos"
                :key="'memo-' + i"
                class="alist"><span>C.M. {{ item.reference_no }}:</span> {{ $money(item.amount) }}</div>
              <!-- <div class="alist" style="font-weight: bold; background: #C1E7E3;"><span>C.M. Amount:</span> {{MONEY(AMOUNTCLAIMED)}}</div> -->
              <!-- <div
                v-if="PR.type=='Declared'"
                class="alist"
                style="font-weight: bold; background: #C1E7E3;" ><span>EWT:</span>  {{ $money(WITHHELDTAX) }}</div> -->
              <div
                class="alist"
                style="font-weight: bold; background: #C1E7E3;" ><span>Total Amount:</span>  {{ $money(totalamount) }}</div>
            </v-flex>
          </v-layout>
          <v-layout
            row
            wrap>
            <v-flex xs6>
              <div
                v-if="PR.recommend_signature != ''"
                class="text-xs-center  mt-5">
                <p>Recommended By:</p>
                <img
                  :src="PR.recommend_signature"
                  width="250"> <br ><small>{{ PR.recommend_for_po_date | moment("lll") }}</small>
                <v-divider/>
                <strong>{{ PR.recommend_by }}</strong><br >
                {{ PR.recommend_by_title }}
                <br> <br>
              </div>
            </v-flex>
            <v-flex xs6>
              <div
                v-if="PR.approved_signature != ''"
                class="text-xs-center mt-5">
                <p>Approved By: </p>
                <img
                  :src="PR.approved_signature"
                  width="250"> <br ><small>{{ PR.approved_for_po_date | moment("lll") }}</small>
                <v-divider/>
                <strong>{{ PR.approved_by }}</strong><br>
                {{ PR.recommend_by_title }}

              </div>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    supplier: {
      type: Object,
      default: {}
    },
    PR: {
      type: Object,
      default: {}
    },
    categories: {
      type: Array,
      default: []
    },
    itemtotal: {
      type: Number,
      default: 0
    },
    subtotal: {
      type: Number,
      default: 0
    },
    withheldtax: {
      type: String,
      default: '0'
    },
    totalamount: {
      type: String,
      default: '0'
    },
    discountItem: {
      type: Array,
      default: []
    },
    deductionItem: {
      type: Array,
      default: []
    },
    claimedmemos: {
      type: Array,
      default: []
    },
    Items: {
      type: Array,
      default: []
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    dialog: false
  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show == true) {
        this.dialog = true
      } else {
        this.dialog = false
      }
    }
  },
  created () {

  },
  methods: {
    emitParent (event) {
      this.$emit('DialogEvent', 'close')
    },
    getGPM (item) {
      var gpm = ((parseFloat(item.retail_price) - parseFloat(item.special_dealer_price)) / parseFloat(item.special_dealer_price)) * 100
      return this.$money(gpm) + '%'
    },
    cat_name (id) {
      for (let i = 0; i < this.categories.length; i++) {
        // eslint-disable-next-line
        if (id == this.categories[i].id) { return this.categories[i].name }
      }
    }
  }
}
</script>
