<template>

  <v-dialog
    v-model="show"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition">

    <v-card style="border-radius: 0; border:0;">
      <div class="text-xs-right hidden-print-only">
        <v-icon @click="$printThis()">mdi-printer</v-icon> <v-icon @click="emitToParent()">mdi-close</v-icon>
      </div>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs6>
            <p><strong>RECEIVED FROM: </strong>   {{ supplier.company }}</p>
            <p><strong>P.O. NO.: </strong>   {{ purchase.number }}</p>
            <p><strong>P.O. DATE: </strong>   {{ purchase.issued_date | moment("ll") }}</p>
          </v-flex>
          <v-flex xs6>
            <p><strong>D.R #: </strong>   {{ drnumber.number }}</p>
            <p><strong>D.R DATE: </strong>   {{ drnumber.received_date | moment("ll") }}</p>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex>

            <table
              class="item_table mt-3"
              cellspacing="1px">
              <thead>
                <tr>
                  <th width="330px">ITEM</th>
                  <th>SERIALS</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(product, index) in products">
                  <tr
                    v-if="checkserials(product.id)"
                    :key="index">
                    <td class="pa-2">
                      Product Code: {{ product.code }}<br >
                      Brand:  {{ product.brand }}<br >
                      Model:  {{ product.model }}<br >
                      Description:  {{ product.description }}
                    </td>
                    <td>
                      <template v-for="(item, index) in items">
                        <v-chip
                          v-if="item.product_id == product.id"
                          :key="index"
                          label
                          color="#fff">{{ item.serial }}</v-chip>
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </v-flex>
        </v-layout>
        <div class="mr-5 mt-2">
          <img
            v-if="drnumber.signature != ''"
            :src="drnumber.signature"
            width="250px" >
          <p @click="dialog=true">RECEIVED AND CHECKED BY: {{ $session.get('fullname') }}</p>
          <p>DATE CHECKED: {{ $moment().format('lll') }}</p>
        </div>
      </v-card-text>
    </v-card>
    <ams-signature-pad
      :show="dialog"
      @DialogEvent="signatureEvent" />
  </v-dialog>

</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    supplier: {
      type: Object,
      default: {}
    },
    purchase: {
      type: Object,
      default: {}
    },
    drnumber: {
      type: Object,
      default: {}
    },
    serial: {
      type: Array,
      default: []
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    dialog: false,
    items: [],
    products: []
  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show == true) {
        this.getSerial()
        this.getProduct()
      }
    }
  },
  created () {

  },
  methods: {
    checkserials (productID) {
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i].product_id == productID) {
          return true
        }
      } return false
    },
    printThis () {
      window.print()
    },
    emitToParent (event) {
      this.$emit('DialogEvent', 'close')
    },
    signatureEvent (signature) {
      this.drnumber.signature = signature
      this.dialog = false
      this.updateDr()
    },
    updateDr () {
      this.$http.post('receive/update_dr', this.drnumber).then(response => {

      }).catch(e => {
        console.log(e.data)
      })
    },
    getProduct () {
      this.products = []
      console.log(this.purchase.id)
      this.$http.post('product/query', { status: 'by_source', source_id: this.purchase.id }).then(response => {
        response.data.product != null ? this.products = response.data.product : this.products = []
        console.log(this.products)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSerial () {
      this.items = []
      this.$http.post('product/get_item_serial', { method: 'get_by_dr', str_val_first: this.drnumber.number }).then(response => {
        response.data.data != null ? this.items = response.data.data : this.items = []
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
