<template>
  <v-dialog
    v-model="show"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition">
    <v-card>
      <v-card-title class="hidden-print-only">
        <v-spacer/>
        <div class="text-xs-right">
          <v-icon @click="printThis()">mdi-printer</v-icon> <v-icon @click="emitToParent()">mdi-close</v-icon>
        </div>
      </v-card-title>
      <v-card-text>

        <v-form
          ref="form"
          lazy-validation
        >
          <p
            style="color:#044771;"
            class="title text-xs-center">{{ company }}</p>
          <p class="text-xs-center">{{ address }}</p>
          <br >
          <br >
          <p
            class="subtitle"
            style="float: right;">Date: {{ $moment().format("ll") }}</p>
          <p class="title">Prepared For: {{ entry.prepared_to }}</p>

          <hr>
          <div class="pt-5">
            {{ entry.message }}
          </div>

          <br >
          <v-data-table
            :headers="itemHeader"
            :items="productItems"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template v-slot:items="props">
              <td>{{ props.index + 1 }}</td>
              <td>{{ props.item.description }}</td>
              <td>{{ props.item.qty }}</td>
              <td class="text-xs-right">{{ $money(props.item.srp) }}</td>
              <td class="text-xs-right">{{ $money(props.item.price) }}</td>
            </template>
            <template v-slot:footer>
              <tr>
                <th/>
                <th
                  :colspan="2"
                  class="text-xs-right">Total</th>
                <th class="text-xs-right">{{ $money(SRPTOTAL) }}</th>
                <th class="text-xs-right">{{ $money(TOTAL) }}</th>
              </tr>
            </template>
          </v-data-table>
          <p>Note: {{ entry.note }}</p>
          <br >
          <div style="font-size: .8em; font-style: italic">
            {{ footerMessage }}
          </div>
          <br >
          <p>Thank you.</p>

          <br >
          <p>Very truly yours,</p>

          <u>{{ account.fullname }}</u><br >
          {{ account.title }}<br >
          {{ company }}<br >
          <v-icon
            small
            color="info">mdi-email</v-icon> {{ account.email }}
        </v-form>

      </v-card-text>

    </v-card>

  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    action: {
      type: String,
      default: 'new'
    },
    data: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    item: {},
    confirmdialog: false,
    entry: {},
    snackbar: false,
    snackbarcolor: '',
    alertMessage: '',
    productItems: [],
    company: '',
    footerMessage: '',
    address: '',
    account: {},
    itemHeader: [
      {
        text: 'No.',
        sortable: false
      },
      {
        text: 'Product Description',
        sortable: false
      },
      {
        text: 'QTY',
        sortable: false
      },
      {
        text: 'SRP',
        align: 'right',
        sortable: false
      },
      {
        text: 'Discounted Price',
        align: 'right',
        sortable: false
      }
    ]
  }),
  computed: {
    SRPTOTAL () {
      let total = 0
      for (var i = 0; i < this.productItems.length; i++) {
        total += this.$IsNum(this.productItems[i].srp)
      }
      return total
    },
    TOTAL () {
      let total = 0
      for (var i = 0; i < this.productItems.length; i++) {
        total += this.$IsNum(this.productItems[i].price)
      }
      return total
    }
  },
  watch: {
    show () {
      if (this.show == true) {
        if (this.action == 'view') {
          this.entry = this.data
          this.productItems = this.data.Items
          this.getUser()
        }
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getSettings('Company Name')
  },
  methods: {
    printThis () {
      window.print()
    },
    removeItem (index) {
      this.productItems.splice(index, 1)
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (event) {
      this.$emit('DialogEvent', this.action)
    },
    AddItem () {
      this.item.qty = parseInt(this.item.qty)
      this.productItems.push(this.item)
      this.item = {}
    },
    NewQuotation () {
      this.entry.items = this.productItems
      this.$http.post('quotation/new', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.$emit('DialogEvent', this.action)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getUser () {
      this.$http.post('user/get', { id: parseInt(this.entry.prepared_by) }).then(response => {
        this.account = response.data.account
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdateQuotation () {
      this.entry.items = this.productItems
      this.$http.post('quotation/update', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.$emit('DialogEvent', this.action)
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSettings () {
      this.$http.post('setting/query', { name: 'Company Name' }).then(response => {
        this.company = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })

      this.$http.post('setting/query', { name: 'Company Address' }).then(response => {
        this.address = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })

      this.$http.post('setting/query', { name: 'Quotation Footer Message' }).then(response => {
        this.footerMessage = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
