<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="760px">
    <v-card>
      <v-card-title>
        <v-icon class="mr-2">mdi-note-plus</v-icon>
        <span v-if="editItem==false"> Add </span> <span v-else> Edit Item </span>
        <v-spacer/>
        <v-btn
          color="warning darken-1"
          style="margin-top: -12px;margin-right: -12px;"
          title="Close"
          flat
          fab
          @click="emitToParent()"><v-icon>mdi-close-box</v-icon></v-btn>
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          lazy-validation
        >

          <v-layout wrap>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCode"
                :items="PRODUCTCODES"
                :rules="[v => !!v || 'Product Code is required']"
                item-text="code"
                item-value="code"
                label="Product Code"
                required
                return-object
                @change="setCategory()"
              >
                <template slot="prepend-item">
                  <div
                    class="ma-2 pt-2 pl-3 pr-3"
                    style="background:#CCE4F7;">
                    <small style="color: #FF9800;">New product code.</small>
                    <v-checkbox
                      v-model="newcode.with_serial"
                      small
                      value="no"
                      single-line
                      height="10"
                      label="Without Serial?"/>
                    <v-spacer/>
                    <v-text-field
                      v-model="newcode.code"
                      label="New Product Code"
                      dense
                      append-icon="mdi-send"
                      @click:append="codeAction = 'add', AddCode()"
                    />
                    <v-divider/>
                  </div>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCode.brand"
                :items="BRANDS"
                :rules="[v => !!v || 'Brand is required']"
                item-text="name"
                item-value="name"
                label="Brand"
                required
              />
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex class="pa-1">
              <v-autocomplete
                v-model="selectedCategory"
                :items="categories"
                :hint="selectedCategory.parent_name"
                label="Product Category"
                item-text="name"
                item-value="id"
                return-object
              >
                <template
                  slot="item"
                  slot-scope="data"
                >
                  {{ data.item.name }}<br><small style="color: #34A2E7;">{{ data.item.parent_name }}</small>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex class="pa-1">
              <v-text-field
                :rules="[v => !!v || 'Model is required']"
                v-model="selectedCode.model"
                label="Model"
                required
              />
            </v-flex>
          </v-layout>
          <v-flex>
            <v-textarea
              v-model="selectedCode.description"
              :rules="[v => !!v || 'Description is required']"
              label="Description"
              box
              required
              @change="checkNew()"
            />
          </v-flex>
          <v-layout wrap>
            <v-flex class="pa-1">
              <v-text-field
                v-model="selectedItem.unit"
                :rules="[v => !!v || '# of Unit(s) is required']"
                label="# of Unit(s)"
                type="number"
                box
                required
              />
            </v-flex>
            <v-flex class="pa-1">
              <v-text-field
                v-model="selectedItem.quantity"
                :rules="[v => !!v || 'Quantity is required']"
                label="Quantity"
                box
                required
              />
            </v-flex>
          </v-layout>

          <template v-if="editItem == true">
            <v-layout wrap>
              <v-flex
                class="pa-1"
                xs6>
                <v-text-field
                  v-model="selectedItem.price_per_unit"
                  :rules="[v => !!v || 'Price Per Unit is required']"
                  :value="SRP"
                  label="Price Per Unit"
                  box
                  required
                />

              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.branch_price"
                  :rules="[v => !!v || 'BP is required']"
                  label="Branch Price"
                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.retail_price"
                  :rules="[v => !!v || 'SRP is required']"
                  label="Suggested Ratail Price"
                  box
                  required
                  @change="validateGPM()"
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.insentive"
                  label="SMI(Discount)"
                  box
                  @change="validateGPM()"
                />
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.dealer_price"
                  :rules="[v => !!v || 'DP is required']"
                  label="Dealer's Price"
                  box
                  required
                  @change="validateGPM()"
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.special_dealer_price"
                  :value="SDP"
                  :rules="[v => !!v || 'SDP is required']"
                  label="Special Dealer's Price"

                  box
                  required
                />
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex class="pa-1">
                <v-text-field
                  v-model="selectedItem.wholesale_price"
                  :rules="[v => !!v || 'WP is required']"
                  class="ma-0 pa-0"
                  label="Whoale Sale Price"
                  required
                  box
                />
              </v-flex>
              <v-flex class="pa-1">
                <v-text-field
                  :disabled="true"
                  :value="$money($IsNum(selectedItem.special_dealer_price) * $IsNum(selectedItem.quantity))"
                  label="TOTAL"
                />
              </v-flex>
            </v-layout>
          </template>
        </v-form>

      </v-card-text>
      <v-card-actions>

        <v-spacer/>
        <v-btn
          v-if="editItem==false"
          color="success darken-1"
          small
          @click="validate()"> <v-icon class="mr-2">mdi-plus</v-icon> Add</v-btn>
        <v-btn
          v-if="editItem==true"
          color="success darken-1"
          small
          @click="validate()"> <v-icon class="mr-2">mdi-plus</v-icon> Save</v-btn>

      </v-card-actions>

    </v-card>
  </v-dialog>
</template>
<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: {}
    },
    editItem: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    snackbar: false,
    newcode: {},
    item: {},
    codeAction: '',
    alert: '',
    snackbarcolor: '',
    categories: [],
    selectedItem: {},
    selectedCode: {},
    selectedCategory: {},
    codebrands: {}

  }),
  computed: {
    PRODUCTCODES () {
      return this.codebrands.product_codes
    },
    BRANDS () {
      return this.codebrands.brands
    },
    SRP () {
      this.selectedItem.price_per_unit = (parseFloat(this.selectedItem.retail_price) / parseInt(this.selectedItem.unit)).toFixed(2)
      isNaN(this.selectedItem.price_per_unit) ? this.selectedItem.price_per_unit = 0 : console.log()
      return this.selectedItem.price_per_unit
    },
    SDP () {
      this.selectedItem.special_dealer_price = this.$IsNum(this.selectedItem.dealer_price) - this.$IsNum(this.selectedItem.insentive)
      return this.$IsNum(this.selectedItem.dealer_price) - this.$IsNum(this.selectedItem.insentive)
    }
  },
  watch: {
    show () {
      if (this.show == false) {
        this.selectedItem = {}
      }
    },
    editItem () {
      if (this.editItem == true) {
        this.selectedItem = this.data
        this.setCode()
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
    this.getCategories()
    this.getCode_Brand()
  },
  methods: {

    validate () {
      if (this.$refs.form.validate()) { this.Add() }
    },
    checkNew () {
      console.log('checkNew')
      console.log(this.newcode)
      if (this.codeAction == 'add') {
        this.newcode = this.selectedCode
        this.newcode.category = this.selectedCategory.id
        this.newcode.with_serial = 'yes'
        this.codeAction = 'update'
        this.AddCode()
      }
    },
    emitToParent (event) {
      this.$emit('DialogEvent', '')
    },
    setCategory () {
      let id = this.selectedCode.category
      for (let i = 0; i < this.categories.length; i++) {
        if (id == this.categories[i].id) {
          this.selectedCategory = this.categories[i]
          console.log(this.selectedCategory)
          break
        }
      }
    },
    setCode () {
      let code = this.selectedItem.code
      for (let i = 0; i < this.PRODUCTCODES.length; i++) {
        if (this.selectedItem.code == this.PRODUCTCODES[i].code) {
          this.selectedCode = this.PRODUCTCODES[i]
          this.setCategory()
          break
        }
      }
    },
    validateGPM () {

    },
    getCategories () {
      this.categories = []
      this.$http.post('category/list', JSON.stringify({ qry: 'group' })).then(response => {
        response.data.data != null ? this.categories = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getCode_Brand () {
      this.codebrands = []
      this.$http.post('setting/get_code_brand', JSON.stringify({})).then(response => {
        response.data.data != null ? this.codebrands = response.data.data : console.log()
      }).catch(e => {
        console.log(e.data)
      })
    },
    Add () {
      this.selectedItem.code = this.selectedCode.code
      this.selectedItem.brand = this.selectedCode.brand
      this.selectedItem.category = this.selectedCode.category
      this.selectedItem.model = this.selectedCode.model
      this.selectedItem.description = this.selectedCode.description
      this.selectedItem.source_id = this.ConsignmentID
      this.selectedItem.unit = parseInt(this.selectedItem.unit)
      this.selectedItem.quantity = parseInt(this.selectedItem.quantity)
      if (this.editItem == true) {
        this.selectedItem.special_dealer_price = this.selectedItem.special_dealer_price.toString()
      }
      this.selectedItem.status = 'On Process'
      this.$emit('DialogEvent', this.selectedItem)

      // let method = ''
      // this.editItem==false? method='assemble/add':method='assemble/update'
      // console.log(this.selectedItem)
      // this.$http.post(method, this.selectedItem).then(response => {
      //     response.data.status == true?this.showAlert(response.data.message, 'success'):this.showAlert(response.data.message, 'warning')
      //    this.$emit('DialogEvent', "")
      // }).catch(e => {
      //     console.log(e.data)
      // })
    },
    AddCode () {
      var method = 'setting/new_code'
      this.codeAction == 'add' ? method = 'setting/new_code' : method = 'setting/update_code'
      console.log(this.newcode)
      console.log(this.codeAction)
      this.$http.post(method, this.newcode).then(response => {
        response.data.data != null ? this.getCode_Brand() : console.log()
        response.data.data != null ? this.selectedCode = response.data.data : this.selectedCode = {}
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
