<template>

  <v-dialog
    v-model="show"
    persistent
    max-width="970">
    <v-card class="text-md-left">
      <v-card-title>
        <div class="title">Items</div>
        <v-spacer/>
        <v-icon @click="emitToParent()">mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <v-layout>
          <v-flex>
            <p>CODE : {{ product.code }}</p>
            <p>BRAND : {{ product.brand }}</p>
          </v-flex>
          <v-flex>
            <p>CATEGORY : {{ product.category_name }}</p>
            <p>MODEL : {{ product.model }}</p>
          </v-flex>
        </v-layout>

        <table
          class="item_table"
          cellspacing="1px">
          <thead>
            <tr>
              <th>SERIALS</th>
              <th>D.R.</th>
              <th>AGE</th>
              <th>LOCATION</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>

            <tr
              v-for="(item, index) in items"
              :key="index">
              <td>
                {{ item.serial }}
              </td>
              <td>
                {{ item.drnumber }}
              </td>
              <td>
                {{ $moment(item.received_date).fromNow() }}
              </td>
              <td>
                {{ item.location_name }}
              </td>
              <td>
                {{ item.status }}
              </td>
            </tr>
          </tbody>
        </table>
      </v-card-text>

    </v-card>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    purchaseID: {
      type: Number,
      default: 0
    },
    product: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    items: []

  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show) {
        this.getSerials()
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    emitToParent (e) {
      this.$emit('DialogEvent', '')
    },
    getSerials () {
      console.log('getSerials', { purchase: parseInt(this.purchaseID), code: this.product.code })
      this.$http.post('purchase/get_serials', { purchase: parseInt(this.purchaseID), code: this.product.code }).then(response => {
        response.data.items != null ? this.items = response.data.items : this.items = []
        console.log(this.items)
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
