<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="1290">
    <v-card>
      <v-card-title class="title">
        {{ pagename }}
        <v-spacer />
        <v-icon @click="emitToParent()">mdi-close-circle</v-icon>
      </v-card-title>
      <v-card-text>
        <table width="100%">
          <thead>
            <td
              v-for="(status, i) in statuses"
              :key="i"
              style="background: #212121; color: #fff; padding: 1px 4px;"><small>{{ status }}</small></td>
          </thead>
          <tbody>
            <tr>
              <td
                v-for="(status, index) in statuses"
                :key="index">
                <template v-for="(button, b) in buttons">
                  <p
                    :key="b"
                    style="cursor: pointer;">
                    <small> <label>
                      <input
                        :checked="IsChecked({status: status, button: button})"
                        type="checkbox"
                        @click="Savepermission({status: status, button: button}, $event)">
                      <span class="pl-1">{{ button }}</span>
                    </label>
                    </small>
                  </p>
                </template>
              </td>
            </tr>
          </tbody>
        </table>
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn
          color="success"
          small
          @click="SaveUserPermission()">Save</v-btn>
      </v-card-actions>
    </v-card>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
import { format } from 'path'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    pagename: {
      type: String,
      default: ''
    },
    userID: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    permissions: [],
    userPermission: {},
    formatedData: [],
    textdata: '',
    purchase_statuses: ['On Process', 'Posted', 'Verified P.R.',
      'Recommended P.R.', 'Approved P.R.', 'Recommended for P.O.', 'Approved for P.O.',
      'Issued', 'Lacking Delivery', 'Partial Delivery', 'Delivered'
    ],
    purcahse_buttons: ['Add P.R.', 'Add Item', 'Edit', 'View Items', 'Post P.R.', 'Verify P.R.',
      'Recommend P.R.', 'Approve P.R.', 'Recommend for P.O.', 'Approve for P.O.',
      'Issue P.O.', 'Cancel', 'Re-process', 'Print', 'Add C.M.', 'Add Deduction', 'Add Discount',
      'Lacking Delivery', 'Complete Delivery', 'Request For Payment',
      'Verify Payables', 'For Deposit Payables Status', 'Complete Payables Status'
    ],
    transfer_statuses: ['On Process', 'Posted', 'Approved', 'Released', 'Received'],
    transfer_buttons: ['Add Transfer', 'Add Item', 'Post', 'Approve', 'Release', 'Receive']

  }),
  computed: {
    statuses () {
      if (this.pagename == 'Purchase') {
        return this.purchase_statuses
      } else if (this.pagename == 'Transfer') {
        return this.transfer_statuses
      }
    },
    buttons () {
      if (this.pagename == 'Purchase') {
        return this.purcahse_buttons
      } else if (this.pagename == 'Transfer') {
        return this.transfer_buttons
      }
    },
    FormatPermission () {
      const groupBycode = this.$groupBy('status')
      return groupBycode(this.permissions)
    }
  },
  watch: {
    show () {
      if (this.show) {
        this.getPermission()
      } else {
        this.ClearData()
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    IsChecked (permission) {
      if (this.permissions != null) {
        for (var i = 0; i < this.permissions.length; i++) {
          if (this.permissions[i].status == permission.status && permission.button == this.permissions[i].button) {
            return true
          }
        }
      }
      return false
    },
    ClearData () {
      this.permissions = []
      this.userPermission = {}
      this.formatedData = []
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    getPermission () {
      this.$http.post('permission/get', { user_id: this.userID, pagename: this.pagename }).then(response => {
        console.log(response.data)
        if (!response.data.status) {
          this.SetPermission()
        } else {
          this.userPermission = response.data.permission
          this.userPermission.Action != null ? this.permissions = this.userPermission.Action : this.permissions = []
        }
        console.log(this.userPermission)
      }).catch(e => {
        console.log(e.data)
      })
    },
    SetPermission () {
      this.$http.post('permission/add', { pagename: this.pagename, user_id: this.userID }).then(response => {
        this.getPermission()
      }).catch(e => {
        console.log(e.data)
      })
    },
    SaveUserPermission () {
      this.userPermission.Action = this.permissions
      console.log(this.userPermission.Action)
      this.$http.post('permission/update', this.userPermission).then(response => {
        response.data.status ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'error')
        this.emitToParent()
      }).catch(e => {
        console.log(e.data)
      })
    },
    emitToParent (e) {
      setTimeout(() => {
        this.$emit('DialogEvent', '')
      }, 1500)
    },
    Savepermission (permission, e) {
      console.log(e.srcElement.checked)
      if (e.srcElement.checked) {
        this.permissions.push(permission)
      } else {
        for (var i = 0; i < this.permissions.length; i++) {
          if (this.permissions[i].status == permission.status && permission.button == this.permissions[i].button) {
            this.permissions.splice(i, 1)
            break
          }
        }
      }
      // this.FormatPermission()
      console.log(this.permissions)
    }
  }
}
</script>
