<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="960px">
    <v-card>
      <v-card-title>
        <v-icon class="mr-2">mdi-plus</v-icon>
        Quotation
        <v-spacer/>
        <v-btn
          color="warning darken-1"
          style="margin-top: -12px;margin-right: -12px;"
          title="Close"
          flat
          fab
          @click="emitToParent()"><v-icon>mdi-close-box</v-icon></v-btn>
      </v-card-title>
      <v-card-text>

        <v-form
          ref="form"
          lazy-validation
        >
          <v-text-field
            v-model="entry.prepared_to"
            label="Prepared For"/>

          <v-textarea
            v-model="entry.message"
            :value="bodyMessage"
            label="Body Message"/>
          <v-text-field
            v-model="entry.note"
            label="Notes"/>

          <br >
          <v-data-table
            :headers="itemHeader"
            :items="productItems"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template v-slot:items="props">
              <td><v-icon
                class="mr-1"
                small
                color="#222"
                @click="removeItem(props.index)">mdi-close</v-icon> {{ props.index + 1 }}</td>
              <td>{{ props.item.description }}</td>
              <td>{{ props.item.qty }}</td>
              <td class="text-xs-right">{{ $money(props.item.srp) }}</td>
              <td class="text-xs-right">{{ $money(props.item.price) }}</td>
            </template>
            <template v-slot:footer>
              <tr>
                <th/>
                <th
                  :colspan="2"
                  class="text-xs-right">Total</th>
                <th class="text-xs-right">{{ $money(SRPTOTAL) }}</th>
                <th class="text-xs-right">{{ $money(TOTAL) }}</th>
              </tr>
            </template>
          </v-data-table>

          <v-layout class="mt-5">
            <v-flex class="pa-1">
              <v-text-field
                v-model="item.description"
                label="Product Description"
              />
            </v-flex>
            <v-flex
              xs1
              class="pa-1">
              <v-text-field
                v-model="item.qty"
                type="number"
                label="QTY"
              />
            </v-flex>
            <v-flex
              class="pa-1"
              xs2>
              <v-text-field
                v-model="item.srp"
                label="S.R.P"
              />
            </v-flex>
            <v-flex
              class="pa-1"
              xs2>
              <v-text-field
                v-model="item.price"
                label="Discounted Price"
              />
            </v-flex>
            <v-flex
              class="pa-1"
              xs1>
              <v-icon
                class="mt-4 ml-3"
                color="info"
                @click="AddItem()">mdi-plus-box</v-icon>
            </v-flex>
          </v-layout>
        </v-form>

      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <p v-if="action=='view'">STATUS: {{ entry.status }}</p>
        <v-spacer/>
        <v-btn
          v-if="action=='new'"
          color="success darken-1"
          small
          @click="NewQuotation()"
        > POST</v-btn>

        <v-btn
          v-if="entry.status =='Posted'"
          color="main darken-1"
          small
          @click="entry.status= 'Approved', UpdateQuotation()"
        > Approve</v-btn>
        <v-btn
          color="success darken-1"
          small
          @click="UpdateQuotation()"
        > Save</v-btn>
      </v-card-actions>
    </v-card>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    action: {
      type: String,
      default: 'new'
    },
    data: {
      type: Object,
      default: {}
    }
  },
  data: () => ({
    y: 'top',
    x: null,
    mode: '',
    item: {},
    confirmdialog: false,
    entry: {},
    snackbar: false,
    snackbarcolor: '',
    body: '',
    alertMessage: '',
    productItems: [],
    itemHeader: [
      {
        text: 'No.',
        sortable: false
      },
      {
        text: 'Product Description',
        sortable: false
      },
      {
        text: 'QTY',
        sortable: false
      },
      {
        text: 'SRP',
        align: 'right',
        sortable: false
      },
      {
        text: 'Discounted Price',
        align: 'right',
        sortable: false
      }
    ]
  }),
  computed: {
    SRPTOTAL () {
      let total = 0
      for (var i = 0; i < this.productItems.length; i++) {
        total += this.$IsNum(this.productItems[i].srp)
      }
      return total
    },
    TOTAL () {
      let total = 0
      for (var i = 0; i < this.productItems.length; i++) {
        total += this.$IsNum(this.productItems[i].price)
      }
      return total
    },
    bodyMessage () {
      this.entry.message = this.body
    }
  },
  watch: {
    show () {
      console.log(this.action)
      if (this.show == true) {
        if (this.action == 'view') {
          this.entry = this.data
          this.productItems = this.data.Items
        } else {
          console.log('get settings')
          this.getSetting()
        }
      }
    }
  },
  created () {
  },
  methods: {
    removeItem (index) {
      this.productItems.splice(index, 1)
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (event) {
      this.entry = {}
      this.productItems = []
      this.$emit('DialogEvent', this.action)
    },
    AddItem () {
      this.item.qty = parseInt(this.item.qty)
      this.productItems.push(this.item)
      this.item = {}
    },
    NewQuotation () {
      this.entry.items = this.productItems
      this.$http.post('quotation/new', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.$emit('DialogEvent', this.action)
      }).catch(e => {
        console.log(e.data)
      })
    },
    UpdateQuotation () {
      this.entry.items = this.productItems
      this.$http.post('quotation/update', this.entry).then(response => {
        response.data.status == true ? this.showAlert(response.data.message, 'success') : this.showAlert(response.data.message, 'warning')
        this.emitToParent()
      }).catch(e => {
        console.log(e.data)
      })
    },
    getSetting () {
      this.$http.post('setting/query', { name: 'Quotation Body Message' }).then(response => {
        this.body = response.data.setting.value
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
