<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="360px">
    <v-card>
      <v-card-text>
        <v-text-field
          v-model="serial"

          box
          label="Enter Serial"
          append-icon="mdi-send"
          @focus="serial=''"
          @change="getSerial()"
          @click:append="getSerial()"
        />
        <p>Product Code: {{ item.code }}</p>
        <p>Product Description: {{ item.description }}</p>
        <p>Brand: {{ item.brand }}</p>
        <p>Model: {{ item.model }}</p>
        <p>Status: {{ item.item_status }}</p>
        <p>Category: {{ item.category_name }}</p>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="main"
          block
          @click="emitToParent()">Done</v-btn>
      </v-card-actions>
    </v-card>
    <ams-alert-bar
      :show="snackbar"
      :message="alertMessage"
      :snackbarcolor="snackbarcolor"/>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    serial: '',
    categories: [],
    selectedItem: {},
    selectedCode: {},
    selectedCategory: {},
    codebrands: {},
    item: {}

  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show == false) {
        this.serial = ''
        this.item = {}
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (e) {
      this.$emit('DialogEvent', this.item)
    },
    getSerial () {
      this.item = {}
      this.$http.post('product/get_serial', { serial: this.serial }).then(response => {
        console.log(response.data.item)
        if (response.data.item.serial != '') {
          this.item = response.data.item
          if (this.item.item_status == 'Available') {
            this.$emit('DialogEvent', this.item)
          }
        } else {
          this.showAlert('Serial not found', 'warning')
        }
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
