<template>

  <v-dialog
    v-model="show"
    persistent
    max-width="440">
    <v-card class="text-md-center">
      <v-card-text>

        <VueSignaturePad
          ref="signaturePad"
          :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}"
          width="400"
          height="200px"
        />
        <div style="border-top: 1px solid #313131">
          Signature Here
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="warning"
          @click="signatureData='', emitToParent()"><v-icon class="mr-2">mdi-close</v-icon> Close</v-btn>
        <v-spacer/>
        <v-btn
          color="warning"
          @click="$refs.signaturePad.undoSignature()"><v-icon class="mr-2">mdi-undo-variant</v-icon> Undo</v-btn>
        <v-btn
          color="success"
          @click="saveSignature()"><v-icon class="mr-2">mdi-check</v-icon> Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    serial: '',
    signatureData: ''

  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show == false) {
        this.serial = ''
        this.item = {}
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    saveSignature () {
      this.signatureData = ''
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()
      isEmpty != true ? this.signatureData = data : this.snackbar = true
      setTimeout(() => {
        this.$emit('DialogEvent', this.signatureData)
      }, 300)
    },
    showAlert (message, color) {
      this.snackbar = true
      this.snackbarcolor = color
      this.alertMessage = message
      setTimeout(() => {
        this.snackbar = false
      }, 4000)
    },
    emitToParent (e) {
      this.$emit('DialogEvent', this.signatureData)
    },
    getSerial () {
      this.item = {}
      this.$http.post('product/get_serial', { serial: this.serial }).then(response => {
        // console.log(response.data.item.serial)
        if (response.data.item.serial != '') {
          this.item = response.data.item
        } else {
          this.showAlert('Serial not found', 'warning')
        }
      }).catch(e => {
        console.log(e.data)
      })
    }
  }
}
</script>
