<template>

  <v-dialog
    v-model="show"
    persistent
    max-width="470">
    <v-card class="text-md-center">
      <v-card-text>
        <v-text-field
          v-model="textdata"
          :label="label"
          append-icon="mdi-send"
          @change="emitToParent()"
          @click:append="emitToParent()"
        />
      </v-card-text>

    </v-card>
  </v-dialog>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'Name'
    }
  },
  data: () => ({
    snackbar: false,
    editItem: false,
    alertMessage: '',
    snackbarcolor: '',
    textdata: '',
    signatureData: ''

  }),
  computed: {
  },
  watch: {
    show () {
      if (this.show == false) {
        this.textdata = ''
      }
    }
  },
  created () {
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$session.get('jwt')
  },
  methods: {
    emitToParent (e) {
      this.$emit('DialogEvent', this.textdata)
    }
  }
}
</script>
